[2016-09-09 15:08] bookman25 opened #1 "Update dependency to support TS2.0"
Maybe something like
`"typescript": ">=1.8 <2.1"`

[2016-09-09 15:31] kulshekhar commented on #1
I'm waiting for TS 2.0 to be released to do this. Is there an urgent requirement for the update?

[2016-09-09 15:33] bookman25 commented on #1
Nope, nothing urgent.  It can wait, just wanted to get an issue opened to track.  Thanks again for this repo though, it's been a big help.

[2016-09-09 15:36] kulshekhar commented on #1
Good to know it's useful to someone other than me :)

[2016-09-15 09:36] reflog opened #2 "Failing bindings"
Hi. I've opened this issue in Jest repo initially, but later found out that it was due to my usage of ts-jest.

https://github.com/facebook/jest/issues/1694

Could you take a look please? I've made a repo to show how to reproduce the bug:

https://github.com/reflog/jest_bug_test

[2016-09-15 09:45] kulshekhar commented on #2
I'll take a look at it

[2016-09-15 10:05] kulshekhar commented on #2
@reflog when I run `npm test`, I get the following:

[code]

Can you help me reproduce the error you're getting?

[2016-09-15 10:14] reflog commented on #2
This is odd. Just checked that all my code is committed, ran the test again:

[code]

[2016-09-15 10:18] kulshekhar commented on #2
I'll check this on a fresh VM

[2016-09-15 11:15] kulshekhar commented on #2
I was able to reproduce this on a fresh VM. The problem is neither `jest` nor `ts-jest`.

This error is caused by the `deasync` dependency which needs to be rebuilt using node-gyp. After running the following sequence of commands (in the `jest_bug_test` directory on Ubuntu 16.04), `npm test` executed successfully:

[code]

Closing this issue.

[2016-09-15 11:17] reflog commented on #2
Thanks! But out of curiosity (and my lack of knowledge of node internals) - how does the code run **without** jest, but fails when ran **with** jest? How does it succeed without the node-gyp rebuild?

[2016-09-15 11:20] kulshekhar commented on #2
When you don't use Jest, the code isn't invoked (the library in question doesn't need to be loaded)

If you created another file and tried to load `testModule` from it, you should see the same error even without using Jest.

[2016-09-15 11:30] reflog commented on #2
If you don't mind helping out a fellow dev - i've commited an example to the same repo: https://github.com/reflog/jest_bug_test and added a small program to demonstrate that I can actually run the code using 'testModule' without node-gyp.

You can do 'npm run go' to run the test app - it will successfully import node-etcd and deasync.
Then you can run 'npm test' and it will fail because of the bin

[2016-09-15 11:31] kulshekhar commented on #2
If it's working in that way, I might have to take a closer look at it. I'll try to do that later today.

Reopening the issue for now.

[2016-09-15 11:46] kulshekhar commented on #2
Can you test this with a plain Javascript project, using jest but not ts-jest?

[2016-09-15 11:54] reflog commented on #2
Tested. Using plain JS and Jest - works.

[2016-09-15 12:02] kulshekhar commented on #2
I just converted this to JS and tested it. I'm seeing the same errors without ts-jest. Here's the repo of the converted code: https://github.com/kulshekhar/jest_bug_test

`npm start` works
`npm test` throws the same errors that you've reported

Can you test this repo and share your results?

[2016-09-15 12:16] reflog commented on #2
Weird. I could swear it worked before. But you are right - this does not. I guess it is a Jest issue after all?

[2016-09-15 12:23] kulshekhar commented on #2
That's what it looks like.

I'm closing this issue. Maybe you should reopen facebook/jest#1694 and continue the discussion there?

Side note: I usually delete forked repos. Since you might want a copy to share on jest's issue tracker, let me know if you want me to leave this fork up for a while.

[2016-09-15 12:23] #2 closed

[2016-09-15 12:35] reflog commented on #2
Yes, please leave it open. I'd reference both repos in Jest's tracker. Thanks for helping out!

[2016-09-15 17:14] mkozhukharenko opened #3 "JSX: Unexpected token"
hi!

I'm using example of 'jest' configuration from readme.md and this simple test
[code]

gives the next Error:
[code]

Any ideas? I'd be grateful.

[2016-09-15 19:34] kulshekhar commented on #3
Have you imported React in the file containing this code?

[2016-09-16 06:46] mkozhukharenko commented on #3
@kulshekhar I tried that that didn't help.

[2016-09-16 06:55] kulshekhar commented on #3
I've been unable to reproduce this issue. Can you create a small repo on Github which demonstrates this issue? It'll be very helpful to find the cause of this

[2016-09-16 08:01] mkozhukharenko commented on #3
found a problem. It's in a ts-jest preprocessor:

To make it work globals should be:
[code]
`1`  correspons to `commonjs` and `2` - to `react`. Its because `tsc.ModuleKind.CommonJS` return 1 (number) and `tsc.JsxEmit.React` - 2 (number).

so, we should update Readme or `getTSConfig` function`.

[2016-09-16 08:07] mkozhukharenko commented on #3
Proof: module kinds list in [the typescript source code](https://github.com/Microsoft/TypeScript/blob/955f2f2fc0c77e458294520d102d4a0973506923/src/compiler/types.ts#L2773-L2780))
script kind can be found below.

[2016-09-16 08:15] kulshekhar commented on #3
I'm not sure this is the reason as the existing settings work fine for me. Would it be possible for you to create a minimal repo that demonstrates this issue?

[2016-09-16 08:23] mkozhukharenko commented on #3
ok, I'll create.
Which version of ts are you using?
can you console log [`config` object](https://github.com/kulshekhar/ts-jest/blob/master/preprocessor.js#L27) and post an output here?

[2016-09-16 08:52] kulshekhar commented on #3
I'm using the latest RC version

`{"module":"commonjs","jsx":"react"}`

[2016-09-16 11:00] kulshekhar commented on #3
@mkozhukharenko you're right about the source of the problem. I'll add a fix and tests for this!

[2016-09-16 11:46] #3 closed

[2016-09-16 11:56] kulshekhar commented on #3
@mkozhukharenko I've pushed a fix and have updated the npm package.

With these changes, I was able to successfully run `npm test -- -u` on the repo you shared, with one slight modification - I had to rename `Button.test.ts` to `Button.test.ts`. This is required by Typescript.

Let me know if you have any issues with this.

Thanks for opening an issue and for creating a sample repo to help reprodu

[2016-09-16 12:48] mkozhukharenko commented on #3
@kulshekhar you are welcome! thanks for fixing.

offtopic:
what is this line `require('ts-jest').install({environment: 'node', emptyCacheBetweenOperations: true})` for? I tried to remote it and it works as well.

[2016-09-16 13:01] kulshekhar commented on #3
That is used by the part of the preprocessor that takes care of displaying the correct line numbers in the typescript files. If you remove this, any failed tests you see will show you the line numbers in the compile JS file.

[2016-09-22 17:23] #1 closed

[2016-10-06 15:44] Igmat opened #8 "TSconfig support"
Is it planned? Or there are some restrictions for using more common way for ts developers instead of tweaking package.json?

[2016-10-06 18:30] kulshekhar commented on #8
Could you share what you'd like and how that would be different from the current setup? I'd definitely like to improve this.

[2016-10-06 19:34] beckend commented on #8
How about:
Instead of having
[code]
You have:
[code]
in `preprocessor.js - getTSConfig ` you can use `path` module to resolve the file:
[code]

[2016-10-06 19:47] kulshekhar commented on #8
I'll take a look at this on the weekend or if you want to take a stab at it, I'd welcome a PR :)

[2016-10-09 08:07] kulshekhar opened #11 "Update README to reflect changes in PR #9"

[2016-10-10 15:29] #11 closed

[2016-10-11 13:27] Igmat opened #13 "Enable zero-config"
I think the next major feature for this package is enabling zero-config like it works with `babel-jest` package.
After some investigation I've found that `babel-jest` is enabled without any extra config because of [implementation of jest](https://github.com/facebook/jest/blob/fa41c87369d4e94d02a5fcd2f29996bcfaca9fea/packages/jest-config/src/normalize.js#L276).

So only option to provide the best e

[2016-10-11 13:33] Igmat opened #14 "Source with TS"
@kulshekhar , is reworking of package sources from vanilla JS to TS acceptable? It'll provide us with easier maintain process I guess.

[2016-10-11 13:34] Igmat opened #15 "Decomposing index.js"

[2016-10-11 13:43] kulshekhar commented on #14
Sure. The reason I had the initial version was that I was experimenting with code from the `source-map-support` package and didn't want to complicate things. I just never got around to converting it to TS.

As long as the users don't face any issues when installing from npm, I don't have any problem with converting the source to TS.

[2016-10-11 13:49] Igmat commented on #14
Ok, so I'll work on it. I've also added [Refactoring project](https://github.com/kulshekhar/ts-jest/projects/1), so you are able to track easily what tasks are in progress already in order to avoid duplicate work 👍

[2016-10-11 13:52] kulshekhar commented on #13
I also had a brief discussion with one of the maintainers of Jest about this package but he had reservations about how this package works (this was the same reason why the README clearly mentions that this package is currently a hack)

Here's part of that discussion - https://gist.github.com/kulshekhar/ffa6926df25e1df846e52bdd5ba66513

[2016-10-11 14:08] Igmat commented on #13
Ok, I understand that. I can't say that I fully understand how this project works in depth, but I'm sure that we have to decompose and test it (also this is best option to understand every piece of code :wink: ). After that I guess we can make another try - and it probably would be more successful.

[2016-10-11 14:10] kulshekhar commented on #13
Agreed!

Btw, the conversation I linked to has a high level overview of how this works. If you're done reading it and if you don't need to refer to it again, I can delete that gist.

[2016-10-11 14:26] Igmat commented on #13
Ok, thanks. I don't need it more.

[2016-10-12 10:27] #14 closed

[2016-10-12 10:41] Igmat opened #17 "Tests with TS."
Just the same as was with sources. It always easier to develop and test with TS than with vanilla JS.

[2016-10-12 10:43] Igmat opened #18 "Try to use Jest mocking instead of creating symlink for integration test"
Needed for #17, because in case when integration tests written in TS we have to use `ts-jest` as dev dependency for testing `ts-jest` but in that case our test will work with previous version of `ts-jest` from `node_modules` but not with that we actually want to test.

[2016-10-12 11:37] beckend opened #19 "Coverage"
Coverage is successfully generated but i don't think the line numbers are correct at all.
[jest issue 1907](https://github.com/facebook/jest/issues/1907#issuecomment-253161311).

[2016-10-12 13:38] #18 closed

[2016-10-12 15:02] #17 closed

[2016-10-12 15:12] Igmat commented on #19
@beckend This [repo](https://github.com/kwonoj/jest-typescript-coverage) looks better for issue reproducing than [one](https://github.com/beckend/react-themeable-ts) from your last comment. Are problems same in both repos?
@kwonoj may be you have some thoughts on it?

[2016-10-12 15:18] kulshekhar commented on #19
Does Jest have hooks in coverage generation/reporting?

[2016-10-12 16:40] kwonoj commented on #19
I do not have additional detail other than I posted in issue / repo - as said, I think jest instrument code coverage against transpiled code then does not remap it for TypeScript, while it does for babel internally. So at this moment this seems not an issue of `ts-jest` side. as @kulshekhar questioned, I was also curious if jest provides coverage hooks as same as preprocessor but couldn't find it

[2016-10-12 16:46] kulshekhar commented on #19
I'm not sure but I think babel works because they've configured babel to retain the line numbers. Unfortunately, there's no such option for typescript. If there was, this repo wouldn't be needed at all :)

[2016-10-12 16:50] kwonoj commented on #19
Yes, probably that makes jest coverage automatically works. Unfortunately TS doesn't it, so may need workaround. 😞  Honestly at this state, I'm not sure if preprocessor can help this issue unless jest provides hook for coverage (post?)processing.

[2016-10-13 07:21] beckend commented on #19
So to actually solve this, we need PR with coverage post hook into jest?

[2016-10-13 19:35] gizak opened #22 "__TC_CONFIG__ in package.json jest.globals"
node: v6.8.0
jest: v16.0.1
ts-jest: 0.1.7

First of all, thank you for this package, it saves me alot!

I spotted a bug (or did I miss anything?):
If `__TC_CONFIG__` doesn't appear in package.json, the line number mapping won't pass to stack trace messages.

To reproduce this, delete the `__TC_CONFIG__` section in `tests/simple/package.json` and under dir `tests/simple` run `jest`:
[code]
Note tha

[2016-10-14 11:51] Igmat commented on #22
`ts-jest: 0.1.8` should solve this now.

[2016-10-14 11:51] #22 closed

[2016-10-16 12:24] #19 closed

[2016-10-16 12:26] Igmat opened #26 "Coverage integration test for PR #25"
@kwonoj I hope you'll add tests for your PR #25 soon 😉 . If you need some more explanations for creating it - feel free to ask here.
After that we'll bump version of `ts-jest` package.

[2016-10-16 23:31] kwonoj commented on #26
Yes, it's on my plate and I should fill those up asap.

[2016-10-17 08:44] CarlosSoares commented on #26
@kwonoj I still have some issues, one is the configuration file can be different from the `package.json`, the other is that the report still give me the old results to be used in the `coverageThreshold`.

[2016-10-17 09:10] Igmat commented on #26
@CarlosSoares we haven't updated `ts-jest` package yet. Are you testing using sources?

[2016-10-17 09:12] CarlosSoares commented on #26
Yes I'm using the source code.

[2016-10-17 09:39] Igmat commented on #15
@kulshekhar I have a question about exports of `index.js`. You are exporting 5 functions, but it seems that only `install` is used.
Removing extra exports doesn't break tests, and everything seems to work as expected. Could I refactor this file in such way?

[2016-10-17 09:45] kulshekhar commented on #15
I guess so.

As mentioned at the top of that file, except a few modifications, most of the code in that file is from https://github.com/evanw/node-source-map-support/blob/master/source-map-support.js

Ideally I would've liked to reduce the content of this file to just the modifications made and use the `source-map-support` package. But since I couldn't see a way to do that, I included all that cod

[2016-10-17 13:57] kwonoj commented on #26
@CarlosSoares

: this is already supported, I'm using separate json for jest configuration.

: this one is not clear to me, but current implementation does not honor `coverageThreshold` options.

[2016-10-17 15:22] CarlosSoares commented on #26
I tried the first one and didn't work, but I'll try later to see what's the problem.
When I execute the `jest -c my.config.json --coverage` not print the remap result.

[2016-10-17 15:26] kwonoj commented on #26
as noted in readme, please check with `--no-cache`. Jest does not execute preprocessor if cache hits transpiled code, coverage processor won't work.

[2016-10-17 15:30] kwonoj commented on #26
Also one more thing (just in case) - if you're using `text` reporter, that won't print out remapped result. It's current limitation of how result processing work, jest process coevrage and write out to reporter including text and there is no way result processor can change it.

[2016-10-17 15:34] CarlosSoares commented on #26
Related to the config issue.
command: `jest -c jest.config.json --coverage --no-cache`
[code]
command: `jest --config jest.config.json --coverage --no-cache`
[code]

[2016-10-17 15:36] kwonoj commented on #26
Please include config as well.

[2016-10-17 15:41] Igmat opened #30 "Cache support"
As for now cache is disabled. But it seems that it would greatly increase performance, because of omitting of unnecessary transpilations.
We are able to cache next stuff:
1. `tsconfig` in order to avoid extra disc I/O. It could be easily implemented in [`transpile-if-ts.ts`](https://github.com/kulshekhar/ts-jest/blob/master/src/transpile-if-ts.ts) or in [`utils.ts`](https://github.com/kulshekhar/t

[2016-10-17 15:45] Igmat commented on #15
Closing this due to PR #29. New questions that appeared in that PR are in issue #30.

[2016-10-17 15:45] #15 closed

[2016-10-17 15:52] kwonoj commented on #30
I'm not sure about details of this topic, is this about utilize caching behavior of jest or have separate caching mechanism inside of ts-jest orthogonally?

[2016-10-17 16:09] CarlosSoares commented on #26
[code]

[2016-10-17 16:12] Igmat commented on #30
Unfortunately, as for now I have no idea how to correctly utilize jest caching, but there is a way to utilize (at least partially) cache of [source-map-support](https://github.com/evanw/node-source-map-support) for source files and implement our own cache for config files.
But probably we have to investigate jest caching too.
@kwonoj if you know how we can use it inside our package, please provide

[2016-10-17 16:26] kwonoj commented on #30
: I wish there's easy way to use it too. :/ I've looked into jest's implementation if I could use it for coverage processing to avoid `--no-cache` , unfortunately jest does not exposes it externally to any processors. Implementationwise it stores as file cache into some location based on simple calc (tmp location + jest + version..) so it can be accessed but it'll be undocumented usage and can bre

[2016-10-17 16:50] Igmat commented on #30
@kwonoj I'm not sure but it seems that jest doesn't cache config files (just try to run tests in this project and change any of `tsconfig.json` files - it won't trigger test rerun). I guess jest doesn't even know about their existence, because they are read directly from tests or processors, so it seems that we have to cache them (if it affects performance of course) and implement 1, 2.

[2016-10-17 16:53] kwonoj commented on #30
: you're correct, it's not. Maybe my word is not clear - my point is, if preprocessor just rely on jest's caching behavior then it won't hit frequent access to config file even. For example, if user's codebase is ~1000 but only 10 files changes at the moment after transpilation jest will require preprocessor for those 10 files only. Obviously caching config will benefit performance in general, but

[2016-10-17 19:47] JeroenNelen commented on #3
Not sure if this is the right place, but I have an issue that looks like this.
I'm trying to run a simple test (with the button file). But it keeps throwing errors, it looks like it is removing my first <Button> tag in the renderer.create function, result is this error:
<img width="754" alt="screen shot 2016-10-17 at 21 34 15" src="https://cloud.githubusercontent.com/assets/8993994/19452931/3eaa66

[2016-10-17 21:49] Igmat commented on #30
Ok, I understand your point. Anyway we have to create integration tests that check correctness of preprocessor output with caching before doing anything else in this direction.

[2016-10-17 21:51] Igmat opened #32 "Create integration tests with Jest caching enabled"
This issue is for tracking of implementation of tests for issue #30.
I'm not sure that I'll be able to complete this task soon, but definitely will try to find a way.
Some thoughts:
1. Create folder like `watch-test`;
2. Create helper like `runJestInWatch.ts` based on [`runJest.ts`](https://github.com/kulshekhar/ts-jest/blob/master/tests/__helpers__/runJest.ts) with `--watch` or `--watchAll` enabl

[2016-10-17 22:25] kwonoj commented on #30
: yes, 100% agreed.

[2016-10-24 09:21] kulshekhar commented on #26
fixed by #33

[2016-10-24 09:21] #26 closed

[2016-10-24 17:27] Igmat commented on #32
It is strange that build is failing on semaphore due to compilation error. @kulshekhar, could you check it? Because I've  `@types/es6-shim` dependency but it somehow exists on CI server.

But, there is some real problems in this commit.
[code]
In this code only first `it` always works correctly, but second and third sometimes do work and sometimes do not. And as for now I can't find the reason. I

[2016-10-24 18:02] kulshekhar commented on #32
It seems to be building fine now although there is a failing test.

  ● hello_world › should show the correct error locations in the typescript files with changes in source file

This output possibly has the reason why you're getting that error

[2016-10-24 18:27] kulshekhar commented on #32
This is weird. I just cloned the repo to a fresh directory, switched to the new branch, ran `npm i` and `npm test` and all the tests succeeded

[2016-10-24 19:03] kulshekhar commented on #32
And when I log in to the CI machine and do the same thing, it works there as well

[2016-10-24 19:20] Igmat commented on #32
@kulshekhar yeap, I have same problems. On fresh run almost always tests are succeeded, but rerunning them will probably lead to timeout error and I can't find a reason why this is happening.

[2016-10-24 19:48] kulshekhar commented on #32
@Igmat This might be an issue related to unresolved promises as stated here https://facebook.github.io/jest/docs/troubleshooting.html#unresolved-promises

Replacing async/await with a promise based implementation seemed to work.
https://semaphoreci.com/k/ts-jest/branches/ci-timeout/builds/10

[2016-10-24 21:10] kulshekhar commented on #32
@Igmat turns out this issue was caused due to the nodejs version (I checked against 6.3 and 6.6). It's crazy. I've switched to Travis for CI and that seems to have solved this problem.

[2016-10-25 07:54] xuqingkuang opened #35 "fs.constants.R_OK in utils.ts is not compatible with Node 4.x LTS."
In the code:
https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L29

Is using fs.constants.R_OK, but fs.constants is not exist in Node 4.

https://nodejs.org/dist/latest-v4.x/docs/api/fs.html#fs_fs_access_path_mode_callback

I'm hoping author could a add `fs.constants` checking, just like

    const R_OK = fs.constants && fs.constants.R_OK || fs.R_OK;
    try {
        fs.accessSync(fi

[2016-10-25 10:36] Igmat opened #36 "Node.js 4 support"
Working on issue #35 I've realized that our package doesn't support Node.js 4 (at least it doesn't correctly tested under this version). But [Jest](https://github.com/facebook/jest) supports it, so we have to provide our users with such compatibility.

[2016-10-25 10:38] Igmat commented on #35
We have more general issue now (#36), so I'm closing this one in favor of it.

[2016-10-25 10:38] #35 closed

[2016-10-25 11:35] Igmat opened #37 "Coverage difference while targeting ES5 and ES6"
@kwonoj could you, please, explain this strange behavior? When `tsc` targets `ES6` we have this output in `coverage.txt`:

[code]

But when we targeting `ES5` output is changed to this:

[code]

Is this expected and normal or something goes wrong with our remapping mechanism?

[2016-10-25 11:46] Igmat commented on #36
I've changed our test cases a little bit. We can't target `ES6` there, because `node.js 4.x` doesn't fully supports its syntax.
May be we have to add some more test-cases to check that it works and improve our docs with mentioning that our users can't use `ES6` target while using `node.js 4.x`.
This probably will also lead to checking `ts-jest` working with `babel-jest` together.

But I don't know

[2016-10-25 12:01] kulshekhar commented on #36
The way I look at it, node 4.x will stop being maintained in about 5 months, So I don't see any point in supporting it.

[2016-10-25 12:15] Igmat commented on #36
Due to [LTS Plan](https://github.com/nodejs/LTS) v4 will be maintained until 2018-04-01, so I guess we have to support it unless [Jest](https://github.com/facebook/jest) will stop doing this.

[2016-10-25 13:14] kulshekhar commented on #36
In that case, it might be helpful to update the README with the status of support for various versions.

btw, this can get complicated very fast. I spent a few hours yesterday all because some tests were failing on 6.6. If this is the case between 6.x versions, I shudder to think what's in store if we are going to support 4.x  :cold_sweat:

[2016-10-25 13:38] Igmat commented on #36
Ok, build on travis was failed due to not latest `npm` package. Original [Jest](https://github.com/facebook/jest) seems to have same issue on travis, so I've used their [workaround](https://github.com/facebook/jest/blob/master/.travis.yml#L14).

I guess we have to show status for different versions of node and will try to find out how it could be accomplished with travis.

[2016-10-25 13:52] kwonoj commented on #37
Interesting, I do not have good answer too. Coverage processor rely on remap-istanbul for remapping (https://github.com/kulshekhar/ts-jest/blob/master/src/coverageprocessor.ts#L32) and does not do anything by its own, not sure why this different comes in. Need to compare results and dig bit more.

[2016-10-25 16:15] xuqingkuang commented on #36
Thanks for fixing the issue so fast.

Please make a npm publication, I'm looking forward to use the compatible version.

[2016-10-26 00:44] beckend opened #40 "Missing modules"
`As of version 0.1.9.
Running jest: Cannot find module 'jest-config'.

With testprocessor: "istanbul-lib-instrument" module is missing.

[2016-10-26 01:08] beckend commented on #40
Okay sorry for the noise, I had some weird stuff happening and deleted my whole node modules folders and re-installed the ts-jest module from scratch to fix this.

[2016-10-26 01:26] beckend commented on #40
Alright I'm not crazy after all, my travis failed so I had to add these deps.

[2016-10-26 06:30] kwonoj commented on #37
I've digged into this bit more, and currently suspecting generated source map is different between es6 to es5 from typescript compiler. To isolate, I've used separate repo neither rely on `ts-jest` nor rely on coverage processer (https://github.com/kwonoj/rxjs-testscheduler-compat), which uses `mocha` and `nyc` for coverage remapping -  and below is result.

As you can see, left side (es5) to righ

[2016-10-26 06:48] kulshekhar commented on #40
@beckend would it be possible to create a small repo that reproduces this?

[2016-10-26 07:08] kulshekhar commented on #36
@Igmat  Is this good to publish? Maybe node 4 can be removed from the `allowed failures` list in travis.

[2016-10-26 08:55] Igmat commented on #37
@kwonoj ok, so we have to investigate and probably ask help from Istanbul or TS repo, because it seems to be a bug on their side?

[2016-10-26 09:01] Igmat commented on #40
@beckend I had this message before, running our build on travis-ci for node 4:

[Jest](https://github.com/facebook/jest) actually requires later `npm` as we were able to see [here](https://github.com/facebook/jest/blob/894652ef3d89bcc262aa20796d447e9cb9c60702/.travis.yml#L14). As for now they slightly changed their travis config.
May be we have to add this to README?

[2016-10-26 13:30] beckend commented on #40
Proposed fix by @Igmat fails.
I am using ` jest-cli`  , the failing ci can be seen [here](https://travis-ci.org/beckend/typescript-npm-boilerplate/builds/170771822). A reproduce-able [branch](https://github.com/beckend/typescript-npm-boilerplate/tree/ts-jest-fail-1).

[2016-10-26 13:50] kwonoj commented on #37
That's my current guess. Either case I don't think it's issue of coverageprocessor. (I may be wrong, but given result comes out of nyc without `ts-jest` it seems so)

[2016-10-26 14:11] Igmat commented on #40
@beckend I was unable to reproduce it locally - but it really seems that we left some packages in `devDependencies` instead of `dependencies`. Could you try with `"ts-jest": "^0.1.10"`. It should probably fix this issue.

[2016-10-26 14:15] Igmat commented on #40
@beckend due to [this](https://travis-ci.org/beckend/typescript-npm-boilerplate/builds/170786261) seems that it fixed 😉 Could I close this issue?

[2016-10-26 14:16] beckend commented on #40
Thanks @Igmat!

[2016-10-26 14:25] Igmat commented on #37
Ok, I'll leave this issue open for now and reference it when we'll create issues in TS or Istanbul repos.

[2016-10-26 21:56] beckend opened #42 "How to debug coverage source remap?"
I have my [repo](https://github.com/beckend/react-themeable-ts) which I use `ts-jest@0.1.10`   with `testResultsProcessor` . I expected to get a better coverage and better debug-ability but nothing changed.

How do I debug the coverage code?

[2016-10-26 21:58] beckend commented on #42
If you want to give it a spin:
- clone repo
- `  npm i`
-  `  jest --coverage --no-cache`
Coverage will be in `  coverage`   folder found in project root.

[2016-10-27 06:20] kwonoj commented on #37
Tried once again and got confused more - https://github.com/kwonoj/nyc_coverage_test this one works perfectly. It seems there's some difference generating source map, but can't pinpoint which one is responsible for this behavior.

[2016-10-27 09:59] Igmat commented on #42
Ok, I've found out what is wrong. Our coverage is in `./coverage/remapped` folder, not in `./coverage` and it could be confusing. Also output in console is seems to be wrong - probably we have to investigate and fix it.

[2016-10-27 12:10] beckend commented on #42
By using reporters in `  package.json`  :
`
    "coverageReporters": [
      "html",
      "text",
      "lcov",
      "lcovonly",
      "json"
    ],
`

Differences:
-  `  html`   goes into `  ./coverage/remapped/html`  , original is `  ./coverage`  . The file structure is also not the same: remapped contains an additional `  src`  folder.
-  `  lcov`   is missing completely, original is `  ./cov

[2016-10-27 15:50] Igmat commented on #32
It's really strange bug. While running test first time it works, but after rerun I have this type of error:

And it doesn't matter what type of async is used (ES6 with `yield`, ES2017 with --harmony flag, `Promise.all`, `then` statement, whatever). Probably something is wrong with child process, but I don't understand what actually...

[2016-10-27 15:52] kulshekhar commented on #32
Maybe just switch to using promises for now? It worked when I tested it.

[2016-10-27 15:57] Igmat commented on #32
I can't see your commit for promises implementation, but as I remember you've forgotten to return promise in `it` function, so that promises were skipped at all, and because all `expect` statements were inside of them test was passed.

[2016-10-27 16:14] kulshekhar commented on #32
It passes with at least V6 & V7
https://travis-ci.org/kulshekhar/ts-jest/builds/171139941

[2016-10-27 16:17] kulshekhar commented on #32
Why is the target set to `es2017` in `tsconfig`

[2016-10-27 16:27] CarlosSoares opened #43 "[Bug]: TypeError: Cannot read property 'coverageConfig' of undefined"
Hi Guys.

So I'm having an issue, when my specs takes a little longer and I has able to reproduce the error in this clean repository.
[https://github.com/CarlosSoares/jest-coverage-issue](https://github.com/CarlosSoares/jest-coverage-issue)

For some reason the `global` is lost when it takes to long to run?

[2016-10-27 19:20] Igmat commented on #32
@kulshekhar, I've tested it with `--harmony` flag for `node v7` (because in this case it supports async/await) and `@next` TS compiler supports `es2017` target.

[2016-10-27 19:54] Igmat commented on #32
@kulshekhar, I've used your branch and run tests locally 2 times. First it works perfect, second fails with same error as in my branch.
So it doesn't matter what is used, `async/await` or plain `Promise` - in both cases it successful at first and failed at second run.

Seems that problem is with spawning and killing child-process, or may be with raising events from it. It could be caused by `cross

[2016-10-27 20:11] Igmat commented on #32
Ok, I've found a way to test it with default `spawn`. I just ran two series of tests in row on Travis and [build](https://travis-ci.org/kulshekhar/ts-jest/jobs/171199791) succeeded, of course for `node v6` and `node v7` only.
It means that problem is really caused by `cross-spawn` package. So, I'll try to find a workaround.

[2016-10-27 22:22] satazor commented on #32
@Igmat I think you misunderstood what `cross-spawn-with-kill` offers.. It adds a `kill` function to the returned `child process` instance. Looking at https://github.com/kulshekhar/ts-jest/commit/bdd76628ac4dd3e916d44e1a106a0172317dd6ac you didn't call . kill(). Am I missing something?

The reasoning for not accepting the idea is that this is a drop replacement for `spawn`, no more no less.

[2016-10-27 22:45] kwonoj commented on #43
It's actually because of this : https://github.com/kulshekhar/ts-jest#usage

This is due to behavior of jest itself that coverage processor cannot overcome at this moment. Basically, jest caches compiled file into its own cache storage, then reuse it unless code actually changes. in result, preprocessor won't be invoked for subsequent run without code change - coverage processor can't lookup globa

[2016-10-27 22:47] Igmat commented on #32
@satazor, `kill()` called [here](https://github.com/kulshekhar/ts-jest/blob/integration-tests-with-watch/tests/__tests__/watch.spec.ts#L113). Actually, I don't understand why build [fails](https://travis-ci.org/kulshekhar/ts-jest/builds/171215694) on Travis, but it worked perfectly on my local machine, what was unreal with `cross-spawn`.

Ok, I understand the point with drop-in replacement for `sp

[2016-10-27 22:51] kwonoj commented on #42
Please note coverage processor do not exactly follow configurations of jest.

`html`: it's generated by `remap-istanbul` via remapped source mapping. It is expected to have different touch structure. coverage processor does not touch folder structure.
`lcov`: for some reason remap to lcov from jest's output simply doesn't work, so remapping is skipped.

: it is expected. Jest does not exposes whic

[2016-10-27 22:55] kwonoj commented on #42
: I've investigated this and currently it's not possible.

Jest first, writes coverage by delivering to coverage reporter while collecting all test results. Console output for coverage happens at this time, before testresultprocessor being invoked. So its output is before-mapping, then coverage processor takes over try to remap its results.

It is because design of test result processor limiting i

[2016-10-27 23:03] satazor commented on #32
@Igmat I've missed that. I understand what you mean. Still https://github.com/kentcdodds/cross-spawn-with-kill is also incompatible with what nodejs offers: it doesn't allow a custom signal :(

[2016-10-27 23:24] Igmat commented on #32
@satazor, and it probably has some issues with running on *nix, cause [build weren't failed](https://travis-ci.org/kulshekhar/ts-jest/builds/171199789) when I've used default `spawn`.
But I think it should be implemented in your package, so we can try to make a PR that implements it and use fallback to default `kill()` implementation on *nix system.
Probably @kentcdodds can help, and I guess we ha

[2016-10-28 08:21] CarlosSoares commented on #43
But even with `jest --config=jest.config.json --coverage --no-cache` doesn't works.

[2016-10-28 21:55] beckend opened #45 "SourceMapConsumer error"
Version `0.1.8`   works fine, the [repo master](https://github.com/beckend/redux-observable-ts/tree/master) works.

Version `>0.1.8`   results in:

[code]

Error reproduce-able in [repo branch](https://github.com/beckend/redux-observable-ts/tree/ts-jest-source-map-er-1), [CI output](https://travis-ci.org/beckend/redux-observable-ts/jobs/171541278).

Reproduce:
-  Clone
-  git checkout ts-jest-sour

[2016-10-28 22:03] beckend commented on #45
Okay my local machine does not fail in `  master`   branch with `  ts-jest@0.1.8`  .
But the [CI](https://travis-ci.org/beckend/redux-observable-ts/jobs/171522329) does...

[2016-10-29 00:06] kulshekhar commented on #45
@beckend I'm trying this out now and can confirm this error

[2016-10-29 00:33] kulshekhar commented on #45
@beckend are you sure this works with 0.1.8? I tried it and got a different error. At this point I'm not sure if the cause is `ts-jest` or something else

[2016-10-29 00:37] beckend commented on #45
I am pretty sure, what error are you getting?

[2016-10-29 00:39] kulshekhar commented on #45
with 0.1.7, I got

[code]

with 0.1.8, I got

[code]

[2016-10-29 00:48] beckend commented on #45
@kulshekhar
What about `  node -v`   and `  npm -v`  .
Travis uses `  node@7.0.0`   and `  npm@3.10.8`  .
I use `  node@7.0.0`   and `  npm@4.0.1`  .
I completely wiped `  node_modules`   and reinstalled to try to replicate your error and yea I still got my initial error with `  SourceMapConsumer`  .

So what I did is after `  npm i`   ->  `  npm -D i ts-jest@0.1.8`  .
And then I reran the test, t

[2016-10-29 00:53] beckend commented on #45
@kulshekhar I did it three times.
It always fail without explicit install.
I always need to explicitly install `  ts-jest@0.1.8`   in order for it to pass after a `  npm i`  .
The CI is the same, it fails if I don't do the same.

[2016-10-29 00:53] kulshekhar commented on #45
node -v  v6.9.1
npm -v  3.10.8

I don't know much about sinon but it looks like it does some async stuff. Usually, async tests need to explicitly indicate that they are done by returning a promise or calling a callback. Have you tried something like that?

[2016-10-29 01:12] kulshekhar commented on #45
I did a fresh clone,
changed the ts-jest dependency in package.json to `0.1.8`
ran `npm i`
deleted the other 3 test files (except createEpicMiddleware)
ran `jest --coverage`
got the following output:

[code]

[2016-10-29 01:15] beckend commented on #45
So I will continue debugging this, it seems that you might be right about async test issue since it IS an async test.

[2016-10-29 01:38] beckend commented on #45
@kulshekhar Thanks for the async test issue, it has been fixed and will always pass. Sorry about that.

I noted something about npm: It still installs `  0.1.11`   even if package.json says `  0.1.8`  . This applies to both my machne and CI.

So don't edit the `  package.json`   run `  npm -D i ts-jest@0.1.8`  .
You can try the same test again and you will probably pass if you follow instructions.

[2016-10-29 02:04] kulshekhar commented on #45
I'm certain that I had `0.1.8` installed (I checked using `npm ls --depth=0`)

Nevertheless, I'll do this again. Please let me know if I should do something other than the following

[code]

[2016-10-29 02:09] beckend commented on #45
I wiped again and match all your commands, but the last one I always use `  jest --coverage --no-cache`  .
Results:
-  Using `  ts-jest@latest`  , `  SourceMapConsumer`   error.
-  Using ``  npm -D i ts-jest@0.1.8`   passes.

[2016-10-29 02:16] kulshekhar commented on #45
yeah, running it with `--no-cache` made the difference. I'm now getting what you're getting - no errors for 0.1.8 and the `Unexpected token` error for 0.1.10+

[2016-10-29 02:16] beckend commented on #45
Sorry about the cache thing also I wasn't paying attention.

[2016-10-29 02:35] kulshekhar commented on #45
I'm unable to determine the cause of this issue right now. I really don't know how Sinon behaves and I think that's key to debugging this.

How does it indicate completion? Is it using a promise or a callback?

[2016-10-29 03:14] beckend commented on #45
@kulshekhar I did a quick debug: and this fixes it:
`  node_modules/source-map-support/node_modules/source-map/lib/source-map-consumer.js:487`   --- uncomment `  Error.prepareStackTrace = prepareStackTrace;`  .
And it passes...

I also tried to add `  "testResultsProcessor": "<rootDir>/node_modules/ts-jest/coverageprocessor.js"`   to `  package.json`   and I get proper remapping.

[2016-10-29 03:15] beckend commented on #45
Going to sleep for today.

[2016-10-29 06:38] kulshekhar commented on #45
That line is what makes the sourcemap translation work :)

[2016-11-01 12:08] ds82 opened #46 "How to debug with vscode?"
I added `ts-jest` to my project and the tests work fine (thx for that by the way! 😀 )

Unfortunately, I cannot properly debug the tests in `vscode`. I added the following launch config:

[code]

I can run this config but vscode ignores all breakpoints. It complains:

``Breakpoint ignored because generated code not found (source map problem?).``

Any ideas?

[2016-11-01 12:15] kulshekhar commented on #46
Thanks for using `ts-jest` :)

Are you transpiling the `.ts` test files and generating sourcemaps? (that setting would be in your project's `tsconfig.json` file

[2016-11-01 12:58] ds82 commented on #46
Thanks for you quick reply!

I was generating sourcemaps but forgot to add the tests to the ``files`` array in ``tsconfig.json``. Thanks for pointing that out! 👍

[2016-11-01 12:58] #46 closed

[2016-11-02 14:01] Igmat opened #48 "Use one package for spawning/killing processes."
I've added a hacky workaround for our integration tests from #32 to successfully run them on both Windows and *nix systems.

It should be removed when this [question](https://github.com/facebook/jest/issues/2031) will be answered in order to make this [PR](https://github.com/IndigoUnited/node-cross-spawn/pull/44) acceptable.

[2016-11-02 16:48] Igmat commented on #32
Solved by https://github.com/kulshekhar/ts-jest/commit/42a75c50dfe694d3d42b43beaede348b24cf6b97, so we only have to improve test cases.

[2016-11-02 16:48] #32 closed

[2016-11-03 11:40] Igmat commented on #45
Actually problem is [here](https://github.com/kulshekhar/ts-jest/blob/master/src/default-retrieve-map-handler.ts) in :
[code]
Somehow in your code appears something that looks like source map url, but it isn't, or may be it is not in base64... Probably we have to get more deep on it.

[2016-11-03 12:19] Igmat commented on #45
Ok, I've found out. `rxjs` project has source maps, but as separate files, while our package assumes that all source maps are generated by it and included inline. Current fix actually returns `null` instead of reading that source map, probably we have to change this behavior.

[2016-11-03 14:37] Igmat commented on #42
Solve by this commit: https://github.com/kulshekhar/ts-jest/commit/6eb092a0b60d2097d3d1bcafb24b041718f2e8f0
Please wait for next release in day or two.

[2016-11-03 14:38] Igmat commented on #43
Solved by this commit: https://github.com/kulshekhar/ts-jest/commit/6eb092a0b60d2097d3d1bcafb24b041718f2e8f0
Please wait for next release in day or two.

[2016-11-03 16:14] Igmat commented on #45
Should be solved in `ts-jest: 0.1.12`. @beckend, feel free to reopen if it won't.

[2016-11-03 16:42] Igmat commented on #45
Sorry guys, I was totally mistaken with our internal tests, so I reopen this issue and fix will be provided in `ts-jest: 0.1.13` and `0.1.12` is unpublished from `npm`, because it's broken.

[2016-11-04 17:26] Igmat opened #53 "Appveyor support"
@kulshekhar, please contact me via email. We have to add webhook to repo settings in order to run builds on appveyor(Windows testing) when something pushed.
Plus, it would be great, if you take a look at `appveyor.yml`, because our builds failed when they don't have to.

[2016-11-04 18:08] CarlosSoares commented on #43
Unfortunately now won't generate the coverage.

[2016-11-04 18:09] kulshekhar commented on #53
It looks like appveyor is now building in response to a PR. The `appveyor.yml` file looks fine to me. Based on the build logs also it seems fine. It's only one test that's failing and it doesn't seem to failing due to configuration issues.

This looks quite similar to that error that we had a bit of a discussion around (async/await related). It seems that the way the external Jest process is handl

[2016-11-05 12:17] Igmat commented on #53
@kulshekhar, it's not a problem with test or killing, because on my windows machine tests are successfully passed. Seems to be some issues with build machines.

[2016-11-05 13:36] Igmat commented on #53
I've checked my this test on 3 different windows machines and everywhere it works just fine.

[2016-11-05 14:00] kulshekhar commented on #53
I'll take a closer look at this issue with Appveyor this weekend

[2016-11-06 12:29] kulshekhar commented on #53
@Igmat the issue was the use of `beforeAll` and `afterAll`. Do you think replacing them with `beforeEach` and `afterEach` as done in #55 is fine? (that PR causes one test in this file to fail but that can probably be looked at if this change is fine)

[2016-11-06 12:47] Igmat commented on #53
@kulshekhar, unfortunately we can't use `beforEach` because test logic is based on that we are running one `Jest` process in watch mode for several changes, and in PR #55 you are running all it different process for each change.

[2016-11-06 12:49] kulshekhar commented on #53
If the point is to see whether the watch mode behaves as expected when a change is made, I don't see the problem in running it separately for each test. As it stands, two of the tests are anyways not being run (even on linux, I suspect)

[2016-11-06 13:03] kulshekhar commented on #53
The latest batch of changes seems to have done the job.

[2016-11-06 13:10] kulshekhar commented on #53
@Igmat if you still want to run a single jest process, the problem might be i[here](https://github.com/kulshekhar/ts-jest/blob/master/tests/__helpers__/runJestInWatchMode.ts#L45). You might want to check for `Ran all` in the `stdout` of the process. It seems that as soon as the first test (whose error stream contains `Ran all`) is run, the listeners are removed.

It's most likely this that prevent

[2016-11-07 09:57] Igmat commented on #53
@kulshekhar, why did you decide that second and third tests aren`t running?
As we can see [here](https://travis-ci.org/kulshekhar/ts-jest/jobs/173631267) they was executed.

[2016-11-07 10:10] kulshekhar commented on #53
I remember log statements in 2 tests not printing several times. However, I could be mistaken on this (I was testing a lot of different things and could've changed something that caused this). Please ignore that comment.

That aside, I think #55 tests all the scenarios:
- with no change
- with a change in `Hello.ts`
- with changes in `Hello.ts` and `Hello.test.ts`

[2016-11-07 10:14] Igmat commented on #53
Let's wait a little bit. I'm trying to check some stuff that could help...

[2016-11-07 10:19] kulshekhar commented on #53
Sure. I'm not looking at this issue for now so if you need any help, let me know

[2016-11-07 10:39] beckend commented on #45
Publish latest in npm so I can give it a spin?

[2016-11-07 14:56] Igmat commented on #53
I guess that it's an AppVeyor problem, so I've created issue on their GitHub repo and at [help forum](http://help.appveyor.com/discussions/problems/5500-nodejs-child-process-with-watch-and-stderr-problem).

[2016-11-07 15:03] Igmat commented on #45
@beckend, `ts-jest@0.1.13` is published. Try to use it. If it won't solve your problem just re-open this issue.

[2016-11-07 15:03] #45 closed

[2016-11-08 14:45] Igmat commented on #43
After a lot of investigation done for this issue - I can say that it doesn't seem to be a problem of `ts-jest`.
At first I thought that problem caused by async tests, but it's not a case. I've even added tests for this case https://github.com/kulshekhar/ts-jest/commit/f8e6f9be4f65bc3a1c33930af99453f03a622b6b.
Then I checked [`enzyme`](https://github.com/airbnb/enzyme) package, because it manipulat

[2016-11-08 14:45] #43 closed

[2016-11-09 03:17] redstrike opened #56 "[ERROR] Unknown config option "transform" on jest v0.17"
[code]

I don't sure this is an error message from jest or ts-jest. But most of my test suites are written in TypeScript, so I think that I will post this issue here.

Node v7.0
Jest v0.17

[2016-11-09 10:29] Igmat commented on #56
Ok. It was unexpected breaking change for us.
After updating `jest`, I see that tests are working. They just have this warn in output. Are you facing some other problems?

[2016-11-09 11:11] Igmat opened #57 "Package versioning"
@kulshekhar I have a proposal for our package.
After check of issue #56 I've found that problem is caused by our dependencies.
While `jest` is in `peerDependencies` we have `jest-config` and `jest-util` as `dependencies`. We probably could remove them, because they are included by `jest`, so we will always use user version of this packages based on what version of `jest` he installed.
But it will

[2016-11-09 11:19] kulshekhar commented on #57
tbh, I'm not entirely familiar with the Node packaging/dependency story beyond the basics. If you think this is a good idea, I'm happy to defer to your judgment

[2016-11-09 12:31] Igmat commented on #57
I've implemented this in https://github.com/kulshekhar/ts-jest/commit/57e8753f1ae950e97a36b0b0318cca15aea06b6b

[2016-11-09 12:31] #57 closed

[2016-11-09 12:32] Igmat commented on #56
Ok, this was fixed in https://github.com/kulshekhar/ts-jest/commit/57e8753f1ae950e97a36b0b0318cca15aea06b6b.
Try to use `"ts-jest": "17.0.0"`. If you'll face some problems feel free to re-open this issues.

[2016-11-10 02:50] redstrike commented on #56
@Igmat: jest run normally, but the error message still there, which causes some confusing.

[code]

[code]

[2016-11-10 09:47] Igmat commented on #56
@redstrike, could you, please, create a simple repro for this?
And I've added link to [previous doc](https://github.com/kulshekhar/ts-jest/blob/e1f95e524ed62091736f70abf63530f1f107ec03/README.md) in readme.

[2016-11-10 10:45] dziamid opened #58 "How to use with target="es6"?"
I use https://github.com/s-panferov/awesome-typescript-loader instead of ts-loader, which speeds up compilation.
My current tsconfig.json is:
[code]
And my jest config is:
[code]
So my tests obviously fail with `SyntaxError: Unexpected token import`.
How to handle this setup with ts-jest?

node: v.6.6.0
typescript: 2.0.8
ts-jest: 17.0.0

[2016-11-10 11:05] Igmat commented on #58
What version of node you are using?

[2016-11-10 12:04] redstrike commented on #56
@Igmat, It seems that if I copy all of the test and source files + the same tsconfig.json & package.json to a new directory, install jest 17.0 + ts-jest 17.0. The error message no longer appears.

I have tried to remove and reinstall them in my current project:
[code]
But the error message still appears in my current project.
I am using **Windows 10 x64 Pro 1607**, **node 7.0**, **typescript@next*

[2016-11-10 12:40] Igmat commented on #56
Ok, so what is your node version and tsconfig?

[2016-11-10 12:43] redstrike commented on #56
Oh, sorry. I forgot to mention that. I'm on mobile now. But you can see my current tsconfig.json at this issue: https://github.com/facebook/jest/issues/2073

Node v7.0

[2016-11-10 12:46] dziamid commented on #58
@Igmat, sorry, forgot to mention, updated the question

[2016-11-10 14:13] Igmat commented on #58
It's strange that it shows `Unexpected token import` error.
Could you please share a repro? I have some thoughts but have to check them first.

[2016-11-10 14:56] Aleksion opened #59 "Could not find source map for"
I get this error when running coverage on my test project. I imagine it's because I'm using outdir, and am outputting everything to ./dist

Is there a way to specify that as an option?

[code]

[2016-11-10 15:58] Igmat commented on #59
No, it shouldn't be a problem. Could you provide repro for this issue?

[2016-11-10 17:05] dziamid commented on #58
@Igmat here you go https://github.com/dziamid/react-typescript-boilerplate

[2016-11-11 11:21] Aleksion commented on #59
@Igmat - I just mimicked my setup in a new project, and there it worked fine. Until I created something that threw a compile error in TSC.

If the particular errorful files aren't tested Jest runs just fine. But in the case of coverage it naturally encounters an error because the whole codebase doesn't compile properly.

My bad!

[2016-11-11 11:21] #59 closed

[2016-11-11 12:02] beckend commented on #40
`jest@~17.0.0` has `Cannot find module 'jest-config'`.

[2016-11-12 08:36] beckend commented on #40
I now see the peerDependecy my bad.

[2016-11-12 08:36] #40 closed

[2016-11-13 21:21] niieani opened #60 ""Error: Could not find source map for ..." always when used without --no-cache"
I'm getting this error for every file, every time I try to use jest with ts-jest:

[code]

If I use `jest --no-cache` there is no error.

Any ideas?

[2016-11-13 21:24] niieani opened #61 "Allow customization of remapped output path"
It would be great if we could optionally change the path of the remapped output.
Would be nice also to be able to delete the original, unremapped coverage.

[2016-11-14 07:42] kulshekhar commented on #60
can you create a simple repo that reproduces this?

[2016-11-14 15:26] dziamid commented on #58
@Igmat did you have a change to have a look at my repro. Just in case: npm install & npm test to reproduce the proplem - it should fail on the first test with `Unexpected token import` error.

[2016-11-14 17:09] Igmat commented on #58
@dziamid, sorry, I was to busy at this weekend. I'll take a look and will answer tomorrow.

[2016-11-14 17:23] Igmat commented on #60
It seems, that problem happens while coverage remapping is handled. Unfortunately, we have no possibility to fix it now (we need some changes in `jest` for it) and only option to make it work is using with `--no-cache` flag.

[2016-11-14 17:24] Igmat commented on #61
It's reasonable. We'll try to implement as fast as possible.

[2016-11-14 17:30] Igmat commented on #59
Hm. We probably have to make error message more useful, what do you think, @Aleksion?

[2016-11-14 17:31] Igmat commented on #56
@redstrike, sorry for delay. I'll take a look on it tomorrow.

[2016-11-15 03:13] redstrike commented on #56
@Igmat, thank you for your supportive. Without **ts-jest**, I could not figure out how to apply Jest into my trivial TypeScript project. Jest team has closed my issue https://github.com/facebook/jest/issues/2073 :)

[2016-11-15 15:15] Igmat commented on #58
@dziamid, first of all, problem isn't in ATL. Actually webpack and its loaders aren't executed while testing.

First problem is caused by `setupTestFrameworkScriptFile`, so could you please tell me why do you need `test-bundler.js`? If you use it for coverage, then better option would be to use
`"testResultsProcessor": "<rootDir>/node_modules/ts-jest/coverageprocessor.js"` and `--no-cache` flag.

[2016-11-15 15:39] Igmat commented on #56
@redstrike, your problem is very strange - I can't reproduce it on **Windows 10 x64 Enterprise with node v7 and typescript@next**. Using your settings from https://github.com/facebook/jest/issues/2073 I get another output from `tsc`:
[code]
which doesn't cause any errors.
Could you, please, provide a simple repro with `async/await`?

[2016-11-16 02:48] redstrike commented on #56
@Igmat, it seems that the issue has been solved on TypeScript side 😀
Last week, I was using **TypeScript v2.1.0-dev.20161110**. Today, I did a re-test with **TypeScript v2.2.0-dev.20161111**. The bug is no longer happen 😮

[2016-11-16 02:48] #56 closed

[2016-11-25 12:42] Igmat commented on #60
So it seems that problem is related to cache only. I'm closing this one because we have more general issue #30 about it.

[2016-11-25 12:42] #60 closed

[2016-11-25 12:46] Igmat commented on #58
Ok, while here is no responses, I think my last comment helped you to fix it. I'll create related TODO issues in order to find a workaround and may be even provide some changes to `ts-jest` in order to solve problems with `"jsx": "preserve"` and this type of `import` statements.

[2016-11-28 09:11] con-ssc commented on #3
This problem still persists with typescript.
`
{
  "dependencies": {
    "@types/jest": "^16.0.0",
    "@types/xrm": "^8.0.35",
    "jest": "^17.0.3",
    "ts-jest": "^17.0.0",
    "typescript": "^2.0.10",
    "yarn": "^0.17.9"
  },
  "jest": {
    "transform": {
      ".(ts|tsx)": "<rootDir>/node_modules/ts-jest/preprocessor.js"
    },
    "testRegex": "(/__tests__/.*|\\.(test|spec))\\.(ts|tsx|js

[2016-11-28 09:43] Igmat commented on #3
@con-ssc could you please provide us with your `node version` and `tsconfig`?

[2016-11-28 09:50] con-ssc commented on #3
node -v: v7.0.0
tsconfig:
[code]

[2016-11-28 10:31] Igmat commented on #3
I've cloned your repro. First error that I get after `npm install` and `npm test` (I've added `"scripts": {"test": "jest --no-cache" }`) is about missing `tsconfig.json` - you haven't it in project and there is no `globals.__TS_CONFIG__` in `package.json` - I've added second one and get errors about `Xrm` (it's not defined) - you have typings for it, but haven't add it as dependency.
But first pro

[2016-11-28 10:59] con-ssc commented on #3
Well there is no package for npm since it is MS Dynamics 365. The goal of the repo is to mock the framework for unit or intergration testing.
If you run node_modules\.bin\jest.cmd in the root folder you should get the error

[2016-11-28 12:00] kulshekhar commented on #3
@con-ssc it would be very helpful if you could create a minimal sample repo which exhibits the behavior you're experiencing

[2016-11-28 12:18] Igmat commented on #3
I've executed `node_modules\.bin\jest.cmd` from root folder and haven't faced `JSX: Unexpected token` error.

[2016-11-28 12:55] Igmat opened #63 "Support for "jsx": "preserve" config"
After issue #58 I've realized that we have no support for this options in config which leads to errors that user can't understand.
Possible solutions:

1. Find a way to activate `babel-jest` transformer from jest config after `ts-jest` applied.
2. Inform user that this option is not allowed and use `"jsx": "react"` instead.
3. Include `babel-jest` transformer in our package and run it if `"jsx": "

[2016-11-28 13:10] Igmat opened #64 "Support for imports with absolute path"
Due to issue #58 I found out that unfortunately imports like
[code]
don't work with jest and produces next error:
[code]
While normal imports with relative paths behave as expected. It could be problem of `jest-resolve` module, but we have to try to solve it inside `ts-jest` or find what exactly causes this problem in `jest-resolve`.
As always we have to start from tests for this case.

[2016-11-28 13:12] Igmat commented on #58
Closing this due to #63 and #64 as more accurate issues.

[2016-11-28 13:12] #58 closed

[2016-11-28 19:38] japhar81 opened #65 "Line numbers in coverage wrong with coverageprocessor"
I have a repo with my test mule project here: https://github.com/japhar81/redux_template

clone, ```npm run test``` and open coverage/index.html. It shows the issue pretty clearly;
![image](https://cloud.githubusercontent.com/assets/1619545/20682984/2ac9fd98-b55f-11e6-8fa6-b29a05408809.png)

[2016-11-28 19:57] japhar81 commented on #65
Sorry just realized the remapped coverage is in a separate directory. So that works -- however the text summary does not -- is that intentional?

[2016-11-28 21:57] Igmat commented on #65
@japhar81 do you mean summary in console? If yes, unfortunately we can't affect it as for now...

[2016-11-29 06:17] japhar81 commented on #65
@Igmat I did -- here's what I found to work (in case anyone stumbles on this);
1. tsconfig.json should target ES6
2. tsconfig.json should set inlineSourceMap to true
3. Install/configure ts-jest per readme

With those in place I seem to get proper percentages (but not line numbers) in the text summary that's printed, and proper line numbers in the re-mapped output.

[2016-11-29 06:17] #65 closed

[2016-11-30 22:22] Lodin opened #68 "Using Babel as secondary compiler"
Due to lack of support for some features of es6/es7 in Typescript I have to use Typescript + Babel compiling chain. But even if I can make tests with this chain, coverage is not correct. Can the babel be implemented as a secondary optional compiler with proper istanbul remapping?

[2016-11-30 22:27] kulshekhar commented on #68
Could you explain what your transpilation setup looks like

[2016-11-30 23:10] Lodin commented on #68
@kulshekhar For the project itself I use `webpack` with `awesome-typescript-loader` that already contains babel as secondary compiler. For tests by now I use simple preprocessor that uses `ts-jest` as main compiler and `babel-core` as secondary.
[code]
And I just send it to the `transform` property of Jest:
[code]

[2016-12-01 06:34] Kovensky commented on #68
This also might be necessary for supporting https://github.com/facebook/jest/blob/master/packages/babel-plugin-jest-hoist/src/index.js

As ES6 imports are defined to execute before any code, it's not possible to run the jest mock config before your tests actually import something... unless you use that plugin to hoist them even higher than the resulting commonjs requires.

[2016-12-01 06:59] Kovensky opened #69 "ts-jest breaks strict mode"
The preprocessor prepends `require('ts-jest').install();` to the resulting source code, which makes any possible `"use strict"` no longer a directive.

[2016-12-01 07:02] Kovensky opened #70 "coverageprocessor breaks when jest is not run with --no-cache"
The cache is written to `global` when the preprocessing happens, but preprocessing is skipped when possible if `--cache` is enabled (and it is by default).

As the preprocessor does set up the mapping data structures, but just writes nothing into it, there will be an exception thrown in `remap-istanbul` for each of the input files.

[2016-12-01 09:43] kulshekhar commented on #70
Cache support has been discussed in #30 and there doesn't seem to be a clear solution to that.

@Kovensky would this issue be covered by #30? If so then this can be closed so that the discussion on caching can be consolidated in one place.

[2016-12-01 09:49] kulshekhar commented on #68
It doesn't look like Jest allows us to easily hook into the part related to coverage. It would be nice to be able to have more robust coverage support but I'm not sure how that can be achieved. If anyone has any ideas, PRs are welcome :)

[2016-12-01 11:56] #69 closed

[2016-12-01 11:57] kulshekhar commented on #69
@Kovensky Thanks for logging this issue!

[2016-12-01 12:05] kulshekhar commented on #53
@Igmat It seems that Appveyor can't figure out the problem without a simpler setup (which I'm also not sure how to provide). Should we just work around it like in #55? If so, I'll rebase and merge that PR in

[2016-12-01 12:17] Kovensky commented on #70
It would; but for this specific case, it could be nice to, until there is cache support, have an early error, if coverage is enabled, telling the user to use `--no-cache`.

[2016-12-01 12:19] Igmat commented on #53
Nope, that PR just breaks test logic and they become useless. I think we have to change config in way which just will omit watch-tests on AppVeyor. I'll propbably do it today.

[2016-12-01 12:21] Igmat commented on #70
@Kovensky, ok, you are right - it's good suggestion. I think I'll provide it really soon.

[2016-12-01 16:01] Igmat commented on #53
Ok, I've fixed it in #74.
@kulshekhar, please change badge in readme to that you have inside AppVeyor, because now it points to my account and that's why shows incorrect build status.
P.S.
Let leave this issue open - I hope that sometime I'll be able to narrow real problem and AppVeyor support or myself will fix this strange issue.

[2016-12-01 19:29] mohsen1 commented on #64
Will passing the `baseUrl` in `tsconfig.json` to [jest-resolve `moduleDirectories`](https://github.com/facebook/jest/blob/master/packages/jest-resolve/src/index.js#L26) do this?

[2016-12-01 19:33] mohsen1 commented on #64
Yup, manually overriding `moduleDirectories` in jest-resolve module worked for me. Putting together a pull request.

[2016-12-01 19:39] mohsen1 commented on #64
I don't see anywhere this module passing options to jest-resolve. Putting the extra moduleDirectories in `package.json` `jest` object works for my case:

[code]

[2016-12-02 10:26] Igmat commented on #64
@mohsen1, thank you fro your investigation and moving issues to `Jest` itself.
I guess we have to add your current workaround to readme and close this issue, because it's not related to `ts-jest`.
Is it would be ok for you?

[2016-12-02 16:51] mohsen1 commented on #64
Yes. Just adding that config option works.

[2016-12-02 19:31] Lodin commented on #68
@Kovensky Thanks for advice, I'll try it.
@kulshekhar Saying `robust`, are you talking about current implementation? As I understood `ts-jest` saves processed code with sourcemap in cache and remaps istanbul results using it. Does this approach have any problems? And is it possible to remap es5 to es6 and then es6 to typescript? Or to combine es6 -> es5 sourcemaps with typescript -> es6 and remap

[2016-12-04 04:10] Kovensky commented on #68
I have tried doing something like:

[code]

However, this does not produce accurate results after remapping, with or without poking the `__ts_coverage__cache__`. This happens even if the babel runs an empty config that does nothing at all -- it just converts the input to AST and then re-generates the same thing as JS, which might change formatting / semicolons / source maps.

The main difference I

[2016-12-04 07:35] kulshekhar commented on #68
I haven't used Babel but I think I read that it can preserve line numbers when transpiling. Would that help in this case?

[2016-12-05 09:47] Igmat commented on #64
Closed due to #77

[2016-12-05 09:47] #64 closed

[2016-12-06 00:55] pelotom opened #79 "Type error reporting"
Currently it seems that the preprocessor doesn't report type errors. Would it be possible to treat type errors in TS files (whether source or test files) as if they were test failures?

[2016-12-06 03:58] kulshekhar commented on #79
@pelotom can you create a tiny repo that illustrates the issue and your expectations. It would help in quickly getting started on this

[2016-12-06 07:31] gyzerok commented on #79
@kulshekhar there is an example in linked issue. It do not use `ts-jest` however both this example and ts-jest have same problem.

[2016-12-06 08:11] kulshekhar commented on #79
It doesn't seem that this can be fixed in `ts-jest`. When running `tsc` against `example.test.ts` from the repo, the corresponding `example.test.js` file is generated. This is what `ts-jest` receives and uses.

If there were a way to get `tsc` to abort and throw an exception on type errors, that would help. Without such an option, the only way to do this would be to launch an external process to t

[2016-12-06 10:24] Igmat commented on #79
Really, the main problem is that TS needs `project` compilation and not `file` compilation, in order to correctly show type errors.
We could try to find a workaround that compiles overall project instead of one file for `Jest`, but it definitely wouldn't be a preprocessor, because `Jest` API sends only one file to it.

[2016-12-06 12:47] gyzerok commented on #79
If we can somehow serialize compilation and just restore in subsequent calls to preprocessor. Can we cache compilation results within one run of Jest somehow?

[2016-12-06 12:49] gyzerok commented on #79
I have no time now to dig deeper but [this](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services) looks like what we need.

[2016-12-06 12:56] Igmat commented on #79
@gyzerok, ok it's a good point. I'll try to dig into it later, but at first look it seems that we will have to inform Jest that it should wait for project compilation and then inform it each time when file changes, instead of default Jest watcher. So it could be very difficult to achieve.

[2016-12-06 19:38] pelotom commented on #79
It might be instructive to look at how the [`ts-loader`](https://github.com/TypeStrong/ts-loader) for webpack works, since it's solving a similar problem... it is using the TS language services to incrementally recompile files and display type errors, and it's adapted to fit the webpack (and also jest) model of servicing compilation requests for individual files.

[2016-12-07 04:19] gyzerok commented on #79
Should we reopen an issue since we might have possible solution?

[2016-12-07 06:55] kulshekhar commented on #79
I haven't dug deep into this but this doesn't look like a workable solution at first sight.

The TS docs linked to and ts-loader both use file watchers to do incremental transpilation.

Since a preprocessor doesn't run in it's own process and is only invoked by jest on a file by file basis, the expectation is that the preprocessor would process the file given to it and return the result. I would p

[2016-12-07 12:42] Igmat commented on #79
Ok, after small investigation I have some thoughts on how it could be achieved. It definitely wouldn't be a preprocessor itself, but we already have coverage processor in our package, so IMO it's not a problem to provide such functionality as sub-module of `ts-jest`.
Actually I can't say that it will be implemented (there are a lot of possible caveats), but I'll try.

[2016-12-07 12:49] kulshekhar commented on #79
@Igmat  As I mentioned in the earlier comment, I can't see a valid reason for type checking to be the responsibility of a preprocessor. However, if you want to add it, go ahead. Just ensure that this doesn't affect the complexity and performance of the core functionality/code.

Bear in mind that it's hard to remove a feature (even a poorly performing one) once it has been added and other people de

[2016-12-10 07:31] Axure opened #81 "Dependency on `jest-util` and `jest-config` on older node environment"
Older npm does not flatten the directories, so these two should be explicitly depended on.

[2016-12-10 07:33] kulshekhar commented on #81
Can you please specify the node and npm versions you're referring to

[2016-12-14 09:52] archy-bold opened #82 "Error When Including Module From Mapped Path"
Hi there, I'm getting an error when trying to load a module from a mapped path. The error is as follows:

[code]

And I'm trying to do the following:

[code]

The file definitely exists and worked with relative paths.

Here's my `tsconfig.json`:

[code]

And here's the `jest` configuration of `package.json`;

[code]

As you can see, I'm including the `moduleDirectories`, as suggested.

What's weir

[2016-12-14 09:54] kulshekhar commented on #82
can you create a minimal repo that reproduces this issue?

[2016-12-14 10:20] archy-bold commented on #82
Thanks for the speedy response @kulshekhar. Yes, I can recreate this with a minimal repo. You can find it here: https://github.com/archy-bold/ts-jest-test

There's a branch, `passing`, which uses relative paths and works.

[2016-12-14 11:59] kulshekhar commented on #82
this is a weird one. It's not throwing any error if I import `import * as apis from "@app/constants/api";`

[2016-12-14 12:02] archy-bold commented on #82
Yeah, I considered it might be related to the type of import, but it didn't make a difference if I wrote the import as:

[code]

[2016-12-14 12:24] kulshekhar commented on #82
I get the issue now. The other imports aren't a problem because they're just importing interfaces which are ignored at runtime. However, that's not the case for `actionTypes`

What's happening is that jest is unable to resolve mapped imports. This is why `tsc` seems to work fine but not the test.

I'm not sure where this issue belongs. Do you know what the expected behavior of the Typescript compi

[2016-12-14 12:38] kulshekhar commented on #82
@archy-bold add the following to the `jest` section in your `package.json`

[code]

[2016-12-14 12:38] #82 closed

[2016-12-14 12:43] archy-bold commented on #82
Oh wow, great job!

I can't speak with any authority on the TypeScript compiler, unfortunately, so not sure how it deals with those paths. But this works perfectly now. Might be worth putting in the readme though.

[2016-12-14 12:45] kulshekhar commented on #82
that's actually a jest thing so I'm not sure this repo is the best place to highlight that (Mapped paths are often also used with webpack). Jest has some examples that use this - https://facebook.github.io/jest/docs/tutorial-webpack.html

[2016-12-14 15:16] archy-bold commented on #82
Yeah, I spotted that, but they only talk about it to be used for mocked assets rather than mapping paths. Odd. https://facebook.github.io/jest/docs/configuration.html#modulenamemapper-object-string-string

Massive thanks for your help, though.

[2016-12-15 17:08] mtfranchetto commented on #40
Can you tell me which peerDependencies to install? Cause I have both typescript and jest installed and I keep receiving this error.

[2016-12-15 18:30] beckend commented on #40
that's should be all you need, I also installed `jest-cli` in global also.

[2016-12-23 07:45] kulshekhar commented on #81
closing this due to lack of details. Can be opened if/when more details are available

[2016-12-23 07:45] #81 closed

[2016-12-23 07:55] kulshekhar opened #89 "Tests are randomly failing on Travis"
This is happening particularly with node 6 but also sometimes with other versions

[2016-12-23 19:16] mike-morrison commented on #63
I would prefer #2.  Number 1 is a lot of overhead and adds another source of failure and inconsistency.  Especially for source mapping.

[2016-12-28 10:53] Bnaya opened #90 "Mocking functions of jest not working (need to babel-jest)"
For the modules mocking of jest to work with babel, they made special babel preset to hoist the calls above the require() calls
https://www.npmjs.com/package/babel-plugin-jest-hoist

In order to make ts-jest work properly as babel-jest we need this transformation also.

[2016-12-28 13:57] Bnaya commented on #68
adding babel will also help with #90

[2016-12-28 14:09] kulshekhar commented on #90
I can't commit to this as there's a lot on my plate right now. I'd be open to a PR with tests though :)

[2016-12-28 15:34] basarat commented on #63
2 sounds best to me too 🌹

[2016-12-29 10:02] JakeGinnivan commented on #63
I think it's pretty common, babel transpiles JSX faster than TypeScript does. Also there are a heap of useful JSX plugins for babel. awesome-typescript-loader does similar to option 3 and makes babel an option in it's config.

Also, option 3 is probably easier to control than a config point which can be misconfigured?

[2016-12-29 20:21] bufke opened #92 "Should this work with react native?"
I'm using jest and react native. I can test it by manually compiling the typescript into js and running jest on that. Trying to use this project I get

[code]

My relevant package.json

[code]

I've read through the limitations but those don't seem to apply to me, not targeting ES6 ect. Using node v6.9.2

[2016-12-30 06:23] kulshekhar commented on #92
I don't have any experience with react-native so I'm not sure what's going on. Would it be possible for you to create a minimal repo that reproduces this issue?

[2016-12-30 17:46] bufke commented on #92
[Example app](https://gitlab.com/bufke/ts-jest-rn-example)

I think react native uses babel internally. That lead me into trying [this](http://stackoverflow.com/questions/40069865/jest-testing-with-react-typescript-and-es6) to enable es6. That makes it get further and even can run some tests. However react-test-renderer still doesn't work with this method - making snapshot tests impossible. That's

[2016-12-30 18:08] kulshekhar commented on #92
I'm not sure this is related to `ts-jest`. The error seems to be thrown before ts-jest is even invoked.

[2016-12-30 19:09] kulshekhar commented on #92
@bufke can you tell me what version of node you're using?

[2016-12-30 19:39] kulshekhar commented on #92
The root cause of this issue is the use of trailing commas in function calls in `react-native/jest/setup.js` (L39 & L188) and in `react-native/jest/mockComponent.js` (L22).

Trailing commas aren't natively supported in node yet. Preprocessing such files with babel/typescript takes care of this issue. However, since these files are added as part of a dependency, I'd expect them to be installed in a

[2016-12-31 06:21] fmatoss commented on #92
I managed to make it work, install these modules:
[code]

Create a .babelrc file with this content:
[code]

And finally in package.json, use this transform:
[code]

[2017-01-03 13:33] kulshekhar commented on #92
@bufke does the solution posted by @fmatoss solve this for you?

[2017-01-03 16:04] bufke commented on #92
@kulshekhar where you able to run the [home component test](https://gitlab.com/bufke/ts-jest-rn-example/blob/master/src/home/__tests__/home.component-test.tsx#L8) from the example repo?

I've found a few solutions that will run non react related tests but nothing that works with react-test-renderer. Either renderer becomes undefined or in the case of your suggestion I get

[code]

I suspect there

[2017-01-03 16:06] bufke commented on #92
Sorry here is the correct error - before I forgot about babelrc. This is consistent with other attempts I made messing with babel.

[code]

[2017-01-03 18:04] fmatoss commented on #92
Apply this patch using git apply: https://gist.github.com/fmatoss/34d57f5bc70f64dac6f67a97f5b8b050

I made some small changes, since TypeScript 2.0, using [@types scope is the preferred way to include declaration files](https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/).

[Use "include" instead of "filesGlob"](https://github.com/Microsoft/TypeScript/wiki/What%

[2017-01-03 19:20] bufke commented on #92
Cool that works thank you @fmatoss

So I guess the answer to can ts-jest work with react-native is yes but with some changes. As far as I can tell that includes

- Import like this `import { create } from "react-test-renderer";` not like `import renderer from "react-test-renderer"`;
- `yarn add -D babel-jest babel-preset-react-native`
- Ensure .bablerc contains `"presets": ["react-native"]`
- Ensu

[2017-01-03 19:52] fmatoss commented on #92
I think this one is not related to ts-jest, react-test-renderer don't have a default export, the same happens to React, but if you want to import the entire module, this will work for you:
[code]

[2017-01-04 22:50] bufke commented on #92
@kulshekhar do you any notes about react native added to the readme? Otherwise this can be closed.

[2017-01-04 23:38] fmatoss commented on #92
@kulshekhar Check my PR https://github.com/kulshekhar/ts-jest/pull/95

[2017-01-05 10:29] kulshekhar commented on #92
closing following #95

[2017-01-05 10:29] #92 closed

[2017-01-07 10:26] Bnaya commented on #68
i've made this standalone repo to investigate it
https://github.com/Bnaya/jest-ts-test
It contains a modified version of the preprocessor from babel-jest + typescript compilation
there's no custom coverage processor, the code sending the ts-transpiled code to babel + inline source maps and babel-jest using its internal coverage processor and mapping it to the source ts files.
its works with one pr

[2017-01-17 00:00] tyleralves opened #97 "Coverage Report - incorrect lines"
The function beginning at line 3 is not covered by my test suite, however the code coverage report gives me seemingly arbitrary line numbers.
[code]
The coverage report says that lines 10,11 are not covered, though even that changes depending on how many blank lines are included in the component.

Let me know if I can provide further information.
Cheers,
Tyler

**EDIT:** The reports with `coverage

[2017-01-17 00:04] tyleralves commented on #97
Here's the html report in case it helps.
[HTML Report](https://screenpresso.com/=VM5Ke)

[2017-01-17 04:12] kulshekhar commented on #97
would it be possible for you to create a minimal repo that reproduces this issue?

[2017-01-18 05:50] kulshekhar commented on #97
thanks @tyleralves

I'll try to take a look at this as soon as I find some time!

[2017-01-20 01:58] Aaron2Ti commented on #97
+1 for this

[2017-01-20 19:02] tkrotoff commented on #90
Related comment [here](https://github.com/facebook/jest/issues/1273#issuecomment-231627305):

Found this https://github.com/lozinsky/typescript-babel-jest that does exactly that: https://github.com/lozinsky/typescript-babel-jest/blob/234de0a5832f85061115655959339e7ee055663c/source/preprocessor.js#L23

[2017-01-22 08:01] Lxxyx opened #99 "[React-Native] SyntaxError: Unexpected token import"
package.json: https://gist.github.com/Lxxyx/b8d343e17b521182d61515cdbc15c5bb
tsconfig.json: https://gist.github.com/Lxxyx/88acca172a37fada578e98af3b072452

ReactNative Version: 0.40
system: Mac 10.12
node: v6.9.1

Question: run jest, get unexpected token import error.

error:

 FAIL  src/model/__tests__/schedule.test.ts
  ● Test suite failed to run

    /Users/lxxyx/Desktop/app/iNCU/src/model/__te

[2017-01-23 05:59] kulshekhar commented on #99
I can't take a look at this right away but if you create a minimal repo that reproduces this, it'll make it easier for me to assess this when I have the time

[2017-01-25 04:42] Lxxyx commented on #99
while change tsconfig module to commonjs, fixed

[2017-01-25 04:43] #99 closed

[2017-01-25 17:11] Pickra opened #101 "How to display remapped coverage report in the terminal?"
I apologize if I'm missing something obvious or if I'm repeating [this issue](https://github.com/kulshekhar/ts-jest/issues/61).

<h2>Current Behavior</h2>

**The remapped coverage works in the browser**:

![screen shot 2017-01-24 at 3 58 48 pm](https://cloud.githubusercontent.com/assets/5226549/22299948/e3aac178-e2f3-11e6-8e9f-ad8f64c6bfee.png)
![screen shot 2017-01-24 at 3 55 43 pm](https://cloud

[2017-01-25 23:42] kwonoj commented on #101
refer https://github.com/kulshekhar/ts-jest/issues/42#issuecomment-256792842 .

[2017-01-26 03:05] Pickra commented on #101
Thanks for the quick response. Sorry for the repeat question.

[2017-01-27 05:56] kulshekhar commented on #97
@tyleralves I was trying this out now and just noticed the edited part of the original issue. [I think this is a known issue](https://github.com/kulshekhar/ts-jest/issues/42#issuecomment-256792842).

Note that I haven't worked on the coverage part I'm not too familiar with it. I hope @kwonoj can confirm/refute this

[2017-01-27 06:04] kwonoj commented on #97
I have to admit current coverage ergonomics causes confusions between what to trust / what to not to trust, and also what is not possible.

1. Console / terminal output summary
: @kulshekhar is correct, it is known issue and cannot have workaround at the moment. refer attached issue comment for detail. (https://github.com/kulshekhar/ts-jest/issues/42#issuecomment-256792842) It may need some docume

[2017-01-27 06:04] kwonoj commented on #97
https://github.com/kulshekhar/ts-jest/issues/101 is related as well related to console summary.

[2017-01-27 09:36] alexjoverm commented on #97
Guys, not sure if is related but I'm a bit confused:
 - I only get the remapped folder when I'm in watch mode. But, in that case the coverage gets crazy and it gets lowered a lot
 - It works better just by running "jest --no-cache --coverage", but still the coverage is not correct. It gives me statements and branches not covered (even in comments), and they are.

Coverage: https://coveralls.io/git

[2017-01-27 17:06] mohsen1 commented on #68
Once TypeScript supports external AST transforms we can avoid adding Babel dependency.

https://github.com/Microsoft/TypeScript/issues/10786

[2017-01-28 13:21] avandgard opened #103 "The watched jest tests with results remapping fail."
Hi guys,

I am facing an issue with failing watcher when I use jest with ts-jest and turned on remapping witch option `"testResultsProcessor": "<rootDir>/node_modules/ts-jest/coverageprocessor.js"`. If I run the jest with `jest --coverage --watch -i --no-cache` the watcher fails after first rune with an error:

If I try to remove "testResultsProcessor" the watched test is working.

If I try to com

[2017-01-30 12:26] rpadovani opened #104 "It generates remapped coverage only for main.ts"
I have a Typescript project and I'm facing issues generating the remapped coverage.
It creates only the coverage for `main.ts` instead that for all the files - the original coverage has all the files (but with wrong lines, of course).

This is the relevant part of my package.json:

[code]

and this is tsconfig.json:

[code]

I run the tests with:

`npm coverage`

Any suggestion?

[2017-01-30 13:05] alexjoverm commented on #104
Same was happening to me. My workaround:
 - First delete coverage folder
 - Run `yarn --watch` or `yarn --coverage --no-cache`, but not watch and coverage at the same time. In my case it was messing up things.

That doesn't generate a remapped folder, just the normal one but with the right lines (in my case also not right lines, but better ones, check [this comment](https://github.com/kulshekhar/t

[2017-01-30 13:13] rpadovani commented on #104
@alexjoverm thanks for the feedback.

Anyway, I already run jest without the `--watch`, and it builds the remapped folder but just with the main.ts, and the standard folder has the usual wrong lines.

[2017-01-30 13:42] alexjoverm commented on #104
Ops, sorry I thought you had the same problem than me, but I see is a different thing :S

[2017-01-30 13:48] kulshekhar commented on #104
@rpadovani what's the behavior if you use `"target": "ES6"` in `tsconfig.json`?

[2017-01-30 14:56] rpadovani commented on #104
@kulshekhar I am using `"target": "ES6" in tsconfig.json`

[2017-01-31 03:22] rfgamaral commented on #104
I'm getting the exact same issue and I have `"target": "ES5"` in `tsconfig.json`.

[2017-01-31 03:26] rfgamaral commented on #61
I second this and I'm going one step further... Use the settings from Jest configuration. For instance, I have this:

[code]

I'd expect to have my coverage on the folder specified and only html coverage generated and a text summary after running the tests. Currently a "remapped" folder is used and also a `coverage.json` and `lcov.info` files are also generated.

Hopefully this gets implemented so

[2017-01-31 06:33] kulshekhar commented on #104
@rfgamaral can you create a minimal repo that reproduces this issue?

[2017-01-31 06:59] #89 closed

[2017-01-31 12:48] Aleksion commented on #59
Haven't seen your comment until now. I've been away from it for a while, but an error message would definitely help.

[2017-01-31 19:25] jbrantly commented on #63
FWIW I ran into this and I found the information at https://github.com/facebook/jest/issues/1466#issuecomment-269421820 to be very helpful. Seems very easy to manually chain babel-jest after a TS transform. I'm with @JakeGinnivan that this is probably pretty common due to the optimizing JSX plugins that Babel has like `react-constant-elements` and `react-inline-elements`

[2017-02-01 03:27] sykesd opened #107 "Tests are reported twice - once for .ts and once for .js file"
I am new to Jest and relatively new to TypeScript and have setup my `ts-jest` by following [this guide](https://rjzaworski.com/2016/12/testing-typescript-with-jest).

My first test file looks like this:
[code]

When I run the `test` script from my `package.json` the output is as follows:
[code]

My `tsconfig.json` looks like this:
[code]

The `jest` section of my `package.json` looks like this:
[c

[2017-02-01 05:29] kulshekhar commented on #107
@sykesd can you create a minimal repo that reproduces this issue?

[2017-02-01 11:02] tkrotoff commented on #46
I can't debug my jest tests within vscode. Does anybody have a working example with:
- ts-jest
- tests written with TypeScript and using `import ...` syntax
- working source maps
- debug/breakpoint inside original .ts file using vscode

[2017-02-01 22:58] sykesd commented on #107
@kulshekhar in trying to prepare a minimal repo I discovered the cause and from there was able to find a solution. I am using WebStorm, which uses the TypeScript Language Service to transpile the source files. It is placing the resulting .js files into the ./dist directory, as specified in the `tsconfig.json` file.

Using the `testPathDirs` option of jest to restrict the search for test files to o

[2017-02-01 22:58] #107 closed

[2017-02-02 16:30] bhouser commented on #90
Why is this closed?  Is the problem solved, because I'm having issues mocking Typescript imports.

[2017-02-02 16:56] kulshekhar commented on #90
@bhouser  I'm not sure why this was closed. If you're facing this exact issue, I can reopen it

[2017-02-02 23:10] bhouser commented on #90
@kulshekhar I'm having exactly this issue yes.  Typescript imports are not mocked, `jest.mock('module')` calls have no effect.  I can't guarantee that I don't have any other issues in my code, but if the mock commands are not hoisted above the import statements, I don't see how this jest feature can work.

[2017-02-03 19:55] rfgamaral commented on #61
@Igmat Any progress on this?

[2017-02-04 13:32] wookieb commented on #81
Node 4.3.2
NPM 2.14.12

 :)

[2017-02-04 17:06] rfgamaral commented on #104
@kulshekhar Sorry it took me a while but it was not easy to get a minimal repo producing this issue. I'm not entirely sure the following repo reproduces it but I believe it does.

Please try this: [ts-jest-issue-104-demo.zip](https://github.com/kulshekhar/ts-jest/files/752411/ts-jest-issue-104-demo.zip).

If you look into `tests/components/Application.spec.tsx` there's only one test and one assert

[2017-02-05 03:31] blakeembrey opened #108 "Can not use module on node v4"
You require `jest-config`, but it's not in the dependency list. If you are using a module, you should always add the dependency on it, because right now you're relying on the flattening behaviour that occurs in NPM v3 (v2 is shipped with node 4). As a result, no one can depend on this module if they are testing on node 4, which is pretty common. See https://travis-ci.org/blakeembrey/node-servie-co

[2017-02-05 05:03] kulshekhar commented on #108
Would it be possible for you to submit a PR with these changes?

[2017-02-05 05:44] #108 closed

[2017-02-05 06:17] kulshekhar commented on #104
@rfgamaral I downloaded the zipped file, extracted it and executed `npm install`, followed by `npm test`.

It didn't exhibit the behavior you've specified. I suspect there might be minor settings issues in the attached project because the `build` folder isn't created (with and without that line commented out)

[2017-02-06 00:43] rfgamaral commented on #104
@kulshekhar You have to run `npm test -- --coverage`.

[2017-02-06 05:32] kulshekhar commented on #104
@rfgamaral thanks. I don't use coverage so I wasn't aware!

I downloaded it again and executed `npm install` followed by `npm test -- --coverage`. The components folder was generated.

However, when I comment out that line, run test, uncomment that line and run test again, the components folder isn't generated. This is probably the issue you're facing.

Running the same command with `--no-cache`,

[2017-02-06 09:42] rfgamaral commented on #104
@kulshekhar It did work on the demo project but not on the real one.

I don't know the details of `--no-cache` but it feels odd to me that I have to run the coverage command with that flag every time for it to produce full coverage reports. Doesn't fell right. Still, like I said, this didn't fix it on my real project. And unfortunately I cannot share that one, not yet at least.

[2017-02-06 09:46] bhouser commented on #90
I had another look at this issue, and I've found a solution.  Hoisting of `jest.mock` statements above `import` statements works, but with a caveat: apparently the `jest.mock` statement won't be hoisted if it's not already above the `import` statement in the original code.

This works:

[code]

This does not work:

[code]
So I wouldn't say that `jest.mock` statements are hoisted above typescript `

[2017-02-06 10:05] kulshekhar commented on #90
@bhouser no problem! Hopefully others facing this issue will be able to use the workaround you've posted :smile:

[2017-02-06 10:09] kulshekhar commented on #104
@rfgamaral from what I gather, the requirement of using `--no-cache` arises due to the way `jest` is structured. As far as I know, there's no way around this yet.

However, since I'm not very familiar with the part that handles coverage (I haven't ever used that), I'll leave this issue open. Hopefully someone will pick this one up.

[2017-02-06 10:28] rfgamaral commented on #104
@kulshekhar But it will be hard to debug this without a proper project actually displaying this issue even with the `--no-cache` flag. Hopefully I'll be able to open-source my own soon and post here unless someone does it first :)

Thanks for your time.

[2017-02-06 11:12] kulshekhar commented on #103
Would it be possible for you to create a minimal repo that reproduces this issue?

[2017-02-06 12:29] r00ger opened #112 "Constant enums are not compiled"
Hi guys. Imagine I have `tsconfig.json` like
[code]

and i have constant enum in `src/data.d.ts`
[code]

then simply `src/index.ts`
[code]

`tsc`'s output for `index.ts` is `exports.Bar = 1 /* Bar */;` but in `indexSpec.tsx`
[code]
I've got `ReferenceError: Foo is not defined`. Is it possible to make this work?

[2017-02-06 12:34] tkrotoff commented on #90
@kulshekhar this shouldn't be closed until the workaround is documented in README.md: this will save others a lot of troubles

[2017-02-06 13:11] Igmat commented on #61
@rfgamaral, I'm very sorry - but right now I very busy with my main work and can't spent a lot of time to this one. I'll definitely will go trough all issues in this repo later, may be in two week or month. Sorry for such a big delay...

[2017-02-06 13:36] asfernandes commented on #90
Note that due to dependency chain, the mock calls must be in the file start and not just before each import.

I had this case (note it does not mock exactly the imported file, but one of its dependencies) and just putting mock before the import didn't solved.

[code]

[2017-02-06 13:51] rfgamaral commented on #61
@Igmat It's understandable, we all have day jobs :) Thanks for replying back.

[2017-02-06 13:52] kulshekhar commented on #112
Would it be possible for you to create a small repo that can reproduce this issue?

[2017-02-06 13:56] bhouser commented on #90
@asfernandes I'm not sure I understand exactly what you mean.  Are you saying, all mock calls must be before the first import statement?

[2017-02-06 14:25] asfernandes commented on #90
For my case it worked putting before the first import, but I have only 3 test cases. Is it neccessary to be in the start? I don't know, but for sure it didn't worked after some imports unrelated to what I was mocking.

[2017-02-06 17:27] r00ger commented on #112
Please check `tsc` and `npm t` in the repo above @kulshekhar

[2017-02-06 18:25] kulshekhar commented on #112
I just browsed through the linked repo. Isn't this more of a Typescript issue than something that's `ts-jest` specific?

[2017-02-07 10:13] r00ger commented on #112
Can be. I'll take a closer look during this week. Let's keep it open

[2017-02-07 14:40] japhar81 opened #113 "Not generating remapped with jest ^18.1.0"
I just updated my project to `jest@^18.1.0` and `ts-jest@^18.0.0`, and suddenly my coverage isn't creating a remapped directory. This was working fine with `jest@^17.0.3` and `ts-jest@^17.0.0`. The only change has been version updates.

package.json:
[code]

and my config;
[code]

[2017-02-07 15:07] kulshekhar commented on #113
Would it be possible for you to create a minimal repo that reproduces this issue?

[2017-02-07 15:20] japhar81 commented on #113
It's not quite minimal, but clone https://github.com/japhar81/redux_apigw -- `npm install && npm run client:test` will show the behavior.

[2017-02-07 15:29] kulshekhar commented on #113
A minimal repo helps focus debugging efforts and minimizes the chances of getting lost in unrelated code. That's why it's very helpful in getting issues resolved quickly. As an example, whenever someone shares a minimal repo, I can take a look at it as soon as I have a 5-10 minute window.

What you've shared is obviously the next best thing but I'll only be able to test that when I can carve out a

[2017-02-07 15:37] japhar81 commented on #113
I can try to strip it down, but most of the heft is from making TS work, im not sure it'll actually simplify. I do suspect this change in jest is the problem;
[code]

Reason i say that is I added a console.log in `coverageprocessor.js` right after `function processResult(result) {` and it looks like processResult isn't getting invoked at all.

[2017-02-07 15:50] kulshekhar commented on #113
are you using `--no-cache`?

[2017-02-07 15:51] japhar81 commented on #113
yes indeed: `./node_modules/.bin/jest --config ./jest.client.json --no-cache`

[2017-02-08 09:22] r00ger commented on #112
@kulshekhar you right, [this is default behaviour](https://github.com/Microsoft/TypeScript/issues/5243). So It shouldn't substitute constant enums even it it's `<reference />`d or defined in the same file

[2017-02-08 09:22] #112 closed

[2017-02-08 10:14] rpadovani commented on #104
So, after reading #113 I tried to downgrade the module and now it works, so my problem is the version of jest

[2017-02-08 11:29] rfgamaral commented on #104
Tried downgrading and it worked for me to:

[code]

This issue and #113 should probably be merged into one. Not sure which should prevail :D

[2017-02-08 11:30] rfgamaral commented on #113
I have the same issue too, downgrading Jest worked for me. This is probably the same issue as #104.

[2017-02-08 15:53] jbrantly commented on #63
BTW, I think this issue is bigger than just JSX. There are a lot of other things that Babel can do beyond just JSX (for instance, the actual implementation side of "allowSyntheticDefaultImports"). I tend to use TypeScript for type-checking and Babel for transpilation for this reason.

Additionally, while I was able to easily chain TypeScript and Babel using a custom preprocessor, I can't quite get

[2017-02-08 16:14] japhar81 commented on #113
Ok, I've been digging more.. https://github.com/kulshekhar/ts-jest/blob/master/src/preprocessor.ts#L18 is getting undefined for `testResultsProcessor`. Not sure why yet.

[2017-02-08 19:02] bumbleblym commented on #104
[Here's my minimal repro](https://github.com/bumbleblym/ts-jest-104).

Rename `src/client/redux/reducer.test.ts` to `src/client/redux/reducer.test.ts.tmp` and the remapped folder is generated.

[2017-02-08 19:11] bumbleblym commented on #104
It also ignores the [CLI config option](https://facebook.github.io/jest/docs/cli.html#config-path) and uses the configuration in package.json, if any.

[2017-02-09 02:06] japhar81 commented on #113
I can't explain this, but while trying to debug, i discovered that --runInBand solves it for some reason?

[2017-02-09 02:21] kulshekhar commented on #113
I'm hoping that once jest#2290 is done, `ts-jest` will be able to leverage that for more reliable coverage reports. That will probably address a lot of coverage related issues that are currently open!

[2017-02-09 02:22] kulshekhar commented on #104
I'm hoping that once facebook/jest#2290 is done, `ts-jest` will be able to leverage that for more reliable coverage reports. That will probably address a lot of coverage related issues that are currently open!

[2017-02-10 02:49] tomitrescak opened #114 "Sourcemaps do not work"
Thanks for the nice package. I have issues making sourcemaps work. I have tried adding --no-cache but I'm still getting error lines of transpiled source (or did I miss anything that console errors should be mapped to correct line?)

Here is my package.json

[code]

And here is the tsconfig.test.json

[code]

[2017-02-10 04:44] kulshekhar commented on #114
can you create a minimal repo that reproduces the issue you're facing?

[2017-02-21 18:23] kulshekhar commented on #114
closing due to lack of response. If this needs to be reopened, let me know

[2017-02-21 18:23] #114 closed

[2017-02-21 18:32] kulshekhar commented on #113
I've just upgraded ts-jest to use the latest version of jest (19.0.0). In the process, I came across a similar issue and fixed it. Can you please check if the latest version resolves this issue?

[2017-02-21 18:32] kulshekhar commented on #104
I've just upgraded ts-jest to use the latest version of jest (19.0.0). In the process, I came across a similar issue and fixed it. Can you please check if the latest version resolves this issue?

[2017-02-21 18:41] japhar81 commented on #113
jest@19.0.0, @types/jest@18.1.0,ts-jest@19.0.0 -- works fine with `--runInBand`, but no remapped directory without `--runInBand`

[2017-02-21 19:36] bumbleblym commented on #113
i have the same experience as @japhar81; remapped directory is only generated with --runInBand on jest/ts-jest@19.0.0

[2017-02-23 15:05] skurgansky-sugarcrm opened #116 "Parsing algorithm of jest config from package.json swallows errors"
If you add `browser: "true"` in jest config in package.json you will get error that config is undefined.  When the real error is swallowed by utils.ts/getJestConfig
https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L66

[2017-02-23 15:17] kulshekhar commented on #116
@kwonoj do you recall if there was any particular reason this was done this way?

[2017-02-23 19:10] kwonoj commented on #116
If I remember correctly I borrowed those logics from impl of jest (around 16) to parse their own config.

[2017-02-24 06:19] #116 closed

[2017-02-27 19:53] skurgansky-sugarcrm commented on #46
don't forget to define props in tsconfig.json
    "sourceMap": true,
    "inlineSourceMap": true,
ts-jest puts source-maps in file. ts doesn't know where your source maps are. by default it's not inline. So you have to set it in tsconfig

[2017-02-28 16:51] tkrotoff commented on #114
@kulshekhar and what about providing an example with ts-jest GitHub repo? this is common practice.
This will help people understand how to setup ts-jest and play with it. As of myself, I went back to run `tsc` as a pre-task and could not see any benefit to ts-jest due to the lack of a clear and simple working example, see https://github.com/kulshekhar/ts-jest/issues/46#issuecomment-276630132

[2017-02-28 20:11] kulshekhar commented on #114
@tkrotoff there are tests in the repo that can help understand how to use `ts-jest`. These tests cover a lot of scenarios. In any case, if you think there's something that can be added that would improve this package, PRs are most welcome :)

[2017-03-01 14:07] tkrotoff commented on #114
@kulshekhar

Tests are not user friendly, examples are.

See PR #118

[2017-03-01 14:26] kulshekhar commented on #114
@tkrotoff can't argue with that

[2017-03-02 12:10] MichalCafe opened #120 "jest.mock() makes module undefined when importing it no matter what we return in factory function"
**./src/StatelessComponent.tsx**
[code]

**./src/ChildComponent.tsx**
[code]

**./\_\_tests\_\_/StatelessComponent.test.tsx**
[code]

When running the test in TS, `ChildComponent` is undefined.
When running the test in ES6, `ChildComponent` is defined.

Can be related to this issue in Jest repo: https://github.com/facebook/jest/issues/2984

[2017-03-02 13:30] bhouser commented on #120
Ok I have a solution (actually my genius coworker found it).

It appears to have something to do with the way `import`/`export` behaves in Typescript compared to ES6.

Instead of this:
[code]
Do this:
[code]

I guess `default export` in ES6 allows the exported value to be imported directly, but Typescript creates a named export called "default".  So your mock needs to be an object with a `default`

[2017-03-02 13:35] bhouser commented on #120
Maybe we can update the ts-jest documentation to warn users about the differences in mocking compared to ES6?

[2017-03-04 16:23] rfgamaral commented on #113
I've updated my packages:

[code]

And I'm still having issues.

@kulshekhar I can't get a minimal repo working but I can give you access to my private repo (it's a small project) demonstrating this problem if you're interested.

[2017-03-05 05:57] kulshekhar commented on #113
@rfgamaral I'm seriously considering rewriting the entire thing because there are parts of ts-jest, like coverage, that I'm not familiar with (these were contributed by the community).

The only problem I'm facing is shortage of time :(

I do have this issue on my list of things to do so when I get around to it, I'll ping you for access. Would that be fine?

[2017-03-05 11:06] rfgamaral commented on #113
@kulshekhar Yeah, no problem, whenever you need :)

[2017-03-06 18:05] alexjoverm opened #121 "Not processing correctly when using es2015 modules"
Relates to #99

When using es2015 modules (necessary for example for tree-shaking), ts-jest throws an error not recognizing `import` statement. Such configuration can be:

[code]

But when you use commonjs modules, it works

[code]

**How to reproduce**

[code]

It will throw a `SyntaxError: Unexpected token import`

Now go to `tsconfig.json` and add `"module": "commonjs"` to the `compilerOptions`

[2017-03-06 19:02] kulshekhar commented on #121
I followed your instructions and `npm t` executed successfully.

What version of node are you using?

[2017-03-06 19:18] alexjoverm commented on #121
Sorry, forgot to update the actual test.

Can you try again? Just update library.test.js with:

[code]

[2017-03-06 19:29] kulshekhar commented on #121
try adding the following in the `jest` block in your `package.json`:

[code]

[2017-03-06 19:33] alexjoverm commented on #121
Yep, I fixed it by adding the first thing. The `export default class DummyClass` just works fine. But still I thought this is an issue. That solution looks more like a workaround than a fix IMO

[2017-03-06 19:36] kulshekhar commented on #121
It's not a workaround.

The output of `ts-jest` is fed to jest for further processing and jest doesn't understand `import`. There's nothing else we can do in the preprocessor.

[2017-03-06 19:41] alexjoverm commented on #121
Ok, understood. I think I've done it in jest but you need babel-jest and all that stuff if I remember correctly.

If that's the case, probably is better to add it to https://github.com/kulshekhar/ts-jest#known-limitations-for-ts-compiler-options?? Then other people don't stumble into the same issue

[2017-03-06 19:50] kulshekhar commented on #121
I can understand adding babel in the final compilation (for production) stage but all adding babel in `ts-jest` will do is slow down testing. I really don't see any need to add babel here. I'm not sure what the drawback of using `commonjs` as module (only during testing) is.

This isn't really a limitation of the ts-jest or of typescript. Either will happily process any valid module. The error was

[2017-03-08 06:21] #121 closed

[2017-03-10 07:26] bumbleblym commented on #113
don't think i can minimze [my repro](https://github.com/bumbleblym/ts-jest-104) any further.

it has 2 files/tests; running `npm run test:series` (with the `jest -i` flag) generates the remapped folder, while `npm run test` does not.

you can also reproduce the issue by having an empty `index.ts`, and `a.test.ts`/`b.test.ts` containing just:
[code]
, though this might be an unrelated pathological

[2017-03-10 10:44] alexjoverm commented on #121
Hey @kulshekhar, sorry I've been away some days.

I didn't mean using Babel, I was just saying, forget about that :P

IMO, it is a responsability of ts-jest. I mean, the error is triggered from jest, but is caused by the compilation from TS to JS.

For me, 2 possible solutions:
 - What you said sounds good, although I don't know if that could break something. I assume you know that better :)
 - At

[2017-03-10 10:47] alexjoverm commented on #121
I could help here if you need btw

[2017-03-10 10:57] kulshekhar commented on #121
@alexjoverm  The way I see it, what happens between ts-jest and jest shouldn't be the user's concern. So while currently they can set the `module`, ideally they should have to do nothing beyond indicating the preprocessor & patterns.

I can't think of a drawback of hard-coding `commonjs` in there. We're [currently setting](https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L81) this if

[2017-03-10 11:01] alexjoverm commented on #121
I agree with your point of view. Sure, I'll take a look this weekend and go for it. Should we re-open the issue then?

[2017-03-10 11:49] kulshekhar opened #122 "Hardcode 'module' to 'commonjs' for testing"
to prevent confusion and reduce the required configuration

[2017-03-10 11:50] kulshekhar commented on #121
I've added another issue to track this - #122

[2017-03-10 20:15] #122 closed

[2017-03-14 08:02] joscha opened #127 "Transpile transformers"
Using module mappers and transformers with ts-jest is currently not straightforward.

Whilst module mappers can be made to work by using a `.ts`-based mapper, transformers need some extra massaging (transpilation inside to get the commonjs format right, passing on `__TS_CONFIG__`) to get it to work. I created an example for both here: https://github.com/joscha/ts-jest-transformer-example, however

[2017-03-14 08:28] kulshekhar commented on #127
@joscha I couldn't understand the use cases here. Could you please elaborate

[2017-03-14 08:45] joscha commented on #127
The transformer examples here: http://facebook.github.io/jest/docs/tutorial-react.html#custom-transformers and the current mock examples: http://facebook.github.io/jest/docs/webpack.html#handling-static-assets do not work out of the box with `ts-jest` - probably a combination of using JS and the `commonjs` module exports that jest needs.
Writing module mappers in TS solves the problem for these, e

[2017-03-14 08:52] kulshekhar commented on #127
what changes in ts-jest can address this?

Also, I'm not quite sure why another transformer is needed

[2017-03-14 11:00] joscha commented on #127
@kulshekhar I opened #128, this should allow me to write an additional package that exports https://github.com/joscha/ts-jest-transformer-example/blob/master/tools/TsJestTransformer.js which can the be used OOTB to write transformers for `jest` with `ts-jest` easily.

[2017-03-14 12:02] #127 closed

[2017-03-14 12:36] joscha commented on #127
This can be done using https://github.com/joscha/ts-jest-transformer now.

[2017-03-15 14:40] RPDeshaies opened #130 "Getting "__decorate is not defined" when importing Angular 2 Components"
Because they are using the "@Component" decorator

[code]

[2017-03-15 15:13] kulshekhar commented on #130
Can you create a minimal repo that reproduces this issue? It'll help speed up debugging and fixing

[2017-03-15 15:14] RPDeshaies commented on #130
I'll see what I can do

[2017-03-15 15:50] RPDeshaies commented on #130
Here it is : https://github.com/RPDeshaies/test-jest-decorator

So `npm start` works and compile correctly

But `npm run test:watch` crashes with this error :

[code]

[2017-03-15 16:12] kulshekhar commented on #130
Try adding the following section in your `package.json > jest` section:

[code]

I've also sent a PR to your test repo with this change

[2017-03-15 17:10] RPDeshaies commented on #130
You fix works when using `jest` or `jest --watch`.

But the errors is still happening when using `jest --coverage`

So the task `npm test` in my Repo

[2017-03-15 17:11] kulshekhar commented on #130
that's probably because it's using the cache. Could you try with `npm test -- --no-cache`

[2017-03-15 17:15] RPDeshaies commented on #130
There's a cache :O ?

You are right, everything is fixed now.

Thanks a lot for your help

[2017-03-15 17:15] kulshekhar commented on #130
no problem :)

[2017-03-15 17:15] #130 closed

[2017-03-16 21:07] japhar81 commented on #113
@kulshekhar I'm close to a fix, but I can not find a way to test effectively.. do you have a workflow you use to debug this somehow? I can't figure out how to debug ts-jest when its being invoked by jest. If I could get some breakpoints I'd have a PR ready in no time.. console.log is not a great way to do this.. any suggestions?

[2017-03-16 21:33] kulshekhar commented on #113
@japhar81 tbh, I'm not very familiar with the part that does coverage (I don't use coverage). I'm trying to find a couple of days of time where I can look at the entire thing and see if it can be better implemented to use the new change in jest!

[2017-03-16 21:54] japhar81 commented on #113
Here's the problem; when not using `--runInBand` jest uses worker-process. When it does, the argv ts-jest sees here: https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L10 is actually;

[code]

so it can't find the config.

[2017-03-16 22:03] japhar81 commented on #113
@kulshekhar its not the coverage thats the problem :) It's actually the worker-process and getting the jest config. Coverage just happens to be the symptom. I'm willing to bet it's not actually reading my config for tsconfig.json location either. I suspect we need to find a different way to read the config.

[2017-03-16 22:08] kulshekhar commented on #113
@japhar81 if you're sure about this, do you think it should be tracked in a new issue?

[2017-03-17 14:17] japhar81 commented on #113
@kulshekhar I'm pretty confident, but i want to do a bit more digging. The lack of debugging options beyond console.log is really killing me on this one

[2017-03-17 19:27] japhar81 commented on #113
@kulshekhar PR is in for a fix -- https://github.com/kulshekhar/ts-jest/pull/132

[2017-03-18 18:16] calebmer opened #133 "allowJs does not compile JavaScript files"
- Issue

I want to configure `allowJs` to be true in my tsconfig and allow `ts-jest` to transform it in my `transform` map by using:

[code]

- Expected behavior

My JavaScript tests will be transformed with TypeScript.

* * *

Let me know if you want a reproduction, but it looks like the fix would simply be including `js` here: https://github.com/kulshekhar/ts-jest/blob/e539f77e5bfb45f006860fef3f

[2017-03-18 18:45] kulshekhar commented on #133
Yes, if `allowJs` is set, that check should allow the `js` extension. I'm marking this as a bug. Thanks for reporting this!

[2017-03-18 20:28] #133 closed

[2017-03-18 20:32] kulshekhar commented on #133
@calebmer I've published a new version. Could you please check if the fix works for you

[2017-03-18 20:35] kulshekhar commented on #113
Fixed by #132

[2017-03-18 20:35] #113 closed

[2017-03-18 20:38] kulshekhar commented on #104
I've just published a new version on npm thanks to #132

@rpadovani can you check if this has fixed this issue for you

[2017-03-18 20:52] kulshekhar commented on #42
Closing in favor of #101

[2017-03-18 20:52] #42 closed

[2017-03-18 20:52] kulshekhar commented on #97
Closing in favor of #101

[2017-03-18 20:52] #97 closed

[2017-03-18 21:02] kulshekhar commented on #103
Closing this.

If this is still an issue and if there is a minimal repo that can reproduce this, this issue can be reopened

[2017-03-18 21:02] #103 closed

[2017-03-19 10:36] rfgamaral opened #136 "Latest version (19.0.2) does not generate coverage for me (errors)"
I've updated to latest version due to #132 which supposedly fixes issues with my project like #104), but now I can't even generate any coverage. The process fails with errors.

Under my app source code folder I have a `typings` folder where I place custom `*.d.ts` files so that TypeScript finds all the types for my code. I currently have 3 of these `*.d.ts` files and generating coverage with `ts-j

[2017-03-19 10:48] kulshekhar commented on #136
That would be useful to debug this

[2017-03-19 12:27] danieldiekmeier commented on #104
@kulshekhar The latest version did indeed solve the issue for me. Thank you for the fix and for this project in general! :)

[2017-03-19 12:32] kulshekhar commented on #104
@danieldiekmeier You're welcome!

@japhar81 is the one who deserves all the credit for this fix though :)

[2017-03-19 13:13] rpadovani commented on #104
Thanks :) I am out of office until Wed, I'll try it asap and if it works I'll close the bug :)

[2017-03-19 14:28] mbeauchamp7 commented on #104
I don't need to use the `--runInBand` flag to make the code coverage work! :tada:

[2017-03-20 00:54] rfgamaral commented on #136
@kulshekhar Just added you as a collaborator to the project. Please look into the `ts-jest` branch :)

[2017-03-20 06:25] kulshekhar commented on #136
@rfgamaral thanks. I ran a quick test and it seems that the only tests that are failing are failing due to path separator mismatch. I'm posting the log as an issue in your repo

[2017-03-20 06:31] kulshekhar commented on #136
I've added a new file (`tsjest-log.txt`) in the `ts-jest` branch with the logs

[2017-03-20 10:31] rfgamaral commented on #136
@kulshekhar That's a different issue which I have yet to understand why it happens because it doesn't happen all the time.

Try to run `npm test -- --coverage`, that will give you the errors I mentioned above. Sorry, should have mentioned this before.

[2017-03-20 11:28] kulshekhar commented on #136
That's probably caused due to different path separators on Windows & Linux

I was able to replicate this issue. The solution was to ignore the `typings` folder. I've updated the `ts-jest` branch. Try giving it a shot now

[2017-03-20 19:14] rfgamaral commented on #136
Yep, that was it. Thanks very much for your help :)

[2017-03-20 19:14] #136 closed

[2017-03-20 19:16] rfgamaral commented on #104
I no longer have this issue with the latest published version. Thanks everyone involved :)

[2017-03-20 19:37] calebmer commented on #133
Thank you @kulshekhar!

[2017-03-22 12:35] rpadovani commented on #104
Indeed it works like a charm right now :)

Thanks for your work @kulshekhar and @japhar81 !

[2017-03-22 12:35] #104 closed

[2017-03-23 18:31] wilomgfx commented on #120
+1000

[2017-03-23 20:51] wilomgfx opened #137 "Fails to import modules inside imported module from tests"
- Issue
![image](https://d3uepj124s5rcx.cloudfront.net/items/2F3P1f0d0H063s1F070I/Image%202017-03-23%20at%2011.26.22.png?v=5c4cef40)
When ever i link a module from my typescript source files, it seems like the modules inside that said imported module are not imported.

Heres an example test

[code]

My config

[code]

To make it work i have to import my compiled javascript from my build folder

[c

[2017-03-23 21:28] tebeco opened #138 "ts-jest not created when it does not exist and then coverage crash"
- Issue

test run & pass but i've got an error (probably when coverage is ran)
"No such file or directory" when running jest

- Expected behavior

ts-jest should create a folder `ts-jest` in `cacheDirectory` if it does not exists

i think i'm expriencing the same issue
[code]

[code]

the folder `C:\Users\xxx\AppData\Local\Temp\jest\` exist but not the subfolder `ts-jest`
if i create it manually t

[2017-03-23 22:23] jonaskello opened #139 "Comments in tsconfig.json"
- Issue

Typescript allows [comments in tsconfig.json](https://github.com/Microsoft/TypeScript/issues/4987). When I started using ts-jest it did not like my comments. I know JSON itself does not allow comments but it would be nice if ts-jest could follow typescript on this.

Specifically I got this error:

[code]

- Expected behavior

Comments OK in tsconfig.json.

- Proposed solution

I think one

[2017-03-24 00:55] kulshekhar commented on #137
please create a minimal repo which reproduces this issue

[2017-03-24 00:55] kulshekhar commented on #138
please create a minimal repo which reproduces this issue

[2017-03-24 07:18] tebeco commented on #138
I cannot push the repo like that
I hope I'll try to create a small one

Also when I try to run --coverage --no-cache it seems that typescript is not transpilled but not sure of that last one

[2017-03-24 07:56] #13 closed

[2017-03-24 07:58] #30 closed

[2017-03-24 07:58] #37 closed

[2017-03-24 07:58] #48 closed

[2017-03-24 07:59] #79 closed

[2017-03-24 08:00] #68 closed

[2017-03-24 08:02] #63 closed

[2017-03-24 08:02] #53 closed

[2017-03-24 09:45] kulshekhar commented on #139
@jonaskello thank you for reporting this and proposing a solution. The fix is in and has been published.

[2017-03-24 12:30] jonaskello commented on #139
@kulshekhar Thanks for the quick fix, now I can add my comments back in :-).

[2017-03-24 14:36] wilomgfx commented on #137
There you go : https://github.com/wilomgfx/js-test-import-issue-repo

As soon as i import a module from npm (in this case react-native-i18n just like in my real app) it won't import it properly causing an undefined error.

[2017-03-24 15:15] kulshekhar commented on #137
@wilomgfx the import is incorrect. Use

[code]
I've sent a PR to your repo.

[2017-03-24 15:21] wilomgfx commented on #137
Oh waow, thanks! Indeed. Kinda strange that it worked even if i was not importing everything from the said package when building up for the app. Thanks a lot :P

[2017-03-24 15:21] #137 closed

[2017-03-24 22:45] jonaskello commented on #139
I tested some more and found one case where it does not work. If you have extends in `tsconfig.json` then it uses regular require, please see this [line](https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L80). So in the base tsconfig comments does not work yet.

[2017-03-25 07:27] #139 closed

[2017-03-25 07:39] kulshekhar commented on #139
@jonaskello thanks again! The fix is in and published

[2017-03-25 12:14] jonaskello commented on #138
I have the same issue and I made a [minimal repo to reproduce](https://github.com/jonaskello/ts-jest-coverage-repro).

[2017-03-25 12:24] kulshekhar commented on #138
@jonaskello I did `npm install` and `npm test -- --no-cache --coverage` and got the following result:

[code]

[2017-03-25 12:40] jonaskello commented on #138
Hmm.. strange, here is what I get if a start fresh and re-clone the repo:

[code]

I'm doing this on macOS. I also get the same error on my CI server that is running ubuntu.

[2017-03-25 13:21] jonaskello commented on #138
If I manually create the missing dir I don't get the error.

@kulshekhar Perhaps you already have this dir from some earlier versions where it worked and the dir was created. Could you try to remove your jest temp dir and try again? (I am new to jest so I am not sure how you can find where your temp dir is though but I guess you know how to find it?).

Here are my results if I manually create the

[2017-03-25 13:27] tebeco commented on #138
@kulshekar can you please describe :
Your OS
Node version
Npm version
Remove the ts-jest folder that is inside the cache Directory

[2017-03-25 13:57] jonaskello commented on #138
I pushed some changes to my reproduction repo in order to make it produce coverage reports. I also deleted my full jest cache dir `rm -rf /var/folders/x9/80kcdvw148n5glkvr51w7fm80000gn/T/jest/`. Now it does not throw the error anymore but coverage is unkown.

[2017-03-25 14:01] kulshekhar commented on #138
@tebeco Mint (~Ubuntu 16.04), v6.10.1, 3.10.10

Which cache directory are you referring to?

[2017-03-25 14:06] jonaskello commented on #138
I think @tebeco is refering to the cache directory used by [this line](https://github.com/kulshekhar/ts-jest/blob/188be98b778f8c5221984eebe12890734e5aeafd/src/preprocessor.ts#L19). It is set on `config.cacheDirectory` in there. Not sure how to find it in another way.

[2017-03-25 15:09] kulshekhar commented on #138
Here's a suggestion - if you have the code that reproduces this issue in a repo, add travis to it. We'll then have a common reference point using which we can take this forward.

[2017-03-25 15:12] jonaskello commented on #138
@kulshekhar I made some changes to my repo in order to make it easier to reproduce. Now it shows you the cache dir and you can copy a command and run it to remove it. If you pull my repo and run this I think you will see the issue:

[code]

[2017-03-25 15:29] jonaskello commented on #138
@kulshekhar And also added [travis](https://travis-ci.org/jonaskello/ts-jest-coverage-repro) as requested :-).

[2017-03-25 15:55] tebeco commented on #138
@kulshekhar please upgrade your node and npm version
It might be related
The use of 'fs' and bugs often comes in pair with node/ npm

[2017-03-25 15:57] tebeco commented on #138
I do understand you use LTS even thought it should be clarified

[2017-03-25 16:22] kulshekhar commented on #138
@jonaskello thanks! I've sent a PR to add more versions of node to travis to identify whether this is a version specific issue.

@tebeco  I prefer keeping the latest LTS version on my dev machine.

[2017-03-25 17:45] tebeco commented on #138
Can you try with updated version of node and npm ?
You'll rollback to LTS
Maybe we'll be fixed also you might be able to reproduce

[2017-03-25 17:48] jonaskello commented on #138
@tebeco The travis tests are now running multiple versions of node and they all fail.

[2017-03-25 21:37] #138 closed

[2017-03-25 23:08] jonaskello commented on #138
@kulshekhar Thanks, now the error is gone in my repo!

Though I still get "Unknown" for all the coverage. I think the config should be correct according to the readme. Would appreciate if you could take a look and see if it is something with the [config](https://github.com/jonaskello/ts-jest-coverage-repro/blob/master/test/jest.config.json) or if I should look elsewhere.

[2017-03-28 22:33] dphilipson opened #146 "Forced commonjs breaks synthetic default imports"
- Issue

My React Native code writes imports as follows:
[code]
This works fine in the app, but fails in Jest with the error `Cannot read property 'Component' of undefined`. This seems to be because while my app's tsconfig has `"module": "es6"` and relies on Babel to convert the import statements, `ts-jest` forces `commonjs` which translates this to
[code]
which is of course wrong. Until recently,

[2017-03-29 07:09] kulshekhar commented on #146
@dphilipson `commonjs` was hardcoded in because using other `module` settings caused the coverage to stop working (#99, #121)

If you have a suggestion that allows your requirements to be met without breaking the other parts, I'd be happy to help take this forward.

[2017-03-29 17:14] kamek-pf commented on #90
This workaround doesn't work if you need to mock one specific function of a module though.
Small repro :

[code]

[code]

[code]

Still, maybe I'm missing something. Any bright ideas ?

[2017-03-30 21:23] mbeauchamp7 opened #149 "Upgrading from 19.0.2 to 19.0.6"
After upgrading I ran the coverage and got an Unhandled promise rejection at the end of the coverage saying it can't find the file </path to root><C:// path to coverage.txt>. It didn't seem to break the coverage but wanted to let you know. I know there's been a couple of PR's accepted in the last couple of days, but couldn't pinpoint which one it was.

Would be great to release the versions to mat

[2017-03-31 06:59] kulshekhar commented on #149
@mbeauchamp7 thanks for reporting this!

Would it be possible for you to create a minimal repo that reproduces this? That'll help:

- fix this issue
- add tests for this scenario so that it doesn't happen with future changes

[2017-04-01 16:36] mbeauchamp7 commented on #149
Hi @kulshekhar ,

I installed version by version untill I pin pointed which version was making this happen and it started at version 19.0.5

I looked at every PRs from that day and my guess is it's coming from the `remap-instanbul` dependency update. I red the latest release (0.9.5) and they seemed to have changed some stuff with remapping filenames.
Resulting into this : `'C:\Users\<User>\Source\

[2017-04-03 11:52] jugglingcats opened #150 "Sourcemap support when debugging (Intellij IDEA / Webstorm / others)"
When debugging Jest tests in IDEA I set breakpoints but they are never triggered. I assume this is related to sourcemaps somehow.

Jest correctly gives Typescript filename+line when reporting errors / expect failures, so at this level sourcemaps are working.

This is more of a request for help than bug report. Do people have debugging fully working in your preferred IDE when running Jest tests?

F

[2017-04-03 12:24] kulshekhar commented on #150
If there's a minimal repo that I could use to test this with WebStorm/IDEA, I could look into this much earlier than if I had to set a project up from scratch. It would also help me replicate your settings exactly if you include the `.idea` directory in git

[2017-04-03 13:07] jugglingcats commented on #150
Hi @kulshekhar, thanks for response. Here is a link to minimal test project: https://github.com/jugglingcats/ts-jest-idea

[2017-04-03 14:22] kulshekhar commented on #150
Modifying the default debug config in idea to run `Compile Typescript` before launch got this working.

![ts-jest-idea](https://cloud.githubusercontent.com/assets/10780624/24613730/ceef5896-18a6-11e7-8ece-71044785f3a8.png)

[2017-04-03 14:38] jugglingcats commented on #150
Interesting, I tried that and it's not working for me. No breakpoint hit.

[2017-04-03 14:46] kulshekhar commented on #150
I just noticed that you use the `Run` button (play button). I used the `Debug` button (bug button)

[2017-04-03 15:16] jugglingcats commented on #150
I'm using the debug button ;)

Out of interest are you initiating the test run from the `.ts` file or the `build\test.spec.js` file?

I am able to set a breakpoint in the `.ts` file and it will fire correctly _if I initiate the test from the `.js` file_. But in this case the pre-processor is not invoked, so ts-jest is not involved, if I understand correctly.

It seems like when you run using the p

[2017-04-03 15:31] kulshekhar commented on #150
In my configuration, I set Jest to run on the entire project. I don't think (for the way I have set it up) it matters where debugging is initiated from. Here are the exact steps I took:

1. `git clone https://github.com/jugglingcats/ts-jest-idea`
2. `cd ts-jest-idea`
3. `yarn install`
4. Open the project in WebStorm
5. Create a configuration (`Run > Edit Configurations`)
6. Add a `Jest` configurat

[2017-04-03 15:43] jugglingcats commented on #150
Ah, ok, that is working for you because you are matching both the `.ts` sources and the `build/*.js` generated files. You can see this because 2 test suites are passed!

When you are running the `build/test.spec.js` file you have the generated sourcemaps too, so your breakpoint in the `.ts` file is working.

[2017-04-03 15:48] kulshekhar commented on #150
It appears to me that if there's a solution to what you want, it is likely somewhere in Webstorm's configuration/support and not ts-jest :)

[2017-04-03 15:51] jugglingcats commented on #150
I tried a couple of things and got a strange behaviour:
- Removed the pre-processor config in `package.json`
- Added `test2.spec.js` alongside `test.spec.ts` with same content (note the `.js` extension)

The original `test.spec.ts` is actually valid ES6, so pre-processor is not actually needed.

I also removed Typescript Compile build step and deleted `build` so it no longer exists.

Now when I de

[2017-04-03 16:01] jugglingcats commented on #150
Back to sourcemaps...

I added the pre-processor back in, and I've also added custom `cacheDirectory` parameter to see what is being generated more easily.

The following file is generated:
[code]

Note that I still haven't added Compile Typescript back in the run configuration (no `build` directory exists). Even if build files were there, the sourceMappingURL has no relative path and so probably

[2017-04-03 16:12] jugglingcats commented on #150
Sorry just saw your last comment. I think the sourcemap location issue is potentially fixable in ts-jest, assuming the facility is there for you to specify a relative path. Determining the correct relative path may not be trivial though. You would need the `outDir` from `tsconfig.json`, but there are other nuances: for example, `tsc` does clever things to prune unnecessary levels in the source str

[2017-04-03 16:22] kulshekhar commented on #150
If this is the case, it'd be great to update ts-jest. I'd be happy to take a PR if you want to give it a shot :smile:

[2017-04-03 17:12] jugglingcats commented on #150
Heheh I found your previous question to the Jest devs here: https://github.com/facebook/jest/issues/1474.

That gave me a clue about inline sourcemaps, so I added `inlineSourceMap: true` to my `tsconfig.json` and it all started working!

This config setting causes the sourcemap to be emitted right into the target file using the `data:application/json` url protocol.

It would be nice if ts-jest did

[2017-04-03 17:31] kulshekhar commented on #150
@jugglingcats if that worked then setting that value in [jest config](https://github.com/kulshekhar/ts-jest#options) should also work. Could you try that?

[2017-04-03 17:42] kulshekhar commented on #150
@jugglingcats you're right! Setting `inlineSourceMap: true` in the jest config did the trick. I didn't even have to set the config to run typescript compilation :smile:

I'm going to leave this open till I can add tests for this and set this value if it hasn't been explicitly set by the user. That should prevent others from facing this issue!

[2017-04-03 17:44] kulshekhar opened #151 "Set inlineSourceMap to true if it hasn't been explicitly set by the user"
- Issue

This causes the developer experience to be less than optimal, as described in #150

- Expected behavior

IDE debugging should be seamless

- Link to a minimal repo that reproduces this issue

https://github.com/jugglingcats/ts-jest-idea

[2017-04-03 17:45] kulshekhar commented on #150
Actually, it'll be better to track this is a new issue - #151

@jugglingcats is it fine if this issue were closed?

[2017-04-03 17:46] jugglingcats commented on #150
It worked for me too. Example project and readme updated. Many thanks - we're done here.

[2017-04-03 17:46] #150 closed

[2017-04-04 00:03] dphilipson commented on #146
Ah, I see, that's a good reason for doing so. Still, it would be nice to have the option to manually override if I don't care about coverage. Perhaps if `module` is explicitly set to something else in the `__TS_CONFIG__` jest global then it should use that value?

[2017-04-04 06:27] #146 closed

[2017-04-04 06:30] kulshekhar commented on #146
@dphilipson the fix has been published. Can you see if the latest version works for you?

[2017-04-04 06:32] kulshekhar commented on #149
@mbeauchamp7 I've been unable to replicate this issue. I'm closing this now but it can be reopened if there's a way to replicate it.

[2017-04-04 06:47] dphilipson commented on #146
@kulshekhar This works perfectly and solves my problem. Thank you very much for the quick response, I really appreciate it!

[2017-04-04 12:04] jugglingcats opened #154 "Generated code different to tsc output using ES6 - for...of iterator issue"
- Issue

Iterators are not handled correctly when targetting ES6.

When using `"target": "es6"` in `tsconfig.json`, when you run `tsc` the generated Javascript does not do anything clever with `for (x of y)` loops (iterators) since these are supported natively in ES6.

When running using ts-jest, the cache output looks like this:

[code]

Iterators do not have a length property, so this code does

[2017-04-04 12:07] jugglingcats commented on #154
Arghh, this is due to __TS_CONFIG__ added to `package.json`. Seems this overrules `ts-config.json` completely!

[2017-04-04 12:12] jugglingcats commented on #154
It would be nice if TS_CONFIG merged inline settings with `tsconfig.json` but it's clear enough what is happening. My mistake

[2017-04-04 12:12] #154 closed

[2017-04-04 13:51] mbeauchamp7 commented on #149
@kulshekhar Sorry for my incompetence, I don't have much time during the week but I will try to reproduce this weekend.

[2017-04-04 13:57] kulshekhar commented on #149
@mbeauchamp7 that wasn't a comment on you!

I just wanted to document the reason for closing so that anyone who stumbles on this issue can ask that it be reopened!

[2017-04-05 05:30] #151 closed

[2017-04-05 18:45] pelotom opened #156 "ts-jest@19.0.7 fails to transform code"
I updated [my library](https://github.com/pelotom/runtypes)'s `ts-jest` version from `19.0.6` to `19.0.7` and now typescript tests are apparently not getting transformed properly:

https://travis-ci.org/pelotom/runtypes/builds/218997722

[2017-04-05 18:53] pelotom commented on #156
Ah, my mistake, it's actually failing locally too if I run with `--no-cache`:

[code]

[2017-04-05 19:46] kulshekhar commented on #156
@pelotom do you really need `"target": "es6"` in the jest globals in  `package.json`?

[2017-04-05 20:03] kulshekhar commented on #156
It [passes](https://travis-ci.org/pelotom/runtypes/builds/219022674) if you remove `"target": "es6"`

[2017-04-05 20:11] pelotom commented on #156
Ah, so I am targeting es6 in order to avoid this issue with spurious missing coverage on `super` calls:

https://github.com/Microsoft/TypeScript/issues/13029

Do you know of another way to work around that? Also why is this suddenly an issue when it wasn't before?

[2017-04-05 20:12] kulshekhar commented on #156
That's not required while testing though, right?

[2017-04-05 20:14] kulshekhar commented on #156
If you target es6 during testing, that code is then passed to Jest which expects the transformed code in es5 format.

Actually, I'm not sure how this was working for you before 19.0.7!

[2017-04-05 20:15] pelotom commented on #156
Testing and coverage are all done as part of the same `jest` invocation, how do I give them separate targets?

[2017-04-05 20:24] kulshekhar commented on #156
ok, I've got this

[2017-04-05 20:52] #156 closed

[2017-04-05 20:58] kulshekhar commented on #156
@pelotom the fix has been published. Can you see if the latest version works for you?

[2017-04-05 21:14] pelotom commented on #156
Looks good, thanks!

[2017-04-06 08:29] 4kochi opened #158 "ENAMETOOLONG: name too long, open..."
- Issue

We have an angular 2 project which includes a component lib in the node_modules folder, which must be complied by jest since it is shipped with .ts files. This results in very long file names like this one:

/Users/wayne/web/myProject-newAmazingApp-ui/node_modules/myProject-components-ui/src/lib/components/container/my-dialog-edit-select-box/my-edit-select-box-item/my-edit-select-box-item

[2017-04-06 08:43] kulshekhar commented on #158
Can you create a minimal repo that reproduces this?

[2017-04-06 08:44] 4kochi commented on #158
I will try

[2017-04-07 06:00] 4kochi commented on #158
I have created a fork of your repo which includes a branch demo. When you run `nom test`, you can see the errror

https://github.com/4kochi/ts-jest/tree/demo

[2017-04-07 06:29] kulshekhar commented on #158
@4kochi I was hoping for a minimal repo so that there are as few moving parts as possible - that makes finding and fixing the problem easier

[2017-04-07 07:50] 4kochi commented on #158
Ok, maybe the limit of the length of a filename is higher in Linux than in macOS. Here is the error when I run the test:

[code]

[2017-04-07 07:54] kulshekhar commented on #158
I have a suggestion - can you convert the test that you've written into a standalone repo? All tests for ts-jest are like independent projects so it should be straightforward.

Integrate that repo with travis and try to replicate this error by making the path longer.

Once this is done, we'll have the same point of reference while trying to fix this

[2017-04-07 09:29] 4kochi commented on #158
Ok, will do that. Btw, in appveyor there is already the error:

https://ci.appveyor.com/project/kulshekhar/ts-jest/build/317/job/81q8huqj6mvvuts9

[2017-04-07 10:05] kulshekhar commented on #158
I saw that. Unfortunately that isn't helpful because that was caused while cloning the repo. It didn't even get around to running tests. I don't think we'll be able to solve that one

[2017-04-07 13:15] 4kochi commented on #158
Here wo go:

travis: https://travis-ci.org/4kochi/ts-jest-demo/jobs/219677326
repo: https://github.com/4kochi/ts-jest-demo

[2017-04-07 22:36] kulshekhar commented on #158
I don't think this is a ts-jest issue. Node doesn't seem to work well with long path names. For instance:

[code]

results in the following error:

[code]

You might just have to reorganize your project, I'm afraid.

I'm closing this now but if you think this is a ts-jest issue, it can be reopened.

[2017-04-07 22:36] #158 closed

[2017-04-08 17:22] calebmer opened #160 "{ "automock": true } causes an error"
- Issue

When setting `automock` to `true` I get the error:

[code]

This is happening as Jest tries to mock `ts-jest`. Adding the following configuration option will prevent the error from happening:

[code]

- Expected behavior

The test file should run.

- Link to a minimal repo that reproduces this issue

https://github.com/calebmer/ts-jest-automock

It works fine when `automock` is `false`.

[2017-04-08 19:16] kulshekhar commented on #160
This isn't a ts-jest issue. [Here's](https://github.com/facebook/jest/issues/699) a similar issue someone faced when using jest directly. I'm not sure if it has been solved as the linked issue was closed without any indication.

fwiw, I've sent a PR to the minimal repo that should fix it for you (based on the comments in the linked issue)

[2017-04-09 18:07] piotrwitek opened #161 "regression of Unexpected token import when using es2015 modules"
- Issue
regression of previously resolved issue #121 #123

SyntaxError: Unexpected token import when using es2015 modules with following config:
[code]

- Fix
If following line is taken out of enclosing if statement, problem is fixed.

https://github.com/kulshekhar/ts-jest/commit/d26dbf6ff0b10a1a30f74274caef67e55d43bc29#diff-e1495d267619047a7cca5cfe8f692729R88

- Expected behavior

should set `con

[2017-04-09 18:07] piotrwitek commented on #121
@kulshekhar @alexjoverm isn't this commit introduced a regression to related PR #123?
https://github.com/kulshekhar/ts-jest/commit/d26dbf6ff0b10a1a30f74274caef67e55d43bc29#diff-e1495d267619047a7cca5cfe8f692729L85

I have the same issue as OP, from what I understood the change was suppose to always override module entry, no matter if `tsconfig` is loaded from root folder or other folder like `src/`

[2017-04-09 18:16] kulshekhar commented on #161
@piotrwitek see #146

There was a comment that if users don't care about coverage but want to set `module` to a different value, they should be allowed to do so.

So here are the options:
- If you care about coverage, do not set `module` to anything other than `commonjs` in `jest > globals > __TS_CONFIG__`
- If you don't care about coverage and want to set `module` to another value during testing,

[2017-04-09 18:19] #161 closed

[2017-04-09 18:19] #160 closed

[2017-04-09 18:35] kulshekhar commented on #161
@piotrwitek I should also add that the `tsconfig` file for testing can be different from your project's main tsconfig.json. So you can set `module` to `es2015` for your project and to `commonjs` for testing

[2017-04-09 18:41] piotrwitek commented on #161
@kulshekhar Thanks for your answer, this change has broken my build when updated from 19.0.1 to 19.0.8, which violate semver :/

I still think that current solution is not optimal and good enough for my use case, I think a new option could be introduced:
[code]
This solution could be flexible enough and if implemented without changing old behaviour for `__TS_CONFIG__`, should be backward compatibl

[2017-04-09 18:43] kulshekhar commented on #161
This project doesn't follow semver, sorry.

The change you suggest would break almost every other setup that uses an external config file. Can you share the tsconfig that you're using for testing? In most cases, you don't even need one

[2017-04-09 18:46] piotrwitek commented on #161
@kulshekhar could you explain why you think it will break other setup?
because as I stated above:
- if only __TS_CONFIG__ is provided behave as currently
- if both  __TS_CONFIG__ & __TS_CONFIG_PATH__ are provided use new behaviour

IMO this doesn'e break anything, but maybe I don't understand something

[2017-04-09 18:49] piotrwitek commented on #161
in detail I would add a new if branch checking if (TS_CONFIG & TS_CONFIG_PATH) are provided and only then execute a new logic, make sense?

[2017-04-09 18:49] kulshekhar commented on #161
Currently __TS_CONFIG__  can be either an object or a filename. Moreover, I don't like the idea of introducing more global variables - it can complicate matters unnecessarily.

Again, can you share the tsconfig that you're using for testing

[2017-04-09 18:50] kulshekhar commented on #161
please also share the `jest` section from `package.json`

[2017-04-09 18:51] piotrwitek commented on #161
[code]

[code]

[2017-04-09 18:53] kulshekhar commented on #161
Have you tried removing the `__TS_CONFIG__` section from `jest > globals`?

[2017-04-09 18:57] kulshekhar commented on #161
In the worst case - suppose you need all these settings for testing as well - you could create a separate file for testing, like so:

[code]

and use this file in `jest > globals > __TS_CONFIG__`

[2017-04-09 18:59] piotrwitek commented on #161
@kulshekhar yes I know but this is a workaround not a solution
to be honest I think current behaviour is confusing because it can be either an object or a filename, having it separated would make it more clear

for example `ts-node` & `ts-loader` and some other libraries I had used provide a way to load a `tsconfig` from a custom path and override compilerOptions on top of that, I don't see how it

[2017-04-09 19:04] kulshekhar commented on #161
@piotrwitek I agree this is confusing. But I accepted this as a PR a while back and didn't give it much thought then. I didn't think it this project would be used by more than a few folks!

I have plans to refactor the whole project to remove cruft and make it easier to extend. Unfortunately I'm not sure when I'll be able to carve out some time.

For now, I'm trying to help users of this package b

[2017-04-09 19:11] piotrwitek commented on #161
@kulshekhar I understand, this is not an easy work, I really appreciate your work don't get me wrong, just wanted to suggest a way to improve it somehow, maybe it's not the best solution but might be some direction to follow :)

Suggested workaround is the best solution possible right now and should be fine for now, and I'm still open to help in the future.

[2017-04-11 21:05] tonyhallett opened #164 "moduleFileExtensions for typescript should be changed in the documentation to include json"
- Issue

The documentation should specify that moduleFileExtensions should also include json, otherwise any require('./package') will not be found.

[2017-04-12 07:31] kulshekhar commented on #164
That is just an example - not a requirement. Moreover, that is a general issue applicable to projects that use jest.

[2017-04-12 07:31] #164 closed

[2017-04-12 09:33] tonyhallett commented on #164
Understood. Thanks

[2017-04-12 12:33] pieterdv commented on #46
Hi,

I'm facing the same issue that I can't debug my tests in VS Code, I think I have met every requirement. Code can be found here: https://github.com/pieterdv/ng-jest

Can you point me on what i'm doing wrong?

[2017-04-12 21:15] iRoachie commented on #146
@kulshekhar can you post a guide on doing this? I've been stuck on this for a day now.

[code]

The problem happens with moment. `import moment from "moment"`, since i'm using `allowSyntheticDefaultImports`. Any tips?

[2017-04-12 21:22] kulshekhar commented on #146
@iRoachie do you need module to be set to es2016 for testing?

[2017-04-12 21:36] iRoachie commented on #146
Yea. For some background, i'm using it with react native. If I change my imports in the components to be 'import * as moment from moment', then he tests work, but the app crashes with the worrier moment is not a function

[2017-04-12 21:42] kulshekhar commented on #146
Can you try `import { moment } from 'moment';`

[2017-04-12 21:44] iRoachie commented on #146
Moment has no expected member 'moment'

[2017-04-12 21:47] kulshekhar commented on #146
it's hard to guess what's wrong. Can you create a minimal repo that reproduces this issue? Once done, open a new issue here to discuss this further

[2017-04-13 00:24] alexjoverm commented on #161
@kulshekhar count on me if you need help for that refactor, you're not alone ;) I'd like to help if I can

[2017-04-13 00:57] kryops commented on #158
We also have this problem with our Jenkins build. The paths get quite long because Jenkins adds the branch name and a hash to the workspace path. Stripping that (which @4kochi does in #162) would definitely help us, even though it still feels like an incomplete solution.
As a workaround we downgraded to ts-jest 19.0.1

[2017-04-13 04:59] kulshekhar commented on #158
@kryops once the feedback on that PR is incorporated, I'll merge it

[2017-04-13 05:42] niedzielski commented on #58
First time user here. I seemed to have had a similar (?) issue with imports when I accidentally mangled my Jest config to omit `|\\.(test|spec)`. After I fixed it, the imports worked: `"testRegex": "(/test/.*|\\.(test|spec))\\.(ts|tsx|js)$"`. You can check out the recommended example config [here](https://facebook.github.io/jest/docs/getting-started.html). I found the import token error quite cryp

[2017-04-13 06:23] kulshekhar commented on #58
@niedzielski I'm slightly confused. Is the issue about the import token error or cache invalidation?

[2017-04-14 14:59] kulshekhar commented on #161
@alexjoverm I'm waiting for the next jest version to land but in the meanwhile, we can start by creating a checklist of what needs to be done

[2017-04-14 17:53] hippich opened #166 "Coverage questions"
Couple questions:

- Is it possible to configure ts-jest so jest uses ts-jest remapped coverage report for `coverageThreshold` check?

- I have main library class which imports secondary one. In raw report I see reports for both files, yet in remapped report I see only main. Is it possible to do remapping for imported classes, or this is not possible by design?

[2017-04-14 18:27] kulshekhar commented on #166
@hippich The part that handles coverage was accepted as a PR and unfortunately I'm not very familiar with that part. However, if you can create a minimal repo and state the expected behavior and how it differs from the actual behavior, I'll take a look at it

[2017-04-15 17:25] alexjoverm commented on #161
@kulshekhar some things that roughly come up to my mind:

- Identifying what are the current requirements and remove code meant for initial obsolete requirements (for instance, how can we expect the tsconfig? as a file?)
- Centralise interfaces and constants to avoid hardcoding
- Breaking up long functions into smaller chunks with more context
- Updating the tests accordingly

I'm saying this by h

[2017-04-15 20:25] jcgillespie commented on #149
I'm seeing this issue with the version `19.0.9`. It appears to be caused by having any value in the`coverageDirectory` [configuration](https://facebook.github.io/jest/docs/configuration.html#coveragedirectory-string) value.

It appears that everything still works, it just returns an error in the console:
So no error with this config:
[code]
this one throws an error in the command line, but still l

[2017-04-16 02:38] niedzielski commented on #58
@kulshekhar, sorry for the late response. The import issue appeared at the time to come from a missing `transform` field in my config. The `transform` issue was difficult to track down because I appeared to be seeing a new issue that when the config changed, either through a different file via`--config` or when a consistently named config file itself changed, that the cache didn't invalidate. I ha

[2017-04-16 05:41] kulshekhar commented on #149
@jcgillespie would it be possible for you to create a minimal repo that demonstrates this issue?

[2017-04-16 12:15] jcgillespie commented on #149
Yeah. I can upload my test repo later this afternoon.

________________________________
From: Kulshekhar Kabra <notifications@github.com>
Sent: Sunday, April 16, 2017 12:41:26 AM
To: kulshekhar/ts-jest
Cc: Josh Gillespie; Mention
Subject: Re: [kulshekhar/ts-jest] Upgrading from 19.0.2 to 19.0.6 (#149)

@jcgillespie<https://github.com/jcgillespie> would it be possible for you to create a minimal re

[2017-04-16 16:44] jcgillespie commented on #149
Posted a repro repo [here](https://github.com/jcgillespie/ts-jest-test)

[2017-04-16 20:20] #149 closed

[2017-04-16 20:22] kulshekhar commented on #149
@mbeauchamp7 @jcgillespie The fix for this has been published. Can you folks try it out and confirm that the issue has been fixed?

[2017-04-16 21:48] mbeauchamp7 commented on #149
@kulshekhar I upgraded to 19.0.10 and I don't see the error anymore. 👍

[2017-04-17 17:23] jcgillespie commented on #149
@kulshekhar Looks good to me after upgrading. Thanks!

[2017-04-18 03:09] hippich commented on #166
I just re-created blank project and it remapped everything correct, so it is clearly something with my project settings. Closing this issue as non-reproduceable for brand new project.

[2017-04-18 03:09] #166 closed

[2017-04-18 05:51] Vinnl commented on #166
@hippich Did the `coverageThreshold` check also work for you in that blank project? (It doesn't for me in my non-blank project, even though the remapped coverage is correct.)

[2017-04-18 21:18] maxdeviant opened #169 "Error when cloning on Windows"
When trying to clone the repository on Windows 7, my shell spits out the following error message:

[code]

This happens with both [Cmder](http://cmder.net/) and the Git Bash shell.

I believe this is due to the max path length of 260 characters in Windows.

![image](https://cloud.githubusercontent.com/assets/1486634/25153149/7b0689de-2459-11e7-92aa-8e9c75299165.png)

I am able to successfully clon

[2017-04-19 05:21] kulshekhar commented on #169
Could execute this command:
[code]
and then try again

[2017-04-21 08:23] Vinnl commented on #101
I've been trying to wrap my head around the current status of this, and I thought it'd be a good idea to jot down my current conclusions (both to inform others, and to double-check any incorrect assumptions I've made).

So, as far as I can tell, it is currently impossible for ts-jest to tell Jest what the correct coverage is (although it _can_ output the correct coverage to the developer, [current

[2017-04-21 17:54] jcgillespie opened #170 "Unable to use breakpoints to debug TypeScript in Visual Studio Code."
## Issue
I'm unable to debug Jest test cases written in TypeScript. Possibly just a configuration problem? What am I missing?
Thanks!

## Steps to reproduce
1. Install [Visual Studio Code](http://code.visualstudio.com). I tested with version 1.11.2
2. Install Node.js. I tested with 7.8.0.
2. Clone the repo [here](https://github.com/jcgillespie/ts-jest-test/)
3. run `npm install` or `yarn`
4. Set b

[2017-04-21 22:06] hippich commented on #166
My simple project worked fine regarding coverage, so I assumed it is alright. But it might be that simple project does not generate complex enough JS code..

[2017-04-22 07:07] kulshekhar commented on #170
@jcgillespie thanks for creating the repo!

Making the following changes got this working for me:

- In `launch.json`, set `outFiles` to `[ "${workspaceRoot}/build/**/*" ]`
- In `jest.json` set `testRegex` to `(/__tests__/.*|\\.spec)\\.js$`

[2017-04-22 12:38] jcgillespie commented on #170
@kulshekhar That worked! Thank you so much! I Wouldn't have thought to point the jest tests at the .js files rather than the ts.

[2017-04-22 12:38] #170 closed

[2017-04-22 12:49] kulshekhar commented on #169
@maxdeviant were you able to try this out?

[2017-04-22 23:30] Pickra commented on #101
Thanks for the update and work around, much appreciated.

[2017-04-23 22:04] jcgillespie commented on #170
@kulshekhar What's the proper configuration to get this all to work and keep coverage remapping? The debug config above works, but coverage in the TS files is all zeroed out. I feel like the magic is somewhere in the `collectCoverageFrom` configuration, but I'm not finding the right combo.

As an interim, I've updated the `testRegex` to be `"(/__tests__/.*|\\.spec)\\.(ts|js)$"`, which gets the cov

[2017-04-24 05:08] kulshekhar commented on #170
@jcgillespie one way would be to have separate configs for debugging and testing/coverage

[2017-04-24 05:30] kulshekhar commented on #170
also, iirc, the degug config in the sample repo didn't use the `--coverage` flag when invoking jest

[2017-04-24 12:18] ds300 commented on #146
@iRoachie did you manage to fix this? I'm bumping into the same issue.

[2017-04-24 12:47] iRoachie commented on #146
@ds300 Nah bro. I ended up scrapping running my tests on the typescript and instead run them on the compiled javascript instead.

[2017-04-24 14:26] maxdeviant commented on #169
@kulshekhar Yep, that did the trick!

Would it be worth nothing this in the docs to help other Windows users?

[2017-04-24 16:11] kulshekhar commented on #169
@maxdeviant sure. Would it be possible to send a PR for this?

[2017-04-24 18:43] #169 closed

[2017-04-25 07:52] ds300 commented on #146
@iRoachie #172 should have you covered if you want to fix that indirection.

[2017-04-25 14:15] jaredmahan opened #174 "Cannot get ts-jest to create Snapshots when using React-native"
I have been trying various work arounds but cannot get ts-jest and to create snapshots for my react-native components. The following tests fail and say that it can't read property 'createElement' of undefined
[code]
Here is the output:
![image](https://cloud.githubusercontent.com/assets/1036698/25414351/bdacced6-29f6-11e7-8e2d-500de58de840.png)

Here is my jest configuration
[code]
And here are my

[2017-04-25 14:18] iRoachie commented on #146
@ds300 Any idea how to get around '__DEV__' is not defined for react native?

[2017-04-25 14:22] ds300 commented on #146
Not exactly sure where your problem is, can you be more explicit and/or
post an error message?

On 25 Apr 2017 4:18 pm, "Kyle Roach" <notifications@github.com> wrote:

[2017-04-25 14:25] iRoachie commented on #146
![screen shot 2017-04-25 at 10 23 15 am](https://cloud.githubusercontent.com/assets/5962998/25390379/61bfb0ac-29a1-11e7-89b9-e17f5f247f9a.png)

It's a constant react-native uses while debugging

[2017-04-25 14:28] ds300 commented on #146
Can I see your jest config in package.json?

[2017-04-25 14:29] iRoachie commented on #146
Same from the README.
[code]

[2017-04-25 14:31] ds300 commented on #146
For react-native you need to set: `"preset": "react-native"`

[2017-04-25 14:34] ds300 commented on #146
And I think, as in the ts-jest readme, the transform field should look like this:

[code]

[2017-04-25 14:34] iRoachie commented on #146
@ds300 Awesome that works! Will send a pr for the README.

[2017-04-25 17:08] ds300 commented on #174
It looks like you're testing against your built js rather than source ts. Maybe that's on purpose. If not, add a testRegex entry to your jest config (see this project's readme)

I can't spot any other problems, so if that's not the issue, maybe you make a minimal repo which reproduces the bug?

[2017-04-25 18:48] iRoachie opened #176 "Absolute imports"
Jest does not resolve absolute imports listed under paths array.
I'm using the paths glob in tsconfig to use absolute imports, instead of relative imports.
Example `import { Bob }  from 'people'` instead of `import { Bob } from '../../../../../people'.

Here's the tsconfig section on paths:
[code]

[2017-04-25 23:14] blakeembrey opened #177 "Broke node 4"
It looks like it was added with https://github.com/kulshekhar/ts-jest/commit/bcc0ea02b25baa14e7225a112b3b68d633a80ac0 with a `babel-jest` dependency that wasn't specified in `package.json`. When a dependency is used, it must be specified in `package.json`. It might be worth adding https://github.com/maxogden/dependency-check to the development flow so this stops occurring.

[2017-04-26 01:39] jaredmahan commented on #174
@ds300: Thanks for the feedback. You were right I accidentally removed the testRegex. I added it back and it is now processing the tests as failed but I am getting the error `Cannot read property 'createElement' of undefined.` Any other ideas on how I can get around this new error?

[2017-04-26 05:37] kulshekhar commented on #174
@jaredmahan would it be possible for you to create a minimal repo that reproduces this issue?

[2017-04-26 05:44] ds300 commented on #174
@jaredmahan Do you have allowSyntheticDefaultImports set to true?

[2017-04-26 05:52] kulshekhar commented on #176
@iRoachie can you create a minimal repo that reproduces this?

[2017-04-26 06:09] kulshekhar commented on #177
@blakeembrey I looked into this but can't see what the problem is. The CI test after that PR [ran successfully](https://travis-ci.org/kulshekhar/ts-jest/builds/225485063) for node versions 4,6 and 7.

fwiw, running `dependency-check` didn't show anything.

It's possible that the tests don't cover the case where this error might pop up. Would it be possible to create a minimal repo that reproduces

[2017-04-26 06:20] kulshekhar opened #178 "Update author list"
add @iRoachie and @ds300

[2017-04-26 14:42] blakeembrey commented on #177
How about https://github.com/blakeembrey/node-servie-errorhandler/issues/5? I have another six repos broken too. It's not breaking in CI because you explicitly install the latest NPM, which is installing a flat tree. If you removed that, I bet it would replicate. Also, I can check about dependency check, it's not failed for me before.

[2017-04-26 16:19] #177 closed

[2017-04-26 17:25] jaredmahan commented on #174
Yes I will try to create a minimal repo.

[2017-04-26 17:55] jaredmahan commented on #174
So it had to be a version mismatch issue, i deleted my node_modules folder and ran `npm i` and now it is creating snapshots!

[2017-04-26 17:56] screendriver opened #182 "glamorous: Cannot read property 'div' of undefined"
First: I created the same issue at Jest https://github.com/facebook/jest/issues/3374 because I don't know if it's TypeScript or Jest related. I hope anyone can help me out of this. I just copy the same text as in the Jest issue for simplicity.

**Do you want to request a *feature* or report a *bug*?**

I think this is a bug.

**What is the current behavior?**

[code]

**If the current behavior is

[2017-04-26 18:17] ds300 commented on #182
Thanks for the thorough report :) Can you try adding `allowSyntheticDefaultImports: true` to your tsconfig.json ?

[2017-04-26 18:48] kulshekhar commented on #182
@screendriver I cloned the repo and executed `yarn install` followed by `yarn test` and got the following result:

[code]

[2017-04-26 18:57] #178 closed

[2017-04-26 18:58] screendriver commented on #182
Thank you for the quick response :relaxed: I already did that. It doesn't change anything :confused: By the way: `allowSyntheticDefaultImports` does **not** modify the output. It is only available at compile time.

@kulshekhar :thinking:

![screenshot](https://cloud.githubusercontent.com/assets/149248/25451603/0124d2ae-2ac3-11e7-8341-23573ab506ea.png)

[2017-04-26 19:07] kulshekhar commented on #182
@screendriver that's weird

![jest](https://cloud.githubusercontent.com/assets/10780624/25451948/7f31c62a-2ae1-11e7-87cd-d74daa18dd15.png)

[2017-04-26 19:11] kulshekhar commented on #182
@screendriver can you try updating `tsconfig.json` to the following and test?

[code]

[2017-04-26 19:13] screendriver commented on #182
That's **really** weird :flushed: :thinking:

[code]

does not change anything unfortunately :-(

[2017-04-26 19:17] kulshekhar commented on #182
after changing this, did you run with `--no-cache`?

[2017-04-26 19:20] kulshekhar commented on #182
Just tested this - `"allowSyntheticDefaultImports": true` fixes this issue.

[2017-04-26 19:24] #174 closed

[2017-04-26 19:28] screendriver commented on #182
Oh my god! You are right! :dancer: :tada:

Thank you so much @kulshekhar and @ds300 It's working now! :sunglasses:

The only thing I'm getting now is

[code]

but this is not related to `ts-jest`

[2017-04-26 19:28] #182 closed

[2017-04-26 19:29] ds300 commented on #182
This is true of `tsc`, but `ts-jest` uses the setting to decide whether it needs to compile import statements with babel. Otherwise we can end up with the same errors you are seeing because jest requires commonjs module syntax while other targets require es6 module syntax e.g. react-native.

However, this does raise an interesting question as to whether we should add a ts-jest specific config sett

[2017-04-26 19:31] screendriver commented on #182
I'm sure I am not the only one with this issue in the future :wink: So yes, I would add a `ts-jest` specific config option for that.

[2017-04-26 19:46] kulshekhar commented on #182
I think it's safe to use `allowSyntheticDefaultImports` as an indicator to compile with babel.

If someone is using such imports, not transpiling further with babel will throw an error because Jest won't know how to process that.

[2017-04-27 05:17] screendriver commented on #59
I've got the same issue here but my code base **does** compile 🤔

[2017-04-27 05:43] screendriver opened #183 "Could not find source map for <random file>"
- Issue

I'm getting `Could not find source map for <random file>`. The file is completely random. I found issue #59 and #60 and #30 but none of these fixed it for me. I tried it with `jest --coverage --cache`, `jest --coverage --no-cache` and `jest --coverage` and get every time the same result. Strangely it displays me the coverage output and bellow that the big error message. Also I don't have

[2017-04-27 09:16] mithrand commented on #120
+1000

[2017-04-27 12:29] bhouser commented on #120
Oh, I created a minimal repo a while ago, when I thought the problem was Jest:
https://github.com/bhouser/jestReactMockTsx

Sorry about not posting it sooner.

[2017-04-27 13:49] kulshekhar commented on #120
@bhouser thanks.

The test in the typescript directory of the linked repo pass if `"allowSyntheticDefaultImports": true` is added to `tsconfig.json`

[2017-04-27 16:51] ProTip opened #184 "The second argument of `jest.mock` must be a function"
I'm receiving this error in ```v19.0.13``` but not ```v19.0.8```. It's possible the change was introduced post .8 but pre .13.

[2017-04-27 16:53] kulshekhar commented on #184
If possible, please create a minimal repo that reproduces this issue.

[2017-04-27 19:37] ProTip commented on #184
I'm actually running into some issues with the reproduction. I can reproduce it predictably in a docker container, however it's a whole different story on my host machine.

If I install ```19.0.8``` then it still works with ```19.0.13```, as long as my project directory is in the same _parent_ directory.

For example with ```~/projects/test```, it will always work as long as ```test``` is in ```~/

[2017-04-27 19:45] greenkeeper[bot] opened #185 "An in-range update of jest-config is breaking the build 🚨"
## Version **19.0.3** of [jest-config](https://github.com/facebook/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/kulshekhar/ts-jest/compare/greenkeeper%2Fjest-config-19.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jest-config
    </td>
  </tr>
  <tr>
    <th align=left

[2017-04-27 20:45] #185 closed

[2017-04-27 21:36] greenkeeper[bot] opened #187 "An in-range update of typescript is breaking the build 🚨"
## Version **2.3.1** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/kulshekhar/ts-jest/compare/greenkeeper%2Ftypescript-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th align=le

[2017-04-27 21:50] #187 closed

[2017-04-28 10:03] kulshekhar commented on #120
@MichalCafe does this solve the issue for you as well? ^

[2017-04-29 22:30] niedzielski opened #189 "Changelog and Version Tags Missing"
- Issue: The changelog and Git version tags are [missing](https://github.com/kulshekhar/ts-jest/releases) for the [last couple releases](https://www.npmjs.com/package/ts-jest).

- Expected behavior: Release notes are time consuming to compile and the commit log can be used in a pinch but any releases should include pushing an associated Git tag so they may be reproduced.

[2017-04-30 00:20] mrijke commented on #183
I've managed to set up a repo here:
https://github.com/mrijke/react-typescript-jest-demo

Running `yarn test` should trigger this error.

[2017-04-30 02:00] camdub opened #190 "TypeError when files imported from node_modules"
Jest is giving errors like

```TypeError: lodash_isplainobject_1.default is not a function```

when importing modules from `node_modules`. I assume its related to having a different `tsconfig` than what is expected, but I'm not sure.

I have created a repo that reproduces the issue [here](https://github.com/camdub/ts-jest-issue).

Any help here would be great.

[2017-04-30 05:10] kulshekhar commented on #190
@camdub removing the `jest > globals` section from package.json fixes this issue.

This section is needed only if you want to override the default config set in `tsconfig.json`.

[2017-04-30 05:10] #190 closed

[2017-05-02 16:48] marcusjwhelan commented on #64
What if this is still an Issue?

[2017-05-02 17:13] kulshekhar commented on #64
@marcusjwhelan the best would be to create a minimal repo that reproduces this and open a new issue with a link to the repo

[2017-05-02 17:51] marcusjwhelan commented on #64
@kulshekhar , would this repo be too large? [binary-type-tree](https://github.com/marcusjwhelan/binary-type-tree). It really only has to do with the tsconfigs and package.json

[2017-05-02 18:23] kulshekhar commented on #64
@marcusjwhelan it's better than nothing :)

That said, the smaller a repo is, the quicker the issue is likely to be fixed

[2017-05-02 18:40] marcusjwhelan opened #192 "Import errors with absolute paths from test directory to src."
## ISSUE
After taking a look at issue #64 I was surprised to still see many questions about imports. I am currently facing the this horrible issue. My tests used to work and then I changed my repo around and now my imports are not working properly.

● Test suite failed to run

    /Users/marcuswhelan/MyWork/binary-type-tree/__tests__/bTreeUtils.spec.ts:1
    ({"Object.<anonymous>":function(module,

[2017-05-02 19:03] kulshekhar commented on #192
@marcusjwhelan try setting `allowSyntheticDefaultImports` to `true`. I've sent a PR with this

[2017-05-02 19:24] marcusjwhelan commented on #192
@kulshekhar ahh. yes that seems to be the culprit. I seem to now bet receiving this issue though. Not particularly bad but it is clutter.

Test Suites: 3 passed, 3 total
Tests:       30 passed, 30 total
Snapshots:   0 total
Time:        10.139s
Ran all test suites.

Error: Could not find source map for: "/Users/marcuswhelan/MyWork/binary-type-tree/src/index.ts"

at CoverageTransformer.addFileCover

[2017-05-02 19:26] kulshekhar commented on #192
I didn't see this issue when running the test after the fix so I'm not sure what's going on. It might be worthwhile to create a travis config for your repo

[2017-05-02 19:30] marcusjwhelan commented on #192
@kulshekhar oh hmm. It must be my IDE. I am using webstorms jest IDE support. I also ran it with npm and it does not have this output. Sadly I have never worked with any travis configs and am not sure how to get started. I am looking though.

[2017-05-02 19:49] #192 closed

[2017-05-02 21:31] kulshekhar commented on #192
When you set `allowSyntheticDefaultImports` or target as es6, you're expecting the output from typescript to be processed by another processor (mostly babel). This causes coverage to break.

So, if your target is es6 or if  you allow synthetic default imports, coverage will break.
If you want coverage, the target needs to be es5.

I'm looking at ways to fix this but, at the moment, this is how it

[2017-05-03 13:22] marcusjwhelan commented on #192
Ah. Okay. I will make sure to watch the repo to see if this does get fixed. You would think that ES6 would be easy to transpile, with its imports/export system being almost identical to TypeScript.

[2017-05-04 23:17] vcardins commented on #82
Hi, by setting the `src` folder in `moduleDirectories` just worked fine for me.
![image](https://cloud.githubusercontent.com/assets/2383329/25728620/1a3c7dfa-30e5-11e7-9c8d-c760a8b82bb7.png)

[2017-05-06 17:21] asfernandes opened #198 "Usage of ... and lodash makes typescript output js file without import and causes undefined error"
Get this repository: https://github.com/bhouser/jestReactMockTsx

In typescript subdirectory, do:
[code]

Replace ParentComponent.tsx with this content:
[code]

You will see that usage of `{ ..._.isNil }` makes the transformed source to omit the require for ChildComponent.

When you compile the project with `tsc`, it does it correctly.

I was using this in a real project and it was working. It was

[2017-05-06 18:31] kulshekhar opened #199 "Upgrade to Jest 20.0.0"

[2017-05-06 18:36] kulshekhar commented on #199
WIP in [jest-20](https://github.com/kulshekhar/ts-jest/tree/jest-20) branch

[2017-05-06 19:50] kulshekhar commented on #198
please create a repo such that `git clone`, `yarn install / npm install` & `yarn test / npm test` reproduces the issue

[2017-05-06 20:10] #199 closed

[2017-05-06 20:13] kulshekhar commented on #61
Coverage is no longer handled by ts-jest (see #200)

If this issue isn't addressed AND if you think the fix needs to be in ts-jest, feel free to either open a new issue or leave a comment here to reopen this.

[2017-05-06 20:13] #61 closed

[2017-05-06 20:13] kulshekhar commented on #70
Coverage is no longer handled by ts-jest (see #200)

If this issue isn't addressed AND if you think the fix needs to be in ts-jest, feel free to either open a new issue or leave a comment here to reopen this.

[2017-05-06 20:13] #70 closed

[2017-05-06 20:13] kulshekhar commented on #101
Coverage is no longer handled by ts-jest (see #200)

If this issue isn't addressed AND if you think the fix needs to be in ts-jest, feel free to either open a new issue or leave a comment here to reopen this.

[2017-05-06 20:13] #101 closed

[2017-05-06 20:14] asfernandes commented on #198
Clone https://github.com/asfernandes/issue-ts-jest-198

npm install && npm test

[2017-05-06 21:03] kulshekhar commented on #198
@asfernandes thanks!

I was able to reproduce this. I'm not sure what's causing this but I'm marking this as a bug because it compiles fine with tsc

[2017-05-06 21:15] kulshekhar commented on #183
I've submitted a [PR])(https://github.com/mrijke/react-typescript-jest-demo/pull/1) to the repo which gets this working

Coverage is no longer handled by ts-jest (see #200)

If this issue isn't addressed AND if you think the fix needs to be in ts-jest, feel free to either open a new issue or leave a comment here to reopen this.

[2017-05-06 21:15] #183 closed

[2017-05-06 21:36] #184 closed

[2017-05-06 21:36] #176 closed

[2017-05-07 13:58] vslinko commented on #198
I spent few hours to debug a problem and I've found that the problem is already fixed in https://github.com/Microsoft/TypeScript/pull/15566

[2017-05-07 14:16] vslinko commented on #198
I've checked with `typescript@2.4.0-dev.20170504` and yes, it works.

[2017-05-07 14:18] vslinko commented on #198
ref https://github.com/Microsoft/TypeScript/issues/15478

[2017-05-07 14:19] asfernandes commented on #198
But if I didn't did a mistake, I tested with Typescript 2.1 and 2.2 and still saw the bug.

[2017-05-07 14:19] vslinko commented on #198
@asfernandes please try `typescript@2.4.0-dev.20170504`

[2017-05-08 06:43] joscha opened #201 "Jest 20: mapCoverage"
- Issue

With `mapCoverage` set to `true`, I seem to get this:

![code_coverage_report_for_all_files](https://cloud.githubusercontent.com/assets/188038/25792957/1a5ad5c2-340d-11e7-9bc8-cbead990a284.png)

in the reports with:

![code_coverage_report_for_src_base_serialization_file__users_joscha_dev_canva_web_src_base_serialization_deserialization_ts](https://cloud.githubusercontent.com/assets/18803

[2017-05-08 06:51] kulshekhar commented on #201
Can you create a minimal repo that reproduces this?

[2017-05-08 06:53] joscha commented on #201
not yet, it seems to have something to do with:
[code]

Before Jest 20 I was able to just have:
[code]

but after upgrading everything that had a relative import `import x from 'bla/foo';` seemed to fail:
[code]
where it worked with Jest 19, so I changed `roots` to `modulePaths`, e.g. now I have:
[code]

adding `roots` additionally doesn't seem to change anything.

[2017-05-08 07:17] joscha commented on #201
This shows the problem: https://github.com/joscha/jest-20 - I haven't found out where exactly it blows up.

[2017-05-08 07:21] joscha commented on #201
When I remove `"extends": "./tsconfig.json"` it seems to generate the coverage properly, I am just not able to say why.

[2017-05-08 07:24] kulshekhar commented on #201
I just ran:

[code]

and got these results:

[code]

[2017-05-08 07:30] joscha commented on #201
have a look at the HTML report please in `target/coverage/lcov/report`.

I actually think `"outDir": "target",` is the problem.

[2017-05-08 07:33] joscha commented on #201
when I remove
[code]
from `tsconfig.json` in the sample repo, then

![code_coverage_report_for_all_files](https://cloud.githubusercontent.com/assets/188038/25794466/60fcb336-3414-11e7-8db6-667a13b12d07.png)

becomes:

![code_coverage_report_for_all_files_and_1__joscha_canvabox___tmp_jest-20__zsh_](https://cloud.githubusercontent.com/assets/188038/25794479/708fd558-3414-11e7-84fe-d428a40deab5.png)

[2017-05-08 07:40] kulshekhar commented on #201
We're not doing anything explicitly but it appears that having this value set is causing problems during testing.

There are two ways this can be fixed - by deleting `outDir` from the config during testing (hardcoded in ts-jest) or by setting its value to `null` in the tsconfig that testing uses (this works but gives a type warning in the editor).

I'm leaning towards the former as I don't see any

[2017-05-08 07:41] joscha commented on #201
I have set it to `null` for now, but I think removing it automatically would make sense. There is no output except coverage during a test run anyway, so it should be safe. Maybe add a comment to README to hint at it. Do you want me to create a PR for this?

[2017-05-08 07:45] kulshekhar commented on #201
Sure, that'd be great!

- add `delete config.outDir;` [here](https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L112) with a comment stating why and add a link to this issue.
- change the version in package.json to 20.0.1

Thanks :)

[2017-05-08 08:00] joscha commented on #201
PR is here: #202

[2017-05-08 12:35] Pickra commented on #101
Thanks for the update on this issue @kulshekhar

[2017-05-08 13:16] #201 closed

[2017-05-09 00:54] joscha commented on #201
Unfortunately, this is still not fixed due to #3524

[2017-05-09 23:20] bmajz opened #205 "Importing from node_modules that contain Typescript causes SyntaxErrors"
- Issue

We have some internal modules that contain Typescript and transpiled Javascript. When importing code from a module like this from node_modules (i.e. installing a private npm package), the imported code doesn't transpile properly and causes the following Syntax Error:
SyntaxError: Unexpected token export

However, when the same code is loaded from a directory outside of node_modules, it wo

[2017-05-09 23:26] ssynix opened #206 "Duplicate .js file in coverage report"
## Issue

I'm seeing duplicate files in my coverage report, e.g: for every `actions.ts` there's a `actions.ts.js` in the coverage table that actually doesn't exist on the file system.

If I click on it in the HTML report, I get `Unable to lookup source: <file>`.

Here's the relevant part from my jest config:
[code]

I'm specifically including .ts(x) files and ignoring .js files, so not sure why th

[2017-05-10 04:56] kulshekhar commented on #206
@ssynix starting with version 20.0.0, coverage is no longer handled by ts-jest but by jest directly.

we need at least a minimal  repo that reproduces this to move forward.

[2017-05-10 15:56] GeeWee commented on #150
I'm just going to dig this up from the grave, as I seem to have an issue that's almost the same, but not quite.

The inlinesourcemap work *reasonably* fine, but the only way I can get the debugger to do anything, is if i set an actual debugger; statement - breakpoints are simply ignored.

Is this something any of you came across during your digging?

my package.json's jest looks like this:

[code]

[2017-05-10 16:57] bcruddy opened #207 "lcov html coverage report - looking for bad file paths"
Environment: node 6.10.2, yarn 0.23.3,  jest 20.0.0, ts-jest 20.0.0, react 15.5.4, typescript 2.3.0

I know with jest 20 and ts-jest 20 that jest itself is responsible for coverage but I want to verify here before opening an issue with them directly.

- Issue

lcov html coverage report is having trouble reading/parsing source files:

![image](https://cloud.githubusercontent.com/assets/5150154/2591

[2017-05-10 16:59] bcruddy commented on #207
It is correctly showing that the file is 100% covered here:

![image](https://cloud.githubusercontent.com/assets/5150154/25911063/7fe9b3e4-3580-11e7-8317-f94a9c48c1bb.png)

[2017-05-10 16:59] kulshekhar commented on #207
@bcruddy can you try with 20.0.2

[2017-05-10 17:01] bcruddy commented on #207
@kulshekhar installing now

[2017-05-10 17:02] kulshekhar commented on #150
@GeeWee everything we did when we were working on this is mentioned here in this issue. If that doesn't help, the best thing would be to create a minimal repo that reproduces this and create a new issue

[2017-05-10 17:03] bcruddy commented on #207
@kulshekhar no change and 20.0.0 is the most recent version for both `jest` and `jest-cli`

[2017-05-10 17:03] kulshekhar commented on #207
I meant ts-jest 20,0,2

[2017-05-10 17:03] bcruddy commented on #207
Yeah I just edited my comment to make that more clear, sorry about that

[2017-05-10 17:05] kulshekhar commented on #207
That's weird. Can you create a minimal repo that reproduces this?

[2017-05-10 17:07] kulshekhar commented on #207
oh, did you use `--no-cache` after updating?

[2017-05-10 17:09] bcruddy commented on #207
Yes I did. I'll put together a repo shortly

[2017-05-10 17:50] bcruddy commented on #207
@kulshekhar here you go https://github.com/bcruddy/tsjest-lcov-min

[2017-05-10 18:16] thymikee commented on #201
@joscha https://github.com/facebook/jest/issues/3524#issuecomment-300556549

[2017-05-10 18:28] kulshekhar commented on #201
@thymikee does this mean we can use `instrument` as a proxy for `collectCoverage`?

[2017-05-10 18:30] thymikee commented on #201
Yes

[2017-05-10 18:57] #207 closed

[2017-05-10 18:59] kulshekhar commented on #207
@bcruddy 20.0.3 has been published. It should fix this

[2017-05-10 19:06] bcruddy commented on #207
That was quick, thank you!

[2017-05-10 19:07] kulshekhar commented on #207
yeah, thanks to @thymikee [here](https://github.com/facebook/jest/issues/3524#issuecomment-300556549)

[2017-05-10 19:28] kulshekhar commented on #205
@bmajz the PR I've sent to the repo you've linked should fix this. If not, let me know and I'll reopen this

[2017-05-10 19:28] #205 closed

[2017-05-10 22:27] bmajz commented on #205
Thanks @kulshekhar!

[2017-05-11 06:48] GeeWee opened #209 "Breakpoints & sourcemaps do not work with a react native setup in Webstorm"
- Issue

When running a react native configuration, it is impossible for me to get any breakpoints to register in Webstorm.
Debugger statements *work* but do not break at the correct line.

I have a suspicion that the sourcemaps are to blame. This is an example of it breaking before the debugger statement:
![billede](https://cloud.githubusercontent.com/assets/6381792/25935867/70be1608-3625-11e7-80

[2017-05-11 07:40] GeeWee commented on #150
Thanks @kulshekhar  - it has been done - #209

[2017-05-11 08:02] JReinhold commented on #46
I too, cannot get breakpoints working in VSCode.

[2017-05-11 08:05] kulshekhar commented on #209
I was able to get the debugger to stop at the breakpoint with the following changes:

- comment out `allowSyntheticDefaultImports` from tsconfig.json
- use jest 20.0.0
- add the following in jest config:

[code]

[2017-05-11 09:40] GeeWee commented on #209
Great stuff, I was as well! Thanks a lot for the quick reply @kulshekhar .
The only thing that was actually needed was commenting out the `allowSyntheticDefaultImports`

However, my codebase makes quite a bit of use of default imports, e.g. `import React from 'react'`
My tests work with these, if `allowSyntheticDefaultImports` is on.
I figured I could simply run the test suite with `allowSynthetic

[2017-05-11 10:58] kulshekhar commented on #209
I don't really use babel or synthetic imports so I'm not sure what needs to be done here.

When `allowSyntheticDefaultImports` is set, ts-jest uses babel-jest internally to process typescript compiler's output. I suspect this is probably where the fix would go. I'm not sure though.

Maybe @ds300 can chime in?

[2017-05-11 11:22] GeeWee commented on #209
Yes that makes perfect sense! Because babel-jest ( at least with the react native preset ) creates synthetic default exports that typescript can grab.

It seems like the *problem* here would be that if the ts files are passed to babel-jest, the sourcemaps are not included.

I have set `sourceMaps: "inline"` in my .babelrc and it seems to allow me to set breakpoints and not fail my tests.
I've upda

[2017-05-11 13:01] kulshekhar commented on #209
@GeeWee that worked! A PR with the explanation would be very welcome :)

[2017-05-11 13:25] GeeWee commented on #209
Wonderful! I'll definitely get a PR up and rolling, though I'll want to make sure the same setup works in VSCode as well :)

[2017-05-11 13:55] GeeWee commented on #46
@ds82 Would you be willing to share your full setup?

[2017-05-11 18:42] fliptaboada opened #210 "TypeError: classnames is not a function when mapCoverage: true"
- Issue

Seeing some TypeError when mapCoverage: true.
I managed to reproduce the error with ```classnames``` when enabling mapCoverage, but in my full project even removing mapCoverage doesn't work.

I have to change all imports from ```import React = require('react')``` to ```import * as React from 'react'``` too.

- Expected behavior

work like old versions

- Link to a minimal repo that reprod

[2017-05-11 21:27] kulshekhar commented on #210
What do you expect the result of running test on the linked repo should be? It looks fine at first look

[2017-05-11 22:25] tkrotoff commented on #46
Summary:
In order to debug TypeScript code inside vscode (e.g set breakpoints), vscode needs to have access to the sourcemaps (*.map). With ts-jest vscode cannot access the *.map files.

The solution for now is to directly use Jest without ts-jest.

See #118

[2017-05-12 06:45] GeeWee commented on #46
Interesting - I'm curious if we can find a solution that involves inline sourcemaps? We managed to make it work in webstorm at #209
VSCode definitely has the ability to pick up on the generated js files, as debugger statements are registered, and it breaks in the compiled code.
I'm not super sharp on VSCode - what are your thoughts @tkrotoff ?

[2017-05-12 07:38] screendriver opened #211 "TypeError: mappedCoverage.addStatement is not a function"
- Issue

I updated my project to `Jest 20.0.1` and updated `ts-jest` to `20.0.3` as well. I tried out the new coverage feature and get following error:

[code]

- Expected behavior

Coverage should run.

- my config

[code]

[2017-05-12 07:38] screendriver commented on #183
Ok, cool. I read the docs about the new coverage functionality in Jest and that it was removed from `ts-jest`. Unfortunately I am getting following error

[code]

I've created a new issue for that: https://github.com/kulshekhar/ts-jest/issues/211

[2017-05-12 07:40] screendriver commented on #101
Unfortunately it does not work at the moment: https://github.com/kulshekhar/ts-jest/issues/211

[2017-05-12 10:09] mrijke commented on #211
This issue can be reproduced in my test repo as well, see https://github.com/mrijke/react-typescript-jest-demo/pull/1

[2017-05-12 10:23] kulshekhar commented on #211
@mrijke thanks. Can you update the repo to use the latest versions of jest & ts-jest?

[2017-05-12 10:28] mrijke commented on #211
@kulshekhar as noted in https://github.com/mrijke/react-typescript-jest-demo/pull/1#issuecomment-300843768, I've updated to `ts-jest` 20.0.3 and `jest` 20.0.1, which seem to be the latest versions available.

[2017-05-12 11:16] screendriver commented on #211
I don't know if this is really `ts-jest` or `jest` related? 🤔

[2017-05-12 11:40] kulshekhar commented on #211
@screendriver to find that out, we'll need a minimal repo that reproduces the error you're getting :)

The other linked repo isn't doing that

[2017-05-12 11:48] mrijke commented on #211
I have merged the PR now that updates the versions of `ts-jest` to 20.0.3 and `jest` to 20.0.1, so now it should be a proper repro repo. Or is something else missing?

[2017-05-12 11:54] screendriver commented on #211
Ah ok. I didn't knew that. I thought that it does exactly that.

Great 👍

[2017-05-12 13:09] kulshekhar commented on #211
I tested the updated repo which reproduced this issue.

The tests execute fine and it seems that the error is thrown from jest (at the stage when coverage is being generated).

That said, I suspect the cause of the error might not be in jest but in the configuration (package.json and/or .babelrc). I don't use babel so I might not be the best person to comment/speculate on this.

We can leave this

[2017-05-12 13:18] screendriver commented on #211
Should I open the same issue at the Jest repo and reference this one?

[2017-05-12 13:29] kulshekhar commented on #211
@screendriver if this error can be reproduced without using ts-jest, it might be a good idea. Without that, I'm not sure how the folks at jest will be able to help.

[2017-05-12 14:08] screendriver commented on #211
Hmmm to be honest: I don't know. The new official Jest docs mention TypeScript for the new coverage feature 🤔

[2017-05-12 14:41] kulshekhar commented on #211
I guess might be worth a shot

[2017-05-12 15:07] screendriver commented on #211
Done: https://github.com/facebook/jest/issues/3560

[2017-05-12 18:27] fliptaboada commented on #210
The result should be the same as your example of Button, pass on Button and give error on BadButton.
I'd expect the ```import * as classnames from 'classnames'``` and then ```const classes = classnames({'button': true})``` to actually work, because when running the app it works, but not in the test environment, it gives me the TypeError described.
If you disable ```mapCoverage``` it works as expec

[2017-05-12 18:40] kulshekhar commented on #210
When I tested it, it worked fine - 1 test passed and 1 failed. Can you add a travis job to the repo so that we have a common reference point?

[2017-05-12 23:23] jayphelps commented on #112
It's not clear whether there was a workaround for this or just SOL?

I'm consuming a third party library that exports constant enums, same result `TypeError: Cannot read property 'X' of undefined` because they are not inlined and no runtime code for them exists.

[2017-05-13 03:42] jrwebdev commented on #211
I had this issue at work last week, but being relatively new to TypeScript I assumed it was some form of configuration I'd set incorrectly. I didn't find the problem, but I traced it down to `istanbul-lib-source-maps` - it appears that it's unable to find a source map, so it just uses a file coverage object for the given file:

https://github.com/istanbuljs/istanbuljs/blob/master/packages/istanbul

[2017-05-13 07:21] kulshekhar commented on #112
@jayphelps in the linked repo, if the enum is exported and imported, it works fine. Is that possible in your case? A tiny repo with your issue would be the best way to see if we can get this working

[2017-05-13 07:37] #90 closed

[2017-05-13 07:38] Bnaya commented on #90
Looks like its working with latest ts-jest

Thanks for the great work!

[2017-05-14 06:32] GeeWee commented on #46
So currently setting the sourceMaps to be inline in my .babelrc file works.
VSCode breaks at debugger statements and serves the code. So it resolves the sourcemaps correctly.
However, I'm unable to set breakpoints. I assume this is because VSCode does not know where to find the .js files that are generated, but I'm not very familiar with VSCode.

Anyone has ideas for how to get the breakpoints to

[2017-05-14 06:37] GeeWee commented on #209
@kulshekhar  - this setup also works in VSCode. At least almost.
I have debugger statements working, and it shows the correct source code, so the sourcemaps work.
However, I'm unable to set breakpoints - vscode seems to ignore those handily.
I'd love to get a PR in explaining both editors, but I'm a little hindered right now - I'm not very good with VSCode.
Do you have any ideas? Would you like me

[2017-05-14 06:52] kulshekhar commented on #209
@GeeWee It might be best to add instructions for Webstorm/IDEA (since we have that working) and open a new issue for VS Code.

[2017-05-14 07:29] shlomiassaf commented on #209
@kulshekhar This workaround does work, however it is an issue since now the test code after compilation does not match the actual code after compilation.

For example:
[code]

The library above requires `"allowSyntheticDefaultImports": true`.
When so, the value of `pathToRegexp` is a function.

 When running in test I get an error since the imported module `pathToRegexp` is not a function, it is a

[2017-05-14 07:45] kulshekhar commented on #209
@shlomiassaf are you referring to [this workaround](https://github.com/kulshekhar/ts-jest/issues/209#issuecomment-300714070)?

[2017-05-14 08:28] shlomiassaf commented on #209
Actually I used the [other one](https://github.com/kulshekhar/ts-jest/issues/209#issuecomment-300760606) but it's the same.

[2017-05-14 08:51] kulshekhar commented on #209
@shlomiassaf those two aren't the same. If there seems to be a problem, can you create & share a minimal repo specific to your case?

[2017-05-14 09:57] GeeWee opened #212 "Breakpoints do not work with a react native setup in Visual Studio Code"
- Issue

Breakpoints don't work in VSCode. If you use a `debugger` statement, it will break at the correct place, and show the correct sources, so the sourcemaps are being loaded and parsed.

![billede](https://cloud.githubusercontent.com/assets/6381792/26032740/e1660ca4-389a-11e7-844b-4349f63b2b67.png)

On every breakpoint VSCode reports:
`breakpoint not ignored because generated code not found (

[2017-05-14 10:04] GeeWee commented on #209
I have created #212 for the VSCode issue.

[2017-05-14 15:55] shlomiassaf commented on #209
@kulshekhar

https://github.com/shlomiassaf/ts-jest-issue-209

`npm run start` will execute a ts file
[code]

This should show that **pathToRegexp** is a function

Then `npm run test` will execute unit testing with jest and ts-jest
[code]

It will fail since **pathToRegexp** is now an object with a **default** property referencing the function.
This is an expected behaviour when **allowSyntheticDe

[2017-05-14 16:09] kulshekhar commented on #209
@shlomiassaf I'm slightly confused here. How is this relevant to the proposed solution (which sets `allowSyntheticDefaultImports` to true)?

[2017-05-14 16:43] shlomiassaf commented on #209
@kulshekhar If you look at the code you will see that for the same code compiled with TS, ts-jest emits a different output.

  - Both tsconfig file are identical
  - allowSyntheticDefaultImports` set to true.

When using this statement:
[code]

In TS compilation **without** `ts-jest` **pathToRegexp** is a function
In TS compilation **with** `ts-jest` **pathToRegexp** is an object.

It's not determ

[2017-05-14 16:54] kulshekhar commented on #209
@shlomiassaf that's because when `allowSyntheticDefaultImports` is set to true, ts-jest processes the output of the typescript compiler with babel. This is required because Jest can only process ES5 code. There's no way around this.

This is also unrelated to this issue. If you think there needs to be a discussion on this here, it might be better to open a new issue so that we can focus better.

[2017-05-14 17:15] shlomiassaf commented on #209
@kulshekhar I'll open an issue, just to understand, why would you need babel for that? you can use TS compiler to emit ES5 code.

[2017-05-14 17:19] kulshekhar commented on #209
@shlomiassaf let's continue the discussion in the new issue :)

[2017-05-14 19:09] shlomiassaf opened #213 "Different TS-JEST / TS emitted code when importing 3rd party libs"
Continuing the discussion from issue [209](https://github.com/kulshekhar/ts-jest/issues/209#issuecomment-301321742)

For the same code compiled with TS, ts-jest emits a different output.

  - Both tsconfig file are identical (one for regular TS compilation, one for ts-jest)
  - `allowSyntheticDefaultImports` set to true.

When using this statement:
[code]

In TS compilation **without** `ts-jest` *

[2017-05-14 19:11] shlomiassaf commented on #213
@kulshekhar From what you explained, there is another transpilation happening...

TS -> TS emitted code -> babel -> ES5 JS

Since TypeScript can emit ES5 why would we need babel?

[2017-05-14 19:31] kulshekhar commented on #213
When `allowSyntheticDefaultImports` is set to true, ts-jest processes the output of the typescript compiler further using babel.

When it is set to false, only typescript is used.

This was done recently in PR #172

That might be a good starting point.

(I could attempt an explanation but because I don't use babel or allowSyntheticDefaultImports, there's a chance I might miss something or state so

[2017-05-14 22:25] shlomiassaf commented on #213
@kulshekhar I understand the logic behind that PR, yet it solved one issue just to introduce an other.

If I set `allowSyntheticDefaultImports` to false I get an error from TS.
If I set it to true I can't run tests.

[2017-05-15 05:13] kulshekhar commented on #213
@shlomiassaf there was a short discussion somewhere around whether we should use another setting to tell jest to use babel as well. Would such a setting solve this issue?

[2017-05-15 22:28] supritashankar opened #214 "Blueprintjs with `jest` gives import error"
I have a very simple test.

in my `package.json` it looks like this

[code]
My test looks like this.

[code]

I get this error
[code]

What is it that I am doing wrong? Any help would be appreciated

I am using
`jest- 20.0.1`
`enzyme-2.8.2`
`ts-jest-20.0.3`
`blueprint-core 1.16.0`

[2017-05-15 22:31] kulshekhar commented on #214
Could you please create a minimal repo such that cloning it and running
[code]
reproduces this issue?

[2017-05-15 22:38] jrwebdev commented on #211
I've had another look into this - the issue is with when `allowSyntheticDefaultImports` is set to `true`. If set,  the preprocessor runs files through `babel-jest` and appends a `.js` extension onto them. When the coverage is generated, both the `.ts` / `.tsx` and `.ts.js` / `.tsx.js` files are run through the coverage generator, but source maps are only found for `.ts.js` / `tsx.js` files, so the

[2017-05-15 23:44] supritashankar commented on #214
@kulshekhar It seems that the files with blueprint is not getting transformed. They are `tsx` files which need to be transformed but are not. Would you know why?

[2017-05-16 00:31] supritashankar commented on #214
@kulshekhar FWIW this preprocessor solves my problem

[code]

It will take me a couple of days to get a minimal repo