[2019-10-25 09:25] solid-studio commented on #1233
why did you close it? did you fix this? I'm trying to test a typescript component that forks some child processes but in ts-jest it is not possible

[2019-10-25 12:41] germain-receeve commented on #281
We ended up solving the issue by updating our `jest.config.js` file: we added `core-js` to setup files and isolated modules from ts jest.

[code]

Hope this can help further readers

[2019-10-26 16:26] aaw5017 commented on #943
I am running into this problem also. Any updates?

[2019-10-27 13:49] ahnpnl commented on #1266
The error log indicates what you need to do. Typescript expects to find the type of function test in this case.

Please check README regarding to installation to work with jest and ts-jest.

[2019-10-27 13:49] #1266 closed

[2019-10-27 13:51] ahnpnl commented on #1264
Close as this question is related to jest repository.

Thanks @Itrulia a lot for helping with supporting.

[2019-10-27 13:51] #1264 closed

[2019-10-27 13:53] ahnpnl commented on #1255
Hi, have you guys tried moduleNameMapper in jest config ? If you define path mapping in tsconfig, you also need to inform jest about that path mapping.

[2019-10-27 16:31] AhmedMKamal commented on #1255
@ahnpnl that's exactly what this module `"tsconfig-paths-jest"` does.

[2019-10-27 16:42] ahnpnl commented on #1255
yes, either you can use that internal function provided by `ts-jest`, or you can use normal regex.

@twittwer the issue isn't caused by `ts-jest` version. I hope the solution provided by @AhmedMKamal answered your question.

[2019-10-27 16:52] ahnpnl commented on #1252
hi @leftstick , I think `jest.mock` hoisting works. In your first example, you put

`
jest.mock('ora', () => {
      return jest.fn().mockImplementation(mockOra)
    })
`

inside `describe`. I think this is the reason why hoisting doesn't work comparing to the 2nd example.
I think to answer this, you need to put a question on Jest repository because as far as I know, the 2nd example is the correct

[2019-10-27 20:02] twittwer commented on #1255
@ahnpnl why is it not caused by `ts-jest`, when the only change between a working and a broken state is the update of `ts-jest` from version `24.0.2` to `24.1.0`

[2019-10-27 20:06] ahnpnl commented on #1255
I checked the CHANGELOG and commits there isn't anything related to this issue. I suspect it might be caused by something else.

[2019-10-27 20:07] ahnpnl commented on #823
Closed as already provided a way to config path to package.json

[2019-10-27 20:07] #823 closed

[2019-10-27 22:56] Floppy012 commented on #1226
Affects code coverage too. Took a while until I found out why some files wouldn't show up in my coverage report.

Even if files have different names they get "merged" into one on the report. Disabling the cache works in this case too. Thanks @jaysoo

[2019-10-28 13:21] Floppy012 commented on #1226
Wouldn't you need to pass the whole pathname? Because if you'd only pass the file name, two files with the same name and same content (in different directories) would still end up having the same hash.

[2019-10-29 09:49] hedefalk commented on #1174
I'm having the same issue as @ejmartin504.

[code]

Using preset ts-jest doesn't help. Docs says

but I have
[code]

set in my tsconfig.json. It just seems that ts-jest doesn't honour my ts settings.

@ejmartin504  Did you find a way around this?

[2019-10-29 11:25] hedefalk commented on #1174
Stuff happens around here, I might need to debug this to understand what's going on: https://github.com/kulshekhar/ts-jest/blob/master/src/config/config-set.ts#L712

[2019-10-29 21:32] JRMaitre opened #1270 "React Fragment shorthand notation syntax error"
## Issue
Using jest `23.6.0` and ts-jest `23.1.4` I'm unable to use the shorthand notation of React.Fragment in my tests. However it only impacts the tests and the code builds and runs as expected.

I get the following error in a test using a fragment:

[code]

![image](https://user-images.githubusercontent.com/728171/67808265-9cb75180-fa53-11e9-8940-2c9e458e3d76.png)

## Expected behavior
I would

[2019-10-30 07:34] LukaszK88 commented on #1108
Hi @G-Rath did you have any luck solving this warning?

[2019-10-30 07:40] G-Rath commented on #1108
Interesting question. I'll have a look and see if I did :)

[2019-10-30 07:51] G-Rath commented on #1108
@LukaszK88 I actually can't reproduce this on my current project.

It could be have been fixed by `jest`, a new version of `typescript`, or of `ts-jest`.
I'll keep an eye out, but I'd suggest you try w/ the latest of all packages.
It didn't seem to matter, but I'm also using `\\.tsx?` rather than `.tsx?`.

[2019-10-30 11:38] naeemshaikh27 commented on #332
`"jest": "^24.7.1",
"ts-jest": "^24.0.2",`

[2019-10-30 11:59] dskopa-softdev commented on #281
Why is it closed? I can't use exported enum in my tests

actions.ts:
[code]

When running normally it's fine, but when i run tests it fails:
[code]

[2019-10-30 16:48] dtiziani opened #1271 "Cannot find module xxx from yyyy"
## Issue :
I`m trying to use module-alias with ts-jest but it does not work at all. Tried all the configuration from the manual and also some links, but could not have it working.

## Expected behavior :
Running tests and locating the given module mapped under moduleMapper.
I got it working both on tsc/ts-node-dev, but not with jest.
I've created a minimum setup to just reproduce the error.

## De

[2019-10-31 14:06] LukaszK88 commented on #1108
Thanks for getting back to me @G-Rath.
I will try to updated and see if it works.

[2019-10-31 14:37] viT-1 commented on #411
@yss14 Can you show usage example?

I'm trying to setup:
jest.config.js:
[code]

jest.setup.ts':
[code]

*.spec.ts:
[code]

shows me 'undefined'

[2019-11-01 03:46] cevio commented on #1233
I have not solved this problem yet. I just gave up on this practice. Does anyone know that we can continue to discuss.

[2019-11-01 11:52] hedefalk commented on #1174
This is the problem I think:

https://github.com/kulshekhar/ts-jest/blob/2fabdb102a9b0c5c4d81cc3e9f8419557b3e7cce/src/config/config-set.ts#L561

I'm guessing here, but since I want to use node with --experimental-modules and _not_ use babel, this messes up for me. My ts-config to output esm is overwritten because I haven't attached any babel transpilation?

[2019-11-01 12:55] localnet opened #1274 "Seems ignore modules required using "require""
## Issue :
ts-jest don't transform modules required using `require`.

[code]

## Expected behavior :
Transform modules required using `require`.

## Debug log:
<details/>
<summary>log file content</summary>

[code]
</details>

## Minimal repo :

jest.config.js:
[code]

tsconfig.json:
[code]

src/helpers/graphqlHelper.ts:
[code]

src/resolvers/pictureResolver.ts:
[code]

[2019-11-02 15:11] futurechallenger commented on #1068
Have you guys ever add a `jest` type in **types** section in the _tsconfig.json_:
[code]

[2019-11-04 20:35] MichalLytek opened #1277 "ts-jest fails to collect coverage with custom compiler"
## Issue :
I have a configured lerna monorepo that uses jest `projects` config to run all the tests at once and a custom `compiler: "ttypescript",` setting to apply some transformers for the paths mapping:
https://github.com/MichalLytek/type-graphql/tree/vNext

The problem is that when I run the `jest --coverage` on root dir, it collects the coverage ignoring `collectCoverageFrom` settings. And wh

[2019-11-06 09:28] microcipcip commented on #1271
@dtiziani Can you try to change this:
[code]
to this?
[code]
This is how I've set this up, and it is working for me:
[code]
My tsconfig is like this:
[code]

[2019-11-06 11:08] chadi-kazan opened #1281 "babel-jest transform specified but getting SyntaxError: Unexpected identifier Import for es6 module"
## Issue :
I am using storyshots with jest and that seems to work fine. I introduced storybook-figma-design, which is distributed as an es6 module.

Here's my jest.config with my

[code]

Similar issues have been raised before, I looked at the troubleshooting guide and went through them but couldn't figure out what's wrong.

[2019-11-06 14:17] #1281 closed

[2019-11-06 14:18] chadi-kazan commented on #1281
NVM i mocked it. but it'd be good to know how to solve this

[2019-11-06 16:45] dtiziani commented on #1271
Hi @microcipcip ,

Tried changing it to this config but still gives an error of module not found.
Did you get my repo to work with this change? I just added you as collaborator there, if you can commit the working version I'd thank you a lot, cause it is giving me lots headaches to not being able to run tests.

Thanks!

[2019-11-06 17:18] ahnpnl commented on #1277
Hi, I see you are using path mapping in tsconfig but I couldn't find your jest config moduleNameMapper accordingly. That will usually throw the error "cannot find module". Would you please add moduleNameMapper for your jest config and check if still seeing the same error.

Regarding to collect coverage, i'm not sure what caused the issue.

[2019-11-06 18:19] MichalLytek commented on #1277
I use custom compiler with a plugin that rewrites the paths. And it works, test are executed correctly, no "cannot find module" or type errors. They fail only on collecting coverage, like the compiler is not used on coverage things.

[2019-11-06 19:31] microcipcip commented on #1271
I will have a look and see if I can make it work :)

[2019-11-06 21:33] ahnpnl commented on #1277
Hmm, so to break down your described problem, I see 2 things:
- run jest --coverage on root doesn't collect correct coverage (ignore collectCoverageFrom).
- run jest --coverage in selected dir and run into issue with cannot find module.

The first issue could be that jest doesn't pick up the correct config. This one I think it's more related to jest itself. Ts-jest doesn't interfere with how jest

[2019-11-06 22:35] microcipcip commented on #1271
@dtiziani I've got it working, unfortunately I couldn't manage with your config as there was too much going on, and your src files had several typescript definitions failing, so I've substitute them with a simpler example.

Something to note is that I've added `tsconfig.build.json` for the `build` so that tests are not compiled in the `dist` folder when you need to deploy your work. Hope you can u

[2019-11-07 11:38] ahnpnl commented on #1271
hi @dtiziani , note that if you change jest config either in `package.json` or in `jest.config.js`, you need to clear jest cache by `npm run jest --clearCache` or `yarn jest --clearCache`.

[2019-11-07 12:30] dtiziani commented on #1271
I found out the issue, it was jut a stupid mistake on the json file, the attribute for moduleMaper was in the wrong place, just fixed it.

Lesson learned: json is very error prone without validators. :)
thanks anyway!

[2019-11-07 12:30] #1271 closed

[2019-11-07 14:20] #1226 closed

[2019-11-07 15:14] apflieger commented on #364
Hi there!

I'm experiencing the warning `Mapping only to first target of "*" because it has more than one (2)`
Having multiple path mapping for a pattern is supported by typescript (see https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping). Is there a reason we can't do that here?

[2019-11-07 17:33] MichalLytek commented on #1277
Yes, I will report that to the Jest repo. I mentioned it only as a background of what I was doing and trying.

Yes, the tests step is executed without any problem but then it throws TS types error on collecting coverage step:

[code]

[2019-11-07 20:24] JoshRobertson opened #1283 "Syntax Error with Optional Chaining in Typescript 3.7"
## Issue :
I just upgraded a repo to use Typescript 3.7 to test out optional chaining. It compiles successfully (using `webpack` and `@babel/preset-typescript`). However when I run a test against the optional chaining syntax I get an error that Jest can't parse it.

## Expected behavior:
Test should pass as normal

### Error output:
[code]

### Jest.config.js:
[code]
### package.json:
[code]
I'm u

[2019-11-07 21:47] ahnpnl commented on #1283
Hi, would you please provide a minimum reproduce repo ? I noticed in your above jest config seems to not have the complete config. It would be much easier to have a repo to check your issue.

[2019-11-08 13:55] ahnpnl commented on #1250
Hi,

Would you please provide us a minimum reproduce repo ? It will be easier to debug.

[2019-11-08 16:19] ntucker commented on #1283
I have this same error and my tsconfig.json is:

[code]

[2019-11-09 05:51] leftstick commented on #1252
Hi @ahnpnl, thanks for your help.

The thing I preferred the first one is, I need different mock of `ora` in each case. If that is not possible to achieve, i will try to find something workaround. Thanks again

[2019-11-09 05:51] #1252 closed

[2019-11-09 15:43] ahnpnl commented on #1174
Hi,

I think I found something related to this in [here](https://github.com/kulshekhar/ts-jest/issues/906#issuecomment-446096340).

Would you guys that solution ? I think indeed  you need to ask babel-jest to transform into commonjs.

[2019-11-09 15:50] ahnpnl commented on #1171
I think this error is related to how to write tests with jest, it's not in the scope of ts-jest. You can ask this question on StackOverflow or jest repository.

[2019-11-09 15:50] #1171 closed

[2019-11-09 23:45] ahnpnl commented on #1283
hi @JoshRobertson , @ntucker ,
Please check my [repo](https://github.com/ahnpnl/ts-jest-babel-example/tree/master) to see a working example with optional chaining. My guess is because you didn't inform `ts-jest` that you are using `babel` in your project which leads to the error.

[2019-11-10 00:00] ntucker commented on #1283
That made it work for me, though it didn't pick up my babel config from "src/.babelrc" like babel actually does. so I had to point to that file directly in the config instead of setting `true`.

[2019-11-10 00:03] ahnpnl commented on #1283
yes, you can either set to `true` which will tell `ts-jest` look for default location, or you can specify the path to babel config. You can find [here](https://kulshekhar.github.io/ts-jest/user/config/babelConfig) the documentation

[2019-11-10 00:14] ahnpnl commented on #1270
hi @JRMaitre ,

Is it possible for you to upgrade your repo to use latest `ts-jest` ?

[2019-11-10 00:39] ahnpnl commented on #1173
hi @remcohaszing , is this issue still occurred in `ts-jest` 24.1.0 ? If yes, would you please provide us a minimum reproduce repo ?

[2019-11-10 01:00] ahnpnl commented on #1166
the issue with coverage isn't in the scope of this preset, coverage is generated by istanbul and jest and `ts-jest` only provides compiled codes to let jest run and generate reports based on that.

[2019-11-10 01:00] #1166 closed

[2019-11-10 01:09] ahnpnl commented on #1130
hi @crutchcorn ,
When you changed `jest.config.js` in [fab0dda](https://github.com/crutchcorn/ts-jest-run-babel-plugin-bug/commit/fab0ddaeb6f1fff3a1e7eca87915fab883bc410f), you only use preset `ts-jest`. This means `ts` and `tsx` files are handled by `ts-jest` and leave js files as they are which results in that your the plugin is not ran on the source code.

You can check my [example repo](https:

[2019-11-10 13:16] ahnpnl commented on #1118
Hi, I tried create-react-app latest and they don't use ts-jest by default anymore so I gonna close this issue because it's irrelevant to this preset.

I have setup a sample repo for react [here](https://github.com/ahnpnl/react-ts-jest-babel) if you are interested in using ts-jest together with babel for a React project.

Happy testing !

[2019-11-10 13:16] #1118 closed

[2019-11-10 13:23] ahnpnl commented on #974
I will close this issue as it's not related to ts-jest but it's a problem with istanbul

[2019-11-10 13:23] #974 closed

[2019-11-10 13:26] ahnpnl commented on #970
You can see a sample repo to work with ts-jest, babel and react [here](https://github.com/ahnpnl/react-ts-jest-babel). I hope it helps. I will close this issue.

Happy testing !

[2019-11-10 13:26] #970 closed

[2019-11-10 13:33] ahnpnl commented on #1283
Close as already provided a sample working repo

[2019-11-10 13:33] #1283 closed

[2019-11-10 13:45] #1130 closed

[2019-11-10 13:48] #1084 closed

[2019-11-10 13:51] ahnpnl commented on #1277
Hi, I do have a few difficulties when cloning your repo and run your scenarios. Do you have some clear steps after cloning/downloading your repo to produce your scenarios ?

[2019-11-10 13:58] MichalLytek commented on #1277
It should be just `npm install` in root folder and then `npm run bootstrap` after cloning to install all deps for the packages.

[2019-11-10 15:28] MichalLytek opened #1288 "ts-jest fails to work with TS 3.7.2"
## Issue :

When I've updated my deps, the tests stopped working. I have a custom monorepo setup with TS references, Jest projects and `ttypescript` compiler to rewrite `@paths` on compile.

[code]

When I've downgraded the TS deps to 3.6.3, it works as earlier:
[code]

I've created two branches that you can checkout and reproduce:
https://github.com/MichalLytek/type-graphql/tree/ts-jest-3.7.2
htt

[2019-11-10 20:11] JoshRobertson commented on #1283
@ahnpnl does `ts-jest` support `babel.config.js` as opposed to `.babelrc`?

[2019-11-10 20:20] ahnpnl commented on #1283
Ts-jest supports all forms of babel config, including package.json, js and rc. In my example repo above, I used js config.

[2019-11-10 20:59] lissau commented on #1040
Same issue here, and experiencing the same behaviour as @bodinsamuel

[2019-11-10 21:12] ntucker commented on #1283
"ts-jest look for default location" is this hardcoded? babel picks up my file fine, but ts-config didn't unless i specify the path.

[2019-11-10 21:31] ahnpnl commented on #1283
no default location isn't hardcoded. Default location means babel config on root level, this is default behavior of `babel-jest` itself. If you don't have babel config on root level then you will need to specificly tell `ts-jest` to look for it by specifying the path.

[2019-11-11 11:37] remcohaszing commented on #1173
Yep. I encountered this in a fairly small repository, [mini-jsx](https://gitlab.com/appsemble/mini-jsx). I just upgraded everything to their latest versions and the warning is still logged.

The latest build output can be seen [here](https://gitlab.com/appsemble/mini-jsx/-/jobs/347081917).

[2019-11-12 06:48] ArtemKha commented on #576
this works perfect with react-boilerplate-typescript. thanks, man

[2019-11-12 15:15] Ore4444 commented on #933
@liamjones 's solution is not working for me.
I'm getting the same behavior when `babelConfig: require('./babel.config.js')` or `babelConfig: true`

This is my babel.config.js
[code]

[2019-11-12 15:39] JakeStanger opened #1289 "Unable to require `.d.ts` file on Unix only"
## Issue :
Similar but not the same as #950.

Running tests on my TypeScript project, including a TypeScript dependency, succeeds on Windows. It fails on Linux and OSX with the following:

[code]

`Fields.ts` contains:
- An interface
- A type
- A function

All of which are exported.

Here is my `jest.config.json`:
[code]
[(Link to preset)](https://github.com/Voitanos/jest-preset-spfx-react16/blob/

[2019-11-12 15:45] JoshRobertson commented on #1283
Just to follow up, the reason my babel config was failing was
[code]

the `modules:false` (which is needed for tree shaking in webpack) was causing syntax errors on import statements. Fortunately, this can be removed in Babel 7 and webpack will handle enabling module transformation automatically, allowing Jest to use the Babel config as well.

[2019-11-12 16:01] ahnpnl commented on #933
Does clear jest cache after changing config before rerunning tests help ?

[2019-11-12 18:56] jasonkuhrt commented on #1288
Hey @MichalLytek :)

I'm hitting a similar-seeming issue. In my project the following error is not reported by VSCode, package import etc. working as expected. I do not have this error in VSCode, just from ts-jest.

![image](https://user-images.githubusercontent.com/284476/68700715-5aae0580-0553-11ea-85cc-f92da47f2f67.png)

But It might not be related as I downgraded to 3.6 and still have this err

[2019-11-13 10:09] phikes commented on #411
@viT-1 See [the jest docs](https://jestjs.io/docs/en/configuration#globalsetup-string).

[2019-11-13 16:49] loudmouth commented on #364
@apflieger It looks like the issue with `moduleNameMapper`s not accepting arrays of module paths in the same way that typescript config allows for is an issue with Jest itself. I'll try to muster up the courage to jump in lions' den over there and open an issue about it.

[2019-11-14 09:47] pmarrone commented on #950
We are seeing a similar issue in a lerna monorepo project ("ts-jest": "24.1.0") on Mac.
The project is written in typescript and some of the project packages import a shared utilities library, also written in typescript
The package.json goes something like this:
[code]

Running the tests disabling the cache and using the jest configuration like this gave us the same problem:
[code]

The workaround

[2019-11-16 18:33] phikes commented on #1064
From [the jest docs](https://jestjs.io/docs/en/configuration#globalsetup-string):

This should clarify your issue.

[2019-11-18 19:02] Elyx0 commented on #436
Same problem here with blank lines  "jest": "^24.9.0",

[2019-11-19 00:24] hrajchert commented on #133
If anyone comes across this, now the configuration would be like

[code]

[2019-11-19 15:06] Domvel opened #1293 "Test does not work anymore if globals configuration object is set."
## Issue :
If I set the "globals" object for Jest in the package.json, the tests are not working anymore.
It seems like it replaces the configuration instead of assign. So I have to set all configurations.
Maybe this is a Jest or `jest-preset-angular` issue?

Story:
1. I replaced Karma / Jasmine with Jest in a new created Angular project (ng cli 8.3.12).
2. `npm test` (cmd: `jest`) works great. Al

[2019-11-19 17:24] marcj commented on #436
Same here with
[code]

I fixed it by adjust the `tsconfig.json`. I had `"mapRoot": "src/",` in it, after removing the line numbers were correct. Also make sure to not load somewhere the module `source-map-support` manually.

[2019-11-19 17:41] Elyx0 commented on #436
I was definitely loading it manually! Fixed!

[2019-11-20 08:05] baixiaoji commented on #970
@Dalfons0  you will solve this problem?

[2019-11-21 09:43] jo32 opened #1294 "ts files in node_modules is not transformed"
My project imports ts files in a package in node_modules, and when I run `npx jest`, error happend:

[code]

* sorry for pruning sensitive informations.

It seems that ts-jest is ignoring the file in node_modules.

My config is:

[code]

[code]

[2019-11-21 09:52] ahnpnl commented on #1294
If you set target to `commonjs` and clear jest cache, it should work.

[2019-11-21 11:43] jo32 commented on #1294
[code]
 @ahnpnl It seems commonjs is not an option. And If it is, commonjs does't support circular import as far as I know.

[2019-11-21 11:47] ahnpnl commented on #1294
sorry my bad, `module: commonjs`

[2019-11-21 11:48] jo32 commented on #1294
@ahnpnl  I should have guessed that. I changed the tsconfig to be:

[code]

still no good

[2019-11-21 11:58] ahnpnl commented on #1294
did you try to clear jest cache before rerunning tests ?

[2019-11-22 18:47] allenhwkim commented on #603
This worked for me.

```$ npm install ts-jest@22.4.6 -D```

[2019-11-23 00:00] domske commented on #1173
Same here. I can't disable the diagnostic messages. Not all or by message code.

 **jest.config.js**:

[code]

**package.json** (Snippet)

[code]

[2019-11-25 11:26] ChrisLahaye commented on #1274
Did you solve this issue?

[2019-11-25 12:12] ChrisLahaye opened #1299 "Support for TypeScript 3.7.2"
Hello!

ts-jest currently does not work with TypeScript 3.7.2. Import statements are not transformed in the transformed code of imports in test files.

[code]

[2019-11-25 12:17] kulshekhar commented on #1299
This doesn't look like a typescript version issue. The import format has been the same for a while. Is the rest of the config correct?

[2019-11-25 14:28] ChrisLahaye commented on #1299
Yes, it broke for me after upgrading the typescript package.

tsconfig.json:
[code]

jest.config.js
[code]

[2019-11-25 16:33] threesquared commented on #1299
I think I have this same issue but with Typescript version `3.4.5` and ts-jest version `24.2.0`

[code]

[2019-11-25 19:54] localnet commented on #1274
No, I could not solve it.

[2019-11-27 04:24] Barrior opened #1303 "Istanbul ignore doesn't work in this case"
## Issue :
This is my source code:

[code]

But it doesn't seem to work whether `/* istanbul ignore if */` or `/* istanbul ignore next */`. Am I using it the wrong way?

The actual coverage report at [here](https://29-208686949-gh.circle-artifacts.com/0/home/circleci/app/coverage/lcov-report/index.ts.html#L87).

## Expected behavior :
Hope it work. Thanks.

## Debug log:
<details/>
<summary>log fi

[2019-11-29 11:09] Eoksni commented on #1107
@ahnpnl But `globalSetup` is a typescript file. If `ts-jest` is executed AFTER `globalSetup`, then how jest is able to run it? It just fails to process path mapping, in other ways it works with typescript completely fine.

I have the same issue as people above and for `setupFilesAfterEnv` path-mapped imports work completely fine. Only `globalSetup` and `globalTeardown` are affected. Well, also cus

[2019-11-29 11:19] Eoksni commented on #1107
Still, it is probably unrelated to `ts-jest` : https://github.com/facebook/jest/issues/6179

[2019-11-29 11:25] Eoksni commented on #1107
Adding `require("tsconfig-paths/register");` at the top of `globalSetup` seems to fix it.
This works for me `globalSetup.ts`:
[code]

[2019-11-29 11:41] ahnpnl commented on #1107
indeed `ts-jest` only executes after `globalSetup` . The reason is `ts-jest` is a preset, and it executes when jest `transform` executes. Therefore I can understand that `globalSetup` with ts is not working.

[2019-11-29 11:47] Eoksni commented on #1107
Sorry if I did not make my self clear. I have no idea about the internals, but here is the observed behavior:

`globalSetup` with ts DOES work if I add `ts-jest` to `transform` config. So I assume `ts-jest` is applied before `globalSetup`, otherwise why would it work?

But `moduleNameMapper` does not work with `globalSetup` EVEN if you don't use ts.
But if you DO use ts, you can workaround that by

[2019-11-29 12:06] ahnpnl commented on #1107
I see, so look like jest `transform` will work with `globalSetup` ts file because `ts-jest` is defined in `transform` config (like you mentioned).
Regarding to `moduleNameMapper` not working EVEN not use ts is indeed something outside the scope of `ts-jest`. Thanks for clarifying 👍

I will close this issue.

[2019-11-29 12:06] #1107 closed

[2019-11-30 11:06] zhangyuang opened #1305 "ReferenceError: util_1 is not defined"
## Issue :
![image](https://user-images.githubusercontent.com/17424434/69899632-300dda80-13a4-11ea-88bc-67bc7c77892c.png)
i want to only mock one function in src/utils.ts
but it loooks like jest.mock load js files instead of ts files
here is [repo](https://github.com/ykfe/egg-react-ssr/blob/test/unit/packages/yk-cli/tests/update.test.ts)
## Expected behavior :
jest.mock can load the function which

[2019-11-30 14:07] zhangyuang commented on #1305
fix by use jest.requireActual

[2019-11-30 14:07] #1305 closed

[2019-12-01 19:06] ChrisLahaye commented on #1299
@kulshekhar do you have any idea what may cause this?

[2019-12-01 19:24] kulshekhar commented on #1299
@ChrisLahaye not really. I tried it out and it worked fine for me. I checked the [package-lock.json]() for good measure and it has the 3.7.2 version of typescript (all tests are passing with 3.7.2)

[2019-12-01 20:13] ChrisLahaye commented on #1299
@kulshekhar can you post a gist of your code

[2019-12-02 03:34] jemerald commented on #281
I'm seeing the same problem with version `24.0.2`.

Seems to only happen when `isolatedModules: true` is used, but we need this setting to improve performance issue (#1115).

[2019-12-02 12:11] kulshekhar commented on #1299
sorry, it was a quick test that I carried out in a temp directory and
deleted it after.

Side note: ts-jest has tests which you can take a look at in case you're
still stuck.

On Mon, Dec 2, 2019 at 1:43 AM Chris Lahaye <notifications@github.com>
wrote:

[2019-12-02 15:52] ahnpnl commented on #1299
Related to #1288

[2019-12-02 17:00] ChrisLahaye commented on #1299
For me the problem was that I was using `target: esnext` which tells the compiler that your runtime will be able to handle esnext features, i.e. supports the nullish coalescing and optional chaining operator. I am using node 12 which only supports up until es2018. For people encountering this problem, check what runtime you are using and which features (e.g. operators and functions) are supported

[2019-12-02 17:00] #1299 closed

[2019-12-04 21:00] PabloSzx opened #1308 "Next.js support"
## Issue :

`ts-jest` is not **out-of-the-box** compatible with `Next.js`, basically because in `Next.js` there is no need to add `import React from "react"` in every file.

That effectively means that in `ts-jest` when you import a .tsx file, all you get is `'React' refers to a UMD global, but the current file is a module. Consider adding an import instead.`

## Expected behavior :

Work correctl

[2019-12-05 05:13] sbbird opened #1309 "documentation of babelConfig field is wrong?"
The [document](https://kulshekhar.github.io/ts-jest/user/config/babelConfig) says we can use a js babel config file in babelConfig
[code]
This doesn't work, it gives me
[code]

## Expected behavior :
The correct usage is
[code]
Shall we update the document accordingly?

[2019-12-05 06:26] ahnpnl commented on #1309
Hi,

Your not working example isn't the same as your expectation code. Does it work if specifying babelConfig: babel.config.js ?

[2019-12-05 08:42] sbbird commented on #1309
Ah sorry, I just copied the code snippet from https://kulshekhar.github.io/ts-jest/user/config/babelConfig.
Let me put it clear.
The code not working is
[code]
The error is
[code]
The working code is
[code]
I will update the issue description.

[2019-12-05 08:48] ahnpnl commented on #1309
would you please also provide your `babel.config.js` content ?

[2019-12-05 08:55] sbbird commented on #1309
Sure, it's not a crazy one.
[code]

[2019-12-07 02:55] chasel34 commented on #1309
I got the same error on this, and when I use

[2019-12-07 02:57] chasel34 commented on #1309
when I use the code below
`'ts-jest': {
  babelConfig: require('./babel.config.js')
}`
babel.config.js

[2019-12-07 03:17] chasel34 commented on #1309
when I use the code below
[code]
I got an error on transform jsx

my babel.config.js
[code]
am I using it the wrong way？

@sbbird

[2019-12-08 13:48] yacinehmito opened #1310 "Leverage --incremental"
This is a feature request.

## Issue :

Our team is working on a large codebase and we are currently having issues with the time our CI takes. We are looking at all the ways to make the build faster.
One of the bottlenecks is the time it takes to run the tests. We investigated and most of time taken to run unit tests is not to actually run the tests but to compile the TS files on-the-fly.

## Expe

[2019-12-08 13:53] MichalLytek commented on #1288
I think we can close the issue now - `ts-jest` v24.2.0" works for me with TS v3.7.3 😉

[2019-12-08 13:53] #1288 closed

[2019-12-08 13:54] ahnpnl commented on #1310
Hi,

We are happy to get community's help in improving ts-jest. Right now we are lack of capacity to support all needs from the community. Therefore feel free to help us by your PRs, we really appreciate.

[2019-12-08 13:55] ahnpnl commented on #1288
Thanks, this is strange. Perhaps that is the error of ts < 3.7.3 ?

[2019-12-08 14:02] ahnpnl commented on #1308
Hi,

Would you please help us to investigate the issue ? We are at the moment lack of capacity to handle all community's requests. We really appreciate if you can help us by contributing to ts-jest.

[2019-12-08 14:10] ahnpnl commented on #1294
Hi,

Do you still encounter the issue ? If yes, please check my latest comment. If still not working, please provide a minimal reproduce repo. Thanks 👍

[2019-12-08 18:05] tonyhallett commented on #1088
Jest does not describe that all variables that begin with mock are hoisted, well it certainly does not now.  **It does not hoist variables with name that begins with mock.**

The exception is that there will be no error thrown.

Below is the code for the hoisting :

[code]

Note the `if (!expr.isCallExpression()) {` - the only statements that get hoisted are statements of the form jest.mock/unmock

[2019-12-08 19:39] tonyhallett commented on #1098
The test did not fail due to version change in ts-jest.  ts-jest has never supported deepUnmock like jest does through babel-jest - [see my comment ](https://github.com/kulshekhar/ts-jest/issues/1088#issuecomment-562975615).

I am assuming that you have changed your configuration and that before using ts-jest for transform you was using @babel/preset-typescript ( and jest was transforming with bab

[2019-12-08 23:35] tonyhallett commented on #1098
prior to this commit 04ab3dee231a896db74c36f0bef330884fcb1987 , after the typescript had been transformed the transformed source was then passed to babel for an addition transform if you did not explicitly skip this step with [skipBabel](https://github.com/kulshekhar/ts-jest/blob/91e636d12e1868be1d82358ce6ea6a9bdb7ef190/src/postprocess.ts#L106)  This would have performed hoisting.

This has now be

[2019-12-09 08:09] chasel34 commented on #1309
it works when I use the code below
[code]

[2019-12-09 08:12] ahnpnl commented on #1309
Hi @chasel34,

Use `babelConfig: true` means `ts-jest` will automatically locate babel config file at default path (which is on root level). So it usually works. If specifying `babelConfig: <file_path>` like @sbbird , it means the babel config locates at another place other than default path.

I'll check why `babelConfig: babel.config.js` doesn't work for @sbbird .

[2019-12-10 21:35] aldarund commented on #1283
What about support of optional chaining without babel? Im using ts-jest and typescript 3.7 and it have native support for optional chaining without babel, but ts-jest still complains about it. I dont really want to use babel

[2019-12-11 13:31] ChrisLahaye commented on #1288
@MichalLytek Can you try removing your lock file and run yarn install again. Jest performed a minor upgrade from 24.8.0 to 24.9.0 which breaks ts-jest for me. What about you?

[2019-12-11 14:05] ChrisLahaye opened #1315 "Support jest 24.9.0"
Hello,

Jest released a new minor version 24.9.0 that breaks ts-jest. It breaks for prior versions as well due to unconstrained nested dependencies.

The BREAKING change is https://github.com/facebook/jest/commit/1d8245d77d47b4198d51e55da87893d7dfe1a759#diff-4ac32a78649ca5bdd8e0ba38b7006a1e

Overwriting the nested dependencies confirms this and can be used as temporary workaround:
[code]

It would

[2019-12-11 14:17] ahnpnl commented on #1315
hi,

Our CI is running with jest 24.9.0 and there aren't any issues. The breaking change you linked doesn't belong to 24.9.0. `master` jest branch isn't 24.9.0. What exactly not working ?

[2019-12-11 15:16] ChrisLahaye commented on #1315
@ahnpnl Oops, you are right, I linked the wrong commit.

I use a module in my globalSetup file that performs `require` on typescript files. Jest 24.9.0 doesn't transpile the import statements correctly.
[code]

[2019-12-11 15:18] ahnpnl commented on #1315
would you please provide a minimum repo for your issue ? Thanks 👍

[2019-12-11 15:24] ChrisLahaye commented on #1315
@ahnpnl Will do tomorrow or the day after tomorrow, thank you

[2019-12-11 18:05] MichalLytek commented on #1288
@ChrisLahaye
I've removed the lock, bootstraped the monorepo, everything works ok 💪
[code]

[2019-12-15 14:06] ChrisLahaye commented on #1315
@ahnpnl https://github.com/ChrisLahaye/js-test-bug

The compilation issues only occur after awaiting a promise in globalSetup:
[code]

Without it, the required files are compiled correctly.

[2019-12-15 15:51] Shigma commented on #1289
confronted with the same issue.

[2019-12-18 01:09] XertroV commented on #1289
@JakeStanger @Shigma - if you haven't fixed / worked around this, setting `tsconfig.json/compilerOptions.preserveSymlinks` to `true` fixes for me. (For me it's a repo using lerna, but seems like ts-node + symlinks are the issue, so any `npm link` type stuff in general)

[2019-12-18 10:29] Prior99 commented on #917
In order to get debugging to work, I removed `"collectCoverage"` from my jest configuration and instead changed my npm script to `jest --coverage`. Then, in VSCode's launch configuration I did **not** add that flag. Who needs coverage during debugging anyways? It also makes the test execution slower.

Of course, this is just a workaround until this is fixed.

[2019-12-18 11:09] JakeStanger commented on #1289
Not using lerna or any other package/approach that should be creating symlinks, and this fix does not work for me. I will try and put together a minimal repo at some point soon but I still haven't found the cause exactly...

[2019-12-20 17:41] CaptEmulation commented on #1250
I see the same behavior. Babel configuration and tests are fine when running tests normally but fails to use ts-jest babelConfig when collecting coverage. I believe jest is transforming with its built-in babel-jest config when feeding code into the coverage

[2019-12-23 18:55] JamieCorkhill commented on #259
@bbugh I tested with just **one** unit test that simply checks if a Promise rejects with a value that is an instance of a specific error type. There are no calls to any external/third-party APIs across the network. That one test itself takes 6ms, but the entire time was 5 seconds. With your fix, I saw a 57.27 percent reduction, down from 5.284 seconds to 2.258 seconds. I still don't see why it's t

[2019-12-23 23:37] bbugh commented on #259
Unfortunately not, I know almost nothing about the internals of jest. I saw that tip on the jest repository and reported it here to save other people pain.

If I had to make a guess, whatever boot time is needed for the workers is noticeable with a small number of tests, but with a large number of tests the boot time is negligible and saves time overall.

[2019-12-24 00:29] JamieCorkhill commented on #259
@bbugh Thanks very much, and thank you for coming up with the workaround/fix.

[2019-12-24 07:54] sbbird commented on #1309
Any updates? I am happy to send a pull request to fix the documentation if that is what you want.

[2019-12-25 12:37] dfa1234 commented on #332
Solution is
`// istanbul ignore next`

[2019-12-26 02:31] shivanshutiari319 commented on #1070
i also go through thr same problem as a begginer.my fault is that i just use c instead of C in component.i know that is very silly mistake.

[2019-12-27 23:09] ahnpnl commented on #1315
hi, it looks strange to me that removing the piece of code `await new Promise` solved the issue. Have you tried with `babel` only ? Does it work with only `babel` and `jest` ?

[2019-12-27 23:43] ahnpnl commented on #1309
I confirmed this is indeed an issue. There are 2 issues here:
- Documentation is wrong.
- Using `babelConfig: require(./babel.config.js)` doesn't work for me and @chasel34 . However it works for @sbbird .

Does `babelConfig: require(./babel.config.js)` always work for you @sbbird  ?

[2019-12-29 08:59] yacinehmito commented on #1310
I attempted to work on this but currently ts-jest assumes that all compilation happens in memory and hands off caching to Jest. Leveraging `--incremental` goes against that.

I'll try to do an incremental-only Jest transformer first and see how it behaves. After that we may consider introducing the feature to ts-jest but that will be a _large_ undertaking.

[2019-12-29 14:48] ahnpnl commented on #1310
Have you checked ts-jest processing doc ? Does it help to bring up some ideas for your work ?

[2019-12-30 14:14] ahnpnl commented on #1293
hi, this is the expected behavior when using `jest-preset-angular`. It's not `ts-jest` issue. Please check `jest-preset-angular` [custom config doc](https://github.com/thymikee/jest-preset-angular#custom-tsconfig)

[2019-12-30 14:14] #1293 closed

[2019-12-30 14:16] ahnpnl commented on #1255
hi @twittwer , do you have a sample repo ?

[2019-12-30 14:32] andreialecu opened #1333 "ts-jest using wrong typescript version with yarn workspaces/monorepo (repro)"
## Issue :

I'm running into a blocking issue with ts-jest using yarn workspaces. I have multiple packages that define various typescript versions, and `ts-jest` seems to use the wrong one, rather than the one pinned inside each package.json.

So for example, I'm using typescript 3.7 syntax in a package, but the main `node_modules` folder has typescript defined as version `3.5.3` instead, and `ts-

[2019-12-30 14:36] andreialecu commented on #1333
In a monorepo, yarn installs `typescript` with its different versions like this:

![image](https://user-images.githubusercontent.com/697707/71586282-58633300-2b22-11ea-90cc-a7d70f83d0c8.png)

ts-jest should use the typescript package from the innermost package.

In the mean time, are there any workarounds to get unblocked?

[2019-12-30 14:40] ahnpnl commented on #1173
hi, the log you saw actually came from this [logger line](https://github.com/kulshekhar/ts-jest/blob/01615fd2a28810456c042af98dea98c1be800eab/src/config/config-set.ts#L347). This logging is more like a warning, disabling diagnostics means if there is a compilation issue, `ts-jest` won't throw [error](https://github.com/kulshekhar/ts-jest/blob/01615fd2a28810456c042af98dea98c1be800eab/src/config/con

[2019-12-30 14:46] andreialecu commented on #1333
Found a workaround:

[code]

Adding the `nohoist` option to `ts-jest` seems to work around this for now. More info might be available at: https://yarnpkg.com/blog/2018/02/15/nohoist/

[2019-12-30 14:49] #1173 closed

[2019-12-31 10:11] twittwer commented on #1255
@ahnpnl Not yet, but I can setup one next week

[2019-12-31 10:14] #933 closed

[2019-12-31 10:15] ahnpnl commented on #1309
close via #1332

[2019-12-31 10:15] #1309 closed

[2019-12-31 10:37] ahnpnl commented on #1229
hi @bodinsamuel , I've checked your repo. You have `tet.d.ts` but you don't have `tet.ts` which causes the error. If you put your enum into `tet.ts` it will work. `d.ts` extension is type definition file, I wouldn't put enum definition into `d.ts` to avoid issues. I will close this issue as it's working.

[2019-12-31 10:37] #1229 closed

[2019-12-31 10:40] ahnpnl commented on #962
hi @takahser , would you please try with latest `ts-jest`@24.2.0 ?

[2019-12-31 13:14] ahnpnl commented on #934
I can't reproduce anymore the error after upgrading all your repo's dependencies to latest version so I'll close this issue. If you still can reproduce the same error with latest `jest` and `ts-jest`, feel free to open another issue.

[2019-12-31 13:14] #934 closed

[2019-12-31 15:29] ahnpnl commented on #944
`ts-jest` has e2e test on const enum as well as enum, the tests are successful. If you encounter any issues with const enum or enum, please create another issue. I will close this.

[2019-12-31 15:29] #944 closed

[2019-12-31 15:30] ahnpnl commented on #902
i will close this issue. If you have any issues like this with latest `ts-jest`, please create another issue.

[2019-12-31 15:30] #902 closed

[2019-12-31 15:43] ahnpnl commented on #1108
I can't produce either, I will close this issue. If you have other issues related to this, feel free to open a new one.

[2019-12-31 15:43] #1108 closed

[2019-12-31 15:45] ahnpnl commented on #949
hi @stevehawley , would you please provide a minimum repo ?

[2019-12-31 16:34] dl748 commented on #1289
Had this issue too, downgraded jest to 24.8 and it fixes it.  There is another issue in the list that has the 24.9 breaking change for this module

[2019-12-31 16:37] dl748 commented on #1315
I'm getting an issue that seems to be 24.9 related as well.

`TypeError: Unable to require `.d.ts` file.`

Reverted back to 24.8 and it works just fine.

https://github.com/kulshekhar/ts-jest/blob/dd816abe2aa927e48eb81c3f0e3b4d5294fd676d/src/compiler.ts#L185
seems to be returning no output files

[2019-12-31 16:43] ahnpnl commented on #1315
do you have a repo for your issue @dl748 ?

[2019-12-31 17:17] ahnpnl commented on #949
The `jest` globals object is still correct. By default `ts-jest` uses typescript language service (isolatedModules: false)  to compile `ts` file before passing to `jest`. The error `Cannot find name 'global'.` comes from typescript language service. When disabling diagnostics means you also disable the possibility of `ts-jest` to cancel tests and throw errors when there are errors with compiling t

[2019-12-31 17:17] #949 closed

[2019-12-31 18:16] ahnpnl commented on #941
hi, at the moment `ts-jest` only supports `pathRegex` with string, `new RegExp` isn't supported. You can fix your issue by specifying `pathRegex: '/\.test\.tsx$/'` . If you want to request for support `new RegExp`, feel free to submit a PR to help us.

[2019-12-31 18:16] #941 closed

[2019-12-31 18:17] ahnpnl commented on #925
hi @kcebula , feel free to submit a PR to help us to improve this.

[2019-12-31 23:20] joseph-galindo commented on #941
Hi @ahnpnl, thanks for taking a look at the issue. Truth be told, I don't think I am still running into the original issue I was trying to solve in January.

To follow on your suggestions though, I don't think it would be possible to support `new RegExp`, since it seems that it will always be serialized to the string `"{}"` as jest provides this config data to ts-jest.

Do you think a PR should be

[2019-12-31 23:25] ahnpnl commented on #941
Yes I think the documentation needs to be adjusted. We are always happy to receive PRs from community to help us :)

Besides, you are right that because of stringify config before adding to cache that results in new RexExp is stringify as a string ‘{}’. Actually it is possible to support RexExp object but it’s more like an enhancement. If you have free time, feel free to help us with that.

[2020-01-01 11:13] ahnpnl commented on #929
hi, I tried to put your example codes into a repo but i didn't get the same error with latest `ts-jest`, `jest` and `typescript`. The error I got now is different:
[code]

Would you please try with latest `ts-jest`, `jest` and `typescript` ? If you still see the same error like original error, would you please provide a minimum repo ?

[2020-01-01 11:34] ahnpnl commented on #907
the error you got
[code]
comes from `tsc`. By default `ts-jest` uses typescript compiler to compile `ts` files before `jest` runs tests. In this case, typescript can't find that file. You need to make sure that if you run `tsc` on `src/components/Dashboard/components/Workspace/components/Board/components/Card/index.tsx` succeeds then test will succeed without `isolatedModule: true`.

[2020-01-01 11:34] #907 closed

[2020-01-01 11:36] ahnpnl commented on #812
I tried but somehow travisCI failed on some snapshots, not sure why.

[2020-01-01 11:41] ahnpnl commented on #805
i will close this issue. If anyone still encounters this with latest `jest` and `ts-jest`, feel free to open a new issue with a minimum repo

[2020-01-01 11:41] #805 closed

[2020-01-01 11:58] ahnpnl commented on #884
hi this is not `ts-jest` issue. This is related to how to use `enzyme`, `react` with `typescript`.  Please check this [post](https://github.com/airbnb/enzyme/issues/1284#issuecomment-426022994) for your issue.

[2020-01-01 11:58] #884 closed

[2020-01-01 12:53] ahnpnl commented on #948
hi, please check this [repo](https://github.com/dooboolab/dooboo-native-ts). I think your problem is in `jest` config but i'm not entirely sure what causes the issue. If you try to migrate your example repo to the link repo I attached here, you will get it working.

[2020-01-01 12:53] #948 closed

[2020-01-01 13:24] #1080 closed

[2020-01-01 13:31] ahnpnl commented on #962
i will close this issue, if you have any issues with const enum, feel free to create another issue. `ts-jest` CI has tests with const enum so we are sure it is working.

[2020-01-01 13:31] #962 closed

[2020-01-01 13:32] #1022 closed

[2020-01-01 15:50] ahnpnl commented on #1042
hi, if you have `d.ts` with an associate `ts` with it, that should work normally.
@finnigantime if you still encounter issue, feel free to open another issue.

[2020-01-01 15:50] #1042 closed

[2020-01-01 15:54] ahnpnl commented on #1040
hi, if you have a `d.ts` file with an `ts` file associated with it, it should work normally. Whatever you have in your `ts` file can be written to `d.ts` with typescript compiler option to generate a `d.ts` file. If you still encounter an issue, feel free to open a new issue with a minimum repo.

[2020-01-01 15:54] #1040 closed

[2020-01-01 15:55] ahnpnl commented on #1149
hi, would you please provide a minimum repo ?

[2020-01-01 16:39] ntucker commented on #933
Please release a new version

[2020-01-01 16:52] ahnpnl commented on #1029
I think this might be related to `jest` and `rewire`. I've googled and found some posts that there is a babel plugin for this. Look like `ts-jest` cannot do anything in this case

[2020-01-01 16:57] markcarroll commented on #917
I found a fix that works well for me.  If you add `--coverage false` to the command line when the jest debugger is run, it works just fine.  The solution is to add this block to your launch configuration in `.vscode/launch.json`:

[code]

[2020-01-01 17:06] ahnpnl commented on #1154
hi, the compiled js file can be found [here for isolatedModule=true](https://github.com/kulshekhar/ts-jest/blob/dd816abe2aa927e48eb81c3f0e3b4d5294fd676d/src/compiler.ts#L96) and [here for isolateModule=false](https://github.com/kulshekhar/ts-jest/blob/dd816abe2aa927e48eb81c3f0e3b4d5294fd676d/src/compiler.ts#L180). When `ts-jest` compiles, it compiles both test files and source files. Therefore if

[2020-01-01 17:11] #1270 closed

[2020-01-02 01:06] PabloSzx commented on #1308
I've been investigating and the automatic appending of `import React from "react"` in Next.js is from a custom plugin called [jsx-pragma](https://github.com/zeit/next.js/blob/canary/packages/next/build/babel/plugins/jsx-pragma.ts) added to the Babel configuration [here](https://github.com/zeit/next.js/blob/canary/packages/next/build/babel/preset.ts#L123).

I've been trying to make it work inside [

[2020-01-02 16:36] mfellner commented on #805
@ahnpnl, here is a minimal repository to reproduce the issue: https://github.com/mfellner/ts-jest-issue-805-demo
Do you prefer a new issue or could you re-open this one?

[2020-01-02 16:44] ahnpnl commented on #805
Hi, I would prefer a new issue. Would you please create a new one with your repo and describe the issue ?

[2020-01-02 20:19] CharlesStover commented on #1244
Is there any intention on fixing this? I've run into the same issue.

[2020-01-03 09:49] mfellner opened #1336 "TypeError: Unable to require `.d.ts` file with yarn workspaces and TypeScript project references when using --no-cache"
## Issue :

In a mono repository with yarn workspaces and TypeScript project references, ts-jest fails with the error `TypeError: Unable to require .d.ts file.` in a package/project/workspace that references another local package/project/workspace in case the jest cache is empty or tests are run with the `--no-cache` option.

[code]

There are two workarounds:

* set `isolatedModules: true` in `je

[2020-01-03 18:49] yacinehmito commented on #1310
I did after you told me about this. Thank you for the info.

It confirms the level of coupling. I did a PoC of a runner with support for `--incremental` and it turned out to be a bit _slower_ than `ts-jest`.
With `ts-jest`, what we lose in speed by not using `--incremental`, we gained thanks to its aggressive caching.

The issue is that it's this very caching that makes us stop using `ts-jest`. We

[2020-01-04 14:52] ahnpnl commented on #1308
I checked your repo, a few modifications need to be done:
**jest.config.js**
[code]
remove `.babelrc` and replace with `babel.config.js`
[code]
- Install `babel-jest` dependency

However, I can't make it work.
[code]
But this error looks slightly better. The errors you encountered are related to how to config `ts-jest` to work with `babel`

[2020-01-04 14:55] ahnpnl commented on #1308
If `Nextjs` fully uses only `babel`, perhaps you can't use `ts-jest` to achieve what Nextjs does. Probably you can only use `jest` with `babel`.

[2020-01-04 14:58] PabloSzx commented on #1308
That means that ts-jest isn't able to work with babel and the ts-jest default config at the same time?

(Babel-jest doesn't work with decorators, but ts-jest does)

[2020-01-04 15:07] ahnpnl commented on #1308
`ts-jest` can work with babel via `transform` config. But what NextJs does with `import React from "react"` is via `babel` plugin and they also handle transform ts files with `babel` (I suspect).

Because you are trying to achieve `there is no need to add import React from "react" in every file.`, this can't be done without a custom typescript transformer (with `ts-jest`). Nextjs uses `babel` plug

[2020-01-04 15:09] ahnpnl commented on #1308
You can achieve the same thing like `jsx-pragma` by implementing a custom typescript transformer then declare that transformer in `astTransformers` config of `ts-jest`

[2020-01-04 15:15] PabloSzx commented on #1308
Trust me, I've been fighting a long time to make work a fullstack project with NextJS - TypeGraphQL - TypeORM/Typegoose using a single compilation process using babel, and babel-plugin-proposal-decorators doesn't completely work 😥

I've never made a TypeScript transformer before, I'll have to learn 😅

[2020-01-04 15:19] ahnpnl commented on #1308
you can learn from [jest-preset-angular](https://github.com/thymikee/jest-preset-angular/blob/master/jest-preset.js). I hope it is clear for you now how to achieve what you need. I guess this issue can be closed ?

[2020-01-04 15:22] PabloSzx commented on #1308
I mean, ts-jest still isn't out of the box compatible with Next.js, but if you prefer to close it meanwhile I work with the solution, it's ok

[2020-01-04 15:23] ahnpnl commented on #1308
this is not the issue with `ts-jest` because NextJs is a framework and it applies a "magic" to achieve what you describe. Making `ts-jest` framework-dependent shouldn't be done.

[2020-01-04 15:24] #1308 closed

[2020-01-04 15:30] ahnpnl commented on #1336
Hi, I can confirm that at the moment, `ts-jest` doesn't support monorepo by default (lerna, yarn workspace etc..) so that's why workaround is required and I'd prefer to use `preserveSymlinks: true`, `isolatedModules` true will disable runtime typechecking (unless you want to increase test speed and not care about runtime type checking).

We are lack of staffs to maintain or implement new features

[2020-01-04 15:42] ahnpnl commented on #1336
since use `preserveSymlinks: true` seems to be a fair solution, i'm not sure it is considered as workaround or a config missing to make mono repo working. It's kind of a grey definition imo.

[2020-01-06 16:10] ahnpnl commented on #1310
Hmm interesting from your explanation. When ts-jest caching was written, there wasn’t incremental build at that point so I can understand why the choice is cached compiles stuffs on RAM.
I wonder if ts-jest somehow can reuse cache from tsBuildInfo instead of using current caching mechanism. Is it the way you tried with your POC ?

[2020-01-06 17:46] yacinehmito commented on #1310
Absolutely. It is however architecturally very different from ts-jest. I don't know how to transpose it to what ts-jest does.

I've been having a mitigated success scaling the PoC though. TypeScript can't emit a file _with its dependencies_. It means that I need to either emit all files before starting to run the tests, or build the dependency graph myself and emit the files one by one on demand.

[2020-01-06 18:31] xbrukner opened #1338 "Matcher interface does not inherit type from Expect interface"
Hello,
I am fairly new to TypeScript and Jest; coming from the Java world, I would expect that following behaviour yields compile time error:
(Using @types/jest@24.0.24)

## Issue :
The following test fails at runtime, not compile time, even though there is a type mismatch:
[code]
## Expected behavior :
I would expect that TypeScript yields type error on the `expect` line; it can be simulated with

[2020-01-06 19:31] ahnpnl commented on #1310
Is this you used `--incremental` for `tsc` and then use `jest` to run on compiled js files ? If that is the case, I can understand why jest and typescript's models are incompatible like your explanation below.

I agreed

[2020-01-06 19:58] ahnpnl commented on #1338
Hi @xbrukner ,

The issue you have isn't in `ts-jest` scope. I have the same issue with WebStorm too. The issue is related to integrating inline typescript language service into IDE. When you run test and see the error `Argument of type '10' is not assignable to parameter of type '"string"'.ts(2345)` means typescript compiler detects the error correctly, just IDE doesn't indicate that on-the-fly.

[2020-01-06 20:01] ahnpnl commented on #1338
It can be related to how `@types/jest` is defined as well. You can ask questions about that at [@types/jest repo](https://github.com/DefinitelyTyped/DefinitelyTyped)

[2020-01-06 20:38] xbrukner commented on #1338
Hi @ahnpnl,

you are right, the issue is related to @types/jest repo, as you suggested. Thank you for pointing me in the right direction!

I am closing the issue as it is not relevant to `ts-jest`.

[2020-01-06 20:38] #1338 closed

[2020-01-06 21:27] yacinehmito commented on #1310
Almost. When you do that you lose the watcher and snapshots are improperly located. Here I have a runner that starts a TypeScript program, emits files with your `hoist-jest` TS transformer, and injects a custom transformer to the following tests. This transformer, when asked to transform the TS file now returns the JS file compiled on disk.

[2020-01-06 22:05] ahnpnl commented on #1310
FYI, perhaps later we can learn from [Angular CLI](https://github.com/angular/angular-cli/issues/13941) regarding to this topic.

[2020-01-07 15:39] shirshak55 commented on #411
@phikes hmm then  how are we able to get those variables inside test suites? even typeorm getConnection don't work inside testsuites but works fine on teardown :(

[2020-01-07 15:41] shirshak55 commented on #411
@hugo-dlb  but if we have multiple tests we need to write all these for all tests file . We can create function but still we need to write beforeAll and afterAll. Hmm what might be the best solution :(?

[2020-01-08 14:16] ahnpnl commented on #1289
`tsconfig.json/compilerOptions.preserveSymlinks` fixed for me.

[2020-01-08 14:17] ahnpnl commented on #1274
hi @localnet , may I have the full link to clone/download your minimum repo ?

[2020-01-08 14:18] ahnpnl commented on #1236
would you please provide a repo to clone/download for this issue ?

[2020-01-08 14:22] ahnpnl commented on #1174
Yes, because when there is no babel and jest expects `commonjs` therefore your esm output config isn't respected. I think you do need `babel-jest` to solve this issue.

[2020-01-09 05:33] nelhu commented on #1271
thanks! you saved me a couple of hours

[2020-01-09 05:49] arvigeus opened #1341 "BabelConfig with rootMode: "upward" not loading babel config files"
A simple monorepo with the following config:

[code]
When I run `yarn test` it works as expected. When I run `yarn lerna run test`, `ts-jest` fails to load babel configs. If I use `babel-jest` instead of `ts-jest`, it works fine. The only way to make it work is to manually pass the entire babel config to `globals[ts-jest].babelConfig`.

Maybe something like `globals[ts-jest].babelConfig.babelrc: t

[2020-01-09 06:30] squalsoft commented on #1299
Yes, "target": "ES2019" resolves this issue!

[2020-01-09 06:32] squalsoft commented on #1283
I changed tsconfig.json to have "target": "ES2019" and this fixed same issue.

[2020-01-09 06:35] ahnpnl commented on #1341
Interesting, I never use this rootMode of Babel so I wasn’t aware that it didn’t work for ts-jest. Thanks for submitting the issue 👍

[2020-01-09 06:42] ahnpnl commented on #1341
Manually passing the config means you use require or absolute path to your Babel config ? I tried to find in Babel doc but I can’t see that rootMode option, would you please link it in your issue ?

[2020-01-09 06:56] ahnpnl commented on #1162
Hi,

The compiled files are added to ts-jest cache after compiling. It’s a bit hard for me to follow since there are no steps and a repo to produce the issue.

[2020-01-09 06:58] ahnpnl commented on #1159
Hi, would you please explain clearly what is the issue/error you encountered and a repo to reproduce your issue ?

[2020-01-09 07:02] arvigeus commented on #1341
Manually passing means copy / paste 😃

[2020-01-09 07:04] ahnpnl commented on #1341
You can use require(<path>) or string absolute path to save your time :) it is described in the documentation.

[2020-01-09 07:07] arvigeus commented on #1341
Yeah, but I want this to be extracted as a base config, so it would not work for multiple packages (with their own babelrc configs)

[2020-01-09 07:17] ahnpnl commented on #1341
Btw, do you have the log file of ts-jest after running tests ? I’m interested to see where ts-jest locates your root babelrc.

Is it your issue about using rootMode: ‘upward’ and root config babelrc isn’t loaded ? (Correct me if I’m wrong)

[2020-01-09 07:43] Vizzr opened #1342 "Tests are run twice (.ts and .js)"
## Issue
I am running ts-jest to test my code.
The problem that I have is that my .ts and transpiled .js are both run.
This while I think I ignored the transpiled .js files.

Here is my jest.config.js:
<details/>

[code]

</details>

Here is the output table of the test.
You can see that there are files in there from the **dist** folder.

<details/>

[code]

</details>

I already tried multiple "s

[2020-01-09 08:02] kulshekhar commented on #1342
is there a reason you need transpiled files alongside the original file? In most setups, the files are transpiled and put into an output directory. If that's not possible in your case, you'll need to manually configure the setup to ignore the transpiled files.

Alternatively, if you want to test the transpiled files, you might not need ts-jest and could just test those directly with jest

[2020-01-09 08:05] ahnpnl commented on #1342
in your `jest.config.js`, you specify
[code]
this causes `jest` to run on `js` files as well (also can be caused by transpiled files like @kulshekhar mentioned). This should be only `'**/test/**/*.test.(ts)'` if you intend to have only `ts`. If you still want to have `jest` run on `js` files as well, you should specify the regex more specifically.

This question is purely about `jest` configuratio

[2020-01-09 08:14] msegers commented on #601
@huafu Not trying to necro, but could you link the breaking changes? If I check the changelog on github I see nothing at 23.0 and I'm trying to figure out why 50% of my tests start failing.

[2020-01-09 08:23] arvigeus commented on #1341
Logs: https://pastebin.com/SfS43ddg

It is supposed to load `.babelrc` file from package, then merge it with top level `babel.config.json`. It works with the js file that is being processed with `babel-jest`.

[2020-01-09 08:46] Vizzr commented on #1342
@kulshekhar Thank you for your quick reply. This fixed my issue. Still weird that the jest configuration picked up the .js files.

Thanks for your reply @ahnpnl.
As I've read, the testMatch is only required for loading the test files. This means that it searches for test files in typescript and javascript.
It also did not fix my issue, but I could leave out the .js since I do not plan to run .js f

[2020-01-09 08:46] #1342 closed

[2020-01-09 19:19] localnet commented on #1274
Hi @ahnpnl, I am trying to reproduce it at current project, very similar, and all work well. I guess it was fixed at some new `ts-jest` version. So I will to close the issue, and if it happen again I will reopen it.

Thanks you.

[2020-01-10 02:27] sbbird commented on #1309
Thanks for fixing it.

[2020-01-10 09:17] chasel34 commented on #1309
Thanks for fixing it.😊

[2020-01-10 12:29] ChrisLahaye commented on #1315
That really is the case. You can try the repo with and without the await commented out.

[2020-01-10 14:46] phikes commented on #411
@shirshak55 I did just that in our test suite. Just use `beforeAll` to set up your typeorm connection. Has the benefit of being verbose.

[2020-01-10 16:05] ahnpnl commented on #1250
@CaptEmulation do you have a reproduce repo for this error ?

[2020-01-10 16:15] shirshak55 commented on #411
@phikes but i have like 20 test suites :( and doing same repetition is really sad and I am frequently stopping and starting connection which makes tests too slow  :(

[2020-01-10 16:23] ahnpnl commented on #411
Does setupFileAfterEnv help ?

[2020-01-10 16:25] phikes commented on #411
OT, but I propose you look into how to run these in parallel, possibly each in a transaction and set your connection pool high enough.

[2020-01-10 16:26] ahnpnl commented on #1146
According to @huafu , he said once about transformer should be only initialized once for all tests. Does it mean about Program instance ?

[2020-01-10 16:29] shirshak55 commented on #411
@ahnpnl  `setupFiles` helps removing the duplication :)

@phikes yes thats the problem i have test that can run parallel using transaction in database but don't know how to setup it properly in jest? By the i mean only one time creation of connection pool and one time close after all test suites finish

[2020-01-10 16:32] ahnpnl commented on #1154
All the transformed codes are put into ts-jest cache. The issue is that to get out of cache something, it’s required to have cache key. That means need to expose both getter for cache keys and getter for cache. Does it sound reasonable to you ?

[2020-01-10 16:39] ahnpnl commented on #1315
Yes I can see the error you encountered @ChrisLahaye
@dl748 your issue is something else, the line of code you link is where language service get fileName. Might be related to symlink in monorepo.

[2020-01-10 16:46] ahnpnl commented on #1165
This seems to be related to jest. Would you please ask in jest repo ? I will close this issue.

[2020-01-10 16:46] #1165 closed

[2020-01-10 16:58] ahnpnl commented on #1064
Thanks @phikes for the suggestion. I will close this.

[2020-01-10 16:58] #1064 closed

[2020-01-10 17:01] ahnpnl commented on #1083
Close as duplicate #1115, workaround in #1044 or use isolatedModule=true

[2020-01-10 17:01] #1083 closed

[2020-01-11 10:55] wtho commented on #1146
No, it is not really related to the transformer lifecycle.

Basically, there are two ways to compile TS code to JS calling the tsc compiler programmatically:
* `transpileModule`, which is a simpler, more naive approach of transpiling a simple module (usually a single file), it cannot verify import statements in depth
* `createProgram` and `program.emit` creates a compiler host that gathers lots of

[2020-01-11 11:01] ahnpnl commented on #1146
Not dive into createProgram yet but creating instance once for all tests already sounds logical. I’d go for it.

How do we approach that solution ?

[2020-01-11 11:22] wtho commented on #1146
This might be too costly, as **huafu** stated before, but we should probably give it a shot I think.
I also have not worked much with the `createProgram` of `tsc`.
Probably it is best to create the program instance on the top level of `createCompiler` inside `compiler.ts`, or maybe even a language server instance, although I am also not too sure about the implications of it.

There is not much lit

[2020-01-11 14:42] ahnpnl commented on #1146
Thanks for the info 🙏, I’m curious how the examples do with that pattern

[2020-01-11 22:55] Andarist commented on #1159
This is really more a feature request than a bug report.

Problem is that it's often useful for another tooling (like an editor) to have types written to disk (especially when working in a monorepo), so it would be good (in my opinion) to have declaration files being generated while type-checking with `ts-jest` to avoid separate processes just for this.

[2020-01-11 23:01] ahnpnl commented on #1159
does emit declaration file depend on `tsconfig.json` for composite project ?

[2020-01-11 23:24] Andarist commented on #1159
Hm, not completely sure. Type-checking relies on it for sure, declaration files alone are not options-specific anyhow (I think?) so it actually could not rely on it. If my reasoning is correct then only options related to disk location are relevant - so to answer the question: **yes, a little bit**.

[2020-01-11 23:48] ahnpnl commented on #1159
how do you want `ts-jest` to do with this ? declaration files are only known to typescript. `ts-jest` cannot itself emit declaration files. Do you have any suggestions ?
From typescript doc, when using `composite` option, `declaration` must be turned on. It means typescript will always emit declaration. Since `ts-jest` just calls typescript compiler and use your `tsconfig` so emit declaration shou

[2020-01-12 00:09] Andarist commented on #1159
They are not, as you are using JS API for TypeScript this kind of thing would have to be implemented in `ts-jest` (using TypeScript APIs, not from scratch), it doesn't behave as if `tsc` would get called.

[2020-01-12 09:48] ChrisLahaye commented on #1315
@ahnpnl My apologies for asking this directly, but could you please help me fix/debug this issue?

[2020-01-12 10:07] ahnpnl commented on #1315
At the moment I still don’t have a clue about this issue, 1st time for me to see this.

[2020-01-12 10:09] ahnpnl commented on #1159
Can you point out in ts-jest compiler which part is wrong ? ts-jest compiler is using typescript api so I don’t see why this doesn’t work.

[2020-01-12 10:16] ahnpnl commented on #1159
I think your issue might be related to #1336 as now ts-jest doesn’t support well for monorepo as well as composite project.

[2020-01-12 10:19] ahnpnl commented on #1333
I agree at the moment ts-jest doesn’t support monorepo. However we are lack of experience with that so we need community help to implement it.

[2020-01-12 16:22] ahnpnl commented on #1159
Look like your request was solved in #747 and related to #745 . Please check them.

[2020-01-12 16:27] ahnpnl commented on #1159
I will close this in favor of #1336

[2020-01-12 16:29] ahnpnl commented on #1134
Close as duplicate #1333 and related to monorepo support in #1336

[2020-01-12 16:29] #1134 closed

[2020-01-12 16:30] ahnpnl commented on #1109
Close as related to monorepo support in #1336

[2020-01-12 16:30] #1109 closed

[2020-01-12 16:32] ahnpnl commented on #1236
Close as related to monorepo support in #1336

[2020-01-12 16:32] #1236 closed

[2020-01-12 16:49] ahnpnl commented on #1244
cc @kulshekhar

[2020-01-12 17:28] ahnpnl opened #1343 "Support monorepo"
## Issue :
At the moment, `ts-jest` doesn't support well monorepo (typescript composite, yarn workspace, lerna etc..). This issue contains all related issues to monorepo:

<s>#1341 : Cannot use **rootMode** `upward` for `babel` config</s> (**fixed** via #1370)
<s>#1336 : Error `Unable to require d.ts` for yarn workspace and typescript `composite`.</s> (**fixed** via #1385)
<s>#1333: Use wrong vers

[2020-01-12 17:29] ahnpnl commented on #1333
close in favor of #1343

[2020-01-12 17:29] #1333 closed

[2020-01-12 17:29] ahnpnl commented on #1336
close in favor of #1343

[2020-01-12 17:29] #1336 closed

[2020-01-12 17:34] #259 closed

[2020-01-12 17:37] karlhorky commented on #259
@ahnpnl has this issue been addressed? The inactivity doesn't indicate that there is no problem here...

[2020-01-12 17:49] ahnpnl commented on #259
this has been addressed in #1115 , possible related to #908

[2020-01-12 21:52] ahnpnl commented on #1341
what I can see from the log is actually `babelrc` wasn't loaded but only root babel config is loaded (you can search for `"preset"` in your log).

[2020-01-13 04:24] kulshekhar commented on #1341
Given that this is a one time setup, isn't the suggested workaround sufficient?

[2020-01-13 04:25] kulshekhar commented on #1343
It would be good to add this support. That said, I personally only use ts-jest actively in non-monorepos so this will need help from others (the code and the related tests)

[2020-01-13 04:28] #1244 closed

[2020-01-13 06:13] Karql commented on #259
@ahnpnl imo changing default for isolationModule is not fix for this.

[2020-01-13 06:49] ahnpnl commented on #259
I agree changing isolatedModules true is just a workaround. For clean keeping I closed this issue because it’s a known issue after 23.10 and has been addressed.

[2020-01-13 06:58] ahnpnl commented on #1341
I think the bug might be about the way ts-jest searches for babel config. I checked the logic and in the case of rootMode: ‘upward’, ts-jest skips finding babelrc in the current folder level, only takes the line config and then go up to root to get Babel config root.

My suggestion is if user defines rootMode: ‘upward’, we should try to find Babel config on the current level first then go up to ro

[2020-01-13 07:29] ahnpnl commented on #1069
Actually you can use both ts-jest and Babel on the same pipeline to handle tsx but the result is Babel will only get compiled js (compiled by ts-jest) so Babel won’t do anything with tsx because all the compiled files it receives are js.

[2020-01-13 07:44] FredyC commented on #259
@ahnpnl Has been addressed by a workaround 😆? If there is an existing issue that tracks performance after 23.10, can you link it here, please? Otherwise, I don't follow either why to close this one. Plenty of valuable feedback here.

[2020-01-13 07:54] ahnpnl commented on #259
No I don’t mean addresses by a workaround. I mean workaround is isolatedModule=true. By default, isolatedModule=false which causes the issue. Since this has been linked to the other issue as related area (performance after 23.10, I don’t see any issues of closing this. You can always look back from the link issue

[2020-01-13 08:14] ahnpnl commented on #1044
close as superseded by #1115

[2020-01-13 08:14] #1044 closed

[2020-01-13 09:20] arvigeus commented on #1341
Isn't it possible to delegate this to `babel-jest` when it comes to it? Otherwise you are reimplementing logic. I am thinking about some general solution, not just my problem in particular.

[2020-01-13 12:20] ahnpnl commented on #1341
Indeed I like that approach. However I'm not sure how to do it. So how `ts-jest` deals with babel config is:
- [Retrieve babel config](https://github.com/kulshekhar/ts-jest/blob/48521e6ea705827e69c1ad412243d16dcf979ac7/src/config/config-set.ts#L223) via `babelConfig` of `ts-jest` option.
- [Create babel-jest transformer](https://github.com/kulshekhar/ts-jest/blob/48521e6ea705827e69c1ad412243d16dcf

[2020-01-13 18:28] mockdeep commented on #1115
For what it's worth, `isolatedModules=true` didn't solve the problem for us, nor did setting `--maxWorkers=1`. We haven't been able to upgrade past version 23 because our build times out due to inactivity. It seems like the specs start out reasonably fast and gradually get slower and slower. When we run Typescript separately it runs relatively quickly. Is there no way to run it up front and use th

[2020-01-13 18:43] ahnpnl commented on #1115
These are the 2 things I did for CI at work:
- set `isolatedModules=true` and clear jest cache then perform a dry run. After this run, `jest` and `ts-jest` will cache stuffs which will speed up for the next runs.
- run with `maxWorkers=1` or `maxWorkers=50%`.

They are affected, only the 1st time it takes time because of clearing cache (set `isolatedModules` from false to true requires clear cache

[2020-01-14 16:36] dancon commented on #1283
I do not use babel, and I have the same issue.

It indeed works when  I change the `target` to `ES2019` or `ES2020` as @squalsoft  mentioned above, but why `ESNEXT` doesn't work?

[2020-01-14 16:41] ahnpnl commented on #1283
https://stackoverflow.com/questions/58725711/how-to-get-optional-chaining-working-in-typescript

[2020-01-14 17:07] dancon commented on #1283
@ahnpnl  got it, thanks a lot!

[2020-01-14 18:41] salolivares commented on #1088
Facing the same issue. My current work around is to use `jest.doMock()` since it does not automatically hoist to the top and write my import statements after it.

[code]

[2020-01-14 22:31] frck006 commented on #1299
@squalsoft , Hi, I've always the problem, can you share your tsconfig, please ? and jest.config ?

[2020-01-15 08:38] squalsoft commented on #1299
@frck006
tsconfig
`{
  "compilerOptions": {
    "lib": [
      "es5",
      "es6"
    ],
    "target": "ES2019",
    "module": "commonjs",
    "moduleResolution": "node",
    "outDir": "./dist",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "sourceMap": true
  },
  "exclude": [
    "node_modules",
  ]
}`

jest.config
`// https://basarat.gitbook.io/typescript/intro-1/je

[2020-01-15 10:40] frck006 commented on #1288
Hi, I have always the problem:

![image](https://user-images.githubusercontent.com/10244725/72427104-538db880-378b-11ea-8f5d-af1e2fc631b2.png)

Here, my tsconfig:

[code]

jest.config:

[code]

Package.json:

[code]

[2020-01-15 10:51] ahnpnl commented on #1288
please do these following steps:

- Create a `tsconfig.spec.json` which extends `tsconfig.json`
- Specifying `ts-jest` config to use that `tsconfig.spec.json`
- Add `module: commonjs` and `target: es2020` (don't use `target: esnext`) to this `tsconfig.spec.json`.
- Clear jest cache
- Rerun tests

[2020-01-15 13:42] ShamithaSIlva commented on #364
@huafu and @apflieger  :I have modules in node_modules folder and those dependancies are like below and use it like:

 import { NxDatepickerComponent } from '@xyz/ngx-ndbx/datefield/xyz-ngx-ndbx-datefield';
 import { NX_DATE_FORMATS } from '@xyz/ngx-ndbx/datefield';
Folder structure is \node_modules@xyz\ngx-ndbx\datefield

For this I have moduleNameMapper as having followings for jest configuarati

[2020-01-15 14:34] franky47 commented on #1289
I had the same issue, in a monorepo managed by yarn workspaces (without lerna), only on CI (Travis CI which uses Ubuntu, no issue on macOS).

Adding `preserveSymlinks` in each `tsconfig.json` solved the issue.

[2020-01-16 07:55] twittwer commented on #1255
@ahnpnl I tried to build a simplified repo with the current version of all dependencies and it turns out, the problem seems to be fixed maybe with 24.3.0 or the usage from other the libraries changed since october.

Any way thx for the help, it seems to be fixed now 👍

[2020-01-16 07:55] #1255 closed

[2020-01-16 16:16] matheusalbino commented on #1315
I got the same error as @ChrisLahaye, which is related to transpiling the import statements. The tools I'm using is ts-jest + typeorm. I can't transpile the entities and migrations files on version **24.9.0**. I've rollbacked the version to **24.8.0** in other it to work.

[2020-01-16 16:20] ahnpnl commented on #1315
Is it related to globalSetup async too ?

[2020-01-16 16:37] matheusalbino commented on #1315
@ahnpnl yes

[2020-01-17 05:01] bscaspar opened #1346 "TypeError: Cannot read property 'createContext' of undefined. All files in index.ts compiling when only one is referenced."
## Issue:
I am getting an error that references a component unrelated to my test. This appears to be happening because components are exported from an index.ts file - when the component I am testing references a different component in this index.ts file, all components exported from the index.ts the file are compiled, even ones not used in the component being tested.

In this case, the error is ha

[2020-01-17 07:31] ahnpnl commented on #1346
Look like related to #1149

[2020-01-17 11:51] JakeStanger commented on #1289
Downgrading Jest does not work for me, neither does `preserveSymlinks`.

[2020-01-17 16:12] bscaspar commented on #1346
@ahnpnl I agree it does seem similar. I spent some time attempting to reproduce that one as well in the repo I provided and the import/export from index files appears to be working just fine ¯\_(ツ)_/¯

[2020-01-17 16:15] bscaspar commented on #1149
I am no longer having this issue. I've gone through a considerable amount of refactoring and changes so I can't pinpoint what fixed it. For anyone running into this here's what my jest.config looks like now:

[code]

[2020-01-18 20:45] ahnpnl commented on #1346
The error you got came from typescript itself when it tries to compile your index.ts. I think when it tries to compile your component3 in index.ts, sth in that component3 isn’t correct so it throws TypeError. You can verify this by running tsc on index.ts.

I’d suggest to check what is in component3 which causes the TypeError issue.

[2020-01-20 03:54] kalbert312 commented on #1283
Thanks @squalsoft. Fixed my issue. FWIW `ES2020` also works but `ESNEXT` does not.

[2020-01-20 23:36] bscaspar commented on #1346
There are no errors when running tsc, the project builds and runs as expected. Here is the entire contents of Component3:
[code]

It simply calls the useContext hook with the RootStoreContext object. If I move the RootStoreContext to this file, the test works. That's not a viable solution with multiple components using context in this way. Do I need to create the RootStoreContext for every test th

[2020-01-21 07:33] ahnpnl commented on #1346
Ok I checked the contexts file and the error throws at line React.createContext, look like React is undefined in this case. I notice that you use different way of import React in contexts file comparing to your Component3. I think the issue is caused by that import.

[2020-01-21 08:41] ttencate commented on #1122
Also ran into this. Any progress on this issue? Anything else we can provide to help debug this?

[2020-01-22 06:31] arvigeus commented on #1343
#1341 is related too - I got it when trying to setup a monorepo.

[2020-01-22 07:08] OrkhanAlikhanov commented on #1072
Related to https://github.com/facebook/jest/issues/8461

[2020-01-22 10:00] Dalfons0 commented on #970
@baixiaoji No I didn't, I whitelisted the tests with the hope to find a solution later on. But I don't know why this bug is closed if the problem is not solved.

[2020-01-22 13:45] kibertoad opened #1354 "Support jest 25.1.0"
## Issue :

Current `peerDependencies` are:
[code]

This results in warnings being thrown during installation and execution

## Expected behavior :

No warnings are shown.

[2020-01-22 13:59] kulshekhar commented on #1354
https://github.com/kulshekhar/ts-jest/pull/1232#issuecomment-577193361

[2020-01-22 15:13] deraw commented on #1289
I have this issue as well :confused:

[2020-01-22 16:03] ahnpnl commented on #1315
There is a documentation updated for using setTimeout in jest v25.1 in section [setupFilesAfterEnv](https://jestjs.io/docs/en/configuration#setupfilesafterenv-array) suggesting that using settimeout should be inside setupFilesAfterEnv. See [PR](https://github.com/facebook/jest/pull/8971)

Does jest support setTimeout in globalSetup and globalTeardown ?

[2020-01-22 19:22] ChrisLahaye commented on #1315
@ahnpnl I just used setTimeout to have the promise resolve after a while. The problem however occurs for any promise, even without setTimeout.

[2020-01-23 06:25] #1354 closed

[2020-01-23 07:19] kibertoad commented on #1315
@kulshekhar is this one redundant now?

[2020-01-23 07:21] ahnpnl commented on #1315
There is an issue with Promise in globalSetup and globalTearDown seems to be related to 24.9, not sure yet what causes the issue.

[2020-01-23 07:22] kulshekhar commented on #1315
@kibertoad I'm not sure if this is redundant. If it's still a problem and if jest 24.9.0 is being used, this should be left open until fixed

[2020-01-23 07:27] kibertoad commented on #1315
Didn't last pr drop support for 2.4?

[2020-01-23 07:27] ahnpnl commented on #1346
Hmm I just checked again your repo. I’m curious if it works when you change your test file to .ts ? my suspicion is when Babel-jest takes your js test file, it gets import directly from ts files which Babel-jest doesn’t understand.

[2020-01-23 07:28] kulshekhar commented on #1315
It did but only for v25+. It could, in theory, be that someone wants to keep using v24.x

[2020-01-23 12:13] sparkinson commented on #1294
Hi,

I have also been having this problem and have produced a minimal repo that demonstrates it. You can find it here: https://bitbucket.org/s_parkinson/ts-jest-bug-example

Weirdly, the tests run the second time you try to run them, so I have provided a Dockerfile to run this in a docker and make it repeatable. Across different repos I have with this issue, sometimes the second time I run the tes

[2020-01-23 12:24] ahnpnl commented on #1294
thank you for you repo. Do you run test inside your `with dependency` folder ?

[2020-01-23 12:26] sparkinson commented on #1294
yes, exactly. As in the Dockerfile.

[code]

but note, when doing it on your machine, the tests may pass on the second or third run. They do on mine.

[2020-01-23 12:35] ahnpnl commented on #1294
There seems to be an invalid config, I got error from jest
[code]

[2020-01-23 12:37] sparkinson commented on #1294
ok, weird, that worked on mine and in the docker image. I have pushed a change that may fix it for you.

[2020-01-23 12:50] sparkinson commented on #1294
FYI I just found that the bug is reproducible on my local machine by running `node_modules/jest/bin/jest.js --clearCache` before running the tests

[2020-01-23 12:53] ahnpnl commented on #1294
Just fetch and pull, your change didn't work, however I can run your test by running `npm run test /test/index.spec.ts`. Then I ran into error
[code]
is this the error you saw ?
`--clearCache` indeed will be a good way to reproduce

[2020-01-23 12:57] sparkinson commented on #1294
Yes, that is the error I saw. Nice one. Sorry for the issue with getting the test running

[2020-01-23 12:58] ahnpnl commented on #1294
is your repo is a monorepo type ?

[2020-01-23 13:00] sparkinson commented on #1294
this test repo is, but not my production code.

for the production code I have a similar setup, but I am using
"repo": "git+ssh://git@bitbucket.org/{user}/{repo}.git" syntax in the package.json to install the library directly from bitbucket

[2020-01-23 13:01] ahnpnl commented on #1294
if your real repo is also monorepo, please take a look at #1343 . At the moment `ts-jest` doesn't play well with monorepo...

[2020-01-23 13:04] sparkinson commented on #1294
Ok, so do you need a different example minimal repo where it isn't a monorepo? The same issue appears in my production code, which isn't a monorepo.

[2020-01-23 13:06] ahnpnl commented on #1294
oh, no that is just FYI, I've seen this error occuring some other places as well, #1289 probably related

[2020-01-23 13:07] sparkinson commented on #1294
ok, great. Let me know if there is anything else I can do to help.

[2020-01-23 13:28] ahnpnl commented on #1294
FYI, I did a quick debug, coming out that it failed when ts compiled file `dependency/index.ts` when hitting this [line](https://github.com/kulshekhar/ts-jest/blob/c72b05fc2c95eb1616503f13411d33118eb2772d/src/ts-jest-transformer.ts#L128). There are 3 files compiled by ts in 1st run no cache:

- index.spec.ts
- with-dependency\index.ts
- dependency\index.ts

The 2nd there are only 2 files compiled

[2020-01-23 16:27] grantila commented on #332
No it isn't @dfa1234

[2020-01-23 16:56] sparkinson commented on #1294
You're right. That does fix it for the monorepo case. however, unfortunately, it does not fix it for my production case where my library is not symlinked.

I have created a new repo that shows this: https://bitbucket.org/s_parkinson/tts-jest-bug-example-no-monorepo

I guess they are different issues.

[2020-01-23 17:19] ahnpnl commented on #1294
Thanks I will take a look when I have some free time 👍

[2020-01-24 08:02] sbhardwaj-mt opened #1357 "ambient declared enums are not working with ts-jest"
## Issue :
I have declared couple of enums in d.ts compilation with tsc runs fine, but running jest fails, giving error type not declared.

## Expected behavior :
test should work fine.

## Debug log:
<details/>
<summary>log file content</summary>

[code]

[code]
[code]

[code]
</details>

[2020-01-24 16:25] MayTD commented on #948
Having this problem too. Any further ideas that could solve this?

[2020-01-24 18:11] k2snowman69 commented on #1039
Okay I think I've come up with a low cost way to handle this but there will be some setup:
1. Create a group of repos one per version you wish to support (e.g. ts-jest-24, ts-jest-25, etc). Their only dependency is `ts-jest` but of that specific version.
2. Use renovate, green keeper or whatnot to automatically update the versions, the config for [renovate](https://docs.renovatebot.com/configurati

[2020-01-25 13:05] Exilz commented on #367
This started happening to me after upgrading typescript to 3.7+...
I also had to add `json` to `moduleFileExtensions` to get rid of this error. This is very confusing.

[2020-01-28 10:27] AndrewLeedham opened #1362 "Latest @types/jest incompatible"
## Issue :
`@types/jest` 25.1.0 was released and it is currently incompatible with `ts-jest`. It moves a lot of the type definitions to the repository itself. A repo I work on depends on `@types/jest` so after updating it there it caused type errors within `ts-jest` (https://circleci.com/gh/xeroxinteractive/browserslist-adobe-analytics/152).

## Expected behavior :
No errors to be thrown when upgr

[2020-01-28 18:01] aelesia commented on #1289
Same issue

[2020-01-29 10:30] #1362 closed

[2020-01-30 13:00] vicary commented on #1149
I can confirm that explicitly adding `index` in the import statement works, `tsconfig.json` is the one automatically generated by `create-react-app`.

In my case, the erroneous import statement looks like this `import {...} from "./App/";` which works fine in the app but not in jest. It works after changing to `import {...} from "./App/index";`

[2020-01-31 05:32] bscaspar commented on #1346
Thank you for the keen eye! It was indeed the way I imported React. By changing `import React from 'react'` to `import * as React from 'react'` this was resolved.

[2020-01-31 13:37] ahnpnl commented on #1357
workaround is declaring enum or const enum in .ts.

[2020-01-31 20:52] #1357 closed

[2020-01-31 20:54] ahnpnl commented on #1229
Please see the detail of explanation [here](https://github.com/kulshekhar/ts-jest/issues/1357#issuecomment-580736356)

[2020-01-31 22:33] ahnpnl commented on #1341
@arvigeus , I found out the main cause of your issue. It is caused by invoking babel to load config [here](https://github.com/kulshekhar/ts-jest/blob/48521e6ea705827e69c1ad412243d16dcf979ac7/src/config/config-set.ts#L351). So if `ts-jest` don't invoke babel to load config and just pass plain config object (gathering from either inline or any babel files `ts-jest` can gather) to `babel-jest` to use

[2020-02-03 00:14] kuberlog commented on #1029
bump

[2020-02-03 04:33] ahnpnl commented on #1346
did changing import path solve your original issue ? if yes, I'd close this as not `ts-jest` issue.

[2020-02-03 10:50] DavidBabel commented on #1029
Well, if you use typescript, you do not want to rely to babel.

[2020-02-03 11:17] ahnpnl commented on #1315
hi @ChrisLahaye , so I spent some times to debug your issue with the repo you provided. Here is the summary of the debugging. Please 1st take a look at how `ts-jest` works via this [diagram](https://kulshekhar.github.io/ts-jest/tech/process/).

A few notes on how jest and `ts-jest` works in general:
- jest uses `pirate` to do something (I don't know) and `pirate` will deliver the file paths to jes

[2020-02-03 11:25] ahnpnl commented on #1174
close as not `ts-jest` issue, `module` has to go with `commonjs`

[2020-02-03 11:25] #1174 closed

[2020-02-03 12:04] ahnpnl commented on #1149
@vicary do you still encounter the  same issue ? If yes, please us provide a repo :) thanks

[2020-02-03 12:40] #1341 closed

[2020-02-03 14:47] ahnpnl commented on #1227
I agree with @wtho, `useValue` or `useFactory` should be used instead. This is not `ts-jest` issue but rather than using correctly Angular `TestBed`.
- `useClass` always accepts a class, means it has pure es6 js class with `class` keyword
- `useValue` is usually for pure value like `{}` or `{ <mock_classproperty>: <mock_value> }`

[2020-02-03 14:47] #1227 closed

[2020-02-04 04:49] ncuillery commented on #1229
@ahnpnl thanks for the explanation, but what are we supposed to do if the enum is defined in a 3rd-party `d.ts` file? like https://github.com/software-mansion/react-native-gesture-handler/blob/master/react-native-gesture-handler.d.ts
Duplicate it? 😕

[2020-02-04 10:20] ahnpnl commented on #1229
Hi, I think you can ask jest to skip d.ts from transforming. If jest doesn’t give d.ts to ts-jest, typescript compiler api in ts-jest internal wont throw errors. In general, the input files ts-jest processes depending on jest, whatever jest gives, ts-jest will process.

[2020-02-04 12:16] ahnpnl commented on #1303
hi, the reason why `/* istanbul ignore if */` or `/* istanbul ignore next */` doesn't work is because when compiling to js, these comments somehow are removed by typescript. I think this is a bug from typescript compiler. Here is the compiled js of your method `setTimestamps` in `index.ts`

[code]
Notice 2 comments don't exist in this compile version: `// tslint:disable-next-line:prettier` and `/*

[2020-02-04 12:16] #1303 closed

[2020-02-04 13:40] ncuillery commented on #1229
Oh sorry I was unclear. My use-case is the following:

I'm using this enum from the `react-native-gesture-handler` definition file: [react-native-gesture-handler.d.ts#L32-L39](https://github.com/software-mansion/react-native-gesture-handler/blob/cc5e348cecb0a6403906a6f49df8f54b4b5c98ef/react-native-gesture-handler.d.ts#L32-L39)

So in my code, in the file I'd like to test, I have:
[code]

And my t

[2020-02-04 13:40] Barrior commented on #1303
Thanks, I get it.

[2020-02-04 14:16] ahnpnl commented on #1229
I don't have any other ways other than your provided workaround :( but I think your workaround looks good. Thanks for sharing. In general, `d.ts` should be generated from a `ts` file, that will make it easier to use when distributing a package via npm.

[2020-02-04 23:59] dannymidnight commented on #1346
I think your issue is due to https://github.com/kulshekhar/ts-jest/issues/632

I managed to resolve this issue by updating`tsconfig.json` compilerOptions to use `esModuleInterop: true`.

[2020-02-05 05:43] ahnpnl commented on #1277
hi, I managed to make your repo work by doing these:
- npm install
- npm run bootstrap
- npm run build
- npm run test on root dir

then I could run the tests. I have a question regarding to your jest config. From what I saw from your repo, there are 2 files `jest.base.js` and `jest.config.js`. How are these 2 files relate to each other ? When I put console log in `ts-jest` codes, your repo runs te

[2020-02-05 06:05] ahnpnl commented on #1155
hi @jd20, it is correct that `ts-jest` uses typescript compiler API to compile `ts` to `js` before running tests on the compiled `js`. Since `babel-plugin-typescript` behaves differently from typescript compiler API so this is expected behavior.

Note that among all kinds of typescript decorators, property decorator doesn't have descriptor while method decorator has descriptor. The example you hav

[2020-02-05 06:15] ahnpnl commented on #1172
closed as this has been fixed via comment in [typegoose](https://github.com/szokodiakos/typegoose/issues/380#issuecomment-549017376)

[2020-02-05 06:15] #1172 closed

[2020-02-05 10:08] MichalLytek commented on #1277
How not calling a custom compiler (thus not applying custom paths transformer) is not a ts-jest issue?

[code]

The issue is about that "when I run this command in selected dir, the coverage from is ok but ts-jest brokes compilation on applying transformers.".

So on root dir it works but collects coverage from `lib` (other story) but it doesn't work when I just want to test single project.

Detai

[2020-02-05 10:23] ahnpnl commented on #1277
hi, I only looked at the 1st issue regarding to

I haven't looked into the 2nd issue yet related to custom compiler. I hope the debugging information above solved your 1st question. Will keep you updated related to 2nd issue.

[2020-02-05 15:08] ahnpnl commented on #1035
@wtho @dirkluijk i think because 23.10 started using typescript compiler api which wasn’t used  < 23.10 so there is no decorator emitted before.

I guess this issue can be closed.

[2020-02-05 15:34] ahnpnl commented on #1098
Closes via #1372

[2020-02-05 15:34] #1098 closed

[2020-02-05 17:28] bscaspar commented on #1346
@ahnpnl changing the path to import the entire 'react' module solved the original issue. And @dannymidnight if I leave the path the same, (`import React from 'react'), updating the `tsconfig.json` as you recommended solves the issue as well. Thanks for the help!

[2020-02-05 18:01] ahnpnl commented on #1346
Shall I close this issue ?

[2020-02-05 18:04] wtho commented on #1035
Yeah, it's not related to `ts-jest`, this issue can be closed.

It is `jsdom`, which is not up-to-date with DOM specifications. Track this issue for more info https://github.com/jsdom/jsdom/issues/2527.

See [the comment above](https://github.com/kulshekhar/ts-jest/issues/1035#issuecomment-486442977) for a workaround.

[2020-02-05 21:46] artursvonda opened #1374 "Upgrade yargs-parser"
## Proposal

The latest yargs-parser seems to be compatible with supported node versions. I forked and upgraded to test it out and seems to be working fine. Should I create a PR or any reason we should not upgrade?

[2020-02-05 22:26] artursvonda commented on #1374
https://github.com/kulshekhar/ts-jest/compare/master...artursvonda:upgrade-yargs-parser-v16 Here are the changes

[2020-02-06 01:11] dgadelha commented on #1274
Been stuck for more than 5 hours with the same issue. Same scenario, tried everything, no idea what it is. Decided to not update Jest/TS-Jest/TypeScript for now.

[2020-02-06 03:01] ahnpnl commented on #1374
Hi, PR is welcome 😀

[2020-02-06 03:02] #1035 closed

[2020-02-06 03:06] jd20 commented on #1155
Use `ts-jest` for a react-native project, but have the test behavior be same as runtime? Maybe that's not really the aim of `ts-jest` though, since there's always going to be subtle differences between how tsc compiles code vs babel.

[2020-02-06 03:11] ahnpnl commented on #1155
Hi, if runtime react-native uses Babel, it won’t be possible to achieve the same behavior as ts-jest because ts-jest uses typescript compiler API. To achieve the same behavior as runtime, the only way is using only babel for ts transformation + tsc for typechecking.

I hope this explains clearly for you 😀

[2020-02-06 03:56] #1346 closed

[2020-02-06 04:00] ahnpnl commented on #1048
@thymikee  @SimenB  I guess I will close this issue as `jest` will take care of it ?

[2020-02-06 08:40] thymikee commented on #1048
@ahnpnl let's create an issue for this in Jest first, shall we?

[2020-02-06 16:37] #1374 closed

[2020-02-07 13:07] ahnpnl commented on #993
hi @donovanhiland , is the issue still reproducible for you with latest version of `jest`, `ts-jest` ? If yes, would you please update your reproduce repo ?

[2020-02-07 13:10] ahnpnl commented on #1045
closed as solution provided by @mubaidr

[2020-02-07 13:10] #1045 closed

[2020-02-07 14:34] ahnpnl commented on #1333
hi @andreialecu , I checked your repo and I don't get what do you expect ? Do you expect the test in your `test` folder failed ? Can you elaborate more ?

[2020-02-07 14:46] andreialecu commented on #1333
@ahnpnl If you clone the repo and run `yarn` then `yarn test` it will fail because the code uses syntax that is only valid with typescript 3.7 but `ts-jest` will find typescript 3.5 instead. If you look in `packages/test/package.json`, typescript is set to version 3.7 so this shouldn't happen.

It's possible the bug is in `jest` itself, in the way it loads `ts-jest`. I believe the proper way of dy

[2020-02-07 14:51] andreialecu commented on #1333
Here's what I mean by polyfill: https://github.com/gatsbyjs/gatsby/blob/6375ba990362bf9933b6deb849b040d118d03831/packages/gatsby-core-utils/src/create-require-from-path.js

[2020-02-07 14:53] ahnpnl commented on #1333
I did these followings:
- clone your repo
- run `yarn` to install dependencies
- I upgraded `jest`, `ts-jest` and `@types/jest` to v25
- ran `yarn test` and i got error
![image](https://user-images.githubusercontent.com/27772165/74039373-46639280-49f4-11ea-80ed-23a1e9a350cd.png)

Is it what you expected ?

[2020-02-07 14:58] andreialecu commented on #1333
Yes, that's the error, I explained in the comment above why that shouldn't happen.

You can update the *root* package json to this:

``
{
  "private": true,
  "workspaces": {
    "packages": ["packages/*"],
    "nohoist": ["**/ts-jest", "**/ts-jest/**"]
  },
  "scripts": {
    "test": "yarn workspace test test"
  }
}
[code]

[2020-02-07 15:02] ahnpnl commented on #1333
ok I got it now, so the error shouldn't happen because the `test` folder has typescript 3.7.5 ?

[2020-02-07 15:02] andreialecu commented on #1333
@ahnpnl yes.

Maybe @arcanis can provide some insight.

[2020-02-07 16:19] ahnpnl commented on #1333
i like the solution using `module.createRequire` for node 12, `module.createRequireFromPath` for node 10 and polyfill for node 8. If you don't mind, please create a PR to help us 👍

[2020-02-07 16:33] andreialecu commented on #1333
@ahnpnl I looked briefly through the code and I see that `typescript` is just imported normally, not through `require.resolve`.

Based on that, I suspect it's `jest` itself that uses some sort of `require.resolve` logic to find `ts-jest` and import it. Which then trickles down into `ts-jest` and `typescript`.

Unfortunately I'm not familiar with `jest` internals so I'm not sure where to look, but

[2020-02-07 16:44] ahnpnl commented on #1333
hmm i think it might be `ts-jest` issue as typescript is imported [here](https://github.com/kulshekhar/ts-jest/blob/17def6be7aa49b05dae2ed2ac8d917f2af325300/src/config/config-set.ts#L385) which triggers `require.resolve` in [importer](https://github.com/kulshekhar/ts-jest/blob/17def6be7aa49b05dae2ed2ac8d917f2af325300/src/util/importer.ts#L185)

[2020-02-07 17:21] ahnpnl commented on #1134
`ts-jest` doesn't use compiler host, are there any ways else to tackle this ?

[2020-02-07 17:57] andreialecu commented on #1333
Workspace packages are supposed to be isolated. They are only hoisted for optimization purposes, so they do not get duplicated.

Running `yarn test` is just an alias for `yarn workspace <test> test`. In retrospect, naming the directory `test` wasn't the best idea because it makes it confusing if you're not familiar with yarn workspaces.

Basically it runs the `jest` command inside the `test` packa

[2020-02-07 18:06] ahnpnl commented on #1333
Thanks 🙏

[2020-02-07 19:00] andreialecu commented on #1333
@ahnpnl I've opened a PR at #1377 which fixes it but I'm not sure if it adds any unwanted side-effects. I think tests still pass properly, but someone more familiar with `ts-jest` might need to review and test.

[2020-02-07 21:12] timshannon commented on #1289
Does anyone have a workaround? `tsconfig.json/compilerOptions.preserveSymlinks` did not fix it for me.

I'm on Linux, and  it seems to occasionally work, but it consistently fails when I'm trying to run my tests on a gitlab ci.

[2020-02-08 10:55] ahnpnl commented on #1159
hi @Andarist, I was looking into this and #1336 seems to be related. I don't know how to make ts compiler API to do that. Do you have any hints ?

[2020-02-10 07:21] adriangodong commented on #1289
I hit this on Windows, I have symlinks created manually.

[2020-02-10 07:43] arvinsim commented on #1108
I stlil get this problem

[code]

[2020-02-10 08:26] lukasz-kowal commented on #1108
@arvinsim I do not experience it any longer.
I might looks back and see what fixed it for me.

[2020-02-10 11:33] eurostar-fennec-cooper commented on #114
Omg, this works 🎉

[2020-02-11 05:28] donovanhiland commented on #1250
I've got something similar happening on a react native project. Simple repro here: https://github.com/donovanhiland/ts-jest_1250. Missing coverage on the async function.

[2020-02-12 13:27] fedulovivan commented on #1283
Same issue is fixed for me with upgrading all **@babel/*** dependencies (to version 7.8.3 currently). But presumably only latest version of @babel/preset-typescript is needed.
![image](https://user-images.githubusercontent.com/752105/74339137-8344d600-4db4-11ea-86c3-1e3d15a954b5.png)

[2020-02-12 18:32] #1294 closed

[2020-02-13 11:24] jimhucksly opened #1387 "Cannot destructure property `Menu` of 'undefined' or 'null'"
I using Vue +Typescript + Electron

In App.ts file:
[code]
I get this error after jest running

`
TypeError: Cannot destructure property "Menu" of "undefined" or "null"
`

[2020-02-13 11:29] ahnpnl commented on #1387
hi, would you please provide us a minimum reproducible repo ?

[2020-02-13 11:57] jimhucksly commented on #1387
https://github.com/jimhucksly/issues-1387-repoduce

[2020-02-13 15:13] ahnpnl commented on #1387
hi, a few things you can do to improve your project when using typescript and `ts-jest`:
- Make your tests file in typescript, for example `App.spec.js` can changed to `App.spec.ts`.
- Your `jest` config in `package.json` can be improved, for example:
[code]
- Your `package.json` needs 2 new dependencies `ts-jest` and `@types/jest`.
- Delete `App.js`.
- Your test file contains error too, it should

[2020-02-13 15:31] ahnpnl commented on #1109
hi @nullxone , what is the meaning of `export default 1` in your `Product.ts` ? The test runs successfully if I change it to `export default c`

[2020-02-13 15:37] ahnpnl commented on #766
this might be fixed by #1385, do you have an example repo for your case ?

[2020-02-13 15:44] ahnpnl commented on #766
I checked out your repo and did some following steps:
- Upgrade `jest`, `@types/jest`, `ts-jest`, `typescript` to the latest version
- Run `yarn test`

and there is no error anymore. I think your issue is solved with latest dependencies

[2020-02-13 15:46] ahnpnl commented on #929
does it only happen to `target:esnext` @dl748  ?

[2020-02-13 17:01] drrnkin opened #1390 "With cached results, changes to type definitions are not detected"
## Issue :
Given a type declaration in core code, and a reference to that type definition in jest code, type-safety is not always enforced.

## Expected behavior :
Changes to type definitions should be detected (failing to compile where appropriate).

## Minimal repo :

1. Unzip the attached zip file and run **yarn** and then **yarn test** (should succeed).
2. Change the type definition in thing.t

[2020-02-13 18:27] angeloocana commented on #1390
I also have the same issue, it is so annoying, we had to disable the cache to prevent errors.
Please fix this issue.

[2020-02-13 18:33] Drakota opened #1391 "globalSetup and globalTeardown doesn't seems to be transpiling correctly (w/ TypeORM)"
## Issue :
I'm trying to test a GraphQL API with a in-memory SQLite database with TypeORM. Currently I have to create a connection in every .test file in the beforeAll (this method also has caveats because I'm limited to use --runInBand). I then tried to globally start the database with my fixtures with globalSetup, but I'm getting a weird error:
[code]
Usually that would mean that it's trying to

[2020-02-13 19:15] OliverJAsh commented on #766
@ahnpnl Are you using the `ts-jest-issue` branch? Maybe I didn't make that clear enough in my original post, sorry.

https://github.com/OliverJAsh/jest-ts-project-references/tree/ts-jest-issue

I made a new branch that contains the upgrades you mentioned. The branch still fails:

https://github.com/OliverJAsh/jest-ts-project-references/tree/ts-jest-issue-upgrade

[2020-02-13 22:14] ahnpnl commented on #1390
Does it happen to watch mode as well ?

[2020-02-13 22:16] ahnpnl commented on #766
Oh right, I’m sorry. It could be that when cloning the repo to my laptop, I forgot to switch branch. I will take a look again.

[2020-02-13 22:49] drrnkin commented on #1390
The problem is unchanged by watch mode.  I removed the cache, then (with the code in the initial valid state) I ran `yarn test --watchAll` (success as expected) .  Then I changed the type definition, and jest re-ran the test but it still passed (ie. it failed to detect the compile error).

[2020-02-13 23:00] ahnpnl commented on #1390
Thanks, that confirms my suspicion about the same problem with watch mode as well.

[2020-02-14 00:44] ahnpnl commented on #1289
PR #1385 solved something related and it was merged into master. However we are not sure that it will solve this issue. Can anyone please test the latest changes on master against this issue ?

[2020-02-14 07:48] jimhucksly commented on #1387
@ahnpnl

[2020-02-14 08:05] jimhucksly commented on #1387
that import as

[2020-02-14 08:20] ahnpnl commented on #1387
what is the issue when using `import remote from 'electron'` ? I'm not so familiar with electron but using that way solves the issue with `jest`. The error you got is from typescript compiler. It can't recognize `import { remote }  from 'electron'` therefore it throws the error.

[2020-02-14 08:54] jimhucksly commented on #1387
Problem is not with typescript.

[2020-02-14 08:58] jimhucksly commented on #1387
You can't run it like this
For work of Imports we need use babel, but it doesn't start here

[2020-02-14 08:58] ahnpnl commented on #1387
you can also try to install `ts-node`, then run `yarn ts-node src/App.ts` and print out `remote`, you will see the result undefined. I don't know why it is undefined but something is missing which doesn't make `remote` import is undefined.

[2020-02-14 10:42] jimhucksly commented on #1387
`
Cannot read property 'dispatch' of undefined

mounted() {

`

Jest is wonderful

[2020-02-14 10:43] #1387 closed

[2020-02-14 10:52] ahnpnl commented on #1387
Happy testing 😀

[2020-02-16 14:56] ahnpnl commented on #1390
hi, I have checked your reproduce example, the issue seems to be related to `jest` itself. `jest` decides whether the file is changed or not. Here is the explanation why this bug occurs:
- 1st run successfully, `ts-jest` will provide the cache key for `jest` based on file content.
- Modifying the type in `thing.ts` and rerun the test, `jest` looks into the cache and it detects that `thing.ts` has

[2020-02-17 18:29] PaulKElliott commented on #1173
Glad it's not a bug, but how do I tell the logger to stop putting "message TS151001" on the output?

[2020-02-19 03:43] cbaron commented on #281
I found a workaround that sort of makes things okay:

It works if you have a module file that _only_ exports enums

[2020-02-19 03:58] ahnpnl commented on #281
There is a note that if using enum inside .d.ts  won’t work, but const enum will work.

[2020-02-19 04:16] ahnpnl commented on #1115
At the moment I’m trying on a branch with typescript Program. I need some helps for testing to verify the changes. You can find it in this issue https://github.com/kulshekhar/ts-jest/issues/1310#issuecomment-571335754

[2020-02-19 04:17] ahnpnl commented on #259
Hi all, would you guys help testing with the new changes mentioned in https://github.com/kulshekhar/ts-jest/issues/1310#issuecomment-571335754 ?

[2020-02-19 04:18] ahnpnl commented on #845
Hi guys, would you please help testing with changes mentioned in https://github.com/kulshekhar/ts-jest/issues/1310#issuecomment-571335754

[2020-02-19 16:46] jdnichollsc commented on #1070
guys, exist any way to ignore this kind of errors? I'm getting this issue from React Native project

[2020-02-19 20:10] eventualbuddha opened #1400 "ts-jest imports jest-config but does not depend on it"
## Issue:

When running in a strict package resolution environment, i.e. Yarn v2 PnP, ts-jest fails at runtime because [it tries to import `jest-config/build`](https://github.com/kulshekhar/ts-jest/blob/03903612df09370baee58af41aa9909760c2b987/src/compiler.ts#L36) but [does not declare a dependency on `jest-config`.](https://github.com/kulshekhar/ts-jest/blob/03903612df09370baee58af41aa9909760c2b9

[2020-02-20 01:39] ahnpnl commented on #1400
Thanks for reporting the issue. For yarn 1.x, I think adding to dependencies should be the fix ?

[2020-02-20 01:48] eventualbuddha commented on #1400
Probably. I’ve never had this problem with yarn v1. Nevertheless, this is a dependency that is undeclared, right?

[2020-02-20 01:51] ahnpnl commented on #1400
Ye indeed it is, even though it is visible in node_modules when installing jest but I remember I asked jest team once and they suggested to add to dependencies if I’m not mistaken.

[2020-02-20 01:54] eventualbuddha commented on #1400
Sounds right to me. Would you accept aPR that adds it to dependencies?

[2020-02-20 01:57] ahnpnl commented on #1400
Yes PR is always welcome 🙏

[2020-02-20 16:25] tairosonloa commented on #1390
We are workarounding this issue by passing `--no-cache` flag to `jest`

[2020-02-20 16:30] drrnkin commented on #1390
@tairosonloa yes, that's the workaround we're using too, but it makes our test suite jump from about 3 minutes to about 8 minutes, and we run it frequently.

[2020-02-20 16:52] tairosonloa commented on #1390
Yeah @drrnkin, I know that feeling too

[2020-02-20 19:09] XaxisJosh commented on #1283
I needed more then @babel/preset-typescript. I upgraded it to the version @fedulovivan is using but still got compiler errors.

I was able to get optional chaining (and nullish coalescing) to compile by updating these two packages:
@babel/preset-typescript@7.8.3
@babel/preset-env@7.8.4

[2020-02-21 10:29] Slessi opened #1405 "Doesn't accept ?? with Typescript 3.8"
## Issue :

Tests which encouter code with `??` whilst using typescript 3.8 fails, however it does not fail with typescript 3.7

[code]

## Expected behavior :

Should accept `??` which is supported by TS 3.8

## Debug log:
<details/>
<summary>log file content</summary>

[code]
</details>

## Minimal repo :

[2020-02-21 10:32] Slessi commented on #1405
nevermind, unrelated to this package

[2020-02-21 10:32] #1405 closed

[2020-02-21 20:07] localnet commented on #1274
Hi @ahnpnl, I am getting the same issue. This time you can found a repository to reproduce it here:
  - https://github.com/localnet/ts-jest

Only run: `npm test`, you don't need setup Docker or the database to reproduce it.

[2020-02-22 04:14] ahnpnl commented on #1289
Hi everyone, have you guys tested 25.2.1 for this issue ? Is this issue fixed for you guys ?

[2020-02-22 06:03] ahnpnl commented on #1274
Thanks for your repo @localnet , I will take a look when I have some free times

[2020-02-22 09:10] kato1628 commented on #1029
+1

[2020-02-22 10:08] chungchi300 commented on #64
The weird thing I see in nestjs is when you use `"moduleDirectories": ["node_modules", "./"]`, the resolution fail and throw exception, but it works when `"moduleDirectories": ["node_modules", "./"]`

I create two branch for it
https://github.com/chungchi300/typescript-starter/tree/use-src-path-in-config - working, src
https://github.com/chungchi300/typescript-starter - failure, using ./

[2020-02-22 23:23] anilanar commented on #576
`mocked` is a pretty good solution. Another one is https://github.com/userlike/joke, if you are using babel to do some transforms already.

[2020-02-23 00:04] pesimeao commented on #1289
@ahnpnl in my case it worked! Thank you!

[2020-02-24 04:35] #1400 closed

[2020-02-24 17:26] BloodShok commented on #1283
Have same issue.
I tried change target from ES15 - ESNEXT and nothing.
Any suggestions?
![image](https://user-images.githubusercontent.com/22803952/75175674-7a042380-573b-11ea-9cde-9503a3285c5e.png)

[2020-02-24 17:31] ahnpnl commented on #1283
@BloodShok , in your screenshot, it looks to me that you have errors in your codes and IDE identified it correctly.

[2020-02-24 17:40] BloodShok commented on #1283
Sorry I didn't specify, this is javascript after compiling TypeScript

[2020-02-24 17:41] ahnpnl commented on #1283
do you mean your screenshot above is the compiled result in javascript ?

[2020-02-24 17:42] BloodShok commented on #1283
yes

[2020-02-24 17:43] XaxisJosh commented on #1283
@BloodShok are you using TSC or babel to compile?

[2020-02-24 17:43] ahnpnl commented on #1283
the compiled result seems to not have the correct syntax at line `return user ? .toObject() : ;` . What is the original typescript codes for the above screenshot ?

[2020-02-24 17:44] BloodShok commented on #1283
Here
TS:
![image](https://user-images.githubusercontent.com/22803952/75176945-dcf6ba00-573d-11ea-8a65-d8f4162f838c.png)

JS:
![image](https://user-images.githubusercontent.com/22803952/75176985-f435a780-573d-11ea-935e-fd123087d5d1.png)

I user TSC

[2020-02-24 17:50] ahnpnl commented on #1283
so it's related to your `tsconfig` project. Indeed the compiled result isn't valid javascript. The above typescript code should result in
[code]
(this compiled result is with `target: es2017`, `module: commonjs`)

I'd suggest you to check your project config. It is not related to `ts-jest`

[2020-02-24 17:53] BloodShok commented on #1283
Ok, thank you.

[2020-02-25 15:06] timshannon commented on #1289
@ahnpnl working now for me as well.

Thanks,

[2020-02-25 17:20] darioblanco commented on #1134
I don't know for sure if it is 100% related to this issue, but I managed to run `ts-jest` in a monorepo-based yarn2 PnP project.

Steps:

- Do not use `moduleNameMapper` as stated in the [migration guide](https://next.yarnpkg.com/advanced/migration#dont-use-resolvealiasmodules-webpack-or-modulenamemapper-jest). I instead use the `link` protocol in `package.json`, linking the package to "itself".
-

[2020-02-26 09:33] JakeStanger commented on #1289
This for me is causing another bizarre error...

With `ts-jest@25.2.1`, and Jest `24.9.0` or `25.1.0`, ALL tests now throw this:

[code]

[2020-02-26 09:38] ahnpnl commented on #1289
probably caused by `jest-config` isn't there, which is fixed in #1408

[2020-02-26 10:05] JakeStanger commented on #1289
Excellent, installing `jest-config` seems to have fixed it. The new `ts-jest` version has also fixed the original issue. Awesome!

I'll close this issue now, thank you everybody.

[2020-02-26 10:05] #1289 closed

[2020-02-27 11:39] linolazar commented on #398
have we got any fix for this issue ?

[2020-02-27 15:49] StoneCypher commented on #398
@linolazar - yes, I posted it already, it's `--esModuleInterop`

[2020-02-27 16:02] slikts commented on #798
I've ran into this again, and I don't understand what the workflow is supposed to be; if I'm refactoring a specific part of the code, the test suite becomes unusable, because it's flooded with errors like unused values elsewhere, and filtering the tests doesn't help.

[2020-02-28 07:13] jokester commented on #1283
One import difference with Jest is, the transformed code have to be executed (thus, supported) by current **node** version (this not true when bundling them for browser).

If `tsconfig.json` has `target: esnext` or similar,  try specify a lower ES version like https://kulshekhar.github.io/ts-jest/user/config/tsConfig .

[2020-02-28 20:21] http417 commented on #1283
Optional chaining was added in ES2020, which isn't supported by node yet.  So if your 'target' compile option is ES2020 or ESNext, then typescript compiler will see an optional chaining operator and leave it alone.  If your target is ES2019 or further back then you'll the transpile will result in something like this:

[2020-03-02 07:27] ahnpnl commented on #961
@SimenB maybe can separate type checking into another node process ? See https://github.com/microsoft/TypeScript/wiki/Performance#concurrent-type-checking

[2020-03-02 09:03] SimenB commented on #961
Possibly, some discussion in https://github.com/azz/jest-runner-tsc/issues/20

[2020-03-02 10:52] kirillgroshkov commented on #961
Actually, we disable type-checking when running ts-jest (diagnostics=false), for performance. And do `yarn tsc -P tsconfig.test.json` before running all tests. It seems to be faster - to compile whole project (all tests) at once with tsc.

That's what we do in CI. In local development we're ok to ignore type errors in tests, cause either they can be caught at a later stage, or tests will fail anyw

[2020-03-02 11:02] ahnpnl commented on #961
Yes definitely compiling before running all tests is faster since it is sequence task. When running tests with typescript `LanguageService`, `ts-jest` does 2 things in the same node process: emit and type checking which type checking might block emit or vice versa. So I was thinking about separating type checking into another node process like [fork-ts-checker-webpack-plugin](https://github.com/Ty

[2020-03-03 03:04] septs opened #1415 "Feature: Use TypeScript, Write 'jest.config.ts' file"
This allows us to TypeScript ONLY.

Expected:
[code]

[2020-03-03 19:15] MikeMitterer commented on #970
Why is this closed? It's 2020 (March) and it is still not possible to work with ES6 modules and Jest! I took me three days because I couldn't believe it - but it's true. I compiled a TS module with "target: es6" and "module: es6" - no chance. The only thing that worked was "module: commonjs"

Sure - there is always this crutch called "transformIgnorePatterns" - but this can't be the solution...

[2020-03-03 19:22] ahnpnl commented on #970
it is out of `ts-jest` scope. `jest` usually supports `commonjs`, `ts-jest` only compiles your ts files and pass the compiled result to `jest`. If you have problem with `module:es6`, you should check with Jest repo.

[2020-03-03 19:41] cdalexndr opened #1416 "Different breapoint line"
## Issue :
Debugging test stops at a different line than where breakpoint was set in the .ts file.
The line where debugger stops actually corresponds to the line in generated js code where the breakpoint will be after tsc compilation.
Inspecting the generated js files I noticed they differ from compiled files with `tsc -p tsconfig.json`.
One difference is they have in addition this header:
[code]

[2020-03-03 19:48] ahnpnl commented on #1416
would you please provide a repo to reproduce your issue ? Which IDE you are using ?

[2020-03-03 19:50] ahnpnl commented on #1415
hi, this feature doesn't belong to `ts-jest` scope, it should be in `jest` repo. You should ask in `jest` repo for this feature

[2020-03-03 19:50] #1415 closed

[2020-03-04 10:48] cdalexndr commented on #1416
Same problem with mocha and ts-node.
It seems it's an IDE or sourcemap problem.

[2020-03-04 10:48] #1416 closed

[2020-03-06 05:21] aravindanve commented on #1391
I have the same issue. @Drakota did you find a solution?

[2020-03-06 23:48] Drakota commented on #1391
@aravindanve Nope not at the moment unfortunately

[2020-03-07 22:53] aislanmaia commented on #1250
I think I'm having a similar problem, but the coverage part isn't recognizing the Typescript syntax at all.

[2020-03-09 09:10] matdehaast commented on #1391
I think this relates to this PR https://github.com/facebook/jest/pull/8751.

It has been long waiting as a PR to be merged but seems the release process for Jest is currently really hampered

[2020-03-11 15:33] sgratzl opened #1420 "pnp error since 25.2.1"
## Issue :

v25.2.1 doesn't work with Yarns Plug'n'Play anymore, v25.2.0 is fine. The issue is that it requires `jest-config/build` without declaring `jest-config` as a direct dependency.

## Expected behavior :

## Debug log:
<details/>
<summary>log file content</summary>

[code]
</details>

## Minimal repo :

[2020-03-11 15:45] jyeros commented on #1149
I am having the same issue and using `import {...} from "./module/index"` doesn't work I need to specify the module when i import it. I create e minimal repo where I can reproduce it [repo](https://github.com/jyeros/ts-jest-error-import-from-index-export-example) in `master` the problem exist but in this branch `remove-import-from-index-export` works well and the diff is
[code]
You can see the run

[2020-03-11 15:47] ahnpnl commented on #1420
Fixed in #1408

[2020-03-11 15:47] #1420 closed

[2020-03-11 15:49] ahnpnl commented on #1149
Thanks a lot for the reproduce repo. I will take a look when there are some free times 👍

[2020-03-12 11:31] seand52 commented on #1405
I've encountered the same problem. What was the issue?

[2020-03-12 11:35] Slessi commented on #1405
@seand52 I think it was my tsconfig target being es2020, had to drop down to es2019. Something changed how ?? Was handled by ts and node 12/13 don't natively support it yet so I had to drop down.

[2020-03-17 09:13] maxime1992 commented on #1310
@ahnpnl your branch link seems to be dead.

Could you also provide explanations if you restore it of how to test it on our own project?

I'd be willing to try :+1:

Thanks

[2020-03-17 09:27] ahnpnl commented on #1310
hi @maxime1992 , the changes are in master now. You can test against master.

To use Program with incremental
[code]
To use Program without incremental
[code]

I would expect the performance of `Program` without incremental slower than with incremental. In general, the current implementation of `Program` is slower than `LanguageService`. There are still rooms to improve.

[2020-03-17 11:32] slikts commented on #961
Is this expanded on somewhere? I've not been able to understand the benefits of type checking in a test runner (particularly the errors [not being](https://github.com/kulshekhar/ts-jest/issues/798) filterable by Jest) outside of possible familiarity. It runs counter to the common iterative/exploratory/tinkering workflow with short feedback loops. It's why, for example, linter errors would typicall

[2020-03-18 13:22] fider-apptimia commented on #334
Same problem for non-react projects - invalid stack trace line number.

Node v12.16.1
ts-jest@25.2.1
jest@25.1.0

[2020-03-18 16:41] ahnpnl commented on #1048
Close as Feature Request was created for Jest

[2020-03-18 16:41] #1048 closed

[2020-03-18 16:45] ahnpnl commented on #1065
Hi @dylang , I already mentioned this issue in jest feature request. I will close this issue as won’t build. If you still want to have this request, please create a request for jest team.

[2020-03-18 16:45] #1065 closed

[2020-03-19 05:14] #1146 closed

[2020-03-19 13:28] ahnpnl commented on #1146
@mtebenev , @wtho `Program` is available now for transformers. You can test against master

[2020-03-19 14:26] wtho commented on #1146
Yeah! Thanks so much!

[2020-03-20 04:43] mrdulin commented on #1029
+1

[2020-03-21 00:20] lovefamilychildrenhappiness opened #1436 "Unknown option "default" with value"
## Issue :

I have a src/jest.config.ts file which will ultimately be compiled to dist/jest.config.js. While this works in package.json:

[code]

Since my package.json is inside a lambda layer located somewhere in the opt/ directory of the ec2 instance Lambda deploys to, Jest cannot find this package.json file. So I created the jest.config.ts file and placed the contents of package.json regarding

[2020-03-21 01:16] jbolotin commented on #993
Reproducible on `ts-jest` `25.2.1` and `jest` `25.1.0`

[2020-03-21 02:26] #1436 closed

[2020-03-21 02:53] lovefamilychildrenhappiness opened #1437 "Unknown option "ts-jest" with value"
## Issue :

Here is the jest.config.ts file:

[code]
After npx tsc, it produces a jest.config.js file in dist folder:

[code]
And when running jest, it gives this error:

[code]

## Expected behavior :

Expected behavior is that jest will run normally.

[2020-03-21 03:19] ahnpnl commented on #993
Thanks for the information @jbolotin , I will close the issue then

[2020-03-21 03:19] #993 closed

[2020-03-21 03:21] ahnpnl commented on #1437
Hi, would you please provide the repo you use to reproduce the issue ?

[2020-03-21 14:16] #1437 closed

[2020-03-22 23:20] osman144 commented on #958
Has this issue been resolved ? I would like to suppress ts-jest version warnings

[2020-03-23 16:44] Martinspire opened #1441 "Disable message about diagnostics"
So when the diagnostics hits an error, it will write something like this;

    Test suite failed to run

    TypeScript diagnostics (customize using `[jest-config].globals.ts-jest.diagnostics` option):
    <file> - error <message>`

Now I might be alone in this but I do appreciate the error, but I don't want to see that "  TypeScript diagnostics (customize using `[jest-config].globals.ts-jest.diag

[2020-03-23 16:51] ahnpnl commented on #1441
you can’t disable but you can do other things to it: either you can set to warning level or filter on the diagnostic error to display. You can read about it more in documentation.

By default, ts-jest throws error to cancel tests based on diagnostic information. Diagnostic error comes from type checking. Perhaps a feature request to disable diagnostics logging is possible.

[2020-03-24 09:17] ahnpnl commented on #1441
sorry I missed this part. Yes we can remove it. It doesn't look so user friendly indeed

[2020-03-24 10:18] ahnpnl commented on #1441
hmm, just to confirm: you don't want to see the whole text:
[code]
or you don't want to see
[code]

[2020-03-24 11:26] ahnpnl commented on #1069
close in favor of #1048

[2020-03-24 11:26] #1069 closed

[2020-03-24 11:42] ahnpnl commented on #1390
duplicated #943

[2020-03-24 16:45] Martinspire commented on #1441
I think the whole line is not needed. I think its pretty obvious its a typescript error? But if one is a breaking change and the other isn't, then I'm fine with either. For me its most important to have a clear focus on the errors and all the diagnostics option stuff is in the way of short errors.

[2020-03-24 17:10] ahnpnl commented on #1441
For me it is obviously type error. Actually changing the text in any ways is a breaking change. However, this breaking change is not so serious since it might only affect to users who use snapshot or comparing against hardcoded string. If @kulshekhar is ok with it, we can do.

[2020-03-24 17:29] ahnpnl commented on #1391
If it is jest issue, can I close this ?

[2020-03-24 17:31] ahnpnl commented on #1315
Close as duplicate #1391

[2020-03-24 17:31] #1315 closed

[2020-03-24 17:32] #1162 closed

[2020-03-24 17:34] kulshekhar commented on #1441
I'm alright with this change. If this is being repeated every time and impedes reading the actual error details then it might be best to remove it

[2020-03-24 17:43] ahnpnl commented on #1441
Ok let’s remove this part then 👍

[2020-03-24 19:32] stangerjm opened #1445 "Custom Environments with TypeScript"
I have checked the troubleshooting guide, it does not solve this issue.

## Issue :
When creating a custom environment in TypeScript, Jest throws an error complaining about the TypeScript syntax. It appears that the custom environment is not being compiled.

## Expected behavior :
[code]

## Debug log:
<details/>
<summary>log file content</summary>

N/A

</details>

## `jest.config.js`
[code]

##

[2020-03-25 08:19] #1441 closed

[2020-03-25 21:34] camsjams commented on #845
Not sure who else this helps, but I had the exact same issue as described in this issue regarding Circle CI, and the best fix that worked for me was to update the `jest.config` to use:

[code]

Which I found via: https://github.com/kulshekhar/ts-jest/issues/908#issuecomment-484043250

The testing time in Circle literally went from 10 minutes and timing out to 15 seconds! Same coverage and test res

[2020-03-25 21:34] camsjams commented on #908
Thanks @VicJer that config adjustment worked brilliantly!

[2020-03-26 03:55] ncgreco1440 commented on #1390
Running into the same issue here. Using --no-cache doesn't alleviate the issue for me. The only out for me was to just not use ts-jest at all. And fall back to jest's babel configuration as described [here](https://jestjs.io/docs/en/getting-started#using-typescript).

[2020-03-26 08:01] ahnpnl commented on #1390
I’m interested into the case when no cache doesn’t solve the issue. Would you please provide the reproduce repo @ncgreco1440 ?

[2020-03-26 12:55] drrnbrns commented on #1390
@ncgreco1440 the comment on that babel configuration link seems to negate the reason for this ticket -- I need type checking to work in jest tests.

[2020-03-26 12:57] drrnkin commented on #1390
@ncgreco1440 the comment on that babel configuration link seems to negate the reason for this ticket -- I need type checking to work in jest tests.

[2020-03-26 15:57] drrnkin commented on #1390
@ahnpnl thank you for the fix!  As this is my first time logging a bug in an npm package, can you say what version will contain the fix and when it will be available? i.e. how long until https://www.npmjs.com/package/ts-jest is updated?

[2020-03-26 16:00] ahnpnl commented on #1390
the fix will be in the next release version. Please wait :)
cc @kulshekhar

[2020-03-26 16:15] ahnpnl commented on #1445
hi, this issue doesn't belong to `ts-jest` scope. You should check with `jest` team whether or not they support custom environment with ts. If they support it and pass it to transformer, `ts-jest` will then can handle it.

I would suggest you to open the issue for `jest` team.

[2020-03-26 16:15] #1445 closed

[2020-03-26 16:23] kulshekhar commented on #1390
I'll try to publish a new version tomorrow

[2020-03-26 16:29] drrnkin commented on #1390
Thank you.  Not trying to rush anyone, just unclear on how the next steps take place.  I'll keep a watch out for the next release.

[2020-03-26 20:44] ahnpnl commented on #1445
tag @SimenB has `jest` already taken into account of this feature ?

[2020-03-26 20:48] SimenB commented on #1445
It will be supported in Jest 26: https://github.com/facebook/jest/pull/8751

[2020-03-26 20:53] #1391 closed

[2020-03-26 20:56] #1155 closed

[2020-03-26 20:58] ahnpnl commented on #1122
seems to have similar issue with #943

[2020-03-26 21:00] ahnpnl commented on #663
close as not valid anymore

[2020-03-26 21:00] #663 closed

[2020-03-27 15:48] aravindanve commented on #1391
@Drakota In case you're still looking for a solution, this worked for me:
https://github.com/facebook/jest/issues/5164#issuecomment-376006851

[code]

[2020-03-27 16:37] ahnpnl commented on #1274
Hi @localnet, please check related issues #1391 #1445 . In summary Jest will support this in Jest 26. For now these setup files won’t be able to reach transformer.

[2020-03-27 16:37] #1274 closed

[2020-03-27 16:42] ahnpnl commented on #1154
Hi @ulrichb , I know how to provide what you need. However, we should discuss a generic solution so everyone can do it.

I am thinking about exposing via global process object. Do you think that way is possible ? I’m not so experienced with nodejs

[2020-03-27 16:54] ahnpnl commented on #929
Module esnext isn’t supported by jest. Jest is working on supporting esm.

[2020-03-27 16:54] #929 closed

[2020-03-27 18:07] stangerjm commented on #1445
This is fantastic, thanks for pointing this out!

[2020-03-28 12:18] ahnpnl commented on #1039
@k2snowman69 would be nice if you can help us to implement your proposal.

[2020-03-28 20:27] renatoalencar commented on #411
Figured this out today, just  write your setup and teardown modules in Javascript and then import your Typescript modules, they will be transpiled on the fly.

Example:

**sequelize.ts**
[code]

**setup.js**
[code]

[2020-03-28 20:28] renatoalencar commented on #420
If you're here, take a look at this: https://github.com/kulshekhar/ts-jest/issues/411#issuecomment-605515177

[2020-03-29 10:46] jerrywdlee opened #1465 "Get 0% coverage for JS files after jest v25.2.0"
## Issue :
Get 0% coverage for JS files after jest v25.2.0 ,
my Project:

[code]

I just use a **TS spec file** to test a **JS file** with a `.d.ts` file. Every thing were good until I upgrade `jest`
up to v25.2.0

Tests were still ok and shown correct locations for any errors.
But it failed on coverage

It shown results like

[code]

## Expected behavior :

## Debug log:
<details/>
<summary>log f

[2020-03-29 10:51] ahnpnl commented on #917
This is not ts-jest issue. Please check PR https://github.com/facebook/jest/issues/5739

[2020-03-29 10:51] #917 closed

[2020-03-29 10:57] ahnpnl commented on #1465
Are you able to reproduce with Babel-jest ? Did you also clear cache after upgrading jest ? Jest has v25.2.3 did you try it ?

[2020-03-29 11:04] jerrywdlee commented on #1465
It is a node.js project so I didn’t  use `bable`.

Yes I did.

Yes, I tried `25.2.0`, `25.2.1` , `25.2.2` and `25.2.3`
every version have the same problem until I downgraded it under `25.1.0`

[2020-03-29 11:18] ahnpnl commented on #1465
This can be an issue with jest 25.2 I’m not sure. If you can reproduce with Babel-jest, it will confirm that is jest regression issue.

To use Babel-jest very simple. You can follow this project https://github.com/ahnpnl/ts-jest-babel-example . Then in your jest config, define transform ts/tsx with babel-jest. Clean cache and retry to reproduce.

Would you please help us to check that ?

[2020-03-29 18:21] ahnpnl commented on #992
not sure if we can do anything here. `ts-jest` doesn't handle coverage report. We simply transform ts to js by ts compiler and gives the result to `jest`

[2020-03-29 18:21] #992 closed

[2020-03-29 19:38] ahnpnl commented on #1465
FYI https://github.com/facebook/jest/issues/8562

[2020-03-29 19:58] SimenB commented on #1465
Yup, 25.2.4 has a fix for this

[2020-03-29 21:48] #1465 closed

[2020-03-30 09:10] NikitaKrivenko opened #1470 "RFC: Performance after upgrading from 25.2.1 to 25.3.0"
## Issue :
25.3.0 version is extremely slow compared to 25.2.x.
E.g. my previous test runs were 17s, and 135s after update.

[2020-03-30 09:12] ahnpnl commented on #1470
can you please provide more information ? Do you run with or without cache ? Did you clear cache after upgrading to 25.3.0 ?

[2020-03-30 09:25] NikitaKrivenko commented on #1470
I tried to run jest with `--clearCache`, did not help.

[2020-03-30 09:35] ahnpnl commented on #1470
from what I can see is, before upgrading probably your tests ran with cache. After upgrading, old cache becomes invalid so tests will need to cache again. That's why you saw a big difference. Several steps that you can help us to verify is:
- Clear cache
- Run tests with `--no-cache` for 25.2.1
- Clear cache again
- Run tests with `--no-cache` for 25.3.0

If the amount of time tests take is the sa

[2020-03-30 10:33] vkrol opened #1471 "Cannot write file because it would overwrite input file in 25.3.0 when allowJs enabled"
## Issue :
If `allowJs` setting is enabled, the `Cannot write file ... because it would overwrite input file` is thrown.

## Expected behavior :
No error.

## Debug log:
<details/>
<summary>log file content</summary>

[code]
</details>

## Minimal repo
* https://github.com/vkrol/ts-jest-25.3.0-allow-js-bug
* https://github.com/vkrol/ts-jest-25.3.0-allow-js-bug/runs/545108331?check_suite_focus=true

[2020-03-30 10:38] NikitaKrivenko commented on #1470
Thank you for the suggestion, but it did not help as well :(
After all steps and running with no-cache it takes ~270s to finish.

[2020-03-30 10:52] ahnpnl commented on #1470
Hmm I don’t see any issues on my side. Also confirmed from https://github.com/kulshekhar/ts-jest/pull/1450#issuecomment-605885686

[2020-03-30 10:54] ahnpnl commented on #1471
This seems new to me, does it happen to 25.2.1 ?

[2020-03-30 10:55] ahnpnl commented on #1470
Any chances to have your repo to try out ?

[2020-03-30 10:59] vkrol commented on #1471
No.

[2020-03-30 11:01] ahnpnl commented on #1471
Thanks, seem like it has been there silently for a long time.

[2020-03-30 11:05] ahnpnl commented on #1471
This error came from typescript itself. Perhaps you can take a look at this https://github.com/microsoft/TypeScript/issues/14538

[2020-03-30 11:23] vkrol commented on #1471
The most upvoted answers suggest to set `noEmit` to `true` or exclude `outDir`. `noEmit: true` doesn't help and `outDir` doesn't set in the my example.

[2020-03-30 11:55] ahnpnl commented on #1471
`tsc` gives me the same result. So I can confirm it's really related to project configuration. Not sure if `ts-jest` can do anything in this case

[2020-03-30 12:43] vkrol commented on #1471
`noEmit` helps in this case. But it doesn't help for `ts-jest`, so I disagree that this is only a TS configuration issue.

[2020-03-30 12:46] ahnpnl commented on #1471
Ok I found another way for this. `ts-jest` can say: If user enables `allowJs` but doesn't specify `outDir`, `ts-jest` will set `outDir` to default `$$ts-jest$$`.

[2020-03-30 13:09] vkrol commented on #1471
Will this directory really be created?

[2020-03-30 13:11] ahnpnl commented on #1471
nope, I just tested that change locally, I can see the test passed but that directory isn't created.

[2020-03-30 14:37] NikitaKrivenko commented on #1470
Unfortunately no.
We have pinned version for now. Maybe someone else will face this issue too.

[2020-03-30 15:18] ahnpnl commented on #1122
hi @KerimG  @ttencate @karlhorky , would you please help us to test the fix ? You can download `tgz` file [here](https://drive.google.com/open?id=1c3qUhTCI5PbM-Pw6LyVEbz_JicL-hG2V) and install it.

[2020-03-30 15:19] ahnpnl commented on #943
hi @unional @aaw5017 @antonovicha @nathanmarks would you please help us to test the fix ? You can download tgz file [here](https://drive.google.com/open?id=1c3qUhTCI5PbM-Pw6LyVEbz_JicL-hG2V) and install it. Remember to clear cache before you run your tests

[2020-03-30 15:21] ahnpnl commented on #1390
hi @drrnkin @ncgreco1440 @tairosonloa @angeloocana would you please help us to test the watch mode fix ? You can download tgz file [here](https://drive.google.com/open?id=1c3qUhTCI5PbM-Pw6LyVEbz_JicL-hG2V) and install it. Remember to clear cache before you run your tests.

Can you please try the fix too @kulshekhar ?

[2020-03-30 15:39] drrnkin commented on #1390
@ahnpnl I can confirm that the bug is fixed in the latest ts-jest!  I used the latest from https://www.npmjs.com/package/ts-jest rather than the tgz file since it was updated hours ago.

My only changes from the original zip content was to upgrade jest and ts-jest to latest (I realize the jest upgrade isn't the important part).
[code]
Thanks!

[2020-03-30 15:44] ahnpnl commented on #1390
25.3.0 doesn’t have watch mode fix actually. My tgz file contains fixes for watch mode :) but I need more help to test it before I make a PR

[2020-03-30 15:47] drrnkin commented on #1390
Sounds like a different but related bug.  This bug is fixed.  Are the repro steps for what you want to to test the same as the one, except in watch mode?

[2020-03-30 15:50] ahnpnl commented on #1390
Yes the repro steps are mostly the same but in watch mode. Please try to break it :)

[2020-03-30 16:00] drrnkin commented on #1390
OK, your fix looks good in watch mode.  Starting with the original zip file (but upgraded to 25.3.0), I verified that running `yarn test --watchAll` failed to detect changes in watch mode as expected.

- I emptied node_modules\ts-jest and spliced in the contents from the tgz file.
- Removed the jestCache folder
- Ran `yarn test --watchAll`
- Messed around altering the `Thing` type, even deleting i

[2020-03-30 16:02] ahnpnl commented on #1390
Thanks, hopefully hearing from others too

[2020-03-30 17:30] #1471 closed

[2020-03-30 19:39] vkrol commented on #1471
@ahnpnl awesome. Thanks!

[2020-03-31 01:00] ncgreco1440 commented on #1390
So far it seems to do the job. I made a new test which attempts to dereference an invalid property on a class. Once the test suite runs, I see a failure as expected. Upon making a change to the source code and waiting for the test suite to rerun ts-jest now properly sees the newly create property in the class and the test passes as expected.

[2020-03-31 03:44] jerrywdlee commented on #1465
@ahnpnl @SimenB
It works in v25.2.4, Thank you very much

[2020-03-31 09:01] bmesuere commented on #1470
Maybe it's related but moving to 25.3.0, it seems that a lot more files are getting compiled. We use this in a rails project and are now getting a bunch of errors like `error TS5055: Cannot write file '/<<path>>/config/webpack/development.js' because it would overwrite input file.` which suggests it now handles every `js` file in repository.

[2020-03-31 09:06] ahnpnl commented on #1470
thanks for your feedback. Do you use `allowJs` in your repo ?

[2020-03-31 09:14] jbmusso commented on #889
If you ever land here via a search engine, I just had a comparable issue in VS Code and simply restarting the IDE solved it (actually,  `Developer: reload window` did the trick). Hopefully this will help someone troubleshoot the issue.

[2020-03-31 10:16] bmesuere commented on #1470
yes, I do. After checking the other issues, I think #1472 will probably resolve the error for me.

[2020-03-31 10:44] ahnpnl commented on #1470
Thanks. Probably the issue is bigger than just the fix #1472 as you mentioned that there are more files getting compiles. That is a useful hint to solve this issue.

Up til now, imo #1472 is just a workaround and there should be a proper fix.

[2020-03-31 12:38] NikitaKrivenko commented on #1470
I want to add that we are using `allowJs` too, without it compilation fails for 25.3.0, but works for 25.2.1

[2020-03-31 12:50] ahnpnl commented on #1470
if you guys don't mind, please test with this [tgz](https://drive.google.com/file/d/1jtm-x74jbe5TnoLMzPDEI0JmmDO222qx/view?usp=sharing) file. I just made an attempt to fix it but not so sure.

[2020-04-01 07:38] v7lin commented on #281
i have same issue!

[2020-04-01 11:18] LasaleFamine commented on #1470
I'm hitting the same problem just after the upgrade to 25.3.0 and I have a lot of:
`Cannot write file 'path/to/file.js' because it would overwrite input file`

I'm using `allowJs` too. Also if I add the `outDir` tests will work but they are extremely slow.

[2020-04-01 12:03] tcoz commented on #364
I'm struggling with this as well. I'm using an nrwl/nx workspace, the paths in tsconfig.app allow the app to run fine, I put the module name mappings in jest.config, nothing. I've tried using the jest utils that do the path to module mappings prefixed with <rootDir>, and a hundred other things. Nothing works. You run the tests and any module mapped to a path is not found. The one and only solution

[2020-04-01 12:42] ahnpnl commented on #1470
hi guys, please test again this branch https://github.com/ahnpnl/ts-jest/tree/fix-diagnostics to see if it helps

[2020-04-01 13:29] LasaleFamine commented on #1470
Seems like I cannot install it from GitHub with `yarn add --dev -W https://github.com/ahnpnl/ts-jest#fix-diagnostics`. Here is the error:

[code]

[2020-04-01 13:45] ahnpnl commented on #1470
Here is the zip of the tgz file.
[ts-jest-25.3.1.tgz.zip](https://github.com/kulshekhar/ts-jest/files/4415496/ts-jest-25.3.1.tgz.zip)

[2020-04-01 14:05] LasaleFamine commented on #1470
Alright, seems like we have some good news: installed the new version from your zip I can run the tests without the `Cannot write file 'path/to/file.js' because it would overwrite input file` error.

Also I have notice the slowness just the first time I run it, but the second run, using the cache, it goes down to 5 seconds running all tests. So I can say the last fix solved the problem. Looking fo

[2020-04-01 14:11] ahnpnl commented on #1470
thanks a lot for helping us !. I will make a PR shortly 👍

[2020-04-02 08:34] #1470 closed

[2020-04-02 13:37] adambbn commented on #334
@fider-apptimia I had the same problem in non-react project when I was using `async/await`. Changing `target` in `tsconfig.json` to `ES2019` fixed it for me.

This is how my `tsconfig.json` looks like (only `target` is edited, the rest are default `tsc --init` values):
[code]

[2020-04-02 15:43] pburkindine opened #1490 "ts-jest 25.3 breaks VSCode debug run"
## Issue :

Having to revert to ts-jest 25.2.1 because I receive this error when running tests for a specific file, despite blowing away node_modules:

[code]

The file is there and a normal run of `ng test` does not have the same issue.

Here is the command that was run (by VS code launch setup on a specific file):
[code]

Here is the jest.config used by the debugger
[code]

[2020-04-02 15:49] ahnpnl commented on #1490
Hi, would you please help us by testing this tgz https://github.com/kulshekhar/ts-jest/issues/1470#issuecomment-607258850

[2020-04-02 16:52] pburkindine commented on #1490
@ahnpnl Unfortunately my network security prevents me from downloading the file; if you want to provide me with e.g. a dropbox link I will try that

[2020-04-02 17:07] ahnpnl commented on #1490
https://www.dropbox.com/s/slygavvcwe4agr6/ts-jest-25.3.1.tgz.zip?dl=0 here you go :)

[2020-04-02 17:12] jsaguet commented on #1490
I have the same kind of error:
`Could not find source file: 'path\to\project\node_modules\lodash\index.js'.`
I didn't have any issue with previous ts-jest version and your zip fixes the problem

[2020-04-02 17:20] ahnpnl commented on #1490
the changes in zip file are in master now, will be in 25.3.1

[2020-04-02 17:57] jsaguet commented on #1490
Could you share which PR or commit fixed it please?

[2020-04-02 18:14] ahnpnl commented on #1490
#1483

[2020-04-03 05:15] ahnpnl commented on #1490
Hi @pburkindine does the zip fix your problem ?

[2020-04-03 05:59] benwinding commented on #269
To make it clear for others [this solution worked](https://kulshekhar.github.io/ts-jest/user/config/#jest-config-with-helper):

[code]
And make sure the `tsconfig.json` file has no comments or extra commas.

[2020-04-03 06:32] anshulguleria opened #1494 "Is documentation site down?"
## 🐛 Bug Report

https://kulshekhar.github.io/ts-jest is not working saying 404 in github. Something got changed to deploy the pages?

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

https://kulshekhar.github.io/ts-jest should show ts-jest documentation

## Link to repo (highly encouraged)

https://github.com/kulshekhar/ts-jest/

## envinfo

[code]

[2020-04-03 06:58] ahnpnl commented on #1494
Strange, yesterday I saw it was still working with latest changes

[2020-04-03 08:32] NikitaKrivenko commented on #1470
@ahnpnl, thanks a lot for the fix! Do you know when it will be released?

[2020-04-03 08:34] ahnpnl commented on #1470
we are having a bit issue with publishing today, but will be solved shortly. Stay tune :)

[2020-04-03 10:09] ashubham commented on #1494
Documentation site shows 404 for me:
![image](https://user-images.githubusercontent.com/6115911/78349493-8b212b00-7558-11ea-8637-66e62d35d7fb.png)

[2020-04-03 13:30] anshulguleria commented on #1494
Did you guys changed the documentation generation process? I can see that the branch `gh-pages` is not there now.

[2020-04-03 13:32] ahnpnl commented on #1494
Indeed i don't see that branch either. That branch has to be created by owner right ?

cc @kulshekhar

[2020-04-03 13:37] anshulguleria commented on #1494
Yes. In settings for a repository for sources, you can choose `master/docs` folder too. But I am not sure if some custom logic for Jekyll was used or not. If it works as a normal Jekyll template it should work without any problems.

[2020-04-03 14:46] kulshekhar commented on #1494
This is what the settings part of the repo shows:

![image](https://user-images.githubusercontent.com/10780624/78373177-df272080-75e7-11ea-8f29-dd9d60aaf504.png)

Looks like it might need to be built properly and then pushed to Github (instead of relying on Github to do the build)

[2020-04-03 14:47] ahnpnl commented on #1494
I made a few attempts in local today to build this but still not manage to build it.

[2020-04-03 15:17] ahnpnl commented on #1490
25.3.1 is out, please check :)

[2020-04-03 16:24] unional commented on #943
Hi @ahnpnl , my current projects do no do type checks through jest anymore, because it slow me down unnecessary.

So my projects are not using `ts-jest` now. Since this will likely require bigger project to reproduce, I won't be able to help testing the fix at the moment. Thanks. 🌷

[2020-04-03 17:59] LasaleFamine commented on #1490
Hi @ahnpnl I'm here again 😄 I saw you mentioned the issue I had too, well I've updated to 25.3.1 and I'm getting another problem:
[code]

Maybe this is related too, but **I have made a try adding `outDir: "$$ts-jest"` and it's working again**!

[2020-04-03 18:04] ahnpnl commented on #1490
seems like `outDir` is always required for `allowJs`. Internal `ts-jest` tests also require to set `outDir`. I have reverted #1472 because I thought #1483 make `outDir` not mandatory. PR is always welcome to help us if you think `outDir` is necessary to have.

Besides, how about performance comparing to 25.2.1 ?

[2020-04-03 18:06] LasaleFamine commented on #1490
Same for me after first run re-creating caches.

[2020-04-03 18:08] ahnpnl commented on #1490
Yes #1472 is the same as you manually declare `outDir` in your `tsconfig` :)

[2020-04-03 18:10] LasaleFamine commented on #1490
Maybe it's worth to know if this solve the problem also for @pburkindine and @jsaguet before re-reverting the change.

[2020-04-04 02:10] le0nik opened #1500 "[25.3.1]: "Emit skipped" Error"
Tests fail with "Emit skipped" error when in Progam mode and "Emit skipped for language service" in LanguageService mode.

Works correctly with 23.2.1.

[code]

src/testing/mocks/loadershim.js
[code]

jest.config.js
[code]

tsconfig.json
[code]

deps:
[code]

[2020-04-04 04:38] manferlo81 commented on #1494
Same thing here, still down.

[2020-04-04 06:54] ahnpnl commented on #1500
Hi, thank you for submitting the issue. You can try to set outDir in your tsconfig. We suspected that allowJs: true requires outDir to be set in tsconfig.

[2020-04-04 06:55] kulshekhar commented on #1494
I've manually generated the site and switched to using the `gh-pages` branch for now

[2020-04-04 06:55] #1494 closed

[2020-04-04 06:58] ahnpnl commented on #1490
Hi guys, I will close this since it fixed the original issue. For the issue with allowJs and emitSkip, please check #1500

Seems like #1472 is required to bring back.

[2020-04-04 06:58] #1490 closed

[2020-04-04 07:01] le0nik commented on #1500
Hi, thank you for suggesting this workaround. Adding `outDir` to `tsconfig.json` worked.

[2020-04-04 07:19] anshulguleria commented on #1494
@ahnpnl Were you getting some errors building locally?

Because I tried locally and was able to build successfully and was able to see updated changes in `_sites` folder in `docs`.

[2020-04-04 07:31] ahnpnl commented on #1494
I got errors related to gem dependencies. Some can’t be installed for some reasons 😕

[2020-04-04 09:57] Alexandr-Ilyin commented on #1310
Please provide some information what is the current status of the feature ?
Seems like adding
         "ts-jest": {
            "compilerHost": true,
            "incremental": true
         }
with jest --watch still does not use incremental ts build

[2020-04-04 09:59] kirillgroshkov commented on #1310
I double that. Tried exactly these settings and didn't notice any difference. What are the prerequisites for this to work? Should my `tsconfig.json` have incremental enabled too?

[2020-04-04 10:01] ahnpnl commented on #1310
it is still experimental feature. Right now we only invoke `createIncrementalProgram` to create a ts `Program` for compiling and type checking. `tsconfig.json` doesn't require to have incremental enabled in this case.

More help is welcome because this is relative new to implement and not many docs to follow.

[2020-04-04 10:12] ahnpnl commented on #1310
From what I understand from @yacinehmito that:

- `ts-jest` uses incremental program API (this has been done in v25.3.0)
-  write compiled files to build folder together with `.tsbuildinfo`. This will allow `tsc` to run faster. (this is not implemented yet).

I don't know anything else which is needed to do.

[2020-04-04 11:23] #1500 closed

[2020-04-04 12:33] yacinehmito commented on #1310
Absolutely. Instead of using the caching capabilities offered by Jest, ts-jest could solely rely on `incremental` and write everything on disk, in a folder visible by the user. However this is completely different than what is currently being done with ts-jest; I attempted an implementation but it was too challenging for me.

[2020-04-04 12:44] ahnpnl commented on #1310
Yes i think Jest's architecture isn't ready for using custom caching capabilities (in this case we want to use cache which is written by ts compiler).

At the moment, `getCacheKey` is the 1st point to determine whether a file has changed or not. Jest uses this method to look into its cache, get out the content and compare with new content. If the new content is different, Jest will invoke `process

[2020-04-04 12:53] ahnpnl commented on #1149
hi @jyeros , I have checked your repo and indeed I can see the error. However, I don't think this is `ts-jest` issue. I have tested with `babel-jest` and saw the same issue so it's most likely about your codes. Perhaps you can take a look at this https://www.freecodecamp.org/forum/t/writing-tests-type-error-not-a-function/275684/5

To test with `babel-jest` you can do these steps:

- Modify your `

[2020-04-04 13:02] ahnpnl commented on #1250
@donovanhiland `ts-jest` doesn't control how coverage report is generated. Missing coverage in your coverage report related to async function is in `jest` scope (related to istanbul). So your repo isn't the one we need in this case.

@aislanmaia would be great if you can help us to provide a repo

[2020-04-04 16:34] pburkindine commented on #1490
@ahnpnl also fixed for me in 25.3.1, thanks for the prompt fix! :)

[2020-04-04 19:47] ahnpnl commented on #950
Hi guys, does the issue still exist with 25.3.1 ?

[2020-04-05 18:14] pburkindine opened #1506 "ts-jest 26.1.2 - "cannot find source file""
## 🐛 Bug Report

When attempting to run jest tests with VSCode debugger in 25.3.1, I keep getting error "cannot find source file" after making seemingly innocuous changes to the spec or tested file.  Reverting the changes to the source file allows the tests to run.  Reverting to 25.2.1 fixes the error.

[code]

[2020-04-05 18:16] ahnpnl commented on #1506
Would you please provide us the reproduce repo ?

[2020-04-05 18:37] pburkindine commented on #1506
Logs:
[code]

Working on a repro

[2020-04-05 18:44] pburkindine commented on #1506
@ahnpnl https://github.com/pburkindine/tsjest-cannot-find-source-file

Just adding `foo = 'bar';` to this file produced the error: https://github.com/pburkindine/tsjest-cannot-find-source-file/blob/master/apps/tsjest-cannot-find-source-file/src/app/app.component.ts

After running it the first time and getting the error, I noticed I needed to upgrade jest in the repro to match my environment.  Afte

[2020-04-05 18:46] ahnpnl commented on #1506
does clear jest cache and rerun help ?

[2020-04-05 18:53] pburkindine commented on #1506
yes, running `jest --clearCache` allows the test to pass, but then changing the value again (e.g. to `qum = 'quo'`) causes it to immediately fail again

[2020-04-05 20:40] ahnpnl commented on #1506
oh I think I know, it's related to the fix for #1390 . For some reasons it doesn't work for your case

[2020-04-06 02:17] rav2040 commented on #1506
I have the same issue with all my typescript projects since the update to `25.3.1`. After a successful test run, as soon as I change anything in a source file and run the test again, I get the same error. Reverting the change allows the test to complete.

At the moment, all I can do is keep running `jest --clearCache` every time I change something, or roll back to a previous version of ts-jest.

I

[2020-04-06 08:10] ahnpnl commented on #1506
thank you guys for the information, will look into it asap. Stay tune :)

[2020-04-06 10:07] fider-apptimia commented on #334
@adambbn here is my full tsconfig:
[code]

Still invalid stack trace with `ES2019` - stack traces of errors throwed from my .ts file wrapped by jest are still not mapped.

[2020-04-06 21:23] pburkindine commented on #1506
@ahnpnl yeah, fixes it for me as well, thanks

[2020-04-06 21:25] ahnpnl commented on #1506
thank you guys, will open a PR for it.

[2020-04-07 09:12] OliverJAsh commented on #766
That sounds more like the functionality of `extends` rather than `references`.

References is a bit more complicated, since the compiler options inside a referenced TS config should only apply to the files in the scope of that TS project.

[2020-04-07 09:20] ahnpnl commented on #766
hmm i'm not experienced with this project reference but your explanation makes some clearance for me. However, I don't know how we can tackle this. Do you have any suggested solutions ?

In general, `ts-jest` always has a final config which will be used for running tests. This config will affect to the outcome of tests.

[2020-04-07 09:38] grainrigi commented on #1029
I had the same issue on using `ts-jest` with Node.js and found a solution.

# Solution
Use `ts-node` alongside `ts-jest`.

Example:

Install `ts-node`.
[code]
Rewrite `package.json`.
[code]
Run test as usual.
[code]
And everything goes well!

# Explanation
`rewire` uses `module` module(can be used by `require('module')`), which `ts-jest` does not wrap.
Therefore, `rewire` resolves the module you i

[2020-04-07 10:32] JounQin opened #1509 "Error: `Expected pattern to be a non-empty string` from `picomatch`"
## 💥 Regression Report

As title

[code]

## Last working version

Worked up to version: 25.3.0

Stopped working in version: 25.3.1

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Test pass

## Link to repo (highly encouraged)

https://github.com/1stG/configs/runs/567207494#step:8:322

## Debug log:

[code]

## envinfo

[code]

[2020-04-07 11:07] ahnpnl commented on #1509
hi, thank you for submitting the issue. We will check it asap.

[2020-04-08 05:50] #1509 closed

[2020-04-08 14:41] rivertam commented on #114
(this is the first thing that comes up on Google)

This is a bug within Jest regarding coverage breaking source maps:

https://github.com/facebook/jest/issues/5739

[2020-04-09 02:06] jubairsaidi commented on #937
all I had to do to fix this was create a file `jest.config.js` with the contents of:
[code]
while having also installed `ts-jest`

[2020-04-09 04:54] anshulguleria commented on #1494
I researched a little and found that `plantuml` is not supported in github at present. Here is the relevant issue for this: https://github.community/t5/How-to-use-Git-and-GitHub/Support-UML-diagrams-in-markdown-with-plantuml-syntax/td-p/3844

It works in my local because I have plantuml utility installed but fails on github due to lack of plantuml support.

One way to fix this is generate document

[2020-04-09 05:12] anshulguleria commented on #1494
Actually if we change the structure of `docs` folder a little.

We keep md files in `docs_md` folder and generate jekyll output in `docs` folder and then tell github to not run jekyll by adding `.nojekyll` in docs folder. Since we are generating it locally github will use the generated files and will show proper site.

And example of the same: https://anshulguleria.github.io/ts-jest/

You can view

[2020-04-09 07:41] ahnpnl commented on #1494
this sounds good to me. However, is it easy for contributors to generating locally ? Like I have issues with local that I can't run build at all for docs. Can CI help us in this case ? I mean the main goal is making it easy for contributors.

[2020-04-09 08:07] anshulguleria commented on #1494
I agree. The only problem I see is `plantuml` plugin. I will try if the installation can be automated or not. If I succeed a github action can be written for the same.

[2020-04-09 20:07] aaron-fuleki commented on #364
@tcoz I've found the same thing. Tried suggestions from a dozen or so threads/posts/issues, and nothing works, including the `pathsToModuleNameMapper` suggestion from the `ts-jest` docs. I remember getting this to work a few months ago, but for the life of me can't figure out why it doesn't now, even in the simplest of example projects. I wonder if there's a regression somewhere...

[2020-04-09 20:13] ahnpnl commented on #364
path mapping works depending on your `rootDir`, see https://github.com/kulshekhar/ts-jest/blob/master/TROUBLESHOOTING.md

[2020-04-09 20:38] aaron-fuleki commented on #364
🤦

In my many stabs-in-the-dark, I'd changed that line to `'<rootDir>/src'`

`roots: ['<rootDir>']` fixed it!

[2020-04-10 05:51] yacinehmito commented on #1310
I think this is a good direction to take, but I don't know _how_ to make it work.
The transformer would need to have access to the already instantiated program, and I don't know how that could be done.

Then, even if it were the case, I don't know how this would work out when tests run in parallel. Indeed:
- How does TypeScript behave when parallel processes perform incremental builds?
- Assuming

[2020-04-10 08:18] anshulguleria commented on #1494
Found  a way to install `plantuml` on github actions. Raised a pull request for the change:

PR: https://github.com/kulshekhar/ts-jest/pull/1522

I am still going by using `gh-pages` branch to avoid unnecessary commits in master branch.

The above mentioned change creates new bot commit on gh-pages branch whenever something changes in master branch.

@ahnpnl Let me know if this is fine.

[2020-04-10 08:19] ahnpnl commented on #1494
I like the idea 👍

[2020-04-10 12:22] ahnpnl commented on #1310
I think this is doable. This [point] is starting point of creating `Transformer` instance, I think we can create `Program` instance before that point actually executes.

- I think for tests run in parallel, we need to share `Program` via nodejs global `process` object. However, the fact that we need async transform so it is related to https://github.com/facebook/jest/pull/9597 and will take some t

[2020-04-10 15:28] yacinehmito commented on #1310
When tests run in parallel, transformation seems to happens in each Jest worker, which are different processes. This is why they don't share the global `process` object.

[2020-04-10 19:54] CamiloGarciaLaRotta commented on #1506
👋🏽just hit this same issue in VSCode, I can revert to `25.2.1`, so it's not a blocker. I was just wondering about the ETA of a new release

[2020-04-11 06:50] ahnpnl commented on #1506
cc @kulshekhar

[2020-04-12 16:29] ahnpnl commented on #908
Hi guys, 23.10.5 was a complete rewrite version and ts-jest switched to use typescript language service as default mode, which is be slower than isolatedModules mode. 23.1.x used isolatedModules mode so it explained why the tests ran faster. However, using this isolatedModules mode you will lose some functionalities see [doc](https://kulshekhar.github.io/ts-jest/user/config/isolatedModules)

We ha

[2020-04-12 16:29] #908 closed

[2020-04-13 07:45] ahnpnl commented on #845
The whole lodash is cached because jest passes the whole lodash module to transformer. ts-jest handles anything that is passed to transformer by jest.

I will close this issue as not clear to reproduce. If anyone has a repo to share, we would love to help.

[2020-04-13 07:45] #845 closed

[2020-04-13 12:58] pallabrath opened #1523 "type script reference path is not getting resolved in jest"
In one of the ts file (query_ctrl.ts) the module import are like below

///

import { QueryCtrl } from 'app/plugins/sdk';
export class MyQueryCtrl extends QueryCtrl
{ .....

In module.ts
export {
MyQueryCtrl as QueryCtrl
};
While in jest test module.test.ts
import { QueryCtrl } from '../../datasource/module'

● Test suite failed to run

Cannot find module 'app/plugins/sdk' from 'query_ctrl.ts'

Re

[2020-04-13 12:59] pallabrath commented on #1523
Its something out of scope for jest # https://github.com/facebook/jest/issues/9805

[2020-04-13 13:01] ahnpnl commented on #1523
You can try moduleNameMapper in jest config. The error is about jest can’t find your file with that path. This issue is not ts-jest issue.

[2020-04-13 13:02] pallabrath commented on #1523
I have tried with moduleNameMapper
 moduleNameMapper: {
    "app/plugins/sdk" : "<rootDir>/node_modules/grafana-sdk-mocks/app/headers/common.d.ts",
  }
But it didn't work for me

[2020-04-13 13:04] ahnpnl commented on #1523
you need to set proper `rootDir` to be able to use `moduleNameMapper`. But I don't think using type definition directly like that will work. Because `moduleNameMapper` only works with `ts` or `js`. We as `ts-jest` cannot do anything.

[2020-04-13 13:08] pallabrath commented on #1523
ok, i did, it too did not work.
 moduleNameMapper: {
    "app/plugins/sdk" : "<rootDir>/node_modules/grafana-sdk-mocks/app/headers/common.d.ts",
  }
So any way i can make ts-jest work ? same time  grunt-typescript is workinng

[2020-04-13 13:10] ahnpnl commented on #1523
why don't you point to `common.ts` or `common.js` ?

[2020-04-13 13:15] pallabrath commented on #1523
unfortunately, I don't see the corresponding .ts file. I found only the .d.ts file where all the classes are getting export https://github.com/grafana/grafana-sdk-mocks/blob/master/app/headers/common.d.ts

[2020-04-13 13:16] ahnpnl commented on #1523
hmm do you mind share a minimum repo so I can take a look ? :)

[2020-04-13 14:14] pallabrath commented on #1523
https://github.com/pallabrath/ts-jest-Issue1523

[2020-04-13 14:39] ahnpnl commented on #1523
ok I found workaround for your case.

- Adjust your `jest.config.js` to:
[code]
- Install version 25.2.1 of `ts-jest`
- Clear cache
- Try to run test again (worked for me)

**Explanation**
- `transformIgnorePatterns` is needed in this case, otherwise you will get error from typescript
[code]
- There seems to be a regression in 25.3.x in your scenario, use 25.2.1 works.

Can you please try ?

[2020-04-13 15:19] pallabrath commented on #1523
Thanks .. Its working now @ahnpnl you are awsome 💯

[2020-04-13 15:20] ahnpnl commented on #1523
I will close this by a proper fix, for now you can use that workaround 👍

[2020-04-13 17:34] ahnpnl commented on #1523
@pallabrath I just checked your problem against `ts-jest` master. Actually PR #1507 already fixed this issue. So no extra PR needed for this issue. I will close this as already fixed.

[2020-04-13 17:34] #1523 closed

[2020-04-14 05:48] PizzaPartyInc opened #1526 "Test suite failed to run, Could not find source file"
## 🐛 Bug Report

Jest fails to find tests, ends with error:

[code]

Jest config:
[code]

## To Reproduce

The only concrete reproduction step I was able to find and fix this is to downgrade ts-jest from 25.3.1 to 25.2.1, then tests are being discovered, are running and passing.  (or to make error re-appear - update it back to latest)

System:
    OS: Windows 10

Npm packages:
[code]

Please let m

[2020-04-14 06:48] ahnpnl commented on #1526
Close as duplicated with #1506 , the fix already added. Please wait for the next release.

[2020-04-14 06:48] #1526 closed

[2020-04-14 11:07] Gibbo3771 commented on #937
@jubairsaidi I just want to add onto this, if you have anything in the transform object, remove it.
I originally had this which was causing problems with `preset: "ts--jest"
[code]

[2020-04-14 16:26] ahnpnl commented on #1159
@Andarist I think I might have an idea how to tackle this issue. Just to understand you correctly: your request is while running tests with ts-jest, you want to have at the same time type declaration files are written on disk, similar to running tsc before running tests

[2020-04-14 21:23] Andarist commented on #1159
@ahnpnl yes, exactly that. This would allow for not having to generate type declarations in a separate watch process and they are useful for other tools (such as VScode when dealing with project references)

[2020-04-15 03:58] mordigann228 commented on #1506
This bug is still present on version `^25.3.0`
The issue is almost the same:
modified source file without modifying the test file and boom
`"Could not find source file: '/home/user/project/test/User.test.ts'`

[2020-04-15 05:04] ahnpnl commented on #1506
@mordigann228 you can: either use 25.2.1 or use clear cache or wait for the next release :)

[2020-04-15 09:58] ahnpnl commented on #1159
thanks for confirmation 👍 , I would say this feature request should be applicable for both monorepo and non-monorepo.

[2020-04-16 09:44] jimbom opened #1529 "Failing to run test including a reference to a .d.ts file"
## 🐛 Bug Report

When I try to run a test that is including a reference to a .d.ts file I get the following error:
[code]

This is what is causing the error (in IlssppSeries.ts):
[code]

The following has been added to jest.config.js:
[code]
I have tried some variants of the path, without success. The typescript works fine, it's just the test that isn't working.

This problem is similar to #1040

[2020-04-16 09:50] ahnpnl commented on #1529
hi @jimbom you can find the workaround here https://github.com/kulshekhar/ts-jest/issues/1523#issuecomment-612926494

I will close this as duplicate #1523

[2020-04-16 09:50] #1529 closed

[2020-04-16 20:45] evandrocoan opened #1532 "TS_JEST_LOG=ts-jest.log not working Error: ENOENT: no such file or directory, open"
## 🐛 Bug Report

[code]

## envinfo

[code]

[2020-04-16 20:53] evandrocoan opened #1533 "error TS2339: Property 'server' does not exist on type 'Global'."
## 🐛 Bug Report

https://github.com/facebook/jest/pull/5186/files - docs: globals in custom test environment

**package.json**
[code]

**test_environment.js**
[code]

Then, you can access the `this.global.server` in your tests files to get the server port/address:

**reviewer.test.ts**
[code]

Error:
[code]

If I add `// @ts-ignore` before the line `let server = this.global.server;`, everything wo

[2020-04-16 20:58] evandrocoan commented on #1533
If I reset the variable to the empty string, the error is:
[code]

[2020-04-16 20:59] evandrocoan commented on #1532
If I reset the variable to the empty string, the error is:
[code]

[2020-04-16 22:27] ahnpnl commented on #1533
This is not a bug of ts-jest. This is purely typescript complain about server property doesn’t exist in NodeJs Global according to type definition. Note that server is a dynamic property which only exists in jest runtime, not by default NodeJs Global definition.

You can use that workaround or search google for more workarounds.

I will close this as not a bug

[2020-04-16 22:27] #1533 closed

[2020-04-16 22:45] evandrocoan commented on #1533
Like this?

It does not look nice.

[2020-04-16 22:47] ahnpnl commented on #1533
yes it doesn't look nice but this is issue with type declaration. The typescript compiler of `ts-jest`simply complains about it. It's not a bug of internal `ts-jest`. If you run `tsc` on the file, you will get the same issue.

[2020-04-17 04:40] #1532 closed

[2020-04-17 07:15] jimbom commented on #1529
Thank you @ahnpnl! That helped :-)

[2020-04-17 07:28] ahnpnl commented on #1523
Hi @pallabrath , you can use `ts-jest` 25.4.0 now. However, the `jest.config.js` I provided before has to be like that. v25.4.0 has the same behavior as v25.2.1

[2020-04-19 14:45] #766 closed

[2020-04-20 02:38] BryanAM opened #1548 "t(...).map() is not a function, react-i18next + jest"
## Issue Report

I'm very new so forgive me, I hope my eyes deceive me.
I have a very simple React component and I want to write any test at all, literally anything will do. However, I get a render issue for a map function on a `<li>` tag.

## To Reproduce
First, I'm not getting any issues or errors, warnings in my application itself - react-i18next is also set to debug true so I double checked I

[2020-04-20 02:41] #1548 closed

[2020-04-20 03:33] gengjiawen commented on #411
This works, thanks so much.

[2020-04-21 03:01] G-Rath opened #1550 "node@8 is not longer supported due to use of mkdirp@1"
[`mkdirp@1`](https://github.com/isaacs/node-mkdirp/blob/master/CHANGELOG.md) dropped support for `node@8`, meaning that `ts-jest` no longer supports `node@8`, and will cause installs to fail:

My understanding is that `ts-jest` matches `jest` in the node versions it supports, meaning that it should support node@8.

Otherwise, the [`engines`](https://github.com/kulshekhar/ts-jest/blob/master/packag

[2020-04-21 04:48] ahnpnl commented on #1550
Do you mind opening a PR for this 😀

[2020-04-21 05:10] JounQin opened #1552 "TypeError: pattern.test is not a function after upgrading to `25.4.0`"
## 💥 Regression Report

[code]

## Last working version

Worked up to version: 25.3.0

Stopped working in version: 25.4.0

## To Reproduce

Steps to reproduce the behavior:

It is very weird that this function is not always been called...

Sometimes it just passes as expected, and sometimes it passes without correct coverage, and sometimes it throws like above.

[code]

## Expected behavior

Test

[2020-04-21 05:14] JounQin commented on #1552
I tried to log at that line, it seems `pattern` is somehow `{}` sometimes.

[2020-04-21 05:29] #1550 closed

[2020-04-21 05:39] ahnpnl commented on #1552
Hmm this is odd, pattern comes from an array of RexExp or string which is concatenated based on original jest config. That means there is a bug somewhere when jest passes this original config to transformer.

[2020-04-21 11:19] ahnpnl commented on #1115
#1549 will be in alpha version today. Please test and let us know whether it helps.

[2020-04-21 11:20] ahnpnl commented on #908
FYI: https://github.com/kulshekhar/ts-jest/pull/1549 will be in alpha version of ts-jest (possibly today). Anyone who is using ts-jest please help to test the alpha version and give us some feedbacks for https://github.com/kulshekhar/ts-jest/issues/1115

[2020-04-21 11:21] ahnpnl commented on #259
FYI: https://github.com/kulshekhar/ts-jest/pull/1549 will be in alpha version of ts-jest (possibly today). Anyone who is using ts-jest please help to test the alpha version and give us some feedbacks for https://github.com/kulshekhar/ts-jest/issues/1115

[2020-04-21 11:23] ahnpnl commented on #845
FYI: https://github.com/kulshekhar/ts-jest/pull/1549 will be in alpha version of ts-jest (possibly today). Anyone who is using ts-jest please help to test the alpha version and give us some feedbacks for https://github.com/kulshekhar/ts-jest/issues/1115

[2020-04-21 11:23] ahnpnl commented on #1044
FYI: https://github.com/kulshekhar/ts-jest/pull/1549 will be in alpha version of ts-jest (possibly today). Anyone who is using ts-jest please help to test the alpha version and give us some feedbacks for https://github.com/kulshekhar/ts-jest/issues/1115

[2020-04-21 11:36] ahnpnl commented on #961
FYI: https://github.com/kulshekhar/ts-jest/pull/1549 will be in alpha version of ts-jest (possibly today). You can test the alpha version and give some feedbacks for https://github.com/kulshekhar/ts-jest/issues/1115

[2020-04-21 12:26] ahnpnl commented on #1552
hmm, I still can't reproduce this on my Mac. Besides, the coverage always shows me 0%

[2020-04-21 12:32] ahnpnl commented on #1552
ok I can reproduce the issue. What I suspected was correct. `jest` passes to `ts-jest` a jest config which contains `testRegex` is an array of object instead of array of RegExp. We need `jest` to solve this issue.

[2020-04-21 19:24] anshulguleria commented on #664
I am planning on picking this story if it's not already done. But I would need more info before I can make any changes. Here are a few initial questions I have:

Are we only planning to do `npm publish` once someone commits? Or we want to do once a release is created. In Github creation of release involves:
* tag creation
* going to tags section and releasing it through UI

If we don't want to do

[2020-04-21 20:02] ahnpnl commented on #664
Hmm is there a way that when we create a release in GitHub release page, it will automatically publish a tag ?

[2020-04-22 06:26] anshulguleria commented on #664
Not sure. But I remember releases are created for tags, that means to create a release, tag needs to be created first

[2020-04-22 07:13] ahnpnl commented on #664
ok looking back the title, I can see the intended purpose is when creating a tag, somehow that tag creation will trigger a CI that then publish a new release. I think that is possible right ?

[2020-04-22 07:41] anshulguleria commented on #664
I will check if creating release through automation is possible or not.

[2020-04-22 08:43] AlexGellert opened #1557 "Typescript Jest failing"
## 🐛 Bug Report

It seems its failing on the tsconfig file? but I even tried to ignore tsconfig and it still fails parsing the tsconfig.json

## To Reproduce
Running jest

## Error:
` FAIL  src/components/__tests__/StartPage.spec.ts
  ● Test suite failed to run

    Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's

[2020-04-22 08:45] #812 closed

[2020-04-22 08:48] ahnpnl commented on #1557
you can't ignore tsconfig because `ts-jest` needs to load tsconfig in your project to be able to use TypeScript compiler. I'd suggest you to check your tsconfig.

Besides, please following the bug template and fill in all necessary information so we can easily help.

[2020-04-22 08:54] #727 closed

[2020-04-22 08:54] ahnpnl commented on #727
if there is still the issue, feel free to open another one.

[2020-04-22 12:27] ifeltsweet commented on #259
We found that by having a separate tsconfig.json for testing where `include: []` is just an empty array improves performance by about 30-40% in our small test suite.

[2020-04-22 12:35] ahnpnl commented on #259
Yes that is exactly what I implemented for alpha release version

[2020-04-22 13:41] ahnpnl commented on #1557
Can you please provide us your repo ?

[2020-04-23 10:44] #1557 closed

[2020-04-23 10:50] ahnpnl commented on #1310
I have looked into ts-loader to replicate their resolvers. However, it doesn’t say anywhere in ts-loader doc about how it works. Do you mind sharing your POC codes ?

[2020-04-23 11:57] yacinehmito commented on #1310
It's in a private repo owned by Spendesk. I'll see if I can get that out next week.

[2020-04-23 20:18] trevorglick commented on #889
@jbmusso uuugh that worked for me.  thanks.

[2020-04-23 22:22] vkrol commented on #1115
@ahnpnl

We have some problems with `d.ts` files https://github.com/vkrol/ts-jest-25.5.0-alpha.0-custom-typings.

[2020-04-24 05:28] js-kyle commented on #114
@rivertam thank you very much for posting the above

[2020-04-24 12:13] ahnpnl commented on #1115
thanks @vkrol , it will be fixed by #1562

[2020-04-24 18:09] jedmao opened #1564 "Accept `tsconfig` alias to `tsConfig`"
## 🚀 Feature Proposal

Accept `tsconfig` (all lowercase) as an alias to `tsConfig` option.

## Motivation

[`tsconfig.json`](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html) is almost always referred to in the lowercase version, which makes it super simple to overlook that this package requires an uppercase `C` as `tsConfig` (a mistake that cost me some unnecessary time today).

##

[2020-04-24 18:12] ahnpnl commented on #1564
PR is welcome 😀

[2020-04-24 20:29] anshulguleria commented on #664
I found a GitHub [action to create a release](https://github.com/marketplace/actions/create-a-release) that can do this. Just a quick question before I start testing that in my fork:

The workflow will be something like this:

* developer or owner of this repo creates tag using `git tag v<some_number>` command.
* developer pushes the tag to the remote origin
* GitHub action uses the tag to create

[2020-04-24 20:38] ahnpnl commented on #664
Oh yes that looks like the want we need, only 1 manual action to create, push a tag and the rest is handled by automation. What do you think @kulshekhar ?

[2020-04-24 22:32] jedmao commented on #1564
@ahnpnl done, please see #1565

[2020-04-25 05:11] kulshekhar commented on #664
sounds like a good idea. How will auth for npm work when publishing?

[2020-04-25 08:44] anshulguleria commented on #664
@kulshekhar for creating token you can follow https://docs.npmjs.com/creating-and-viewing-authentication-tokens

Once created you can add that to GitHub using the steps I mentioned above.

We would need a token with read and publish permissions.

[2020-04-25 16:27] ahnpnl opened #1566 "Migrate TSLint -> ESLint"
## 🚀 Feature Proposal

TSLint is [deprecated](https://github.com/palantir/tslint/issues/4534), we should migrate `ts-jest` to ESLint.

## Motivation

Since TSLint is deprecated, there is no reason for us to keep using it.

[2020-04-26 05:40] kulshekhar commented on #664
I've added the token which should be available in actions as `NPM_TOKEN`

[2020-04-26 13:55] anshulguleria commented on #664
I have added a workflow to be triggered by the creation of a tag. The publish is failing because my repository doesn't have valid `NPM_TOKEN`

[2020-04-26 14:00] anshulguleria commented on #664
One thing that I want to understand is:

I checked the npm repository for ts-jest at https://registry.npmjs.org/ts-jest which lists `dist-tags` as `latest` and `next`.

How does this data gets filled? Do I need to write some more steps for this or does `npm` figure out automatically what will be `next`? And how?

[2020-04-26 14:15] ahnpnl commented on #664
the data for `latest` and `next` is filled by the tag we specify when publishing from npm cli as far as I know. When publishing with `--tag next`, that version is only available via `npm install <package_name>@next`, and without specifying any tags, npm will publish as `latest`.

So when publishing a tag with with the automation, we need somehow a way to say that is `next` or `latest` by `tag --ne

[2020-04-26 21:02] patrickmichalina commented on #414
The way I approached this was to just map the values from the `tsconfig.json` into the jest.config.js` file like so:

[code]

[2020-04-27 14:23] #1552 closed

[2020-04-27 20:03] #1154 closed

[2020-04-28 10:47] #1149 closed

[2020-04-28 10:48] ahnpnl commented on #1149
close as this is not `ts-jest` problem. I have debugged `ts-jest` codes and everything went well. This is the problem of upstream `jest`.

[2020-04-28 11:22] vicary commented on #1149
@ahnpnl Adding to the context, some recent projects of mine in React Native seems do tests correctly, didn't have chance for a greenfield web project yet.

Since React Native typescript template uses `jest` directly, at least we know some version of it can handle these imports, upgrading dependent version in `ts-jest` may very well fix this.

[2020-04-28 11:30] ahnpnl commented on #1149
Oh it’s nice to hear that.

FYI the error comes from jest runtime, not typescript itself and ts-jest internal typescript compiler delivered the compiled js and jest runtime takes care of the rest.

Since it’s related to how jest runtime accepts the transpiled codes, ts-jest can’t do anything.

[2020-04-28 12:24] ahnpnl commented on #1029
hi guys, is there anything `ts-jest` can help in this case ? Any helps in solving this are welcome.

[2020-04-28 13:04] #1029 closed

[2020-04-28 13:38] ahnpnl commented on #1277
hi @MichalLytek , for some reasons I can't reproduce the error anymore on your master branch. Did you change something to make it work ?

[2020-04-28 15:06] MichalLytek commented on #1277
@ahnpnl
I have unpublished that `vNext` branch but I still can reproduce the issue.
I gonna try to create a bare repository with my TS transformers setup so you will be able to checkout and reproduce that 😉

[2020-04-28 15:09] ahnpnl commented on #1277
thanks, that would be much better with a small repo 👍

[2020-04-28 16:37] #1564 closed

[2020-04-28 22:11] lucasriondel commented on #281
@ahnpnl @v7lin same here.

[2020-04-29 05:30] ahnpnl commented on #281
Const enum doesn’t work with isolatedModules: true because typescript transpile API doesn’t support it, you can check in the documentation.

@lucasriondel are you using isolatedModules: true ?

[2020-04-29 12:26] ahnpnl commented on #1115
**25.5.0-beta.0** was released.

[2020-04-30 02:21] AliShehzad18 commented on #97
I do not have a **remapped** folder inside **coverage**.

How can I get an accurate/remapped coverage report?

[2020-05-01 00:38] johncrim commented on #1277
@MichalLytek - I came across this issue b/c I'm experiencing a similar issue. All of the suggestions listed here were already in place, but I was still seeing errors when collecting coverage data, like:

[code]

The tests pass fine, but I ended up with these errors while collecting coverage. After trying a bunch of things, and reviewing the docs, I found that switching to using the `v8` coverage p

[2020-05-01 09:23] #664 closed

[2020-05-01 09:26] bennyKY opened #1585 "Importing absolute path in globalSetup - typescript"
This is my project structure:
.
|--src
|  |--config.ts
|--test
|  |--social.test.ts
|--before-test.ts
|--tsconfig.json
|--package.json

and the jest configuration contain
[code]

in `before-tests.ts`:
[code]

in `src/utils/agents.ts`:
[code]
(it points to ./src/config.ts)

Where running tests im getting an error: `Error: Cannot find module 'config'`

tried to:
[code]

with no success.
Is there a w

[2020-05-01 09:29] ahnpnl commented on #1585
hi, what is `paths` in your `tsconfig.json` ?

[2020-05-01 09:31] bennyKY commented on #1585
There is no paths in my `tsconfig.json`. It is not needed.

[2020-05-01 09:36] ahnpnl commented on #1585
how does `import config from 'config';` in `src/utils/agents` work when you don't have tsconfig path mapping ? Since your `config.ts` is under `src` ? Since `config.ts` is under `src`, the correct import path for `agents.ts` should be `import config from '../config' unless you use path mapping of `tsconfig` to get rid of `../`

[2020-05-01 09:54] ahnpnl commented on #1585
In details:

path mapping in `tsconfig` helps `ts-jest` to perform diagnostics check (similar to run `tsc`). After that, `ts-jest` delivers the valid compiled output to `jest` and `jest` executes the codes. While executing the codes, `jest` will look into `moduleNameMapper` to resolve the imported modules.

The error you get "Cannot find module" is thrown by TypeScript compiler (internal `ts-jest`

[2020-05-01 11:33] tanettrimas commented on #1566
I could try to do this, let's hope it is not too much work :D

[2020-05-01 11:37] ahnpnl commented on #1566
pls go ahead @tanettrimas 👍

[2020-05-01 15:22] akopchinskiy opened #1586 "jest runs tests from another folder despite it's not asked to"
## 🐛 Bug Report

Why does jest run tests from another folder when it's not asked to?
![image](https://user-images.githubusercontent.com/39277134/80814415-22b38100-8bcc-11ea-9510-1e96a7d785fc.png)
![image](https://user-images.githubusercontent.com/39277134/80814425-26df9e80-8bcc-11ea-9e5d-094e4d327e23.png)
![image](https://user-images.githubusercontent.com/39277134/80816665-3234c900-8bd0-11ea-9b05-

[2020-05-01 15:33] ahnpnl commented on #1586
since you can't provide a minimum repo so I would like to ask you to try to install 25.5.0-beta.0 via `npm install -D ts-jest@next` or `yarn add -D ts-jest@next`, clean cache and try again.

[2020-05-01 15:34] akopchinskiy commented on #1586
@ahnpnl How to clean cache? And cache of what exactly?

[2020-05-01 15:36] ahnpnl commented on #1586
clean `jest` cache and `ts-jest` cache by `jest --clearCache`. What inside cache is `jest` internal stuffs + `ts-jest` internal stuffs. But the good practice is every time install a new version of `jest` or `ts-jest`, clear cache will make sure things work.

[2020-05-01 15:41] ahnpnl commented on #1586
There is one thing I suspect in your scenario is: your `tests/unit/index.test.ts` has something to do with `tests/integration/orders.test.ts`. Are you sure `tests/unit/index.test.ts` doesn't import anything from `tests/integration/orders.test.ts` ?

The error is thrown by TypeScript compiler when it scans `tests/integration/orders.test.ts`

[2020-05-01 15:42] akopchinskiy commented on #1586
@ahnpnl Thanks. It's working.
This should be documented somewhere or be as an option, e.g. `cleanCache: true`
![image](https://user-images.githubusercontent.com/39277134/80818148-fa7b5080-8bd2-11ea-9344-ffc7fd0b2eb8.png)

[2020-05-01 15:43] ahnpnl commented on #1586
the option to clear cache belongs to jest documentation. You can check there :)

[2020-05-01 15:49] akopchinskiy commented on #1586
@ahnpnl Hm, I just thought you were two units of the same team.
Anyway, thank you for the help!

[2020-05-01 15:53] #1586 closed

[2020-05-01 18:00] bennyKY commented on #1585
Importing that way works because of
`"baseUrl": "./src"`
in `tsconfig.json`.

So again, `paths` is not needed in order to make it work.
And i tried using `moduleNameMapper` (but maybe wrongly) and it didnt help.
The stacktrace:
[code]

[2020-05-01 18:07] ahnpnl commented on #1585
In this case, I think you need to configure jest rootDir to be similar to your baseUrl. You can check here https://github.com/kulshekhar/ts-jest/blob/master/TROUBLESHOOTING.md

[2020-05-01 18:57] bennyKY commented on #1585
after setting `rootDir: 'src'` it not finds test.
`No tests found, exiting with code 1`

I guess i need to change
```testMatch: ['**/test/**/*.test.(ts|js)' ]```

but now i need to reference `test` folder from `src` folder (because src is the rootDir).
How can i do it?

[2020-05-01 19:07] ahnpnl commented on #1585
you can try finding a RegExp that matches any files which has `.test.ts` or `.test.js`

[2020-05-01 19:09] ahnpnl commented on #1585
also you can join Jest discord, there are a lot people there to provide lots of help for you to use `jest` :)

[2020-05-02 03:02] G-Rath opened #1588 "Define 'ts-jest' property on ConfigGlobals interface in @jest/types via declaration merging"
## 🚀 Feature Proposal

A few months back [I converted the jest `ConfigGlobal` type from a `type` to an `interface`](https://github.com/facebook/jest/pull/9570) to allow declaration merging, semi-specifically for `ts-jest`:

[code]

....and then I never got around to opening this issue or making a PR 😅

## Motivation

This pattern should help reduce misconfiguration issues, such as #1564 :)

## Exa

[2020-05-02 06:39] ahnpnl commented on #1588
This looks really nice, it helps #925 too. PR is welcome !

[2020-05-02 07:58] #1250 closed

[2020-05-02 10:23] G-Rath commented on #1088
@ahnpnl I'm a bit confused by this, as it seems like `ts-jest` still doesn't hoist variables that start with the word "mock".

From what I can tell that's a bug in the `hoist-jest` ast transformer, but I'm a bit confused by @tonyhallett's phrasing, specifically he said:

Except that jest [*does* hoist variables whose name begins with "mock"](https://github.com/facebook/jest/blob/master/packages/ba

[2020-05-02 10:56] ahnpnl commented on #1088
hi @G-Rath, it would be very nice that you can help `ts-jest` with this hoisting fix. The recent change from jest related to how `babel-jest` hoist certainly changes something.

The whole point from @tonyhallett is making `ts-jest` have the same hoisting behavior as `babel-jest`. Now I could see that his solution only solved the issue with `deepUnmock` but not with `mock`.

Look like `ts-jest` hoi

[2020-05-02 11:14] G-Rath commented on #1088
Awesome - feel free to assign this issue to me if you like :)
I already have a good idea on the way to tackle this, so I'll do it tomorrow (since it's midnight here in NZ).

Not too sure what you mean, but what I'll do is just copy the code examples we use in the jest codebase for testing the hoisting into the test suite for `ts-jest`, and iterate until they pass.

[2020-05-02 11:16] ahnpnl commented on #1088
Anytime you feel comfortable with :)

There was a discussion in https://github.com/facebook/jest/pull/9806 which I suppose need to be fixed for `ts-jest` hoisting as well.

[2020-05-03 00:24] G-Rath commented on #1088
Looking into this further, I've realised that @tonyhallett is completely correct, and what he was meaning: jest doesn't *hoist* variables that start with `mock`.

What happens is that when doing the hoisting for `mock`, the babel plugin checks variables that are being used in the mock factory to ensure that everything being used will be within scope after hoisting.

So if it finds a variable (such

[2020-05-03 07:14] ahnpnl commented on #1088
Thank you for a very clear explanation. I will close this issue and please feel free to open a new issue to support @jest/global 👌

[2020-05-03 07:14] #1088 closed

[2020-05-03 07:22] #1585 closed

[2020-05-03 10:49] ahnpnl commented on #1242
Sorry to close this but we don’t think this is necessary to have.

[2020-05-03 10:49] #1242 closed

[2020-05-03 11:17] SimenB commented on #1088
PR to clarify docs very much welcome 🙂

[2020-05-03 16:43] ahnpnl commented on #1566
close via #1590

[2020-05-03 16:43] #1566 closed

[2020-05-04 13:12] ahnpnl opened #1593 "Support hoisting when import from @jest/globals"
## 🚀 Feature Proposal

Jest has a new package `@jest/globals` in v25.5.0 which Jest's globals can be explicitly imported.

The introduction of this new package also led to the change of hoisting in `babel-jest` plugin. We also need to do the similar thing, referencing Jest PR https://github.com/facebook/jest/pull/9806

## Motivation

To make hoisting behavior not different between `babel-jest` and

[2020-05-04 13:12] ahnpnl commented on #1593
do you mind picking this up @G-Rath ?

[2020-05-04 13:14] ahnpnl commented on #1088
support hoisting with `@jest/global` for `ts-jest` in #1593 :) Would love to get some helps there

[2020-05-04 15:41] ahnpnl commented on #1588
Close via #1592

[2020-05-04 15:41] #1588 closed

[2020-05-05 07:35] ahnpnl opened #1595 "Support Jest 26"
## 🚀 Feature Proposal

Jest 26 has released. We need to provide support for that.

## Motivation

Make developers feel comfortable to work

## TODO

- Set minimum required version of TypeScript to 3.8, example in https://github.com/kulshekhar/ts-jest/pull/1530
- Set jest version range for `peerDependencies` in root `package.json`.
- Update e2e templates' dependencies.
- Adjust codes to be compatib

[2020-05-05 08:41] zakhenry commented on #1115
@ahnpnl I can confirm this beta has a massive performance improvement for us (down to 37 minutes from 5.5 hours with cold cache) 🎉

[2020-05-05 08:47] ahnpnl commented on #1595
@kulshekhar should we separate 2 releases, with `next` branch target v25.5.0 and another branch target v26 ?

[2020-05-05 08:56] ahnpnl commented on #1115
I'm very glad to hear that 👍

[2020-05-05 13:33] kulshekhar commented on #1595
@ahnpnl I'm not sure I understand the reason. Why would the `next` version be older that v26?

[2020-05-05 13:37] ahnpnl commented on #1595
actually my purpose is we separate 2 releases, as `next` branch will be merged into `master` first for release 25.5.0. After that this PR can land on `next` branch as for release 26.0.0.

I'm not sure if this approach is needed because there can be a situation that not all users can go immediately to jest 26 (which requires TypeScript 3.8). Currently 25.5.0-beta.0 (which is based on `next` branch)

[2020-05-05 15:32] kulshekhar commented on #1595
@ahnpnl that sounds good. I misunderstood earlier

[2020-05-05 15:38] ahnpnl commented on #1595
Close via #1597