[2017-11-27 17:12] UselessPickles commented on #378
Typescript: 2.6.1
Jest: 21.2.1
ts-jest: 21.2.2
webpack: 3.8.1

Using typescript option for "commonjs" modules.

Let me know if this issue is not easily reproduced in any random existing repo, and I will put effort into creating a minimal repo.

[2017-11-27 19:29] colinskow commented on #376
By the way, is there a specific reason that `ts-jest` uses Babel instead of vanilla TSC? Or was that a decision made within Jest?

[2017-11-27 21:12] sveinburne commented on #377
setting `coveragePathIgnorePatterns` does work.

I could not reproduce unfortunately ; perhaps it was in watch mode and I just renamed, so I guess this is not an issue.

However I am experiencing an other issue with modules only exporting types:
![image](https://user-images.githubusercontent.com/3646758/33289406-722ace90-d38d-11e7-9de7-553511d38d4a.png)

The coverage wrongly sets `Stmts` and `Line

[2017-11-28 19:39] GeeWee commented on #377
If the typescript only export types, isn't it transpiled to "nothing" essentially? It makes sense to me that it has 0 lines, but I guess it should also have 100% coverage on those lines.

[2017-11-28 19:39] GeeWee commented on #376
We use both. Babel is not used to transpile type-script but as a postprocessing step, to handle some import stuff and e.g. hoist "jest.mock" calls.

[2017-11-28 19:40] GeeWee commented on #377
Is this new issue the same as #378?

[2017-11-28 19:41] GeeWee commented on #378
Yes it seems to also be mentioned in #377
Not sure what the "right" fix for this is. I don't think we can just not emit anything. Thoughts @kulshekhar ?

[2017-11-28 20:25] sveinburne commented on #377
@GeeWee Yes absolutely !

[2017-11-28 22:52] UselessPickles commented on #378
#377 is specific to .d.ts files, while my example is a .ts file. If I have only types and interfaces in a file, is it more appropriate/correct for me to name the file as a .d.ts file? If that is "the right thing" to do, then my problem is easily solved by renaming such files to .d.ts, and excluding .d.ts files from code coverage. But if .d.ts are supposed to be used for a more specific purpose, th

[2017-11-28 23:33] kulshekhar commented on #378
It's hard to guess without a minimal repo. @UselessPickles could you please create one?

[2017-11-29 01:51] ashok-sc opened #379 "ts-jest not importing modules correctly (i.e. classnames)"
- Issue

When importing `classnames` package ts-jest fails and states `classnames` is not a function. However, it works fine using `ts-node` or `tsc`.

- Expected behavior

`ts-jest` should import modules just like `ts-node` or `tsc`.

- More details

1. I have a component called **Title** which has the following import:
`import * as classnames from 'classnames'`

2. The function `classnames` is u

[2017-11-29 01:59] ashok-sc commented on #379
Ok, wow I literally just figured this out. Simply disable babel imports at the top level jest config:

[code]

[2017-11-29 02:18] UselessPickles commented on #378
I should have some time to create a minimal repo tomorrow evening.

[2017-11-29 08:09] #379 closed

[2017-11-29 09:25] GeeWee commented on #377
It might be the solution. Is the original issue fixed here? In that case I think we should close this and move the discussion to #378

[2017-11-29 09:28] GeeWee commented on #378
I think .d.ts files work a little different than regular .ts files. However I don't think a jest preprocessor has the abillity to "not" parse a file. E.g. we can't exclude .ts files with only interfaces, so I'm a little stumped as to what the potential solution might be.

[2017-11-29 10:41] kulshekhar commented on #378
A quick (and imo the correct) solution might be to update the regex so that jest doesn't pick up those files in the first place

[2017-11-30 09:05] cyyyu commented on #264
@kompot Hi, I met the same issue as you mentioned. And I did the same fix as you mentioned above but somehow it still failed.

[code]

Did I miss anything?

[2017-12-02 08:31] bradleyayers commented on #367
I get this error if I don't have `"json"` as a value in `moduleFileExtensions`.

[2017-12-03 10:05] martijnthe commented on #367
@bradleyayers should be fixed in 21.2.3. What version are you using?

[2017-12-03 10:45] GeeWee commented on #375
Do you mean in the readme?

[2017-12-03 10:47] kulshekhar commented on #375
Yes, preferably with a note about why this extension is there

On Sun 3 Dec, 2017, 16:15 Gustav Wengel, <notifications@github.com> wrote:

[2017-12-03 10:49] GeeWee commented on #375
Yes agree. Let's give @narkowicz a few days to see if he wants to contribute.

[2017-12-04 03:38] abmohan commented on #223
@kulshekhar, if you still needs folks let me know! I can do a few hours a week.

[2017-12-04 12:25] kulshekhar commented on #223
@abmohan welcome aboard!

[2017-12-04 13:09] lumio opened #382 "importing svg files always leads to an undefined variable - even though a file transform is defined"
- Issue
When using e.g. `import * as Logo from './Logo.svg';` `Logo` is going to be `undefined` and all specified transforms are being ignored.

- Expected behavior
Whereas `const Logo = require( './Logo.svg' );` works just fine, using a specified transform script.

[2017-12-04 13:31] lumio commented on #382
Ok, I just realised that I need to use babel for this

[2017-12-04 13:31] #382 closed

[2017-12-04 18:24] lifeiscontent opened #383 "setupTestFrameworkScriptFile doesn't work"
- Issue

when setting a path to `setupTestFrameworkScriptFile` it doesn't get called.

- Expected behavior

`setupTestFrameworkScriptFile` gets called

[2017-12-08 16:46] plee-nm opened #384 "Feature Request: Add ability to specify a tsConfig object instead of just a file path."
- Issue

My code coverage is off by 10% when using a tsConfig with es5 vs es6.  It would be nice to just define a config that applies over the ```tsConfig.json``` file instead having a separate ```tsconfig.json``` file just for testing.

Thoughts on this feature?  If this feature is wanted I can submit a PR to get this added.

[2017-12-08 16:47] plee-nm commented on #383
Do you have a reproducible repo?  ```setupTestFrameworkScriptFile``` works in my repository.

[2017-12-10 14:32] kulshekhar commented on #383
@lifeiscontent Can you please create a minimal repo that reproduces this issue?

[2017-12-10 14:39] kulshekhar commented on #377
As @GeeWee pointed out, types/interfaces transpile to nothing so the result doesn't seem wrong. How does coverage treat an empty javascript file?

[2017-12-10 14:45] kulshekhar commented on #384
Doesn't the `exends` property suffice?

[2017-12-10 14:48] #375 closed

[2017-12-11 13:16] lifeiscontent commented on #383
@kulshekhar @plee-nm sorry, not sure what the issue was on my end, but it seems to be working now.

[2017-12-11 13:16] #383 closed

[2017-12-11 16:10] plee-nm commented on #384
@kulshekhar Yeah I think that is sufficient.

[2017-12-11 16:10] #384 closed

[2017-12-11 16:42] wilhelmklopp opened #386 "Error Unexpected token (Object spread) when running jest with --coverage OR transform key"
Not entirely sure if this is an issue with jest or ts-jest, but ts-jest seemed more likely so opening the issue here.

### Issue
When I run jest with coverage turned on `jest --coverage` and the tranform key present in package.json
e.g.:
[code]
every test that involves an [object spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator) fails.

I

[2017-12-11 17:58] jhm-ciberman commented on #374
Thanks. Sorry for the late reply. I ended ussing this:

[code]

[2017-12-12 07:44] GeeWee opened #388 "Add debug logging"
It can be really hard to debug issues people have sometime. If we add some debug logging we should be able to debug it easier, and if we add a debug flag we might be able to let people troubleshoot their issues on their own.

[2017-12-12 07:55] GeeWee commented on #386
That's.. really odd. I can reproduce this.
When trying to log stuff I see that in this repo instrumentCoverage is always false - isn't that supposed to be true when running with coverage @kulshekhar ?
I have a suspicion that this might be a jest issue, if we're getting the same configuration each time, our output should be the same.

Hashing our output confirms this, both with --coverage and witho

[2017-12-12 11:29] kulshekhar commented on #388
this sounds like a great idea!

[2017-12-12 18:12] wilhelmklopp commented on #386
Thanks @GeeWee! I opened an issue on facebook/jest to investigate further.

@kulshekhar do you have any additional thoughts on what could be the underlying reason for this? 🙇

[2017-12-12 18:17] kulshekhar commented on #386
@wilhelmklopp I haven't looked at this yet but I'm hoping to find some time after work today.

[2017-12-12 21:19] traviswimer commented on #302
@iHaiduk Why was this closed? Did you find a solution?

[2017-12-12 23:21] kwilkins opened #390 "Tests failing with SyntaxError on import statements"
- Issue

After configuring ts-jest all my tests fail with SyntaxError on import statements, even if they didn't include any typescript modules and were passing before.  If I remove the ts-jest config, the tests that don't import a typescript module passes fine.

[code]

Random thought as I post this, all our tests are written in js and so are most of our components. We have a handful of shared com

[2017-12-13 11:00] kulshekhar commented on #386
@wilhelmklopp The error occurred because the js files weren't being passed through ts-jest and whatever was processing it after ts-jest couldn't understand the spread operator.

I've sent a PR with a patch. Let me know if this fixes things for you.

[2017-12-13 11:42] kulshekhar commented on #390
@kwilkins  The js files need to be transpiled for node to understand `import`. There are two ways you can do this:

- use ts-jest to process js files
[code]
- use another transformer to process js files
[code]

let me know if this fixes it for you

*sidenode:  the jest/ts-jest version in the linked repo is too old*

[2017-12-13 14:27] wilhelmklopp commented on #386
@kulshekhar Thank you so much 💖
This solved the issue I was having 🙌

Added that after I saw the note in your issue template, so thank *you* for having a quality issue template 😄

Should we add something in the README saying that if the project includes js files (with the allowJs option in `tsconfig.json`), then *all* files should be passed to `ts-jest`, with the transform key in the format that y

[2017-12-13 17:22] JoshuaKGoldberg commented on #46
@kulshekhar should the (OP's?) working config this be put in the README.md?

[2017-12-13 17:41] JoshuaKGoldberg commented on #378
@UselessPickles bump?

[2017-12-13 17:50] UselessPickles commented on #378
I haven't forgotten, but this is one of the lowest priority issues I'm dealing with, and creating a minimal repo project is not exactly low effort.

[2017-12-13 18:05] JoshuaKGoldberg commented on #378
Fair. Here's a min repro: https://github.com/JoshuaKGoldberg/ts-jest-wallaby-vscode/tree/ts-jest-coverage-repro

From `package.json`:

[code]

If we remove the `collectCoverageFrom` field, the coverage correctly reports as just being over `sum.ts`. However, it's common to need to exclude files (such as external API wrappers that can't be tested). Changing it to just the `!` excludes means no files

[2017-12-13 20:36] kwilkins commented on #390
Ah, so everything needs to be handled in the transform config.  I figured the regular ole js stuff would just get handled on its own.

When I use ts-jest to process the js files I continue to get errors when using an imported library.
Here trying to use moment and highligh.js
[code]

However, using babel-jest seems to work perfectly. Not sure if this is something that interests you, I could try to

[2017-12-14 16:52] iHaiduk commented on #302
I had mistake in config file

[2017-12-15 09:34] GeeWee commented on #386
Yeah I think this is the first Travis job I've actually seen 😛
Wait but why the hell does it only crash with --coverage on then?

Also I think we should add that to the readme.

[2017-12-15 10:36] kulshekhar commented on #386
Yeah, it might be a good idea to add it to the readme. When added, the part  should also mention that the users also have the option of using babel alongside ts-jest as posted at https://github.com/kulshekhar/ts-jest/issues/390#issuecomment-351367425

[2017-12-15 13:59] #386 closed

[2017-12-15 17:49] GeeWee commented on #386
Wait I'm not sure we should close this yet. Or at least reopen the jest issue. Why does it only fail on --coverage ???

[2017-12-15 17:59] GeeWee commented on #377
Closing this in favour of #378

[2017-12-15 17:59] #377 closed

[2017-12-15 18:23] GeeWee commented on #388
So it seems to me using console.log only sometimes works in preprocessors, and we're unable to access CLI parameters so we can't take advantage of jest's --debug flag.

What I'm thinking is simply to have a global parameter that's ts-jest : debug and then if that's set to true, write the output to a file.

Thoughts?

[2017-12-16 02:33] kulshekhar commented on #386
it could be, and this is just conjecture, because jest processes everything using babel whereas instanbul doesn't.

[2017-12-16 02:33] kulshekhar commented on #388
how about using an environment variable?

[2017-12-16 07:14] GeeWee commented on #388
Hmm yeah that might be a better way to do it actually.

[2017-12-18 17:40] erinknight242 commented on #390
I am still getting the "Unexpected token import" after updating the transform to include js files (my tests are js but my components are ts/tsx)

[2017-12-19 00:14] grigored commented on #247
I'm using [this solution ](https://github.com/facebook/jest/issues/1370#issuecomment-352597475), works great.

[2017-12-21 06:58] screendriver opened #397 "Multiple transformIgnorePatterns does not work"
- Issue

I'm not sure if it is `ts-jest` or Jest related but I have following configuration in my TypeScript project:

[code]

With this setting all my locally linked yarn workspace packages starting with `@me` gets transpiled through TypeScript as well. Now I have the problem that one of my dependencies is written in ECMAScript Modules instead of CommonJS and Node / Jest doesn't understand that.

[2017-12-21 08:41] GeeWee commented on #397
I think that's a jest issue. We don't do anything with transformIgnorePatterns. Feel free to open the issue in the jest repo, and if they say it's our problem we'll have another look.

[2017-12-21 08:41] #397 closed

[2017-12-21 10:36] screendriver opened #398 "Importing packages written ESM"
Is it possible to import packages that are written in ESM? For example in my TypeScript project I have a dependency to [react-dates@next](https://github.com/airbnb/react-dates) which is written in ECMAScript module syntax (`import` / `export`). In my webpack build everything works fine because webpack understands natively ESM. But in my Jest tests I get `SyntaxError: Unexpected token import` in

[

[2017-12-21 11:37] kulshekhar commented on #390
This issue was fixed in the minimal repo that was created for it.

@erinknight242 please open another issue (link to this one if that helps) with a minimal repo that demonstrates the problem you're facing. We'll be much better placed to debug and fix the problem that way

[2017-12-21 11:37] #390 closed

[2017-12-21 11:40] kulshekhar commented on #398
@screendriver I'm not sure about this one way or another. Could you create a minimal repo for this? I'll be happy to take a look at it

[2017-12-21 11:42] GeeWee commented on #398
I think this is because jest by default doesn't transpile anything in node modules.

Perhaps the following could be of assistance: https://facebook.github.io/jest/docs/en/tutorial-react-native.html#transformignorepatterns-customization

[2017-12-21 11:52] kulshekhar commented on #398
That was my first thought as well but then babel-jest seems to be processing that so there must be something else, unless babel-jest processes files other than the ones passed in by Jest

[2017-12-21 11:59] kulshekhar commented on #398
@screendriver do the instructions here work for you? https://github.com/kulshekhar/ts-jest/issues/390#issuecomment-351367425

[2017-12-21 13:25] dmitriid commented on #378
It's worse if decorators are involved :)

A bigger example is here: https://github.com/dmitriid/kalk

Run `yarn && yarn coverage`

In screenshot below: Yellow files are touched by tests, green files are not, yet reported as 100% coverage (because there's a clock running, and it gets called while tests are running)

![screen shot 2017-12-21 at 14 21 22](https://user-images.githubusercontent.com/327

[2017-12-22 07:04] screendriver commented on #398
@kulshekhar as I wrote in my first post I **could** use [babel-jest](https://github.com/facebook/jest/tree/master/packages/babel-jest) as it's written in the [official Jest docs](http://facebook.github.io/jest/docs/en/webpack.html) but I don't want to clutter my project with Babel stuff just for tests. It does work but it's slow and complains about the file size of typescript.js in my node_modules

[2017-12-22 09:25] TimonVS opened #399 "Source maps break with Jest 22.x"
- Issue

Source maps from external modules seem to break when using ts-jest combined with Jest 22.x. It works fine with Jest 21.x.

E.g. every time TypeORM throw an error while running tests with Jest I get something like this:

[code]

Removing the source map for `EntityMetadataValidator.ts` seems to fix the problem.

I made a repository as to easily reproduce the bug: https://github.com/TimonVS/

[2017-12-22 12:08] kulshekhar commented on #398
The linked comment had an option to solve that issue without babel-jest. I
was trying to ask whether that works for you

On Fri 22 Dec, 2017, 12:34 Christian Rackerseder, <notifications@github.com>
wrote:

[2017-12-22 12:34] screendriver commented on #398
Do you mean:

[code]

If yes: yes, I already tried that out as well. Doesn't work 😞

[2017-12-22 12:38] kulshekhar commented on #398
that would be very helpful

It's the other config (jest/tsconfig) that I want to ensure matches your setup. That's why a repo would be helpful

[2017-12-22 12:42] screendriver commented on #398
No problem. [Here we go](https://github.com/screendriver/ts-jest-transpile-dependencies) 😉

[2017-12-22 12:47] kulshekhar commented on #399
I'm trying this out but I'm getting this error:

[code]

Can you update the repo to fix this?

[2017-12-22 12:48] kulshekhar commented on #399
aah .. never mind. Just saw the instructions on the repo!

[2017-12-22 12:51] kulshekhar commented on #399
okay .. `yarn start` is failing with the following message:

[code]

[2017-12-22 12:52] TimonVS commented on #399
@kulshekhar The error message is expected. I made an explicit error so that I can demonstrate that errors don't work well in Jest.

[2017-12-22 13:02] kulshekhar commented on #399
@TimonVS  even  in `yarn start`? Because I'm not able to get the error message you got in the first post

[2017-12-22 13:24] GeeWee commented on #399
I expect this is because jest rolled out sourcemap support in 22.0 - perhaps our sourcemap implementation is in conflict?

[2017-12-22 13:32] kulshekhar commented on #399
@GeeWee I saw a problem in 22.0.0 which got fixed in 22.0.1. All our tests passed, including the ones that check for line numbers in errors

[2017-12-22 13:37] kulshekhar commented on #398
@screendriver I'm seeing the same error if I run `tsc` and then `node build/index.js`.

Whatever config can fix this should fix the issue you're facing. This isn't really a 'solution' but it's the best I could think of right now. I'll take a look again after work

[2017-12-22 13:41] screendriver commented on #398
True. Webpack handles that correctly for example and there it works out of the box 😉 But webpack is not Node 🙃

Thanks for your help.

[2017-12-22 14:37] ozum opened #400 "Error for spread op and --coverage (but without any .js files)"
Hi,

Using spread operator with `--coverage` causes `unexpected token` error.

It is mentioned in #386, but I'm not sure whether this is related to #386, because in that issue it is mentioned that if the project includes js files (with the allowJs option in tsconfig.json). My project does not include any js files and there isn't allowJs option in my tsconfig.json.

Only single file is `src/index.t

[2017-12-22 18:27] havenchyk commented on #63
that would be nice to reopen this issue

[2017-12-27 11:09] zhuxiaogit opened #401 "why can not recognise class by extends React.Component"
- Issue

[describe the issue here]
why can not recognise class by extends React.Component?

- Expected behavior

[describe the expected behavior here]

   E:/react_project/newBitcoinMarket-Mobile/Hicoin/src/routes/Login.tsx: Unexpected token (76:15)
           }
         render() {
         return <react_native_1.View style={{ flex: 1, flexDirection: 'column', backgroundColor: 'white' }}>

[2017-12-27 11:26] kulshekhar commented on #401
@zhuxiaogit Can you please create a minimal repo that reproduces this issue?

[2017-12-28 03:38] zhuxiaogit commented on #322
why need rewrite  "jsx": "react-native", to  "jsx": "react"? can explain?

[2017-12-28 03:40] zhuxiaogit commented on #401
@kulshekhar  my question as same with [https://github.com/kulshekhar/ts-jest/issues/322](url).  but why? and is this project support mobx?

[2017-12-28 08:59] TimonVS commented on #399
Which error are you getting? Are you getting an `ENOENT` error at all?

[2017-12-28 16:36] debrice opened #402 "Jest freeze on Error when autoMock and collectCoverage are both true"
- Issue

Test freeze on error when jest `autoMock` **and** `collectCoverage` are set to true.

- Expected behavior

Test should display the error and move on to the next test. The same jest settings work on my babel projects.

- Link to a minimal repo that reproduces this issue
https://github.com/debrice/jest-hang-bug

[2017-12-28 17:24] debrice commented on #402
A little more info as I'm investigating the bug here. The issue seems to be coming from the jest `unmock()` feature introduced in [`jest-cli` 0.9.0](http://facebook.github.io/jest/docs/en/troubleshooting.html#i-m-using-babel-and-my-unmocked-imports-aren-t-working) which leads me to think it's a hoisting issue (related to the `mock()` reported in the readme).

[2017-12-28 19:59] GantMan opened #403 "Possible Typescript Fork Process on CI"
❤️  thank you so much for this!

- Issue

TravisCI is failing 80% of the time with :

[code]
It looks like there's a call to fork, which is a "no no" on free CI.  Normally I call my tests with `jest --ci` and it knows not to try to fork, but apparently this is typed to the typescript checker.  So I assume it's in `ts-jest` somewhere.  Can you enforce linear testing when the `--ci` flag is passed?

[2017-12-28 20:23] GantMan commented on #403
My bad, `--ci` doesn't do `--runInBand` so it's really my fault.

[2017-12-28 20:23] #403 closed

[2017-12-29 08:02] kulshekhar commented on #402
@debrice this does seem like a hoisting issue.

A quick workaround is to configure ts-jest to [skip babel](https://github.com/kulshekhar/ts-jest#skipping-babel)

/cc @GeeWee

[2017-12-29 08:06] kulshekhar commented on #401
If I have the same setup as your project (which the minimal repo will ensure) I'll be able to debug the issue without worrying about setup differences. This helps find and fix issues quicker

Is there a need to explicitly 'support' mobx? ts-jest is just a transformer for use with jest. If Jest supports mobx, ts-jest should too.

[2017-12-29 08:06] kulshekhar commented on #400
@ozum Can you please create a minimal repo that reproduces this issue?

[2017-12-29 08:15] kulshekhar commented on #399
@TimonVS based on the instruction on the linked repo, I'm expecting steps 1 and 2 to go through without errors (is this right?)

However, when I execute `yarn start`, I get the following error:

[code]

[2017-12-29 08:23] kulshekhar commented on #378
@JoshuaKGoldberg I'm trying out the linked repo. Can you tell me what you're seeing and what you expect to see?

[2017-12-29 08:25] JoshuaKGoldberg commented on #378
@kulshekhar `types.ts` shouldn't count negatively toward the code coverage computation. Either it should count as 0/0=100% coverage _(math!)_ or it shouldn't be a part of the calculations. I prefer the first. That repo should have 100% code coverage; `types.ts` isn't missing any lines that should be covered.

[2017-12-29 08:26] kulshekhar commented on #378
When I execute `yarn test --coverage`, I'm getting this:

[code]

[2017-12-29 08:28] zhuxiaogit commented on #401
@kulshekhar Tks，Very much,you are ardent great master！

I have solve the problem. I'm starter. do not understand whole config of react native .

I repeat the import double react and react native modules under the typings/modules and node-modules, lead to don't  load **react_native_1.View** node normally. I delete one ,it runs

I add ` "transformIgnorePatterns": [
      "!node_modules/mobx-react"

[2017-12-29 08:35] kulshekhar commented on #401
@zhuxiaogit my main goal in asking for a minimal repo is to

- ensure that I can test with the *exact* config files (package.json/tsconfig.json/...others) as you do
- use the *exact* source code as the one you're having an issue with.

In most cases when I don't have the repo, there's a lot of time wasted only to find out I was using a different setup compared to the one used by the person reporti

[2017-12-29 08:50] zhuxiaogit commented on #401
@kulshekhar  Sorry,我不能重现这个问题了，关闭这个problem

[2017-12-29 08:53] TimonVS commented on #399
@kulshekhar The error when running `yarn start` is expected. There is an actual error in the code, this is done to show that error reporting fails in Jest (when a package has sourcemaps). When running `yarn test` you should get an ENOENT error (which is the bug I'm reporting about :)).

[2017-12-29 11:41] kulshekhar commented on #401
Closing the issue based on the translation from google translate:

[2017-12-29 11:41] #401 closed

[2017-12-29 13:46] ozum commented on #400
@kulshekhar I created a minimal repo. Please see https://github.com/ozum/ts-jest-spread
Please run `npm test` to see error, and run `npm run test:nocoverage` to see without coverage.

[2017-12-29 16:00] debrice commented on #402
You're right @kulshekhar , skiping babel prevents the test from hanging but creates a new error. If I update the test to read (so it breaks on purpose):

[code]

Running the test with `skipBabel` set to `true` gives me that `sourceMap.map.originalPositionFor` error in its output

[code]

Note: I had to move the `jest.unmock()` before the import. When the unmocking operation happens after the impor

[2017-12-29 16:57] JoshuaKGoldberg commented on #378
I don't get that :( are you on the `ts-jest-coverage-repro` branch?

[2017-12-29 17:01] kulshekhar commented on #378
@JoshuaKGoldberg sorry about that. I think I didn't change the branch. I'll take a look again after work

[2017-12-29 22:22] jhm-ciberman opened #404 "Lines numbers in jest error report are incorrect [Cannot reproduce in minimal repo]"
- Issue

I have a project fully functional project and the lines numbers in the jest error report are shown incorrectly. (It shows the JS line numbers). It makes difficult to debug and test.

I have created a commit with a failing test in my full project:
https://github.com/jhm-ciberman/docs_gm/commit/5e2920bbde2be9b227afcddf085c8e18a938399d

you need to clone the repo, checkout into the branch an

[2017-12-30 02:36] jhm-ciberman opened #405 "Line numbers are shown incorrectly when ussing mock-fs package."
- Issue

If you use mock-fs package the line numbers are shown icorrectly.

[code]

- Expected behavior

When running the tests, the line number should be shown correctly. But instead the JS line number is shown (not the TS input file line number)

- Link to a minimal repo that reproduces this issue

https://github.com/jhm-ciberman/ts-jest-bug

- Optional (but highly recommended) - Configure Travi

[2017-12-30 02:37] jhm-ciberman commented on #404
I got to replicate it in a minimal repo. It seems to be related to the mock-fs package.
Link to the new issue:
https://github.com/kulshekhar/ts-jest/issues/405

[2017-12-30 02:37] #404 closed

[2017-12-30 12:42] lijunle opened #406 "How cache is being used?"
- Issue

Hi, our team is running test slow with Jest. We are investigating all possibilities. The `ts-jest` is writing the result to FS as cache. However, I don't find how the cache is used.

https://github.com/kulshekhar/ts-jest/blob/c610c134ccebe67c583f3733267b9ae9eaad3c20/src/utils.ts#L179-L186

More question is,

1. Why `ts-jest` is handling its own cache?
2. I suppose Jest is handling cache a

[2018-01-01 11:12] kulshekhar commented on #405
@jhm-ciberman `allowSyntheticDefaultImports` needed to be set to `true` when using default imports. I've sent a PR with the patch to the linked repo. Let me know if that works for you

[2018-01-01 11:17] kulshekhar commented on #378
@JoshuaKGoldberg I was able to reproduce the issue using the correct branch. Taking a closer look at this now

[2018-01-01 12:26] kulshekhar commented on #378
I don't think there's anything that can be done in ts-jest to fix this. I've taken a closer look at this issue and there are two ways to get the desired outcome:

- exclude files that contain only types from coverage
- add and export a dummy function/variable from a file that contains only types

When TypeScript transpiles files, it doesn't convert 'pure type' imports to `require` statements. This

[2018-01-01 12:26] #378 closed

[2018-01-01 12:33] kulshekhar commented on #400
@ozum setting the target to `esnext` is what's causing this issue. Because of this, the spread operator isn't converted to a form that istanbul can understand, causing it to throw that error.

A quick solution is to create a tsconfig for tests with the following content:

[code]

and use it in `package.json`:

[code]

[2018-01-01 12:33] #400 closed

[2018-01-01 12:33] #405 closed

[2018-01-01 12:40] kulshekhar commented on #406
In most cases, jest handles the caching. But in cases where it doesn't, ts-jest caches the transpiled code.

Since I don't have a repo to replicate what you're seeing, can you comment out this line and see if that affects the performance? https://github.com/kulshekhar/ts-jest/blob/c610c134ccebe67c583f3733267b9ae9eaad3c20/src/preprocessor.ts#L61

[2018-01-01 19:18] lijunle opened #407 "Do NOT parse the TypeScript on the same file twice."
During the `injectSourcemapHook`, we already have the compiled source file and file path, it should pass down this information to `install()` function call, then it does not need to read and parse the file again. That makes a big performance cost.

https://github.com/kulshekhar/ts-jest/blob/c610c134ccebe67c583f3733267b9ae9eaad3c20/src/utils.ts#L192-L200

Fixed with something like this:

[code]

[2018-01-02 04:43] jhm-ciberman commented on #405
Wow! I have merged it and It works perfect. Can you please explain me **why** does it works? (Or why the error was produced in first place).  Or what does the `allowSyntheticDefaultImports` flag do?
Thanks in advance!

[2018-01-02 06:22] lijunle commented on #406
Yes, I tried that. Comment out that file is helping on performance.

Do you have more context about this?

[2018-01-02 06:23] jhm-ciberman commented on #405
I tryed in my full original project where I had this problem and I couldn't get to work. The repo is listed in: https://github.com/kulshekhar/ts-jest/issues/404
Can you help me figuring what is wrong?

[2018-01-02 10:25] kulshekhar commented on #406
@lijunle taking a closer look at it, it seems that this is left over from before cacheKey support was implemented. It's most likely not needed now.

I'll try to push a release with this change and the one you've listed in the other issue - as time permits.

Alternatively, I'll be more than happy to review and merge a PR for these issues if there is one!

[2018-01-02 10:29] kulshekhar commented on #405
@jhm-ciberman I'm not sure I can be as technically accurate as I'd want to be when describing allowSyntheticDefaultImports so I'll just refer you to the documentation (which is admittedly very sparse) : https://www.typescriptlang.org/docs/handbook/compiler-options.html

If you can create a minimal repo, I'll be happy to take a look at it after work. Without this, it usually takes too much time and

[2018-01-02 12:10] kulshekhar commented on #402
@debrice that error goes away if `mapCoverage` is removed from jest config. I'm not yet sure what needs to be done to fix this

I'll need to take a closer look at this. This will probably address #340 as well

[2018-01-02 16:20] debrice commented on #402
@kulshekhar, you are right. I decided not to mention the removal of `mapCoverage` since it would render the use of `collectCoverage` option moot. For now I just don't collect coverage during the coding process.

Once all my tests pass, I turn on collectCoverage and run another pass... it has become more or less a first world problem at this point.

[2018-01-02 17:05] lijunle commented on #406
Hi, Kulshekhar.

Before starting on the work, I suppose we should find a way to evaluate the
performance first. Then start on the fix. The solution should be designed
to capture future performance regression.

----------
On January 2, 2018 6:26:00 PM Kulshekhar Kabra <notifications@github.com>
wrote:

@lijunle taking a closer look at it, it seems that this is left over from
before cacheKey support

[2018-01-02 17:22] GeeWee commented on #402
Seems strange with the hoisting issue. We're running things through the same transform jest is, so the issue should manifest in plain jest as well if it's related to that.

[2018-01-02 17:24] GeeWee commented on #407
Completely agree. Wanted to have this fixed for a long time but haven't had time. Do you want to submit a PR?

[2018-01-02 17:25] GeeWee commented on #378
I don't think we can exclude files that contain only types. I also think this is a wontfix unless jest adds the capabillity for transformers to opt files out of coverage or something akin to that.

[2018-01-02 17:27] GeeWee commented on #63
This should be possible by using a .babelrc file now I think.

[2018-01-02 21:04] kulshekhar commented on #378
@JoshuaKGoldberg wouldn't http://facebook.github.io/jest/docs/en/configuration.html#coveragepathignorepatterns-array-string suffice?

[2018-01-02 21:19] JoshuaKGoldberg commented on #378
`coveragePathIgnorePatterns` works but isn't enough.

Normally, we shouldn't have to modify config files to write code outside of project setup. Someone adding code to a project could be very confused why their new interfaces-only file (or existing file that becomes interfaces-only). Also:
* It would be easy to forget to remove the listing in the config when adding real code to a file that used to

[2018-01-04 09:01] havenchyk commented on #63
@GeeWee could you please shed some light? how is it possible?

[2018-01-04 11:40] kulshekhar commented on #407
@lijunle I gave this a quick try and it resulted in some tests failing (wrong line numbers in coverage). I'll give this a closer look again when I have time next.

fwiw, this (the file being transpiled by ts-jest and then again by source-map-support) is been an issue that has bugged me right from the beginning.

[2018-01-04 17:44] lijunle opened #409 "The repro cannot be cloned in Windows."
![default](https://user-images.githubusercontent.com/1296500/34576703-bf5125d0-f1b9-11e7-9281-f425a2f07a1d.png)

If this is a fixture file for testing. We should detect the OS and do the copy-paste logic **in runtime**. Clone failure is blocking anybody using Windows to contribute to this repo.

[2018-01-04 18:22] lijunle commented on #407
Let me try: https://github.com/kulshekhar/ts-jest/pull/410

[2018-01-04 19:02] lijunle commented on #406
Take some research on the web, there are not much choices to make CI performance test. [Here](https://loadimpact.com/integrations/performance-testing-travisci) is one option, free account only accept 5 runs/mo. Another option is to write manual script to leverage artifacts to make it.

[2018-01-04 21:03] mikehaas763 commented on #79
test code is still code, if there's type errors in it, shouldn't it fail?

[2018-01-05 09:17] GeeWee commented on #409
I use it on windows, you can enable longpaths : https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows

They are test fixtures. However, I agree that we should do it at runtime actually, as it does fuck with git and makes it harder than it should be to use. I'd love a PR fixing this.

[2018-01-05 09:19] GeeWee commented on #63
Sure, if you set tsconfig to preserve, set the useBabelRc flag to true, and have a .babelrc file in the project(https://github.com/kulshekhar/ts-jest#using-babelrc), you should be able to do additional processing of the files.

[2018-01-05 09:19] GeeWee commented on #378
Let's close this discussion down and see what happens in #5209

[2018-01-05 15:14] yss14 opened #411 "Support jest config globalSetup and globalTeardown"
- Feature request

Are there any plans to support the new jest feature `globalSetup` and `globalTeardown`?
Those two configuration options are documented [here](https://github.com/facebook/jest/blob/master/docs/Configuration.md) and the PR for the new jest feature [here](https://github.com/facebook/jest/pull/4716).

Currently an error is thrown by jest, because the `.ts` files are not transpiled (

[2018-01-05 23:05] AamuLumi commented on #411
There's an issue opened to do that on jest repository by using _transform_ (see [here](https://github.com/facebook/jest/issues/5164)). And if I correctly understand Jest behavior, ts-jest cannot manage this issue thanks to Jest architecture.

Is there some ts-jest mainteners who can confirm that ?

[2018-01-05 23:40] kulshekhar commented on #411
@yss14 this looks like an issue whose solution lies outside ts-jest (as @AamuLumi pointed out)

All ts-jest (or any transformer) does is take in code and return the transpiled code. Jest would need to use the transformer when doing global setup and teardown to support this use case.

I'm closing this issue but if I'm wrong and there's something we need to do here, it can be reopened again.

[2018-01-05 23:40] #411 closed

[2018-01-05 23:57] #406 closed

[2018-01-05 23:57] #407 closed

[2018-01-06 00:08] kulshekhar commented on #409
There's [a note](https://github.com/kulshekhar/ts-jest#quickstart-to-run-tests-only-if-youre-working-on-this-package) in the readme about this but anything that improves this behavior is definitely welcome!

[2018-01-06 10:37] AamuLumi commented on #411
Instead of waiting a fix, you can simulate globalSetup and globalTeardown by this way :

[code]

Output :

[code]

I hope this gonna help you ! :)

[2018-01-06 10:39] yss14 commented on #411
@AamuLumi Thanks man! This is really what I'm looking for :) Will try this on monday! ;)

[2018-01-08 07:02] yss14 commented on #411
@AamuLumi Which version do you use? For me `jest.run` does not exist and I also cannot `import * as jest from 'jest'` because it's only exporting a namespace.

[2018-01-08 08:47] AamuLumi commented on #411
[code]
Normally, typescript verification will not find jest, because programmatic use is not defined in types. But it should works at execution. Do you have installed jest locally instead of globally ?

You can take a look at [source code](https://github.com/facebook/jest/blob/b86d93263b378c7ea02a8c64efd45c74f2538335/packages/jest-cli/src/jest.js#L22) for explanation.

[2018-01-09 07:21] whitetrefoil commented on #358
https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/README.md

According to Babel's doc, that plugin has some limitations like it cannot support `namespaces`, `const enum`, `import =`, `export =`...

I guess we still need ts-jest 😄

[2018-01-09 17:40] johnbrett commented on #371
I'm having this issue currently, agree with your comment @GeeWee it *should* be possible to resolve this. I'm not familiar with the codebase though, any idea on where I should start to investigate this?

[2018-01-10 16:47] GeeWee commented on #371
I'd probably start by checking the babel step, which is in the postprocess file. Reproduce the bug in a repo, and perhaps try comparing it to output manually generated by tsc. To see whether we mess up before sending it to babel somehow or the babel step isn't configured properly.
It's not much of a lead to go on, but it's my best guess.

[2018-01-10 17:57] kwonoj commented on #358
@whitetrefoil is correct, I gave a quick try on small repo I own and lot of TS-specific (i.e, exporting type like
[code]
syntax around won't work, and it's not supported scope from babel unfortunately.

[2018-01-10 21:36] Tuizi opened #412 "line number incorrect even in a simple example (Node 7 and no React)"
- Issue
Line number in coverage result table are not correct. The line number sometimes correspond to an empty line or a line with a `}`.
 I know that there is an issue with line number when using Node 8 and React 16, but I just did a small example using Node 7 and without React... Pure Typescript and line numbers are not correct.

- Expected behavior
Line number in the coverage result should matc

[2018-01-10 23:48] kulshekhar commented on #358
Thanks for letting us know @whitetrefoil @kwonoj

Closing this for now.

[2018-01-10 23:48] #358 closed

[2018-01-11 14:23] foisonocean commented on #398
Any updates?

[2018-01-11 16:54] Tuizi commented on #412
` "mapCoverage": true,` in seems to be the solution for my issue.

[2018-01-12 12:33] #412 closed

[2018-01-12 12:34] GeeWee commented on #398
I haven't had any time to look at it unfortunately :(

[2018-01-14 19:39] eteeselink commented on #355
If I may add a little to this discussion: Our tsconfig.json has `module` set to `esnext`, so that webpack resolves the imports and not TypeScript. This is the only way we've found to make dynamic imports with code splitting to work with TS and Webpack.

This means that we ran into this problem when adding our first TypeScript tests. Unfortunately, ts-jest only overrides `module` to `"commonjs"` wh

[2018-01-14 19:45] kulshekhar commented on #355
@eteeselink why not `extends` an existing tsconfig file and override the setting that's different?

[2018-01-16 10:41] SimenB commented on #340
There are a couple of open PRs/issues for sourcemap in the jest repo (e.g. https://github.com/facebook/jest/issues/5257 and https://github.com/facebook/jest/pull/5177). Would love your input on those if applicable, and help testing that it works.

[2018-01-16 10:55] kulshekhar commented on #340
@SimenB I'll try to find some time after work today to take a look.

[2018-01-16 18:09] sheeldotme opened #413 "N/A"
N/A

[2018-01-16 18:43] #413 closed

[2018-01-17 18:27] andrioli commented on #371
Not sure if is related. But i'm getting wrong coverage mapping for my TS project only for classes that are not executed during tests (option `collectCoverageFrom` include all my `ts` and `tsx` files).

[Reproduce](https://github.com/andrioli/react-from-scratch/tree/coverage) and [Sample report](https://ci.appveyor.com/api/buildjobs/h665x2o51llr99lc/artifacts/coverage.zip) using Node 9

You can fou

[2018-01-18 01:41] chickendinosaur opened #414 "Does not resolve path from tsconfig.js 'paths' option."
- Issue

[describe the issue here]

Seems to not use path mappings from tsconfig.js that work fine with the rest of my Typescript project.
Instead, I have to implement the babel module resolver so I have to maintain two mappings which is not fun.

**tsconfig.js**:
[code]

- Expected behavior

[describe the expected behavior here]

- Link to a minimal repo that reproduces this issue

[If you haven'

[2018-01-18 06:53] GeeWee commented on #414
Please provide a minimal reproducible repo, this isn't enough for us to go on.

[2018-01-18 16:50] lnunno commented on #269
I think @kompot is on the right track, I already have these aliases in both webpack config and tsconfig, so now I need to add them to jest's config as well? There needs to be a way to synchronize them.

[2018-01-18 18:05] kompot commented on #269
Yep, been using `jest-webpack-resolver` for a long time - works great.

[2018-01-18 18:51] CarloPalinckx commented on #399
could this relate to test coverage resulting in `unkown` in 22.x?

[2018-01-18 19:08] CarloPalinckx commented on #223
@kulshekhar still recruiting? Wouldn't mind lending a hand. Seeing alot of any's throughout the codebase. Would replacing those with generics for type inference be a good place to start?

[2018-01-18 20:26] lnunno commented on #269
After trying it out it fixes an import issue I was having I'd recommend it as well

[2018-01-19 00:28] kompot commented on #269
@lnunno well, you could generate those from some kind or source (like another json file) but I'm not sure it's worth that.

Actually I guess you can use tsconfig.json as single source of truth and in webpack config just import it and parse required entries. But I think it's overengineering - I've configured it once per project and there's 1% percent chance that I'll need another alias and it would

[2018-01-19 08:06] Pajn opened #415 "Display notifications for build errors in test files"
This is a feature request

- Issue

It can be hard to discover type errors in old test files as Jest is not displaying them and Webpack or whatever is used to build the app does not build the test files. That leaves the only option to open the file in the editor and see the red lines.

- Expected behavior

If ts-jest (optionally) displayed a notification for errors in the tests it would be easier

[2018-01-19 12:00] kulshekhar commented on #415
isn't `tsc -p` sufficient for this?

[2018-01-19 12:03] kulshekhar commented on #223
@CarloPalinckx any help is always welcome. Replacing `any`s with sensible types is as good a place to start as any :)

[2018-01-19 16:01] xogeny commented on #327
To be fair, this totally confused me too.  I created #416 to avoid any future confusion.

[2018-01-19 23:30] nebeleh opened #417 "issue with importing some libraries"
I'm testing [apache-arrow](https://www.npmjs.com/package/apache-arrow) but have problems in loading and testing it with `ts-jest`.

`package.json`:
[code]

`tsconfig.json`:
[code]
`src/myclass.ts`:
[code]

`src/__tests__/myclass.ts`:
[code]

When doing `npm run test`, I get this error:
[code]

If I comment line `const t = Table.from([new Uint8Array(10)]);`, `jest` performs the test correctly. `typ

[2018-01-20 15:21] ssbarbee opened #418 "Full support for testEnvironment"
Since jest 22 we can specifiy a class providing setup and teardown methods for setting up the environment using the flag ```testEnvironment ```. Are there any plans for supporting this flag fully? Current behaviour is that it throws unexpected token when providing .ts files.

[2018-01-20 15:46] ssbarbee commented on #411
@AamuLumi Can we set global variables that will be available in the tests with the workaround you have provided?

[2018-01-20 15:51] kulshekhar commented on #418
This seems similar to #411

Jest will have to use the transformer to invoke those files. There's not much a transformer can do here on its own.

I'm closing this but if my understanding is incorrect, it can be reopened and re-looked at

[2018-01-20 15:51] #418 closed

[2018-01-20 15:52] kulshekhar commented on #417
@nebeleh Can you please create a minimal repo that reproduces this issue?

[2018-01-20 16:45] AamuLumi commented on #411
I don't know. I saw tests are launched in [vm](https://nodejs.org/api/vm.html) for Node.js testing, so I'm not sure global variables are shared between startup code and test code. You can give it a try and tell us if that works or not. :)

[2018-01-22 16:17] ryubro opened #419 "TS error: Duplicate identifier 'require'. when it's used on ReactNative env"
- Issue

We have TS error after we introduced the `ts-jest` to our react-native library. This is how the error look like:
[code]

Root cause is that `ts-jest` dependencies eventually lead us to `parse5@^3.0.2` which has `@types/node` as its dependency by mistake which actually should be dev-dependency. [They fixed it in `parse5@^4.0.0`](https://github.com/inikulin/parse5/commit/12a4045ba2be2a38a0a

[2018-01-22 23:23] nebeleh commented on #417
@kulshekhar please find the repo here: [https://github.com/nebeleh/ts-jest-test](https://github.com/nebeleh/ts-jest-test); thanks.

[2018-01-22 23:35] kulshekhar commented on #419
@ryubro Can you please create a minimal repo that reproduces this issue?

[2018-01-23 08:10] asemidotsky opened #420 "It's not possible to use .ts setup/teardown file for global setup/teardown"
- Issue

It's not possible to use .ts setup/teardown file for global setup/teardown.
Jest has `globalSetup` and `globalTeardown` options which you can use for global setup/teardown but with ts-jest you can not use .ts files for setup.

I have Jest configuration in package.json:
[code]
As I understand with this configuration ts-jest perform in memory transpiling of the .ts files. I have `outDir` op

[2018-01-23 12:03] kulshekhar commented on #420
@asemidotsky there was a discussion in #411 on this. I'm not sure how this can be fixed in ts-jest which can only transpile code that Jest passes to it.

I'm closing this but if my understanding is incorrect, it can be reopened and re-looked at

[2018-01-23 12:03] #420 closed

[2018-01-23 12:04] #415 closed

[2018-01-23 12:33] kulshekhar commented on #417
@nebeleh I've taken a look at this and was able to reproduce this issue.

It looks similar to #398

Would it be fine to close this and track this issue there?

[2018-01-23 12:45] ryubro commented on #419
Turns out that just running `yarn upgrade ts-jest` fixes the problem. I was bit confused with `^` and `~`.

I am closing this.

[2018-01-23 12:45] #419 closed

[2018-01-23 19:11] nebeleh commented on #417
Sure. BTW, I also have problems with importing [modernizr](https://modernizr.com/) library. I have updated the repo so you can duplicate the issue. Is this issue similar as well?

[2018-01-23 19:12] kulshekhar commented on #417
@nebeleh I'll take a look after work today

[2018-01-24 17:50] dyst5422 commented on #376
Anyone know any more recent updates on this issue? I know Babel 7 is released now.

[2018-01-24 22:55] AlexGalays commented on #250
It was so surprising to discover ts-jest doesn't check for compilation errors ! This is especially bad in watch mode.

[2018-01-24 23:58] NathanBraslavski commented on #114
I have the same problem :-(
Did anyone create a minimal repo already?

[2018-01-25 00:19] kulshekhar commented on #417
@nebeleh the second issue seems like a new one. I think it's more of a jest issue than ts-jest issue. See facebook/jest#17

[2018-01-25 18:50] nebeleh commented on #417
thanks for the comments. regarding the issue with loading `apache-arrow`, is there a solution in the pipeline?

[2018-01-25 23:26] kulshekhar commented on #417
@nebeleh I'm not currently working on anything for this if that's what you mean. It's on my list of things to do but it's currently hard for me to find time after work.

So this  will get addressed when either I find some time or if someone decides to send in a PR.

Closing this as the first issue is being tracked in #398 and the second doesn't seem to have a fix in ts-jest. If this turns out to b

[2018-01-25 23:26] #417 closed

[2018-01-26 08:05] deftomat opened #422 "Doesn't work with jest --projects switch"
### Issue
The same as in https://github.com/kulshekhar/ts-jest/issues/238 but with `ts-jest@22.0.1`.

### Reproduction

You can use a minimal repo from issue https://github.com/kulshekhar/ts-jest/issues/347 - https://github.com/Bnaya/issues-repros/tree/ts-jest-and-monorepo

Just upgrade a `ts-jest` and `jest` to the latest version and try to run `jest --projects packages/foo`.

You will get _Canno

[2018-01-26 12:29] #349 closed

[2018-01-26 16:38] GeeWee commented on #223
Would love some PRs that fixed types!

[2018-01-26 18:56] GeeWee commented on #409
I'm bumping this up on my mental priority list, webstorm keeps uncommitting the long path files and it's hella annoying

[2018-01-28 09:28] Anupheaus opened #424 "Can't seem to use with linked typescript package"
- Issue

I have a project with a linked TypeScript package but when I run the tests they all fail with:
`Cannot find module 'ts-jest' from 'index.ts'`

- Expected behavior

I have followed the configuration advised to make imported TypeScript packages work and I would expect it to transpile the code within the imported package as well.

- Link to a minimal repo that reproduces this issue

I will t

[2018-01-28 09:37] Anupheaus commented on #424
I've solved this problem temporarily by importing `ts-jest` in the linked package as a `devDependency`, but this doesn't seem like it is the right solution to me, any advice please?

[2018-01-28 12:00] GeeWee commented on #424
I don't think I understand what you mean with a linked package. Can you provide a minimal repo?

[2018-01-28 12:26] kulshekhar commented on #424
@Anupheaus it sounds like you were trying to use ts-jest without installing it. Is that correct?

[2018-01-28 12:59] Anupheaus commented on #424
Nope, I installed it in the main package and I mean an `npm link` to the dependent package. Definitely installed because it is working on a test that does not depend on my `@personal/common` package.

[2018-01-28 13:10] kulshekhar commented on #424
that's weird. A minimal repo would be very welcome because it's hard to 'imagine' what could be causing this

[2018-01-28 13:12] kulshekhar commented on #422
I tried this and did see this error. I'm not sure of the cause, though.

This will probably require me to take some time out because I don't use the --projects switch in my regular workflow. Unfortunately, I'm not sure when that will be.

Any PR addressing this would be very welcome!

[2018-01-29 21:26] xogeny commented on #46
I just wanted to add that I had the same experience as @Martaver.  I spent days trying to find a configuration that worked but as soon as I upgraded to Node 8.x, it just worked.

[2018-01-30 01:09] xogeny opened #425 "Source Map Inconsistency"
## Issue

I spent quite a bit of time trying to get source maps working with the Node (8.x) debugger and
VSCode.  I finally got it working so I could set breakpoints in TypeScript code and have `jest`
stop at the breakpoints.  (Sadly, this was no small feat to get working)

Unfortunately, after I got all that working I ran some `jest` tests that failed and the problem is
that now `ts-jest` cannot

[2018-01-30 01:13] xogeny commented on #425
I should point out that this "fix" of setting `sourceRoot` to `./src` addresses the issue *if* the
exception is thrown from code in my `src` directory.  But if, instead, the test fails because of
an assertion in the `jest` test itself (*i.e.,* code in the `__tests__` directory), then the source
maps are wrong again.

[2018-01-31 23:26] xogeny commented on #425
Any thoughts on how this inconsistency could develop (*i.e.,* debugger and `ts-jest` stack traces getting conflicting source map information)?

[2018-01-31 23:36] kulshekhar commented on #425
@xogeny I'd like to look into this but without a minimal repo, I'm hesitant because there have been several instances where looking at a larger project has resulted in false leads and wasted time.

If you can replicate this issue with just a couple of files in src and test folders, I'll be happy to take a look at it after/before work. Without that, I'll have to wait till I can set aside a longer w

[2018-01-31 23:37] JaSpr opened #426 "Coverage reports highlighting appears to be invalid for file"
- Issue
When using `jest --coverage` with ts-jest (and mapCoverage: true), the highlighted areas do not seem to correspond to the code very well, if at all.

plunker contains coverage reports, jest settings, ts settings, and original file:

https://plnkr.co/edit/esREt3?p=preview

- Expected behavior
coverage highlighting corresponds with original ts file

- Versions:
+-- jest@22.1.4
+-- ts-jest@22

[2018-01-31 23:41] kulshekhar commented on #426
@JaSpr Can you please create a minimal repo that reproduces this issue? It's hard to figure out what's wrong without one

[2018-02-01 01:16] JaSpr commented on #426
I'm still at work right now and will not have time to get to it tonight, but it appears that only files that were completely untouched during testing end up with weird coverage like that.

[2018-02-01 13:23] xogeny commented on #425
I'll give it a try.

[2018-02-01 19:47] xogeny commented on #425
In an attempt to create a minimal repo, I created [a repository](https://github.com/xogeny/ts-jest-sample) with a `README.md` that walks step-by-step through the process of setting up and configuring `ts-jest`.  The funny thing is that doing it this way, I didn't have any issues.

I found that if I copied `tsconfig.json`, `jest.config.js` and `.vscode/launch.json` back to my other (complicated) pr

[2018-02-01 19:47] #425 closed

[2018-02-01 20:29] bilby91 commented on #399
Same here:

[code]

[2018-02-01 23:04] andyfleming commented on #426
I'm having a similar issue.

![screen shot 2018-02-01 at 3 03 24 pm](https://user-images.githubusercontent.com/721038/35708057-1b6b29b2-0761-11e8-8c27-8d806a6407e4.png)

[2018-02-02 15:28] frankwallis commented on #398
I think this does work but you need to get jest to transform these files using ts-jest - by default no files under node_modules are transformed but you can change this with configuration:
[code]
Will feed `node-modules/antd/*` and `node_modules/rc-*/**` through the transpiler. All other files under node_modules will be excluded as before.

Then you need to tell ts-jest to transpile javascript file

[2018-02-02 15:42] frankwallis commented on #398
It would be nice if you could control the "allowJs" option from ts-jest configuration. Right now I have to create lots of duplicate tsconfig.json files just to turn this setting on in test.

[2018-02-02 17:52] andyfleming commented on #426
For me, I've confirmed the same issue persists with all of these version combinations:

[code]

[2018-02-02 22:53] kulshekhar commented on #426
@andyfleming thanks for sharing your findings. They'll be helpful when I get a chance to look at the minimal repo (assuming it is added)

[2018-02-02 22:54] kulshekhar commented on #398
@frankwallis isn't `extend`ing the existing tsconfig.json file and pointing ts-jest to it sufficient for your use case?

[2018-02-03 00:40] andyfleming commented on #426
One configuration change I made that helped is setting `mapCoverage: true` in `jest.configjs`.

It doesn't solve the above issue completely for me, but it improves some coverage mapping.

[2018-02-03 13:41] frankwallis commented on #398
@kulshekhar my situation is I have 10-15 packages which all extend a shared base tsconfig.json file and also use a shared jest.preset.json. It's proving quite difficult to toggle this setting only when running in jest.

[2018-02-03 18:17] StoneCypher commented on #398
2.7 put up a new flag `--esModuleInterop` that may help, three days ago

[2018-02-04 03:10] abmohan commented on #223
@kulshekhar - just saw your notification, thank you.

Assuming PRs that replaced `any`s with types are the best place to start?

[2018-02-04 07:11] alan-agius4 commented on #426
Seems related to https://github.com/kulshekhar/ts-jest/issues/371

[2018-02-04 16:30] kulshekhar commented on #223
@abmohan yeah, that would be a good place to start. If there are any open issues that you'd like to tackle that could be good as well. Basically, anything that improves the package is very welcome :)

[2018-02-04 17:35] GeeWee commented on #388
Closed with #393

[2018-02-04 17:35] #388 closed

[2018-02-05 13:42] xcellsoft commented on #426
I can confirm with what @andyfleming said, with the latest libraries all the code coverage is off, if you enable `mapCoverage: true` the files with tests do accurately cover.  All files that are not touched by a test are all messed up, sonarqube reports all the inaccuracies and tosses them out.

`2018-02-04T23:03:06.7809556Z WARNING: WARN: Problem during processing LCOV report: can't save DA data

[2018-02-05 16:38] GeeWee commented on #426
Thanks for the version testing @andyfleming - I'm a little stumped. My first thought was that it had something to do with sourcemaps in jest 22.0

Perhaps it's time to add a test case and run a git bisect.

[2018-02-06 15:25] floriansimon1 commented on #257
The way files get transpiled makes all libraries that use `reflect-metadata` untestable with `ts-jest`, as the wrong info gets returned when querying the `design:type` metadata. There is no possible workaround.

I'd like to state my disagreement with the classification of this problem as a TS bug. TS puts the tools at your disposal (see @thevtm's work, or the language services API), but you're not

[2018-02-06 16:54] robinelvin opened #430 "Previously working build now runs out of heap space after adding .tsx files"
- Issue

My project previously used the React Javascript interface to create components. Since adding a couple of new components using tsx the jest run now fails with:

`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`

Almost invariably crashes in the React code:

[code]

Running a pure TypeScript test does not crash node.

- Expected behavior

The test run comp

[2018-02-06 17:32] ajcrites opened #431 "Cannot find module './mockComponent' from 'setup.js' for React Native"
- Issue

Following the instructions from the README for using React Native [https://github.com/kulshekhar/ts-jest#react-native]. When attempting to run `jest` I get the error in the title:

    Cannot find module './mockComponent' from 'setup.js'

- Expected behavior

The tests should run without issues.

- Output from your debug log

Running `TS_JEST_DEBUG=true npx jest` does not generate any `de

[2018-02-06 17:38] robinelvin commented on #430
Please delete - this looks to be a runtime error with React.

[2018-02-06 17:38] #430 closed

[2018-02-06 17:44] ajcrites commented on #431
Actually updating my `moduleFileExtensions` to include `".ts"` and `".tsx"` fixes this issue but it reveals a new issue:

[code]

I can create a new issue to track this if necessary.

[2018-02-06 17:46] ajcrites commented on #431
Sorry, this was also due to my playing around and adding `"env"` to `.babelrc` which caused this issue. If I remove it things seem to work.

[2018-02-06 17:46] #431 closed

[2018-02-07 19:20] fbartho opened #432 "ts-jest explodes on function-imports when syntheticDefaultImports is used."
- Issue

I have a project where I'm using typescript 2.6, and I have jest config that uses ts-jest. When I import non-module imports like `pascal-case`. (pascal-case exposes a single function as its export) I can `import pascalCase = require("pascal-case");` or `import * as pascalCase from "pascal-case"`. One of them works in only in react-native/iOS simulator, while the other one works only in Je

[2018-02-07 21:56] thiagoh commented on #405
@kulshekhar there is a repo setup for this error

[code]

[2018-02-07 23:31] kulshekhar commented on #405
@thiagoh is it the same issue your facing?

In either case, it would be better to open a new issue (link to this if it helps) so that *your* specific case can be discussed/fixed there

[2018-02-08 11:01] xaralis opened #433 "Stack trace for error shows wrong place in code"
**Issue**

When testing, the captured stack trace for an error shows different part of spec file. The line numbers match the code as expected, but the trace shows a different piece of the file.

**Expected behavior**

The stack trace shows where the error actually really happened.

**Test repo**:

https://github.com/xaralis/ts-jest-433

**Output from your debug log**
[code]

**Test output**
[code]

[2018-02-08 11:16] kulshekhar commented on #433
@xaralis Can you please create a minimal repo that reproduces this issue?

[2018-02-08 11:16] kulshekhar commented on #432
@fbartho Can you please create a minimal repo that reproduces this issue?

[2018-02-08 11:23] xaralis commented on #433
@kulshekhar I'll try but I think that I know what causes it. At least it's definitely one of the problems.

[code]

This reports:

[code]

If I remove the import:

[code]

It shows the right line:

[code]

[2018-02-08 11:36] xaralis commented on #433
Here is the test repo: https://github.com/xaralis/ts-jest-433

[2018-02-08 12:25] kulshekhar commented on #433
Just tested this and was able to replicate the issue.

@xaralis I'm not yet sure what's causing this but the import doesn't affect this issue one way or another. If the import is just commented out and the test run again, we get the following output:

[code]

[2018-02-08 12:28] xaralis commented on #433
@kulshekhar Hmm, strange. Thanks for investigating.

[2018-02-08 12:39] kulshekhar commented on #433
@xaralis The issue seems to be with the preset. If I remove the present and update the jest config ([PR to the test repo](https://github.com/xaralis/ts-jest-433/pull/1)), I get the following result:

[code]

[2018-02-08 12:49] xaralis commented on #433
@kulshekhar Thank you very much, we can close this then. I will forward this to the preset author.

[2018-02-08 12:49] #433 closed

[2018-02-08 12:53] xaralis commented on #433
Linking the issue for the record: https://github.com/thymikee/jest-preset-angular/issues/121

[2018-02-08 13:21] kulshekhar opened #434 "The debug log has the same value for original and final compiler options"
For example,

[code]
(taken from https://github.com/kulshekhar/ts-jest/issues/433#issuecomment-364082805)

Here, the original options shouldn't have `inlineSourceMap` or `inlineSources` set at all.

/cc @GeeWee

[2018-02-08 15:12] GeeWee commented on #434
Ah. Perhaps I'm printing the wrong object. (But nice to see that the log works!)

[2018-02-08 15:15] GeeWee commented on #257
Would definitely like a PR with this.

I think this has most to do with the fact that jest allows you to preprocess one file at a time, and my impression is that stuff like this needs to have access to the complete type information.

[2018-02-08 15:20] thiagoh commented on #405
@kulshekhar, I'm facing the same issue, yeah. But the repo I'm having these problems are private, unfortunately. Can you take a look at @jhm-ciberman 's repo?

[2018-02-08 15:30] RehanSaeed commented on #258
Would also like a fix for this.

[2018-02-08 15:39] kulshekhar commented on #405
@thiagoh I'd like to look into this but without a minimal repo, I'm hesitant because there have been several instances where looking at a larger project has resulted in false leads and wasted time.

If you can replicate this issue with just a couple of files in src and test folders, I'll be happy to take a look at it after/before work. Without that, I'll have to wait till I can set aside a longer

[2018-02-09 13:10] mattyclarkson commented on #332
Changing the `removeComments` to `false` fixed it for me. All we need is for `ts-jest` to override that option to be `true`. I had a go at doing that but overriding it in the preprocessor doesn't seem to work.

[2018-02-10 18:44] thiagoh opened #436 "Line numbers are shown incorrectly when importing library that has default export"
- Issue

following up what has been discussed on [#405](https://github.com/kulshekhar/ts-jest/issues/405)

@kulshekhar, I managed to create a minimal repo to reproduce the bug.

I guess the issue is somehow related to the use of `mock-fs` that mocks the filesystem. You can debug your lib and see that inside the function `defaultRetrieveFileHandler` an exception is thrown because `fs` cannot find t

[2018-02-11 17:03] kulshekhar commented on #436
@thiagoh I just tried this and it seems to be working fine :confused:

I executed the following commands:

[code]

and got the following output:

![mockfs-error](https://user-images.githubusercontent.com/10780624/36075923-4f6abf30-0f7b-11e8-8bcc-7ee923535afe.png)

The complete output:
[code]

[2018-02-11 17:19] #422 closed

[2018-02-11 18:33] thiagoh commented on #436
sorry @kulshekhar, I've just did the "fix" that breaks the code. could you take a look?

[2018-02-11 18:48] SimenB commented on #340
We're about to remove the `mapCoverage` flag. I've tested a couple of repos using ts-jest, and coverage still looks correct. But I'd like to test some more if you have any larger projects using ts-jest?

After that you should be able to use Jest's own support for sourcemaps instead of rolling your own. At least that's the theory!

[2018-02-11 19:06] kulshekhar commented on #340
@SimenB I use ts-jest only for nodejs server side code (unfortunately not open source) and don't have access to a large-ish open source project that could be used here

*I use angular and its default test setup for the frontend in my personal projects and Jest + Flow at work for the react project*

That said, I think there have been instances here where folks have linked to relatively larger proje

[2018-02-11 19:06] kulshekhar commented on #436
@thiagoh taking a look now

[2018-02-11 19:11] kulshekhar commented on #436
This still seems to be working fine :confused:

![mockfs](https://user-images.githubusercontent.com/10780624/36077192-722d8658-0f8d-11e8-977e-80226686a507.png)

[2018-02-11 19:12] kulshekhar commented on #436
@thiagoh can you add a travis config to the minimal repo? We'll then have a common point of reference for output errors being displayed

[2018-02-11 19:27] kulshekhar commented on #340
@SimenB Does this look helpful - https://github.com/EYHN/react-typescript-kits?

[2018-02-11 19:57] SimenB commented on #340
Thanks! That went better than expected 🙂 It did not use `mapCoverage`, so it was off anyways. But adding `mapCoverage` showed the correct things, except for files which are untested.
This is jest 22.2.1 and `mapCoverage` in an untested file:

![image](https://user-images.githubusercontent.com/1404810/36077678-1f1b2bf6-0f6e-11e8-9e67-fafe132b2261.png)

Vs running with facebook/jest#5177:
![image](h

[2018-02-11 20:16] kulshekhar commented on #340
This is fantastic!

I'll take a closer look at this next weekend. I think its time to see how this can reduce lines of code in ts-jest :smiley:

I have a feeling the time might be right for jest to subsume ts-jest

[2018-02-11 21:50] thiagoh commented on #436
sorry @kulshekhar I also can't reproduce the error right now.. some library might have been update since yesterday.. I have a private repo at work where this error happens.. I will try to understand what's going on there and get back to you here.. thanks

[2018-02-12 10:39] eteeselink commented on #355
Because I didn't know about `extends` :-D Thanks!

Hmm, maybe a lot of the practical problems with this could be solved by adding a recommendation to the README such as "make a tsconfig.jest.js that `extends` your real tsconfig and sets `module` to `commonjs`. IMO this might be a great general path towards fixing this issue (i.e. by not fixing it and letting `extends` to the heavy lifting).

I'll

[2018-02-12 11:50] kulshekhar commented on #355
@eteeselink that sounds great. A PR with this explanation would be welcome :)

[2018-02-12 18:23] thiagoh commented on #436
Hi @kulshekhar,
I think I got the reason why jest is reporting wrong line numbers in my tests.

Original source
[code]

Generated source (from jest cache source directory)
[code]

the compilation is somehow removing blank lines. Does that sound familiar to you?

PS: **If I remove all blank lines from my original code then jest reports the error line number correctly**

[2018-02-12 19:41] kulshekhar commented on #436
@thiagoh can you try [skipping babel](https://github.com/kulshekhar/ts-jest#skipping-babel)?

[2018-02-12 19:46] thiagoh commented on #436
@kulshekhar, what do you mean *"If you don't use mocks,..."* cuz I'm using mocks...

[2018-02-12 19:49] 19majkel94 opened #439 "Broken Date type reflection mechanizm"
There is an issue in a transpilation mechanizm that `ts-node` also use:
https://github.com/TypeStrong/ts-node/issues/511

[code]

The workaround is to use `--type-check` flag with ts-node.
Is there an equivalent of that option in `ts-jest`?
Thanks!

[2018-02-12 20:24] thiagoh commented on #436
anyway, @kulshekhar the best I could get was removing all blank lines (from inside my `it` blocks) replacing them by empty comments such as

[code]

this way I get my line numbers correct when there's an error on my assertions

[2018-02-12 23:25] kulshekhar commented on #436
@thiagoh can I reproduce this using the linked repo? I was using `--no-cache` earlier. Would not using this switch reproduce this? If so, I'll take a look at it again (most likely on the weekend)

[2018-02-13 07:31] GeeWee commented on #439
Interesting. Not currently. I'm not sure what the --type-check flag actually does.

[2018-02-13 09:04] lijunle opened #440 "[Perf] Read the TSConfig once then cache it."
Currently, it reads the call the `getTSConfig` on each `process` call:

https://github.com/kulshekhar/ts-jest/blob/ea5b0a5bc61c475c07f775981115f14cb5f74aab/src/preprocessor.ts#L22-L26

The `process` function will be called on each TS file. It means, for each file, there is an IO call to read the TSConfig file. However, during the process, the TSConfig will not be changed. It can cache the first TS

[2018-02-13 17:47] GeeWee commented on #440
I think this is a good idea. We need to keep in mind that the tsconfig can possibly change between builds though, if jest builds subprojects.

[2018-02-13 18:03] akheron commented on #439
I also have this problem. I made a repo that demonstrates the issue: https://github.com/akheron/ts-jest-test

[2018-02-14 00:35] xogeny commented on #436
@thiagoh I'm curious...are you doing coverage analysis.  I ask because I was having issues with lines not matching up while debugging.  I would add `debugger` statements.  It would jump into the debugger, but it would mark the wrong line.  The farther into the file the `debugger` statement was, the more off it was, generally speaking.  I noticed that removing blank lines had an effect, but it wasn

[2018-02-14 04:33] lijunle commented on #440
Hmm...? How does it happen? If that is a possible case, a cache `Map` may help.

[2018-02-14 13:38] eteeselink commented on #355
OK, PR made!

Of course I'm not the maintainer but IMO this is good enough to close this issue. There's still something to say for automagically patching tsconfig options like suggested before, but that's a potential breaking change, and with `extends` everything is explicit and the user stays in control. Maybe that's not a bad thing :-)

[2018-02-14 14:52] thiagoh commented on #436
@kulshekhar I couldn't reproduce this error on my public repo. What I will do from now on is not using blank lines at all in my tests. At least until someone can reproduce this issue so that it can be fixed.

@xogeny with or without coverage analysis I get the same line mismatch.

[2018-02-14 15:24] xogeny commented on #436
@thiagoh You might try just substituting the configuration files I've included in [this article](https://medium.com/@mtiller/debugging-with-typescript-jest-ts-jest-and-visual-studio-code-ef9ca8644132).  I suspect your use case is perhaps beyond such a simple configuration.  But I will say that I was having all kinds of difficulty with testing+debugging+coverage+TypeScript until I started from scra

[2018-02-14 17:11] lijunle opened #442 "[Perf] There is `rootDir` from jestConfig parameter, do not guess it by ourselvies."
When determine the concrete place of the `tsconfig.json`, it is using the `getStartDir` function to determine the project root dir.

https://github.com/kulshekhar/ts-jest/blob/ea5b0a5bc61c475c07f775981115f14cb5f74aab/src/utils.ts#L57-L71

However, there is `jestConfig.rootDir` from `process` function points to the root dir. It should use the value directly instead of spend IO calls to guess it.

[2018-02-14 23:12] kulshekhar commented on #442
If I recall correctly, this was done in this manner to fix a bug that was caused by using the project root dir. Let me see if I can dig that up

*Aside: @lijunle would you like to become a collaborator here?*

[2018-02-15 18:00] manu-st opened #443 "Cannot find tsconfig.json in version 22.0.4"
- Issue
Upgrading from 22.0.3 to 22.0.4 broke our testing due to the following failure:

[code]

- Expected behavior
Test should run without an error.

- Link to a minimal repo that reproduces this issue
I believe it is due to the multi-project addition to ts-jest. Our tsconfig.json is located in C:\Dev and it contains the following:

[code]

Could it be that ts-jest is using `baseUrl` and thinks

[2018-02-15 23:54] kulshekhar commented on #443
@manu-st it's most likely due to this. A recent PR used this to improve support for multi projects

[2018-02-16 12:03] kulshekhar commented on #439
I'm not sure about this but I suspect this would involve walking through the AST

[2018-02-16 17:05] manu-st commented on #443
How is this multi-projects supposed to work? Usually you lookup the package.json by going up the directory tree until you find one. Shouldn't be the same with tsconfig.json?

[2018-02-16 17:08] manu-st opened #444 "Jest drop of mapCoverage"
This is not an issue per say but I noticed that jest is dropping the mapCoverage option:
https://github.com/facebook/jest/pull/5177
and I was wondering what will the effect be for user of `ts-jest` since we rely on this option to have a proper map of our TypeScript code coverage?

[2018-02-16 17:18] kulshekhar commented on #444
It should continue working. If anything, it's supposedly better (reference: https://github.com/kulshekhar/ts-jest/issues/340#issuecomment-364782500)

[2018-02-16 17:33] manu-st commented on #444
This sounds great. We have been facing issues with inconsistent mapcoverage (i.e. two machine using the same code but reporting different coverage). I wonder if this will solve this situation.

[2018-02-16 17:34] #444 closed

[2018-02-17 07:13] GeeWee commented on #443
Yes. Currently our multi project support is *very* sparse unfortunately

[2018-02-17 22:16] hjfreyer commented on #79
As mentioned in #250, it's unclear where else type error reporting _could_ go when using `jest --watch`. In that case, the build process happens within `jest`, so _somebody_ has to own it. Relying on IDE support is a real drag since everyone's got their own workflow, and type-aware editors aren't always an option.

[2018-02-17 23:06] kulshekhar commented on #79
@hjfreyer does [this](https://github.com/kulshekhar/ts-jest#ts-compiler--error-reporting) help?. It was recently added

[2018-02-19 05:50] manu-st commented on #443
What would be the best option for us at the moment?

[2018-02-20 13:31] hjfreyer commented on #79
Woot! Indeed it does. Thanks!

[2018-02-20 14:59] SimenB commented on #340
@kulshekhar jest 22.4.0 has been released, so `mapCoverage` now prints a deprecation warning.

[2018-02-20 18:47] jelling opened #445 "ts-jest doesn't support ts-jest typeCheck setting"
- Issue

Some TS projects such as typeorm require typeCheck=true in order to work, like this:

[code]

ts-jest presumably uses ts-node but there is no obvious way to pass this value in. Setting it in the environment doesn't seem to work either.

- Expected behavior

There should be a flag either in the jest config file or on the command-line that will run TS tests using the typeCheck=true value.

[2018-02-21 09:08] GeeWee commented on #445
ts-jest does not use ts-node internally. Closing as I think this is a duplicate of #439 - but if not, please reopen.

[2018-02-21 09:08] #445 closed

[2018-02-21 11:58] martijnthe commented on #442
+1 also having this issue.

[2018-02-21 13:54] jelling commented on #439
I ask that we reopen this issue. Both this issue and #445, which I created, were closed but we have 4 people having the same issue in the span of a few days so this issue is probably not going away.

As mentioned in #445, a similar issue is solved in ts-node by using the --type-check flag. I did a brief dive into their code, and while I'm not an expert in ts compilation, it seems like they're just

[2018-02-22 10:58] Lazarencjusz opened #447 "babel-core is required even "skipBabel": true flag is set"
- Issue

In my config file I set `"skipBabel": true` and when I run my test, they fail because of ` Cannot find module 'babel-core'`

- Expected behavior

Test should run.

    Cannot find module 'babel-core'

      at Function.Module._resolveFilename (../module.js:337:15)
      at Function.Module._load (../module.js:287:25)
      at Module.require (../module.js:366:17)
      at require (../module

[2018-02-22 19:10] GeeWee commented on #447
No it's listed as an actual dependency. You not being able to find it is very strange. Perhaps try `rm rf node_modules` and reinstall?

[2018-02-22 19:12] GeeWee commented on #439
I definitely agree that this shouldn't be closed, (but to me it seems open). Would love a PR (or a test case on a ts-jest branch) if anyone feels up for the task.

[2018-02-23 08:53] Lazarencjusz commented on #447
Thanks for the tip. It works the way I reinstall node_modules. However, the question for me now  is should `ts-jest` use `babel-core` even I use `"skipBabel": true` flag?

[2018-02-23 10:12] kulshekhar commented on #447
@Lazarencjusz ts-jest doesn't use babel if `skipBabel` is set to `true`

[2018-02-23 10:14] kulshekhar commented on #443
@manu-st would it be possible to create a minimal repo for this? I'm planning to spend some time on ts-jest this weekend and if there's a minimal repo, I'll try to look into this issue as well

[2018-02-23 10:18] kulshekhar commented on #439
@jelling

I couldn't find info on this but if you can tell me which compiler settings need to be set, this can be added to ts-jest. If it's something more than compiler settings, I'm going to need help here

[2018-02-23 10:19] Lazarencjusz commented on #447
@kulshekhar ok, thanks for info.

[2018-02-23 10:19] #447 closed

[2018-02-23 10:20] kulshekhar commented on #436
closing this issue because I've been unable to replicate/debug it.

@thiagoh if this issue persists and if there's a way to replicate it via a minimal repo, let me know and I'll reopen this issue.

[2018-02-23 10:20] #436 closed

[2018-02-23 10:23] #426 closed

[2018-02-23 10:24] #424 closed

[2018-02-23 10:26] kulshekhar commented on #340
I've set aside time to bring ts-jest up to speed with this

[2018-02-23 10:30] Anupheaus commented on #424
Sorry for the inactivity!

@kulshekhar I wonder if you meant "globally installed"?  I didn't globally install ts-jest, I assumed that it would work automatically in linked packages (within node_modules) but that could be a false assumption and it needs to be installed globally in order to do that?  Is that right?

[2018-02-23 10:47] kulshekhar commented on #424
@Anupheaus I didn't mean 'globally installed'. My first thought was that maybe ts-jest wasn't installed in your project (but as you pointed out, that was incorrect)

If you can create a minimal repo that replicates this issue, I'll be happy to reopen this and take a look  at it

[2018-02-23 10:54] Anupheaus commented on #424
If I get time tonight I will certainly do that!

[2018-02-23 11:19] 19majkel94 commented on #439
I've created a PR with test suite to show the problem 😉

[2018-02-23 14:17] hedefalk commented on #46
@xogeny Thanks! I've been struggling with this. One thing to realize was that vscode wasn't using the same node I was using in terminals. So basically, last step to get breakpoints working for me was to do:

`nvm alias default 9``

because vscode was using default for the run configs which was something like 6 for me while it was ages ago I used that myself :)

https://stackoverflow.com/questions/

[2018-02-23 14:33] xogeny commented on #46
@hedefalk Good to know!

[2018-02-23 14:37] xogeny commented on #436
@kulshekhar Sorry, I could have done that at the time, but I've now worked through whatever issues I had so I don't think I could reproduce this now.  Sorry.

[2018-02-23 15:25] GeeWee commented on #439
That's wonderful thank you so much! Hopefully we can get this looked at soon!

(if anyone else reading wants to give it a shot, you're also very welcome, we're not a huge base of contributors and we all have stuff to do)

[2018-02-25 13:15] #434 closed

[2018-02-26 00:10] fbartho commented on #334
I noticed that I get correct source-mapping in thrown Errors when I set `"useBabelrc": false,` in the `package.json["jest"]["globals"]["ts-jest"]` config block (alongside `"mapCoverage": true`)

Maybe this helps?

[2018-02-26 10:42] Jandou6 opened #451 "Suggest in Readme"
- Issue

In ReadMe, Usage.
This command need change.
`npm install --save-dev ts-jest @types/jest`
because when I first time to use ts-jest. I didn't knew it still need to base in ` ts-jest`.
Maybe I just get set up information in ReadMe, But I think the command should be change to
`npm install --save-dev jest ts-jest @types/jest` That can avoid misunderstanding
- Expected behavior
`npm install --s

[2018-02-26 13:59] alexanderby commented on #414
Here is a [sample repository](https://github.com/alexanderby/malevic), run `npm install` and `npm test` (or `npm run test:dev` to run tests without coverage).
Uncommenting [lines 3 and 4](https://github.com/alexanderby/malevic/blob/master/src/state/index.ts#L1) make tests run, but breaks code splitting.

[2018-02-26 17:18] nitzantomer opened #452 "Errors with typeorm when running with ts-jest"
I'm using [typeorm](https://github.com/typeorm/typeorm) in my project, and the tests fail only when I run them using `ts-jest`, if I run them using jest and the compiled js then it's fine.

The error that I'm getting is from `typeorm`:

The thing is that in my model, the `date` property is of type `Date`:
[code]

And so I suspect that the problem is that when running it with `ts-test` the metadata

[2018-02-26 21:06] GeeWee commented on #452
Hiya. Is this a duplicate of #439 ?

[2018-02-26 21:09] GeeWee commented on #451
Good idea. Would you be interested in submitting a Pull Request?

[2018-02-26 21:18] GeeWee commented on #399
Can you confirm this is still an issue with the newest version of jest

[2018-02-26 21:20] GeeWee commented on #371
Can you confirm this is still an issue with the newest version of ts-jest?

[2018-02-26 22:08] nitzantomer commented on #452
@GeeWee
Yeah, it's probably the same thing.

When searching for this I did come across the issue with `ts-node` and was looking to see if `ts-jest` also has the `--type-check` flag.
I missed this issue though, thanks.

[2018-02-26 22:08] #452 closed

[2018-02-26 22:21] ahnpnl opened #454 "Need help with code coverage when using Jest to test Angular app"
- Issue

I tried to use Jest to test Angular app but the code coverage shows branch not covered for dependency injection in constructor. This issue is fixed if using Karma + Jasmine with Angular CLI. I hope someone can help me to point out what goes wrong, either in ts-jest or Jest

- Expected behavior
Code coverage should show correctly

- Output from your debug log
N.A

- Link to a minimal repo

[2018-02-26 23:18] severen opened #455 "The "enableDiagnostics" option is broken in 22.4.0"
In previous versions of ts-jest the enableDiagnostics option worked without issues. Starting with 22.4.0 it seems that some change in ts-jest's internal configuration has broken it.

I have confirmed with some local testing that disabling enableDiagnostics as is the default keeps ts-jest working.

A hopefully minimal enough repro and logs containing the relevant errors (check the Travis build erro

[2018-02-26 23:40] InExtremaRes commented on #455
Same here. This is the error message:
[code]
It seams like this [line](https://github.com/kulshekhar/ts-jest/commit/cb2d576135d43f7214ae3b5e04bdb09b366bc8b8#diff-cac4f760b2178bdff143119ba2549791R22) in the commit [cb2d576](https://github.com/kulshekhar/ts-jest/commit/cb2d576135d43f7214ae3b5e04bdb09b366bc8b8) causes the issue.

[2018-02-27 14:04] chasepbrewer commented on #371
I can confirm that it is still an issue. I just attempted yesterday to switch from a webpack/karma/mocha setup to jest and files that aren't imported during tests are given incorrect coverage. Everything that is imported into my `spec` files is correctly covered when `mapCoverage: true` is set, but everything specified in `collectCoverageFrom` that doesn't have a direct test file is incorrectly ma

[2018-02-27 16:15] chasepbrewer commented on #371
I tried recreating it and couldn't with the latest dependencies. Jest deprecated `mapCoverage` in version [22.4](https://github.com/facebook/jest/blob/master/CHANGELOG.md#2240)` and now all transforms are automatically mapped to source maps, including those in `collectCoverageFrom`. I'm guessing source maps were supported for files that matched the test matchers but not the coverage matchers.

Upg

[2018-02-27 17:45] andrioli commented on #371
for me the not executed files during tests are still showing weird coverage mappings.

Tried with jest 22.4.2 and ts-jest 22.4.0

[2018-02-28 10:05] AhnpGit commented on #455
I think removing the line `config.inlineSourceMap = true;` in utils.js will solve the issue

[2018-02-28 11:05] kulshekhar commented on #454
@AhnpGit I'll try to take a look at this after work today

[2018-02-28 11:16] kulshekhar commented on #455
This is weird because it doesn't fail in tests. I'll take a closer look at this

[2018-02-28 21:42] lordpdc commented on #302
what was the mistake?

[2018-02-28 23:30] kulshekhar commented on #454
@AhnpGit I tested this and saw the issue you've stated. However, I'm not sure what the cause of this is.

Also, while I use angular and I use ts-jest, I don't use ts-jest with angular so I'm not very familiar with the preset.

As ts-jest doesn't handle coverage at all (it's handled in jest), I'm not sure there's anything that can be done here to fix this.

[2018-03-01 06:25] AhnpGit commented on #454
The preset was created by @thymikee and he refused ts-jest in the precessor. Probably I need to debug jest coverage. Btw, is the runner jest-runner-tsc does the same thing as ts-jest ?

[2018-03-01 07:08] thymikee commented on #454
@AhnpGit can you test this with Jest master? We recently merged this: https://github.com/facebook/jest/pull/5692

[2018-03-01 07:09] AhnpGit commented on #454
Sure i'll check. I saw that change in master yesterday but I didn't understand quite well what it can help

[2018-03-01 07:14] thymikee commented on #454
Ah, forgot we use TS for JS files too, so that shouldn't change anything.

[2018-03-01 07:16] AhnpGit commented on #454
I suppose I need to debug jest coverage then :)

[2018-03-01 12:17] deftomat commented on #414
Same here. We find out that `paths` property  in tsconfig is ignored.

[2018-03-02 09:37] tipng commented on #455
Hi, I'm facing the same issue here.

Is there a way to work around this for the time being?

[2018-03-02 09:54] nichgalea commented on #414
I faced this as well, however I didn't think it was an issue. Although it does make sense that the paths in tsconfig are respected automatically from ts-jest.

I used the `moduleNameMapper` jest config property and set the same paths. You could try that as a workaround for the time being?

Bear in mind the syntax is different for setting the same paths in `moduleNameMapper` such that:

`"my-path/*

[2018-03-02 12:10] #443 closed

[2018-03-02 12:35] kulshekhar commented on #414
@alexanderby you need to add

[code]
in jest config.

ts-jest doesn't pick up or resolve any files. All files are resolved by jest and then passed in to ts-jest for processing. That's why jest needs to know how to resolve modules - the above code does that

[2018-03-02 12:35] #414 closed

[2018-03-02 12:37] #455 closed

[2018-03-02 12:40] kulshekhar commented on #451
fixed

[2018-03-02 12:40] #451 closed

[2018-03-02 12:52] kulshekhar commented on #399
I'm closing this because I can't reproduce the error. I'm not getting ENOENT when running `yarn test`. The output I'm getting is:

[code]

If there's a way to reproduce the error, this issue can be reopened

[2018-03-02 12:52] #399 closed

[2018-03-02 12:53] kulshekhar commented on #283
Closing as  there's nothing we can do about this in ts-jest

[2018-03-02 12:53] #283 closed

[2018-03-02 13:53] alexanderby commented on #414
Thanks, it worked and I used aliases in all my tests. One strange thing is that properties' order matters https://github.com/alexanderby/malevic/commit/5949e1b8413866d2ff3c3f4f3ae6f91440e2de03

[2018-03-03 00:07] AhnpGit commented on #454
@kulshekhar I just found out something suspicious about Angular itself. If I write test for a normal ts file, coverage is always correct no matter how many things I define in the constructor of the ts class. However, when adding Angular decorator @Component, the coverage immediately goes wrong on the constructor. Do you think this might cause by TypeScript decorator or Angular itself ?

[2018-03-03 00:41] kulshekhar commented on #454
@AhnpGit I'm not 100% certain but there's a good chance that Angular's DI is causing this

[2018-03-04 09:01] lsentkiewicz commented on #439
I am having the same problem. Here is a quick workaround.
[code]

Also, there are similar problems with arrays.
[code]

[2018-03-04 13:40] hrasoa opened #460 "ts-jest does not fail when passing a wrong type"
- Issue

I have this function inside a class:

[code]
Inside my tests, when I call ```observe('mystring')``` the test does not throw any error.

- Expected behavior

The test should fail as ```target``` expects to be an ```Element```, not a ```string```

[2018-03-04 13:41] kulshekhar commented on #460
@hrasoa  are you setting [this](https://github.com/kulshekhar/ts-jest#ts-compiler--error-reporting)?

[2018-03-04 13:46] hrasoa commented on #460
@kulshekhar yes, but it outputed:

![capture d ecran 2018-03-04 a 14 43 52](https://user-images.githubusercontent.com/796524/36946270-922b8f12-1fba-11e8-9d07-d3e8bfee8e6f.png)

```__tests__/io.js``` is my test file.

package.json:

[code]
tsconfig.json:
[code]

[2018-03-04 13:47] kulshekhar commented on #460
then it would help if you could provide a minimal repo that reproduces this issue

[2018-03-04 13:49] hrasoa commented on #460
Sorry nvm, it worked by renaming my test file from ```.js``` to ```.ts```

[2018-03-04 13:49] #460 closed

[2018-03-04 15:39] GeeWee commented on #439
I've taken a look at ts-node.

It seems that if typechecking is set, they create a typescript language service and make that emit the output. Details [here](https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L268)

Relevant parts with some stuff commented out is below:

[code]

[2018-03-04 15:41] GeeWee commented on #340
Judging from your PR - what remains to be done is:

- check if we can stop generating inline sourcemaps. This will affect the compilation in the preprocessor (tsc) and in the postprocessor (babel)
- check whether the sourcemap config for sourcemap-support and jest can be combined (currently the sourcemap is being passed to jest and also to sourcemap-support)

Is that still accurate @kulshekhar ?

[2018-03-04 15:44] GeeWee commented on #257
Closing this in favour of #439 - reasonably sure the solution will be the same.

[2018-03-04 15:44] #257 closed

[2018-03-04 16:08] kulshekhar commented on #340
@GeeWee yes

[2018-03-04 20:09] #409 closed

[2018-03-05 12:57] AhnpGit commented on #454
@kulshekhar you were right. I found out indeed it was caused by Angular DI. DI uses TypeScript feature `emitDecoratorMetadata`. This option will let TypeScript compiler generates .js file which has something like
` __metadata("design:paramtypes", [TestService_1.TestService])` (TestService is my DI service). I still don't know what should be the proper fix, but I guess something for Jest I assume.

[2018-03-05 16:32] filipsuk commented on #68
@Lodin @Bnaya I have encountered the same problem while using babel for the babel-plugin-rewire plugin. Sourcemaps of untested files are broken (I'm collecting coverage from untested files too). Sourcemaps of tested files seem fine.

What was your solution? Thanks alot!

[2018-03-06 08:04] tipng commented on #424
Okay, so I am having the same issue.

I installed ts-jest in the linked dependency and the error changed to:

`TypeError: require(...).install is not a function`

[2018-03-06 11:20] AhnpGit opened #462 "Understanding how ts-jest works"
- Issue
An open topic to get to understand how ts-jest works

- Expected behavior
**N.A.**

- Output from your debug log
**N.A.**

- Link to a minimal repo that reproduces this issue
**N.A.**

- Optional (but highly recommended) - Configure Travis (or your favorite system) with the minimal repo
**N.A.**

I have some following questions regarding to how ts-jest works:
- How does it work ?
- Why do

[2018-03-06 14:33] GeeWee commented on #424
Do you have jest installed in the project? Please provide a minimal reproducible repo.

[2018-03-06 20:47] mikebm opened #463 "Decorators break line reporting"
- Issue
Breakage started in 22.0.1. Possibly by this [PR](https://github.com/kulshekhar/ts-jest/commit/97ed727fa93d94d17931c13874a0e26ecc07092b#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)

When you have a class or method decorator in your typescript, then the jest line reporting is incorrect.

Unsure for exact reasons, but our package.json had the following in it which also causes this breakage. Removi

[2018-03-06 21:42] mikebm commented on #463
For unknown reasons on why we had this in our package.json, I was able to remove it and everything passes. Maybe it was necessary for something for an older version? Anyways. Now that this is removed, this issue is no longer a problem. I will leave the ticket open in case anyone feels like digging further, but feel free to close it otherwise.

"unmockedModulePathPatterns": [
		"<rootDir>/node_modu

[2018-03-06 23:18] kulshekhar commented on #462
In a nutshell,
- jest calls the `process` function in ts-jest with the source code (once for each matched file) and configuration
- ts-jest returns the transpiled source code + sourcemaps back to jest

to support hoisting

There is no direct relationship between babel and tsc

The transpiled code is *returned* to jest. To check the transpiled code, you'll have to put a log statement in `node_modul

[2018-03-06 23:24] #463 closed

[2018-03-07 01:21] joey-he8x opened #464 "failed to load type definition"
- Issue
import {Block, BlockType} from 'web3/types';
should work fine because the target type definition exists in node_modules/web3/types.d.ts

run with jest, got error :Cannot find module 'web3/types' from 'main.ts'
[code]
if i remove decorator from main.ts, then no errors.

if i add 'd.ts' into moduleFileExtensions,

[code]

- Link to a minimal repo that reproduces this issue

checkout https://

[2018-03-07 09:16] tipng commented on #424
Jest, and ts-jest are installed in both the main project, and the npm-linked dependency.

However I don't see why whatever is installed in the linked dependency should matter. We're not testing the dependency, we're testing components that are just importing and using something from it.

What would a minimal reproducible repo with a linked dependency look like?

[2018-03-07 09:23] tipng commented on #424
In my main project the stack trace indicates the error origin being ts-jest in **the linked dependency.**

Should it be even looking for ts-jest in the linked dependency?

`TypeError: require(...).install is not a function
at Object.<anonymous> (../my-dependency/node_modules/ts-jest/index.js:1:122)`

[2018-03-07 17:39] andreasonny83 opened #465 "TS-Jest should ignore private methods from the coverage report"
- Issue

TS-Jest should exclude all private methods from the coverage report.

- Expected behavior

When running `jest --coverage` the coverage report should not complain about private methods not being tested

- Output from your debug log

[code]

[code]

[code]

[2018-03-07 19:10] GeeWee commented on #465
I think.. it makes perfectly sense to track coverage on private methods?

[2018-03-07 19:11] GeeWee commented on #424
What exactly do you mean with linked dependency?

[2018-03-07 19:12] GeeWee commented on #464
Please provide a debug log.

[2018-03-07 22:05] joey-he8x commented on #464
do u mean adding --debug?
[code]

[2018-03-08 04:54] aoto commented on #210
I fix it with: `const classnames = require('classnames');`

[2018-03-08 08:25] tipng commented on #424
Okay, I haven't explained myself thoroughly, sorry.

Let me paint you a picture, maybe this will help:

Let's say I have a React project called "MainProj" and I have a separate project that handles all of the communication to my back-end called "DataClient" which is hosted on an internal repository -- both written in typescript -- and the latter is a dependency of the former.

I need to work on a

[2018-03-08 09:12] kulshekhar commented on #464
You can `extends` tsconfig, override this field and use that tsconfig for testing

[2018-03-08 09:36] screendriver commented on #258
Maybe we should re-open this issue? At the moment I have to enable `allowSyntheticDefaultImports` together with the new `esModuleInterop` and now my tests are failing again because of `import()` 🤔

[2018-03-08 11:17] kulshekhar commented on #258
Please add a minimal repo to help take this forward

[2018-03-08 21:49] phlmn commented on #439
I am also experiencing this issue when using typeorm (like #452). Is there any workaround yet?

[2018-03-09 15:18] kulshekhar commented on #464
@joey-he8x does extending tsconfig work for you?

[2018-03-09 23:32] Jostar1024 opened #466 "Breakpoint not work with lastest version(1.21.0) of vscode"
## Issue
In vscode-1.21.0, the breakpoint of editor doesn't work.

vscode info:

Commit 9a199d77c82fcb82f39c68bb33c614af01c111ba
Date 2018-03-07T11:04:09.969Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

node version

npm version

If I set a breakpoint, it turns grey and never be hit. Then the test fnish executing.
![no-reaction](https://user-images.githubusercontent.com/1331319

[2018-03-09 23:58] manu-st commented on #466
Just reported this against VS Code instead. See https://github.com/Microsoft/vscode/issues/45448

[2018-03-10 00:04] manu-st commented on #443
Sorry did not have time to build a repo. At the moment, my solution was to use the `tsConfigFile` option of the `ts-jest` options in my jest.config.js file and to set it to `../tsconfig.json` instead.

[2018-03-10 13:29] #464 closed

[2018-03-14 04:19] vyshkant commented on #378
Looks like the issue #5209 does not exist on this repo. Could you please explain what issue do you mean?

[2018-03-14 08:13] GeeWee commented on #378
Sorry, meant the jest issue : https://github.com/facebook/jest/issues/5209

[2018-03-15 10:47] tipng commented on #424
Might this be related to https://github.com/facebook/jest/pull/5085?

[2018-03-16 10:25] kulshekhar commented on #466
Adding a reference - https://github.com/Microsoft/vscode/issues/45657#issuecomment-373556464

[2018-03-16 14:48] shubhnik opened #468 "Jest throwing error at react-native core files's flow code."
- Issue
Jest throwing error at react-native core files's flow code.
![screen shot 2018-03-16 at 8 00 43 pm](https://user-images.githubusercontent.com/9150371/37526892-9ea9781c-2956-11e8-9fd9-d9a5e1a04204.png)

- Expected behavior
Jest shouldn't throw error at react-native core files.

- Output from your debug log
[ You can activate the debug logger by setting the environment variable TS_JEST_DEBUG

[2018-03-16 16:18] kulshekhar commented on #468
@shubhnik Can you please create a minimal repo that reproduces this issue?

[2018-03-16 18:48] borekb commented on #466
I'm observing a strange behavior when every other run hits the breakpoint in the fixed 1.22.0-insider VSCode version, while the other runs still don't hit. This seems Jest-specific as I see this progress bar every other run – with this, the breakpoint is not hit.

![image](https://user-images.githubusercontent.com/101152/37539056-e6effeec-2952-11e8-88e4-9443fd77d6eb.png)

Also posted in the VSCode

[2018-03-16 19:04] kulshekhar commented on #466
@borekb does the minimal repo posted above by @Jostar1024 replicate the issue you're seeing?

[2018-03-17 00:15] borekb commented on #466
Yes, actually I reproduce the problem on the minimal repo in 1.22.0-insiders (today's build, i.e., 17 March). I didn't try before because I though that the issue is fixed in this insiders version. So probably there is still some deeper issue than what I reported above.

[2018-03-18 20:26] chrisfarms commented on #340
Think this is related: I'm currently having to hack the ts-jest module to disable the injection of the sourceMapSupport.install() hook to get correct correct line numbers in stack traces (`ts-jest 22.4.1` + `jest 22.4.2` + `typescript 2.7.2`, `target:es2018`, `node 8.9.4`)

.... I'm guessing that something else in the tree (jest/jasmine?) is already performing the source-map-support install hook n

[2018-03-18 20:32] kulshekhar opened #469 "Add a global config flag to disable sourcemap-support injection"
context: https://github.com/kulshekhar/ts-jest/issues/340#issuecomment-374042386

from @chrisfarms

[2018-03-18 21:31] #469 closed

[2018-03-18 21:36] kulshekhar commented on #340
@chrisfarms I've added this flag (undocumented in the readme) in a new release. Can you see if that works for you? The release notes have some documentation: https://github.com/kulshekhar/ts-jest/releases/tag/v22.4.2

[2018-03-18 21:42] chrisfarms commented on #340
@kulshekhar ... yep spotted the release good work thanks ... I have nice correct line numbers again when `disableSourceMapSupport: true` is set 🎉

[2018-03-19 11:52] hermanbanken commented on #46
You could also set it via `"runtimeVersion": "8.9.3"`, so:

[code]

[2018-03-19 13:58] GeeWee commented on #424
Yeah I don't think it's on our end - we just transpile the code jest gives us.

[2018-03-19 13:59] GeeWee commented on #468
seems to me that your transformIgnorePatterns don't ignore react-native core https://facebook.github.io/jest/docs/en/tutorial-react-native.html#transformignorepatterns-customization

[2018-03-19 13:59] #468 closed

[2018-03-19 16:15] GeeWee commented on #468
seems to me that your transformIgnorePatterns don't ignore react-native core https://facebook.github.io/jest/docs/en/tutorial-react-native.html#transformignorepatterns-customization

[2018-03-20 08:24] tipng commented on #424
Yeah, I figured as much... anyway I'll keep an eye on the next Jest release and see if it helps.

Thanks

[2018-03-20 13:34] slikts opened #471 "Async iterables don't work"
- Issue

I have the following async generator in my code:
[code]

This causes an "Unexpected token" when trying to run from a .ts file, but not a .js file, since I'm running node with the `--harmony-async-iteration` flag so async iteration works in .js files.

- Expected behavior

Async iteration should also work with ts-jest since TS itself supports it.

- Output from your debug log

https://gist

[2018-03-20 13:39] kulshekhar commented on #471
@slikts  Can you please create a minimal repo that reproduces this issue?

[2018-03-20 13:55] slikts commented on #471
Repo: https://github.com/slikts/ts-jest-issue
[code]

[2018-03-20 14:12] slikts commented on #471
Using `ts-node` with no flags produces the same `Unexpected token` error, while running it with `node --harmony-async-iteration --require ts-node/register Foo.spec.ts` works.

[2018-03-20 14:20] slikts commented on #471
I've also added a .js file to show that async generators there work fine.

[2018-03-22 17:02] shishiranshuman13 opened #472 "IDE shows error while mocking a module function but Jest run it without any issue"
- Issue

I have written a unit test in Jest for a TypeScript function(`checkEmail`) that internally calls `showAlert`.

`showAlert` in the `utils.ts`:

    export const showAlert = (message: string) => {
      toast(message);
    };

And in my test case I have mocked the above function:

    import {showAlert} from './utils'
    showAlert = jest.fn()

Although the test case works as expected, the

[2018-03-22 17:06] kulshekhar commented on #472
@shishiranshuman13 Can you please create a minimal repo that reproduces this issue?

[2018-03-22 17:52] shishiranshuman13 commented on #472
@kulshekhar Sure 😄 . I have updated the issue description with the repo link. Please have a look.

The tests are running:

![screen shot 2018-03-22 at 11 15 28 pm](https://user-images.githubusercontent.com/20037600/37788493-97543e78-2e27-11e8-950a-fa540301b36f.png)

But the IDE is showing an error:

![screen shot 2018-03-22 at 11 21 47 pm](https://user-images.githubusercontent.com/20037600/3778861

[2018-03-22 22:34] Superpat opened #473 "Questions about usage and file naming"
- Issue
I'm not exactly sure how to use this? I'm  using preact-cli with the typescript plugin and the widget template. Should I be naming my test index.test.js or index.test.ts ?

- Expected behavior
The default hello world test should pass

- Output from your debug log
[ You can activate the debug logger by setting the environment variable
TS_JEST_DEBUG="true" before running yarn test. The outpu

[2018-03-22 22:35] Superpat commented on #473
package.json
[code]

[2018-03-23 16:42] aneilbaboo commented on #472
@shishiranshuman13 - I assume
[code]
throws an error in regular typescript code (i.e., when ts-jest is not present) ?

[2018-03-23 16:54] kulshekhar commented on #473
@Superpat Can you please create a minimal repo that reproduces this issue? It's hard for me to say whether this is a ts-jest issue or not without that

[2018-03-23 17:00] jktravis opened #474 "Testing React component with a props interface causes error"
- Issue

Testing a react component with a props interface seems to cause a problem with my setup. The error is:

    ReferenceError: __extends is not defined

- Expected behavior

Expect the test to run

- Output from your debug log
Tried running `TS_JEST_DEBUG="true" npm run test`, but no log ever showed.

- Link to a minimal repo that reproduces this issue
https://github.com/jktravis/tsTest

[2018-03-23 17:09] kulshekhar commented on #472
@shishiranshuman13 this is a syntax error and isn't caused by ts-jest. By default, ts-jest doesn't throw on syntax or type errors like `tsc` can. If you want tests to fail in just cases, you can set `enableTsDiagnostics` to `true` in `jest > globals > ts-jest` in package.json

It might be possible to configure typescript (via tsconfig) or your IDE to ignore this error. I'm not aware of any such me

[2018-03-23 17:20] kulshekhar commented on #471
@slikts the `target` in tsconfig should be set to `es5` for tests. The reason is that the output of ts-jest is processed by jest.

By default, jest uses babel to process  js files (which is why there's no error in the js file) but it expects the other transformers to return code in a form that it understands without any further processing which can be `es5` (or `es6` depending on your version of n

[2018-03-23 17:29] kulshekhar commented on #472
Also, in this particular case, maybe something like this would work:

[code]

If this still shows an error, there should be a tsconfig setting to get around that (not sure which one though)

[2018-03-23 17:33] kulshekhar commented on #474
@jktravis you'll need to remove `"noEmitHelpers": true` from tsconfig. If that's not an option, you can extend this tsconfig and override this setting for tests and configure ts-jest to use the extended config file

[2018-03-23 17:38] jktravis commented on #474
Awesome! Thanks!

[2018-03-23 17:38] #474 closed

[2018-03-23 17:41] kulshekhar commented on #466
@Jostar1024 I just tried this and it seemed to work fine. All I did was `git clone`, `cd`, and `yarn`

I'm using vscode version 1.21.1

![tsjestvscode](https://user-images.githubusercontent.com/10780624/37845004-63f9e348-2eef-11e8-80b8-b3d2b5954d60.gif)

[2018-03-23 18:24] Superpat commented on #473
https://github.com/Superpat/ts-jest-issue-473-minimal

[2018-03-23 18:53] kulshekhar commented on #473
@Superpat I've got the minimal repo and I get this error when testing:

[code]

Is this the issue you're facing?

[2018-03-23 18:56] kulshekhar commented on #473
here are some quick things I did that got the tests passing:

- Change in package.json:

Replace
[code]
with
[code]

- Change in index.test.js

Replace
[code]
with
[code]

[2018-03-23 18:57] kulshekhar commented on #473
It could be either. With the setup you have (and after incorporating the fix above), this shouldn't make a difference

[2018-03-24 14:52] longility commented on #466
I'm experiencing the same issue only in certain scenarios so maybe this will help us debug what the issue is. Hopefully, y'all are experiencing similarly.

- For vscode 1.21.1 on my mac, the breakpoint does gets hit with the test file with file extension _.ts_.
- For vscode 1.21.1 on my windows 10, the **breakpoint does NOT get hit** with the test file with file extension _.ts_.
- For vscode 1.21.

[2018-03-24 15:00] xz64 opened #475 "n"
- Issue

[describe the issue here]

- Expected behavior

[describe the expected behavior here]

- Output from your debug log
[ You can activate the debug logger by setting the environment variable TS_JEST_DEBUG="true" before running yarn test. The output of the logger
will be in **<your_project_dir>/node_modules/ts-jest/debug.txt** ]

- Link to a minimal repo that reproduces this issue

[If you ha

[2018-03-24 15:00] xz64 commented on #475
accidentally opened this issue

[2018-03-24 15:00] #475 closed

[2018-03-25 21:59] WillAvudim commented on #411
If anyone using typescript stumbles upon all of this with a naive question how would you hook it all up and invoke your typescript code out of this jest handler, I've described the exact sequence of steps in https://github.com/facebook/jest/issues/5164#issuecomment-376006851.

[2018-03-25 22:17] #473 closed

[2018-03-25 22:17] #472 closed

[2018-03-25 22:17] #471 closed

[2018-03-26 01:23] JeremyBYU commented on #466
Also having the same issue.

[code]

[2018-03-26 08:16] cesalberca commented on #258
Any news regarding this issue?

[2018-03-28 05:06] milesj opened #476 "Class property losing value after instantiation"
- Issue

I'm having a weird problem where many of my tests are throwing a "TypeError: Cannot read property 'constructor' of null". For example, the stack trace from Jest is useless as there's no real trace, and the line numbers don't line up (there's not 39 lines in the source).

[code]

Here is the test: https://github.com/milesj/shapeshifter/blob/master/tests/definitions/Array.test.js Also notic

[2018-03-28 06:39] pswai commented on #443
@manu-st Your solution saved my day! I suspect it has something to do with `rootDir` in Jest config

[2018-03-28 20:21] alexsasharegan commented on #332
Same problem here. Flipping my `removeComments` did not change anything with versions:

[code]

[2018-03-29 01:47] milesj commented on #476
Figured it out after looking at the built files. My `Definition` constructor calls `validateConfig`:

[code]

While the `ArrayDefinition` constructor is setting the value to null, AFTER `validateConfig` is being called, because the `valueType` property is set to null.

[code]

This originally worked because the property was set to undefined instead of null, and I forgot I changed it. Changing it b

[2018-03-29 04:12] #476 closed

[2018-03-29 14:05] abhikmitra opened #477 "Cannot load .graphql files when referenced from React Components"
TS-Jest errors out when it encounters
`import * as abc from "./abc.graphql"; `

Test fails with
test suite failed to run
Cannot find module './abc.graphql

To get Typescript to play nicely with graphql , I have already added an index.d.ts file in the root with

`declare module "*.graphql" {
  import { DocumentNode } from "graphql";

  const value: DocumentNode;
  export = value;
}`

But it seems t

[2018-03-29 14:22] kulshekhar commented on #477
ts-jest doesn't read files directly. It only processes files that Jest passes in. Jest, in turn, needs to know how to process `.graphql` files. So you'll have to configure Jest to process `.graphql` files like you've configured it to process `.ts` and/or `.tsx` files

[2018-03-29 15:45] abhikmitra commented on #477
I already have this as the transform

"transform": {
    "^.+\\.jsx?$": "<rootDir>/node_modules/babel-jest",
    "^.+\\.tsx?$": "<rootDir>/node_modules/ts-jest/preprocessor.js",
    "\\.(graphql)$": "jest-transform-graphql"
  },
  "transformIgnorePatterns": [
    "<rootDir>/node_modules/(?!(lodash-es|graphql-anywhere))"
  ],

[2018-03-29 16:49] kulshekhar commented on #477
@abhikmitra in that case, can you please create a minimal repo that reproduces this issue? It'll be hard to say what's happening without that

[2018-03-29 19:57] nvonbulow opened #478 "Source Mapping not Working"
- Issue

Stack traces during testing show the line numbers of the transpiled files. However, when I run coverage reports, the line numbers are correct.

- Expected behavior

Stack traces during testing should be showing the line numbers of the original source.

- Output from your debug log
Setting `TS_JEST_DEBUG` does not output the log.

- Link to a minimal repo that reproduces this issue

https:

[2018-03-29 20:04] kulshekhar commented on #478
@nvonbulow Can you please create a minimal repo that reproduces this issue?

[2018-03-29 20:48] nvonbulow commented on #478
Link to Travis: https://travis-ci.org/nvonbulow/ts-jest-sourcemaps

[2018-03-29 21:29] kulshekhar commented on #478
I'll try to take a look after work today or in the worst case, tomorrow

[2018-03-30 12:41] kulshekhar commented on #478
@nvonbulow I've just taken a look at this and I'm not sure what's going wrong.

Also, I'm not sure what the code is trying to do. Is your actual code (not the one in the repo) actually catching the error and trying to determine the line/column number?

[2018-03-30 12:51] kulshekhar commented on #478
I just noticed the comment about removing the `console.log` - this is weird

[2018-03-30 13:00] kulshekhar commented on #478
What I *think* is happening is that `sourcemap-support` (the library that does all the sourcemap magic) is treating the `console.log` as an error because the object being logged is an `Error`.

`console.log`ging anything else (even `error.toString()`) doesn't interfere

I don't think there's much we can do in ts-jest to fix this

[2018-03-30 15:11] nvonbulow commented on #478
@kulshekhar this isn't my real code. It's just the first thing that I could find to reproduce the issue. I don't log errors in my tests but let Jest catch them and report them. I'll do some testing outside of Jest to see if it happens outside of Jest. If so, then it's not an issue with Jest or ts-jest. I'll let you know what the results are

[2018-03-30 15:28] kulshekhar commented on #478
@nvonbulow okay. I'll leave this issue open for now then..

[2018-04-01 10:14] CanKattwinkel commented on #414
@kulshekhar would you mind to take a look at this [minimal reproduction repository](https://github.com/CanKattwinkel/jest-ts-path-issue)?

I've a shared core (`./core`) project that I'm including into my project. It is located next to a nestjs typescript project (`./api`) that uses Jest for testing. For tsc I've added the correct path mapping in my tsconfig file.

After I experienced errors with j

[2018-04-01 15:36] kulshekhar commented on #414
@CanKattwinkel

- change `moduleNameMapper`

[code]
*I honestly  don't know why `../..` is required but this seemed to work*

- install `ts-jest` in `core`'s directory or in one of its ancestor directory

- implement the `core/some-shared-model.ts` file

this should get tests passing

[2018-04-01 15:53] CanKattwinkel commented on #414
Oh the shared model was a refactoring corpse.. But yes after I applied your steps I got it working.

Therefore a very big thank you.

[2018-04-02 12:57] jamietre commented on #334
I was wondering if there is any more information or progress on this? I'm trying to set up Jest for the first time and stack trace line numbers are incorrect as per this issue. It's a little different for me:

1) We are on React 15
2) Node version has no effect (tried 6, 7, 8, 9)
3) Source maps work perfectly when I debug in VS Code, so it seems unrelated to sourcemaps themselves.

I've sought sup

[2018-04-03 07:43] singuerinc commented on #334
I fixed it by adding the `--mapCoverage` flag

[code]

[2018-04-03 12:25] jamietre commented on #334
Tried adding `mapCoverage`, it's been [deprecated as of 22.4.0](https://github.com/facebook/jest/blob/master/CHANGELOG.md#2240). I've tried literally every possible combination of options - `useBabelrc`, `disableSourceMapSupport`, in babelrc `"sourceMap": "inline"`, nothing makes any difference.

[2018-04-03 14:55] mattyclarkson opened #479 "Diagnostics Uses a Huge Amount of Memory"
- Issue

Running the tests without a populated cache uses a huge amount of memory and time. I am seeing >2mins vs 10seconds on [ef-carbon/dom](https://github.com/ef-carbon/dom)

It seems the first workers that spawn crush somehow. Notice that the first 8 tests took 80seconds and then the rest passed in a few seconds.

[code]

- Expected behavior

That the diagnostics should add a small overhead

-

[2018-04-03 19:57] diegolacarta opened #480 "Babel config not picked up"
- Issue

I recently migrated `styled-components` to `emotion` and added babel in the process (as emotion "needs" it)

The app runs fine and picks up the babel config from `.babelrc`, but jest doesn't (also tried to inline it).

- Expected behavior

Given this config in `package.json`

[code]

And this `.babelrc` file:

[code]

And this `tsconfig.json` file

[code]

It should run successfully.

- O

[2018-04-04 16:17] diegolacarta commented on #480
After digging a bit more it seems the issue is this plugin runs after code has transpiled imports into requires, so something like:
[code]
gets transformed to
[code]

so this plugin doesn't know that react_emotion_1 equals 'styled'.

Any way to overcome this?

[2018-04-05 09:44] kulshekhar commented on #479
I'm not sure what the cause of this could be - mostly because I never use diagnostics with ts-jest (I run diagnostics during dev and in the CI process). This feature was only added because a *lot* of folks wanted it.

That said, if you can create a minimal repo that reproduces this, I'll take a look at this when I next have some time

[2018-04-05 09:45] kulshekhar commented on #480
@diegolacarta Can you please create a minimal repo that reproduces this issue?

[2018-04-05 09:46] kulshekhar commented on #478
I'm closing this now but if this turns out to be something that can be fixed in ts-jest, the issue can be reopened later

[2018-04-05 09:46] #478 closed

[2018-04-05 09:47] #477 closed

[2018-04-05 09:48] kulshekhar commented on #462
I'm closing this issue but this discussion can continue.

[2018-04-05 09:48] #462 closed

[2018-04-05 09:52] kulshekhar commented on #466
I'm closing this issue because it seems to work fine with 1.21.1 and I couldn't replicate it (see above) using the minimal repo.

Based on @longility's comment, it seems that this is an issue on Windows. If this is still an issue, it would be better to open a new issue specific to Windows.

*I don't use Windows for this purpose so any help in debugging/fixing this on Windows would be welcome*

[2018-04-05 09:52] #466 closed

[2018-04-05 12:58] victor5171 opened #481 "Cannot use Express on my tests"
- Issue

Hi! I have a Node.js project that uses Express and TypeScript.
But i'm having problems to write tests using the Express framework.

Look at the snippet below:

[code]

When i import any library from my project dependencies, like RxJS, my test run as expected. But when i try to use any feature related to the Express Framework the following error occurs:

**TypeError: express is not a funct

[2018-04-05 14:58] FrickHazard commented on #376
I still have a similar issue with this.  With babel-loader version 7.1.1.

[2018-04-05 17:05] kbytesys opened #482 "tsconfig.json not found if you run tests with Webstorm 2018"
- Issue
If you run tests inside webstorm 2018 on windows platform, ts-jest looking for the tsconfig.json in the wrong path.

- Expected behavior

Jest have to use the correct path for the tsconfig file.

- Output from your debug log

{
        "messageText": "Cannot read file 'C:\\Users\\brigantian\\Documents\\ParentDirectory\\tsconfig.json': ENOENT: no such file or directory, open 'C:\\Users\\bri

[2018-04-05 18:51] GeeWee commented on #482
What operating system is this on?

[2018-04-06 01:13] diegolacarta commented on #480
Replicated the issue here:

https://github.com/diegolacarta/emotion-test-bug

[2018-04-06 01:33] trivikr opened #484 "The debugger doesn't stop at correct statements in VSCode in source files"
- Issue
The debugger doesn't stop at correct statements in VSCode in source files
  * VSCode 1.21.1
  * jest 22.4.2
  * ts-jest 22.4.2
  * typescript 2.7.2

- Expected behavior
The debugger should stop at correct statements in VSCode for source files

- Link to a minimal repo that reproduces this issue
[ts-jest-node8-debugger-repro/jest-22-test](https://github.com/trivikr/ts-jest-node8-debugger-re

[2018-04-06 01:36] trivikr commented on #484
Similar issue was discussed in #309
This issue is not reproducible if I remove `"collectCoverage": true` from Jest Config ([code](https://github.com/trivikr/ts-jest-node8-debugger-repro/blob/5206548ffd7c4ed46e5368be27fbae74a179a28a/package.json#L13))

[2018-04-06 04:40] trivikr commented on #484
Confirmed that issue is reproducible with latest version [ts-jest@22.0.4](https://github.com/kulshekhar/ts-jest/tree/v22.4.2), and updated repro repo and issue description

[2018-04-06 08:25] kbytesys commented on #482
windows 10 64 bit with latest version of nodejs

[2018-04-06 09:13] ManuYasha commented on #302
When do people learn to share their solutions even if they achieved them by themselves(!)

[2018-04-06 15:25] jamietre opened #485 "Sourcemaps are broken for JavaScript files imported by TypeScript files"
- Issue

When running TypeScript tests, if an error occurs in a JavaScript dependency, the source map is not preserved; stack trace has line number in compiled code.

- Expected behavior

Source maps always work.

- Output from your debug log

none

- Link to a minimal repo that reproduces this issue

https://github.com/jamietre/jest-source-map-problem/tree/20b8c62b45d19ca241b181f994d3bd6d3527fe69

[2018-04-08 00:03] b-tiwari commented on #390
@kulshekhar , where is the minimal repo? could you please provide link to it. I am getting the same issue, have tried all the solutions suggested here and on the ts-jest repo's readme but nothing working for me.

[2018-04-08 12:41] kulshekhar commented on #390
@b-tiwari no, it was the one in the original post (https://github.com/kwilkins/ts-error-example) which doesn't seem to exists any longer

[2018-04-08 15:04] diegolacarta commented on #480
@kulshekhar

[2018-04-08 15:13] kulshekhar commented on #480
@diegolacarta sorry about this but it has been a bit hectic (still is). I'll try to take a look at this as soon as possible!

[2018-04-08 15:43] diegolacarta commented on #480
no worries, just in case you missed it, thanks!

[2018-04-09 14:59] felipeochoa commented on #485
I had the same issue, but fixed it using `"disableSourceMapSupport": true` as described in:
https://github.com/kulshekhar/ts-jest/issues/340#issuecomment-374051766

[2018-04-10 14:28] rr-kalbeck opened #486 "error using babel-plugin-relay"
i'm trying to get a test working with relay and get the following error..

[code]
i've searched a bit and found this error usually occurs when babel-plugin-relay is missing. i have this plugin and my app works. i'm just getting this error running the tests. here's my ts-jest config..

[code]

any ideas?

[2018-04-10 14:36] Sun1ive commented on #258
++++

test failing to run
component: () => import(/* webpackChunkName: 'group-app' */ '@/views/Dashboard.vue'),
                                 ^

[2018-04-12 06:42] severen commented on #223
I would like to help as well. Namely I would like to see through an upgrade to Babel 7.

[2018-04-12 07:48] baseonmars commented on #480
Just to add to this, I've had a similar issue with styled-components.

I tried adding the following to our `jest.config.json` file but joy:

[code]

[2018-04-13 01:50] YagoLopez commented on #484
Same problem in Webstorm

[2018-04-13 02:40] trivikr commented on #484
I removed `collectCoverage` from jest.json and added `--coverage` in Jest Clint to avoid this bug

[2018-04-13 09:31] Slessi opened #489 "Possible incompatibility with babel-plugin-inline-import-graphql-ast"
# Issue

I am running into an issue when using in conjunction with the babel plugin:
- [detrohutt/babel-plugin-inline-import-graphql-ast](https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast)

I initially submitted an issue on the plugin repo ([detrohutt/babel-plugin-inline-import-graphql-ast#28](https://github.com/detrohutt/babel-plugin-inline-import-graphql-ast/issues/28)) but aft

[2018-04-13 12:13] YagoLopez commented on #484
Thanks but no luck in my environment (Create-React-App-Typescript):

[code]

[2018-04-13 15:40] trodrigues opened #490 "Typescript compiler output not what expected when running tests"
- Issue

For one very particular issue, when running my tests I don't get the type checking output that I expected, but instead I get an internal error from the typescript compiler. If I run this with `tsc` on the command line, I actually get the expected output

I am actually not 100% sure this is an issue with `ts-jest`, but given that running this directly with `tsc` yields the expected output,

[2018-04-14 17:04] kulshekhar commented on #479
I've just taken a look at this and I'm not sure there's anything that can be done in ts-jest to fix this.

A better option might be to to run check for type errors separately (that's what I personally do).

[2018-04-14 17:11] kulshekhar commented on #480
I've just tried out the linked repo and I'm seeing this as well.

@GeeWee would it be possible for you to take a look at this?

[2018-04-14 17:16] kulshekhar commented on #481
@victor5171 Can you please create a minimal repo that reproduces this issue?

[2018-04-14 18:59] kulshekhar commented on #484
I've taken a look at the linked repo and can confirm noticing this issue. I tried debugging a bit but couldn't figure out the root cause.

[2018-04-14 19:01] kulshekhar commented on #485
@jamietre thanks for pointing that out. I'll wait for that change to be published and then check back on this issue

[2018-04-14 19:01] kulshekhar commented on #486
@rr-kalbeck Can you please create a minimal repo that reproduces this issue? It's hard to tell what's going on without one

[2018-04-14 19:10] kulshekhar commented on #489
how is the graphql file being transformed? ts-jest doesn't understand/process these files. Is there another transformer doing this?

[2018-04-14 19:15] kulshekhar commented on #490
ts-jest should not be used to catch type errors. However, if you really want to do this, [here is the setting](https://github.com/kulshekhar/ts-jest#ts-compiler--error-reporting)

[2018-04-14 19:15] #490 closed

[2018-04-14 19:57] #482 closed

[2018-04-14 20:06] YagoLopez commented on #484
Maybe the root cause has more to do with jest itself than with ts-jest

[2018-04-14 20:08] kulshekhar commented on #484
The fix for #485 (which seems to be in jest) might fix this but that's just a hunch and not based on any evidence

[2018-04-14 20:44] kulshekhar commented on #489
Is it possible to import graphql files from typescript without using babel? If not, I don't think ts-jest will be able to handle it.

[2018-04-14 20:56] mattyclarkson commented on #479
We actually run `tslint` and `tsc` with strict checks. I've now disabled the diagnostics on our CI. They still pick up things locally that the other two don't, somehow.

[2018-04-14 21:09] kulshekhar commented on #479
I'm not sure I understand :confused:
If anything, I'd expect ts-jest's output (diagnostic related) to be a subset of what tsc would show

[2018-04-14 21:25] kulshekhar commented on #484
@YagoLopez thanks for testing that out!

[2018-04-14 21:45] kulshekhar commented on #223
@severen any help is welcome :)

[2018-04-15 09:25] GeeWee commented on #480
If the issue is that the babel plugin runs after the tsc transpilation step - I don't think there's much we can do about that. The emotion babel plugin would need to be written to deal with this case.
(Yeah, my life's been crazy busy too - I don't have much time to look at tjest nowadays)

[2018-04-15 10:28] AhnpGit commented on #481
@victor5171 do you follow the setup from TypeScript example repo at https://github.com/Microsoft/TypeScript-Node-Starter ? They already setup an example repo which includes also jest and its configuration.

[2018-04-15 18:44] SimenB commented on #484
Is it https://github.com/facebook/jest/issues/5739? facebook/jest#5925 is for thrown errors, not source stepping

[2018-04-16 12:56] YagoLopez commented on #484
@SimenB that's correct, thanks for the clarification

[2018-04-16 18:40] duro opened #492 "react-native flow types breaking things"
- Issue

Here is my jest config in package.json:

[code]

But when I run tests, I keep getting this error:

[code]

It would appear that the flow types from react-native are coming into ts-jest, and since they are .js files, it's causing the ts transformer to bork.

Any ideas on how to get my jest/ts/babel setup working with this?

[2018-04-16 19:10] duro commented on #492
The fix for this was to stop using the `jest.globals.ts-jest.babelConfig` config, and use an actual .babelrc

[2018-04-16 19:10] #492 closed

[2018-04-17 09:36] trodrigues commented on #490
Oh fair enough. Thanks for the explanation. I guess at least now someone can find this here if they come across the same problem.

[2018-04-18 20:57] Xiot opened #493 "Granularity on babel options"
- Issue

I would like to supply custom babel plugins to ts-jest, however I do not want to have my jest.mock calls hoisted.  Currently, enabling babel will always add the jest preset.

- Expected behavior

Able to supply custom babel options, and not have the jest preset added as well.

[2018-04-18 23:14] kulshekhar commented on #454
@AhnpGit can you check whether v22.4.4 fixes this for you?

[2018-04-18 23:17] kulshekhar commented on #493
Hoisting is literally the only reason babel is used in ts-jest :)

I'm not sure the solution you're looking for is likely to be merged in. Out of curiosity, why don't you want the mock calls hoisted?

[2018-04-19 10:01] AhnpGit commented on #454
@kulshekhar it seems to not working for me

[2018-04-20 05:43] GeeWee commented on #493
If you can work around it - I think I'd prefer you do that - I'd rather not add the complexity. Thanks for being understanding

[2018-04-20 05:43] #493 closed

[2018-04-20 05:44] GeeWee commented on #489
If ds300's typescript-transformer is able to do the work, there's no technical reason we shouldn't be able to. They essentially work in the same way - I'm not sure when anyone will have time to take a look at this though.

[2018-04-20 18:56] acaua commented on #424
I had a similar problem and found a fix.

I think it occurs because Jest is looking for `ts-jest` on the "node_modules" folder from the second project (not the main project that have ts-jest installed). That's why installing ts-jest on the second project works as a workaround.

I solved it by setting the "node_modules" folder explicitly on the Jest config file using the line bellow:

`moduleDirect

[2018-04-22 00:34] epicfaace opened #494 "Unexpected token export with Lodash"
Minimal repo: https://github.com/epicfaace/jest-bug-1

- Issue
My tests fail:
[code]
My code:
[code]

- My jest config:
[code]

I tried changing my jest config to the following, but it still doesn't work:

[code]

[2018-04-22 16:08] kulshekhar commented on #494
@epicfaace Can you please create a minimal repo that reproduces this issue?

[2018-04-22 22:27] epicfaace commented on #494
@kulshekhar here it is! https://github.com/epicfaace/jest-bug-1

[2018-04-23 10:45] DorianGrey commented on #494
`lodash-es` requires transpilation to work properly on Node with commonjs.

I.e. extend your transforms like this:
[code]
And use a `.babelrc` in the root of your project with at least the `transform-es2015-modules-commonjs` plugin defined:
[code]
`babel-jest` should already be installed due to `jest`, I'm not sure about the plugin - might be required to install this manually.

[2018-04-24 10:26] BnayaZil opened #495 "Old babel version"
- Issue
In my project, I'm using babel 7 with the following `.babelrc`:
[code]
when I'm trying to run jest using `ts-jest` in `useBabelrc` mode it failed and I'm getting the following error:
[code]
I have some experience with this issue and it seems that when I'm using `useBabelrc` mode it use the `ts-jest` babel version and it's incompatible with my babel features.

I see two ways to solve it:
-

[2018-04-25 06:01] Prior99 commented on #481
Could it be that this was introduced in a newer version `ts-jest`? Because I am struggling with the exact same problem.

**Scenario 1:**

[code]

Works with `tsc` and `node`.
Doesn't work with jest: `express` is an object afterwards.

**Scenario 2:**

[code]

Works with `tsc` and `node`.
Doesn't work with jest: `express` will not be defined and a `TypeError` will be thrown.

**Scenario 3:**

[code

[2018-04-25 06:46] Prior99 commented on #481
Okay I got it. This is caused by
[code]
in the `tsconfig.json`. When removing that line, or setting it to `false`, jest will work fine with

[code]

as well as

[code]

Still seems like a bug to me, as it's working with tsc. Also from your [TypesScript-Node-Starter](https://github.com/Microsoft/TypeScript-Node-Starter), they are using the `import express from "express";` and I'm confused how this

[2018-04-25 07:06] Prior99 commented on #481
I created [a minimal reproduce](https://github.com/Prior99/ts-jest-express-reproduce) pin-pointing the problem and explaining in detail how to reproduce the problem.

[2018-04-25 07:59] MonsieurMan opened #496 "Cannot find module ... in Travis"
**Issue**
I have a repo using ts-jest that works fine locally but doesn't work in travis.
Jest throws **Cannot find module**, it seems to me that the code simply doesn't get transformed.

**Links**
Here is the repo
https://github.com/MonsieurMan/navitia-query-builder
And travis
https://travis-ci.org/MonsieurMan/navitia-query-builder

[code]

[code]

Don't hesitate to ask for more information or to

[2018-04-25 09:12] GeeWee commented on #495
Is babel 7 still not in beta?

[2018-04-26 08:08] GeeWee commented on #495
In that case I don't think we should update.
I don't think it's possible to either use our bundled version of babel, unless the project already has it installed - and then use theirs. Either way this opens us up to supporting a billion different versions of babel, which I'd like to avoid.

Can you not just pin the babel version we're using, with something like [this](https://yarnpkg.com/lang/en/do

[2018-04-26 08:15] nickmccurdy opened #497 "Stalls with Yarn and Node 10"
## Issue

I have a project using `ts-jest` and Yarn, and my test suite now stalls completely with the first test in progress on Node 10. This is not an issue when using Jest with Node 9, npm, or without `ts-jest`.

## Expected behavior

Tests pass, as they do on Node 9 or npm.

## Link to a minimal repo that reproduces this issue
  - Install ts-jest with Yarn
  - Install Node 10
  - Run Jest

## W

[2018-04-26 16:06] epicfaace commented on #494
Thank you @DorianGrey !

It looks like I have to define two settings for transpilation, one for ts-jest and another in my webpack config. Is it possible to merge these together?

[2018-04-26 21:58] benjamin21st commented on #400
But why is it failing only when "coverage" is required though? Normal testing with target `esnext` worked fine.

[2018-04-27 12:11] #486 closed

[2018-04-27 12:15] kulshekhar commented on #494
closing this as the issue seems to have been addressed but if it hasn't, this can be re-opened

[2018-04-27 12:15] #494 closed

[2018-04-27 12:29] kulshekhar commented on #496
On the face of it, this doesn't look like a ts-jest issue. I'll send a PR to confirm this

[2018-04-27 12:50] kulshekhar commented on #496
This seems to be an issue related to the `prepare` script. A PR with tests that don't use ts-jest also fails with the same error: https://travis-ci.org/MonsieurMan/navitia-query-builder

I'm closing this but if this turns out to be due to ts-jest, it can be re-opened

[2018-04-27 12:50] #496 closed

[2018-04-27 12:52] kulshekhar commented on #497
@nickmccurdy I understand that this could probably be replicated using any setup but creating that setup takes some time. So I'd greatly appreciate if you could add a minimal repo for this - something I can `git clone` and test on. I'll be taking a look at some issues in ts-jest this weekend so if there's a minimal repo for this, it's a lot more likely to be addressed. Thanks!

[2018-04-27 13:29] nickmccurdy commented on #497
Yea sorry, I was being a bit lazy filing this issue. But now I can't even replicate this bug in my original project 😓 it seems to work fine for some reason. I'll try to send a reproduction if I encounter it again.

[2018-04-27 14:05] kulshekhar commented on #497
@nickmccurdy sure, no problem. I'll close this issue for now. If you run into it again and think it's related to ts-jest, this issue can be re-opened

[2018-04-27 14:12] MonsieurMan commented on #496
Thank you a lot for your time, really appreciated !
I'll investigate some more ! 🙂

Le ven. 27 avr. 2018 à 2:50 PM, Kulshekhar Kabra <notifications@github.com>
a écrit :

[2018-04-27 15:28] stevenmusumeche commented on #439
Same issue here with TypeORM.

[2018-04-27 15:35] huy-nguyen commented on #258
I think I ran into the same problem as you guys and I made a minimal repro repo [here](https://github.com/huy-nguyen/ts-jest-async-import-bug) so that the maintainers can figure out what's wrong. Steps to reproduce:

- Clone and run `yarn`.
- `git checkout ea5ea730`.
- Run `npm test`. Tests fail because of the dynamic import in `src/addAndMultiply.ts`.
- `git checkout df062207`.
- Run `npm test`.

[2018-04-27 15:36] kulshekhar commented on #481
@Prior99 I tested the linked repo and was able to reproduce what you've explained in the steps.

With this setup, if the jest config is updated to include the following:

[code]

the tests work fine.

Without this, if you want to set `allowSyntheticDefaultImports` to `true`, you can get the tests passing if the imports are updated from `import * as x from 'x'` to `import x from 'x'`. (*Don't ask m

[2018-04-27 15:38] kulshekhar commented on #258
@screendriver does the change that worked for @huy-nguyen work for you?

[2018-04-27 15:44] AhnpGit commented on #481
@Prior99 @kulshekhar I think `allowSyntheticDefaultImports` has some weird behaviors. I asked similar question about it in https://github.com/Microsoft/TypeScript/issues/13375 and they suggest me to use [`--esModuleInterop`](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#support-for-import-d-from-cjs-form-commonjs-modules-with---esmoduleinterop) in TypeScript 2.7

[2018-04-27 15:52] kulshekhar commented on #481
yeah, I didn't understand why `allowSyntheticDefaultImports` behaved the way it did (it was originally supposed to behave in the exact opposite manner)

[2018-04-27 17:36] evertbouw commented on #497
I may be able to create something tomorrow

[2018-04-27 21:10] evertbouw commented on #497
Created it https://github.com/evertbouw/ts-jest-node-10

When you run Jest here it will stall on the test that should fail. Fix the test and it works

[2018-04-27 21:57] nickmccurdy commented on #497
@evertbouw Sweet thanks! This has a similar setup to something I tried that passed, I'll see if I can figure out what part of the tsconfig causes it

[2018-04-27 22:30] nickmccurdy commented on #497
It's Yarn, not the config. I just realized I only see the issue in @evertbouw's repo when installing with Yarn. Installing with Yarn and testing with npm stalls, while installing with npm and testing with Yarn passes. This also happens if I recreate the lock file.

[2018-04-27 22:41] kulshekhar commented on #497
@nickmccurdy does this issue persist even if plain jest is used with js? (trying to figure out whether it's a ts-jest specific issue)

*I don't have node 10 installed so I'm asking you*

[2018-04-27 22:43] kulshekhar commented on #497
maybe one of our dependencies has a hard-coded engine requirement

[2018-04-27 22:58] nickmccurdy commented on #497
The same configuration works if `ts-jest` is removed and the ts extension is changed to js. So it's a combination of ts-jest, Node 10, and Yarn (for installation, not task running).

[2018-04-27 23:08] kulshekhar commented on #497
This looks like a pure yarn issue: https://github.com/yarnpkg/yarn/issues/5727

[2018-04-27 23:13] nickmccurdy commented on #497
The description is vague, but I think it's a different issue. The `upath` module doesn't support Node 10 which unfortunately breaks very popular packages like Webpack because Yarn fails installs on invalid peer dependencies by default. However, `upath` is not in this package's `yarn.lock`, and the installation succeeds, it just causes an install that leads to stalling tests.

[2018-04-27 23:28] evertbouw commented on #497
Can confirm, works fine if I use `npm i` but not `yarn`. `--ignore-engines` does not make a difference, this would have cancelled the yarn install otherwise.

[2018-04-28 22:06] kulshekhar commented on #497
I've just tested this in a fresh VM. The install works. The test stalls.

[code]

[2018-04-28 22:11] kulshekhar commented on #497
Installing with `npm install` and running the test (`npm run test` and `yarn test`) works

[code]

[2018-04-28 22:15] kulshekhar commented on #497
I'm not sure what's going on but given that this works after an `npm install` and not after a `yarn install` means there's a problem with yarn + node 10.

In this case, this problem occurs with ts-jest but I'm not sure *what* in ts-jest is triggering this issue. Regardless of what's triggering it, it's unlikely that the fix for this lies in ts-jest.

I'm going to keep this open so that if there's

[2018-04-28 22:27] kulshekhar commented on #497
I was tempted to do that but ... time issues :slightly_frowning_face:  (especially since I'm reasonably confident the fix doesn't lie in ts-jest)

*If I thought the fix was in ts-jest, I'd happily give this more time.*

[2018-04-30 06:46] screendriver commented on #258
Hi @kulshekhar,

unfortunately not because @huy-nguyen just disable `allowSyntheticDefaultImports` for it's tests and that's it. That means that your code with third party dependencies (like `import moment from 'moment'` and so on) will not compile anymore when you run `tsc`.

I already have **two** `tsconfig.json` files:

- one for my production application code
- one for my tests (where I set `"

[2018-04-30 06:48] MonsieurMan commented on #496
You were right, nothing to do with ts-jest.  The issue is related with file name casing and that the typescript compiler resolves them differently on windows and linux apparently.
I was importing some files named with more than one upper case letter, e.g. URLPathBuilder.ts with ```'./UrlPathBuilder'``` versus ```./URLPathBuilder```.

[2018-04-30 07:09] MonsieurMan commented on #496
After a little bit more of hunting, this is due to the fact that Windows file system is case-insensitive and that the node-js api treats its so as well as the typescript team that think this would be too much of an extra step to fix it in compilation for such an edge cases.

Using the ```--forceConsistentCasingInFileNames``` flag should cover some of the cases.

[2018-04-30 07:12] GeeWee commented on #496
I've been burned by that myself a few times. Good you found a solution.

[2018-04-30 07:13] GeeWee opened #498 "Disable special handling for allowSyntheticDefaultImports"
# Issue

Currently we run stuff through babel if allowSyntheticDefaultImports is set to true. I think with the new "esModuleInterop" we shouldn't need to do it - removing this part of the code will make it more clean.

This will be a breaking change however, as people will manually need to edit their tsconfig.json to enable it.

[2018-04-30 22:00] jethrolarson commented on #497
I experienced this as well. OSX Sierra. node 10.
jest 22.4.3
ts-jest 2.4.4
typescript 2.8.3

Running on Node 9 resolved the issue.

[2018-05-01 05:38] williamoliveira commented on #497
Could be related? https://github.com/nodejs/node/issues/20258

[2018-05-01 05:55] williamoliveira commented on #495
This worked for me
[code]

[2018-05-03 13:07] greenkeeper[bot] opened #500 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/kulshekhar/ts-jest/compare/master...kulshekhar:greenkeeper%2Fupdate-to-nod

[2018-05-04 11:37] zone-live commented on #332
This also happens to me.
ts-jest: 22.4.2
jest: 22.4.2

[2018-05-04 16:16] #495 closed

[2018-05-04 16:17] GeeWee commented on #495
Closing as wontfix

[2018-05-05 07:34] GeeWee commented on #442
If anyone can provide a test suite to ensure we don't have any regressions with regards to #238 , I'd love to give this a crack.

[2018-05-05 12:48] GeeWee opened #504 "Improve/document test experience"
Currently we have to run all tests for it to be a pleasant experience to run tests, via the tests.js script.

I propose we split it up into 2 scripts - one called prepare.js that does all the preparation, and one file that actually runs the tests. This will allow us to run the tests e.g. from an IDE.

We should also look to symlink our dist folder, so we don't need to copy all the files every run.

[2018-05-05 14:59] #440 closed

[2018-05-06 07:44] GeeWee commented on #439
Hi.

We've added a new experimental flag, that might solve these issues:
It's `useExperimentalLanguageServer` and it's set in the `ts-jest` key, just like the rest of the settings.

Please report back whether:
a) This fixes the issues
b) What kind of performance-hit you're taking.

[2018-05-06 14:28] jonathandelgado commented on #439
Hey @GeeWee, first off, thanks for your work on this, that PR looks like it took a while. I implemented the flag this morning.

- I received a ton of errors like `TSC language server encountered errors while transpiling. Errors: [object Object],[object Object],[object Object]`
- Editing `ts-jest/dist/transpiler.js:59:15` to have `d.messageText.messageText` fixed the output so I could actually read

[2018-05-06 19:33] kulshekhar commented on #439
@jonathandelgado ts-jest [deletes the outDir config](https://github.com/kulshekhar/ts-jest/blob/master/src/utils.ts#L145) (see the accompanying comment for the reason)

Would it be possible for you to comment out the equivalent line in your `node_modules/ts-jest/dist` directory and see if that
- fixes the issue you've reported AND
- addresses the TypeORM/related issue
?

[2018-05-07 06:07] znck opened #506 "Extraneous package 'source-map-support'"
`'source-map-support'` is used in https://github.com/kulshekhar/ts-jest/blob/970d4a83926ba96eae7b9a5ac67b5f0d636066c3/src/install.ts#L1 but it is not present in package dependencies.

[2018-05-07 06:10] screendriver commented on #258
I upgraded to version `22.4.5` now and nothing changed 🤔

[2018-05-07 10:26] GeeWee commented on #439
Thanks a lot for the feedback, good thing we didn't roll this out properly yet :)

[2018-05-07 14:31] jonathandelgado commented on #439
@kulshekhar Good call on the `outDir` deletion. I went ahead and commented that out locally and was able to get around that issue. However, as noted in that comment, the sourcemaps are incorrect as expected.

Immediately following fixing that, I started getting a ton of type errors that I wouldn't receive in a normal build (even including tests in that build). One that specifically stood out was `

[2018-05-07 16:31] cspotcode opened #507 "`transpileModule` with `reportDiagnostics` to avoid suppressing syntax errors"
## Issue

ts-jest allows running invalid JS syntax rather than throwing a syntax error.

TypeScript's transpiler reports syntax errors, but it also converts invalid JS syntax into valid JS syntax.  If syntax errors are ignored, this leads to a strange situation where JS syntax that would normally fail to run ends up executing, but the code is not what the developer intended.

## Expected behavior

[2018-05-07 22:49] t101jv opened #508 "Diagnostics are unperformant"
- Issue
We have diagnostics enabled in TeamCity and it is increasing our build time by ~20 minutes
Build agent specs:
Intel Xeon E312xx (Sandy Bridge) 2 cpu @ 2.3 MHz
6.6G of ram

- Expected behavior
5 minutes or less

[2018-05-08 05:30] screendriver commented on #258
I enabled that now (I oversight that flag...) but the tests are now **really** slow (4 tests are running in 30 seconds 😳) and I'm getting different errors now:

[code]

[2018-05-09 07:54] nickmccurdy commented on #497
Node 10.1 is out and appears to fix this.

[2018-05-09 07:54] #497 closed

[2018-05-11 22:10] jonahbron opened #520 "Error upon import of *.js files"
- Issue

If my code imports a .js file (not .ts), the test outputs this error:

[code]

I am explicitly pointing it to my tsconfig.json file in package.json.

[code]

And my tsconfig.json file contains

[code]

- Expected behavior

That error should not appear, and it should import the JSON file normally.

- Output from your debug log

I set TS_JEST_DEBUG=true and ran it, but the debug.txt file wa

[2018-05-12 07:40] GeeWee commented on #520
Does this still happen if tsDiagnostics is disabled?

[2018-05-12 07:43] GeeWee commented on #439
We've updated some of the ts language server code. Try pulling the latest version - I don't think it'll fix the issues but it's worth a shot.

Otherwise, It'd be great if we could get an isolated test case more that demonstrates this behaviour.

[2018-05-13 17:34] jonathandelgado commented on #439
Thanks for pinging me on this, I've been working on some other projects recently, so this fell a little bit down my backlog. I'll pull down the latest changes and if I still have the problem I'll get an isolated repo setup for you within the next few days. Thanks again!

[2018-05-13 18:03] ThomasRooney opened #521 "Sourcemaps don't work whilst showCoverage is true"
- Issue

When debugging jest tests, line numbers are correctly mapped in the node debugger whilst `showCoverage` is not defined. When `showCoverage` is true, the line numbers do not match correctly.

- Expected behavior

Sourcemaps work correctly regardless of coverage being enabled or not.

- Output from your debug log

Doesn't appear to work on windows

[code]

- Link to a minimal repo that repr

[2018-05-14 04:47] GeeWee commented on #398
Closing due to inactivity. If the solutions don't work for you - feel free to reopen

[2018-05-14 04:47] #398 closed

[2018-05-14 04:49] GeeWee commented on #247
I see a solution has been posted and this has been inactive for some time. Closing - but feel free to write / reopen if this is still relevant.

[2018-05-14 04:49] #247 closed

[2018-05-14 04:50] GeeWee commented on #258
Yeah it's definitely slower. Thanks for trying it out.

[2018-05-14 04:51] GeeWee commented on #507
I definitely agree that we should fail on syntax errors. Help would be much appreciated.

[2018-05-14 04:52] GeeWee commented on #506
Fixed by #511. Thanks for pointing it out!

[2018-05-14 04:52] #506 closed

[2018-05-14 04:53] GeeWee commented on #481
I see a solution has been posted and this has been inactive for some time. Closing - but feel free to write / reopen if this is still relevant.

[2018-05-14 04:53] #481 closed

[2018-05-14 04:54] GeeWee commented on #454
Have you also set the ignore decorator flags? You can view them either in the readme or the changed files inside PR #488

[2018-05-14 05:31] AhnpGit commented on #454
Yes I tried, but none of them works for decorators which are created by Angular.

[2018-05-15 01:31] eligundry opened #523 "Cannot import packages from node_modules"
- Issue

When I run a test with code that calls a function from a module in node_modules, I get a type error telling me it's not a function. This doesn't happen functions or variables imported from within the codebase. Take this for example:

[code]

This error is tossed:

[code]

This only happens inside the context of Jest and works fine with compiled code. In this case, my bundler of choice is

[2018-05-16 15:32] FatManiac commented on #302
Seriously ...

[2018-05-16 16:10] csuich2 commented on #439
@GeeWee It looks like @akheron put together a repo with an isolated test case here: https://github.com/akheron/ts-jest-test

[2018-05-16 19:33] jonathandelgado commented on #439
To follow up, is appears the repo @csuich2 linked works when you implement the experimental flag, so that's awesome.

I went ahead and grabbed the most recent changes from `ts-jest`, commented out the build line, fixed the `d.messageText.messageText` thing and I'm still having issues related to the new service. I'm getting errors that state `TSC language server encountered errors while transpiling

[2018-05-16 20:10] spalger commented on #302
The file to be transformed was `__tests__/view/containers/Home.test.tsx`, and the list of includes from the their project file was `[\"./client/**/*\",\"./route/**/*\",\"./helpers/**/*\",\"./store/**/*\",\"./static/**/*\",\"./styles/**/*\",\"./view/**/*\"]`, so the path in `__tests__` was not selected by `includes`.

[2018-05-17 06:45] GeeWee commented on #439
(Interestingly enough, the typescript team has told me on twitter that the reflection might be a bug in their implementation of transpileModule, hold your horses for this one)

[2018-05-17 07:55] bondom opened #524 "Caching of babelrc file"
- Issue
In our project we use aliases. To be able to resolve these aliases in tests we use `babelrc` file.
But when we add new alias or delete old one(change `babelrc` file), and then run tests again, jest doesn't know about our changes to `babelrc` file.

Only after we run `jest --clearCache`, changes to `babelrc` are visible to jest

- Expected behavior

Changes to `babelrc` should be visible to

[2018-05-17 12:32] GeeWee commented on #508
Agree

[2018-05-17 12:32] #508 closed

[2018-05-18 22:26] dawsbot opened #525 "Support node 10"
- Issue

This package is uninstallable on node 10, which was just released. It's because of the `engines` field in a sub-dependency (`upath`), which does not support node 10 in an older version.

- Expected behavior

This is installable with node 10

- Optional (but highly recommended) - Configure Travis (or your favorite system) with the minimal repo

https://github.com/kulshekhar/ts-jest/pull/52

[2018-05-19 13:03] ivan-shaban opened #527 "Some enums are not compiled"
- Issue
I have an issues like #112, but i don't use const enums (just regular) and has the same error `TypeError: Cannot read property 'NOT_IMPLEMENTED' of undefined`

[code]
It just regular enum, which i use a lot for actions descriptions, but only that one cause an error %(
If i remove references to this enum everything works fine. What may cause this issue?

P.S. i found that my issue totally t

[2018-05-19 22:53] kulshekhar commented on #525
fixed by #526

[2018-05-19 22:53] #525 closed

[2018-05-19 23:37] #500 closed

[2018-05-19 23:38] #527 closed

[2018-05-20 12:44] kulshekhar commented on #523
@eligundry  I'd like to look into this but without a minimal repo, I'm hesitant because there have been several instances where looking at a larger project has resulted in false leads and wasted time.

If you can replicate this issue with just a couple of files in src and test folders, I'll be happy to take a look at it after/before work. Without that, I'll have to wait till I can set aside a long

[2018-05-20 13:11] kulshekhar commented on #521
I tried this out and all tests pass. I'm not sure how to go about debugging this. Can the linked repo be updated to demonstrate the issue when running `yarn test` or `npm run test`?

[2018-05-20 13:24] kulshekhar opened #529 "Remove diagnostics, reflection support, debug info generation"
Most of the new issues users are facing are due to these.

- Diagnostics
  - I've long maintained that testing is not the place to look for type errors. Testing is to *test* the functionality implemented. Moreover, Jest doesn't enable this scenario because the transformers only receive one file at a time. If there's a requirement to check the code in a file against the rest of the files, Jest need

[2018-05-20 13:32] kulshekhar commented on #479
I've added an additional note related to this: https://github.com/kulshekhar/ts-jest#ts-compiler--error-reporting

That doesn't solve this problem but it has been put there to make users aware of the issue in advance. Ideally, type errors should be checked in a different step and not as part of testing.

[2018-05-20 15:11] GeeWee commented on #529
On diagnostics and reflection support:
1) What do you propose for type-errors then, e.g. for CI? Running tsc --noEmit? I'm not sure this is a reasonable request of people, since they might have e.g. subprojects
Either way we need to decide this reasonably quick - let's get it into the next round of breaking changes.
2) I don't think the code is particularly messy - e.g. it's reasonably well sectio

[2018-05-20 18:44] GeeWee commented on #529
1)
Hm, I'm not sure. It's an opt-in performance problem though, only. So does it really matter?

2)
Yeah I'm okay with keeping it in a seperate fork. I think I saw a bot that published PR's on npm under namespaces at some point, e.g. ts-jest@pr-ts-language-server for any outstanding PR's. could that work too?

3)
Let's keep it in for now I think. I'll spend some time investigating why it only work

[2018-05-20 19:56] kulshekhar commented on #529
1. It's opt-in but we already have had a couple of issues related to performance for it. If it was something that would just sit in quietly and help users, it'd be fine. But it being supported makes users (rightly) expect good performance - I don't see how performance in that can be improved. Until it can, this can also remain in fork if you still want this in.

2. Okay then, this can be forked -

[2018-05-20 22:47] eligundry commented on #523
@kulshekhar fair enough. Here is an extremely simplified test case of the above issue.

https://github.com/eligundry/ts-jest-test-case

[code]

[2018-05-20 22:48] eligundry commented on #523
It should also be noted that this is happening with all modules, not just `jwt-decode`, but it was the easiest one to setup.

[2018-05-21 16:55] GeeWee commented on #529
1) I think that's fair enough. The performance should be improved when we implement a proper language server API. (At least there's a comment in ts-node saying it's 3x faster)

2) Sorry - not a namespace. I meant a label, like @beta , @alpha @pre-release or something like that.

3) Agree.

[2018-05-21 18:01] kulshekhar commented on #529
1. -
2. okay. We should probably maintain this in another branch instead of a fork then
3. -

how do you want to proceed?

[2018-05-21 18:56] cspotcode opened #530 "Import babel on-demand for faster startup when `skipBabel: true`"
- Issue

On my machine, importing "babel-core", "babel-plugin-istanbul", and "babel-preset-jest" takes 1.5 seconds.  TS takes only 0.2s.  If I set `skipBabel: true` ts-jest can skip importing babel and boot tests faster.

[code]

These imports can be executed conditionally, so that tests will start faster when "skipBabel" is enabled.
https://github.com/kulshekhar/ts-jest/blob/master/src/postproces

[2018-05-21 18:58] cspotcode commented on #256
@kulshekhar I'm taking a stab at this.  It's pretty easy because I've used the transformer API before, so I'm just making a direct port of the babel transformer.  Related to #530 because it lets us skip babel entirely in more situations, which will speed up boot times.

[2018-05-22 07:13] Xapphire13 opened #535 "Can't use in a monorepo where each project has a different tsconfig.json"
**ts-jest**: 22.4.6
Structure of project

[code]

- Issue
In a monorepo where each project has a tsconfig.json I cannot run `jest` as it cannot find a `tsconfig.json`
![image](https://user-images.githubusercontent.com/3392349/40347247-6bf7b988-5d54-11e8-8f35-89d4cfabb773.png)

- Expected behavior
`ts-jest` should use the `tsconfig.json` file closest to the file being tested that is applicable for

[2018-05-22 09:58] pyoner commented on #464
Hi, same error!
Here my repo https://github.com/pyoner/vue-firebase-plugin
Output log

[code]

[2018-05-22 12:06] GeeWee commented on #464
Please open a new issue and link to the old one :)

[2018-05-22 12:07] GeeWee commented on #535
Do you use jest projects here, or are they simply in subfolders?

[2018-05-22 12:14] GeeWee commented on #529
2) Agree.

First one to rip the code out and put it in another branch gets a cookie?
I think we should just do all the breaking changes, and then wait with releasing until next jest release, assuming it is soon. I've tweeted to try and figure out their release schedule https://twitter.com/GeeWengel/status/998899189840056322

I'll try to figure out if we can publish branches automatically somehow.

[2018-05-22 12:35] noblica commented on #258
The issue still persists in the `22.4.6` version.

I've created a [small repo](https://github.com/noblica/ts-jest-dynamic-imports) with steps to reproduce the issue.

[2018-05-22 12:38] screendriver commented on #258
@noblica this is a different issue. You just have to define

[code]

in your `tsconfig.jest.json` as [mentioned](https://github.com/kulshekhar/ts-jest#tsconfig) in the docs 😉

[2018-05-22 12:51] noblica commented on #258
@screendriver I did, but the error persisted.

But then I removed the `enableTsDiagnostics` flag, and it works, for some reason?

Also leaving the `enableTsDiagnostics` flag, and setting the `allowSyntheticDefaultImports` to `false` also makes the tests work, so I'm not sure what's going on.

[2018-05-22 12:55] screendriver commented on #258
In your [repo](https://github.com/noblica/ts-jest-dynamic-imports) I see ["module": "esnext"](https://github.com/noblica/ts-jest-dynamic-imports/blob/master/tsconfig.json#L5) and no `"module": "commonjs"` as I [wrote](https://github.com/kulshekhar/ts-jest/issues/258#issuecomment-390974456) so it can't work in your demo repository

[2018-05-22 13:00] screendriver commented on #258
I did a [pull request](https://github.com/noblica/ts-jest-dynamic-imports/pull/1) and it works now in your repository.

https://github.com/noblica/ts-jest-dynamic-imports/pull/1

[2018-05-22 13:45] hgenru opened #536 "Cannot use tsconfig from subdirectory without *.ts files"
- Steps to reproduce
1. Create new repo with base ts-jest setup
2. Use common tsconfig from node modules

- Expected behavior
Tests work fine

- Actual behaviour
There is error message:
[code]

- Causer
The problem caused because parseJsonConfigFileContent basePath sets up relative to config path.

https://github.com/kulshekhar/ts-jest/blob/a650260c91ea197fd9feb9da1bcc9f6ccebb8dc3/src/utils.ts#L40

[2018-05-22 13:49] hgenru commented on #536
PR with fix: https://github.com/kulshekhar/ts-jest/pull/537

[2018-05-22 13:49] cspotcode commented on #529
What's the (2) reflection / language server issue?  Is the goal to spawn a single instance of the languageService, then allow all processes in Jest's worker pool to read from it?

[2018-05-22 14:39] pyoner opened #538 "Cannot import *.d.ts from module"
- Issue
I try import firestore types but it doesn't work
[code]
Same issue #464

- Expected behavior

Types should be imported

- Output from your debug log
[code]

- Link to a minimal repo that reproduces this issue

Here my repo https://github.com/pyoner/vue-firebase-plugin

- Optional (but highly recommended) - Configure Travis (or your favorite system) with the minimal repo

https://travis-ci.

[2018-05-22 15:29] erlendev commented on #523
Not sure whether this is relevant to the issue, but I’m having the same problem using webpack for module bundling.

[2018-05-23 09:03] pyoner commented on #538
I think it's not jest issue
It's firebase issue https://github.com/firebase/firebase-js-sdk/issues/767

[2018-05-23 19:23] Kompwu opened #539 "TypeError: Cannot read property 'textContent' of null"
Hi,

The element is been created:

## After investigating

`document.querySelectorAll("[data-wrap]")` return something:

## What i'm doing wrong?
[code]

[2018-05-24 09:19] kulshekhar commented on #529
@GeeWee I've added you on npm. A couple of things (for security reasons)

- please enable 2FA on your npm account
- if it looks like you intend to or can't work on ts-jest for an extended period of time, please let me know so that I can temporarily revoke your account's access to ts-jest on npm

I think this should work - on a branch, set the package version to something like `actual-version-exper

[2018-05-24 10:49] GeeWee commented on #529
- 2FA is enabled.
- Agree.

Yeah optimally we'd allow all workers to read from the same languageServer. It seems like the languageServer transpiles a lot of different files for each file, and I'd hate to do a lot of IO for each file, for each process.

[2018-05-24 12:26] nicolaisueper opened #542 "Coverage: Source file path in lcov coverage report isn't correct"
- Issue

The "Source File" inside the generated lcov reports doesn't match the actual location.
It seems, like `ts-jest` does not preserve the original file location.

Because of this, my IDE (webstorm) isn't able to visually represent the coverage for files which aren't located at the src root.

<img width="569" alt="bildschirmfoto 2018-05-24 um 15 23 12" src="https://user-images.githubuserconten

[2018-05-24 12:26] nicolaisueper commented on #542
cc/ @mischah

[2018-05-24 17:19] ckknight opened #543 "Custom compiler support"
- Issue

I would like to use `ttypescript` instead of the default `typescript` compiler. Others may want to use another, similar compiler such as `ntypescript`.

`ts-loader` (the webpack plugin) supports this via https://github.com/TypeStrong/ts-loader#compiler-string-defaulttypescript - main implementation at https://github.com/TypeStrong/ts-loader/blob/master/src/compilerSetup.ts

- Expected beh

[2018-05-25 09:06] Elendev commented on #378
I encounter exactly the same issue as @dmitriid :
![image](https://user-images.githubusercontent.com/1331273/40536078-48cc0e00-600b-11e8-8145-6a40e643835f.png)

Note that in the same project, with the same configuration, some files handled differently by Jest :
![image](https://user-images.githubusercontent.com/1331273/40536182-952057a2-600b-11e8-8c46-c4a75c6ad5f4.png)

@dmitriid were you able to

[2018-05-25 10:22] js-um opened #546 "Can't work with Jest projects options for top-level coverage report"
### Issue

I am using the monorepo structure. When I set the `projects` option in Jest, running a Jest from root will test all sub projects in the same instance, but rootDir will not be processed properly in Ts-jest.

### Expected behavior

  - Run a jest in the top-level path of the project
  - Generate a top coverage report that maintains the structure of individual sub projects

### Output from

[2018-05-25 10:23] js-um commented on #546
Related with #535

[2018-05-25 11:16] alan-agius4 opened #548 "tsconfig is not being extended properly"
- Issue

At the moment, my tsconfig extends another tsconfig, however these are not being merged correctly. I couldn't help but notice theat you have a custom implementation of `readConfigFile`

Ideally this is dropped in favor of the original TS implementation.

- Expected behavior
Ts config is merged properly.

[2018-05-25 11:27] #548 closed

[2018-05-26 08:37] Kompwu commented on #539
@GeeWee Okay i'm gonna open it!
Thanks.

[2018-05-26 14:00] #240 closed

[2018-05-26 14:00] #340 closed

[2018-05-26 15:07] cspotcode commented on #543
@ckknight I've implemented this, but I need to write a unit test.  What is a simple way for our tests to use `ttypescript` and prove that it wasn't just the regular typescript compiler?  Do you have an example of a tsconfig setup that you use, and a code snippet that *must* be compiled via ttypescript or else it'll fail?

[2018-05-26 16:27] SimenB commented on #485
Jest 23 is out with the fix

[2018-05-27 12:32] GeeWee commented on #485
Can you confirm this issue is fixed in Jest 23? @SimenB ?

[2018-05-27 12:38] GeeWee commented on #439
The bug should be fixed on the typescript teams end: See https://github.com/Microsoft/TypeScript/issues/16872
Can anyone confirm this works with typescript@next? (without using the experimentalLanguageServer flag)

[2018-05-27 12:38] SimenB commented on #485
no, just that the fix @jamietre said worked for them is released

[2018-05-27 12:39] #521 closed

[2018-05-27 21:28] #498 closed

[2018-05-28 12:42] alan-agius4 opened #558 "Language Server has been removed"
It looks like the languageserver has been removed. I was using this feature and it actually work pretty well and even faster than transpileModule on large projects. Especially when using diagnostics, ie an alternative to `enableTsDiagnostics`

I wonder what is the reason that this has been removed, and what is the plan to re-introduce it?

Thanks,

[2018-05-28 13:56] GeeWee commented on #558
We're going to add it back in at some-point, but currently it seemed like several people were experiencing major bugs with it (see #439 ) - we're tracking it inside #529 currently.

I'm glad to hear it was working for you though. Feel free to continue the discussion at #529

[2018-05-28 13:56] #558 closed

[2018-05-28 14:00] alan-agius4 commented on #529
I was using the Language Service for a couple of days, in a large project.

From what I learned is;
1) I found quite a couple of issues that otherwise I would have missed using the traditional module compiler.
2) Was way faster when using diagnostics over `enableTsDiagnostics`
3) Also, I am not sure about this, but potential this could have solved the `const enum` issue.

[2018-05-29 05:55] GeeWee commented on #529
Yeah it potentially solves const enum. I think we'll add it back in, but we're not there quite yet I think.

[2018-05-30 12:42] GeeWee commented on #439
Awesome. Closing.

[2018-05-30 12:42] #439 closed

[2018-05-31 10:15] chinesedfan commented on #223
@kulshekhar Glad to be one.

[2018-06-02 02:38] EvanDarwin commented on #259
I know that this issue has been closed but I'm experiencing this issue across **three** different projects. It seems like the tests are running sequentially, and jest is waiting for the previous test to finish before running other. This leaves me with tests that have a runtime of 50+ seconds for a single test on our largest project.

[2018-06-02 13:35] ahnpnl opened #566 "TypeScript 2.9"
- Issue

`TypeScript` just released version 2.9 which supports importing `json` files. This is really great. This means we can remove reading config functions and change to importing them directly into test files using `--resolveJsonModule` compiler options. See [TypeScript 2.9 what's new](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html)

- Expected behavior

We shou

[2018-06-02 14:01] kulshekhar commented on #566
This does sound like something that could clean up the code a bit :+1:

tbh, I noticed the latest release but didn't get the time to look at the details. If there's a PR for this, I'll be happy to merge it in

[2018-06-03 13:14] ahnpnl commented on #566
I made an attempt to try with TS 2.9.1 but it seems to have some issues with importing json. I think we will just wait a bit more when they finalize its stability

[2018-06-04 07:03] alexander-elgin commented on #97
The `--no-cache ` option works for me

[2018-06-04 08:02] GeeWee commented on #259
Please open a new issue linking back to this one.

[2018-06-04 13:04] benjaminbillet commented on #492
Hi,

I have a similar problem with ts-jest 22.4.6 and react-native 0.55.3.

ts-jest tries to transpile some JS files in `node_modules/react-native/Libraries` (despite my `transformIgnorePatterns` and `exclude` directives, probably because I use react-native dependencies). These files contain flow annotations that are altered by ts-jest when it runs the typescript transpiler on it.

I read the code

[2018-06-04 18:17] csuich2 commented on #439
For the record, I've confirmed this is working with TS 2.9.1 as well.

[2018-06-05 15:03] egilsster opened #570 "ts-jest does not properly transpile some modules"
- Issue

Running tests that have, or test a module with; `import * as <NAME> from 'some-module';` does not seem to work for a simple module, such as `HttpStatusCodes` (https://www.npmjs.com/package/http-status-codes)

I dont think this is necessarily a `ts-node` issue, but starting with posting this here since that is the tool I am using for this. If we can get this to the proper place or dig into

[2018-06-06 02:21] icfantv opened #571 "TypeError: Class constructor cannot be invoked without 'new'"
- Issue

  - I'm using a lodash-decorator `@BindAll()` at the class level for my React components.  This code works fine in production, but breaks during our Jest testing with the above error.

  - I've filed https://github.com/steelsojka/lodash-decorators/issues/47, but am pretty sure at this point, it's not the lodash-decorator library.

- Expected behavior
  - Tests should execute normally, wit

[2018-06-06 04:46] icfantv commented on #571
I can reproduce this issue with https://github.com/kentcdodds/react-testing-library as well.  What I don't understand, however, is why it looks like ts-jest is never getting invoked.  I set a breakpoint in the ts-jest library code and it's never getting hit so I may be doing something wrong there.

[2018-06-06 17:26] icfantv commented on #571
Another update:  I tried with core-decorators instead of lodash-decorators and the tests pass just fine.

[2018-06-07 04:30] whtiehack opened #572 "how to resolve this TS error TS2705 when i use webstorm?"
- Issue

when i use webstorm.
there is a TS error that i cannot resolve.

- Expected behavior

![image](https://user-images.githubusercontent.com/12741016/41076570-e567ab1e-6a44-11e8-96d6-7c3386d43690.png)

there is a same error when i use the smallest test
[code]

the `jest.config.js`
[code]

I don't know if it is appropriate to ask this question here, but I can't find a suitable place to ask que

[2018-06-08 03:48] whtiehack commented on #572
resolved

https://stackoverflow.com/a/50753057/6116888

[2018-06-08 03:48] #572 closed

[2018-06-08 17:28] johngrogg opened #576 "jest.mock doesn't modify the type of the mocked class"
- Issue

The documentation says:

However, when it is used, the auto-mocked class' type signature isn't updated with the jest mock extensions, which results in errors like:
[code]

The only "simple" work around I've found is to typecast the mocked class as a jest.Mock like:
[code]

- Expected behavior

Ideally provide some way to update the type definitions of auto-mocked classes.

If that's not p

[2018-06-10 10:40] syabro opened #577 "Import doesn't fail"
- Issue

I've removed a function from a library. at loader shows me import error
[code]
but jest shows me
[code]

- Expected behavior

Show import error

[2018-06-11 18:08] GeeWee commented on #576
I'm not sure it's possible to automatically cast the class - if it is, it's beyond my typescript-fu.

Definitely agree the documentation could be clearer. Would love a PR

[2018-06-13 19:21] Loremaster commented on #259
@EvanDarwin I am experiencing issues with slow test too. It can take 30-50 seconds for single test. Were you able to resolve it?

[2018-06-15 06:49] rssfrncs commented on #258
Hi i've tried out the above solution with a separate jest tsconfig however i'm still getting the same error.

The only difference to add is that I'm in a mixed TS project (js enabled). Could this be the cause?

[2018-06-18 13:38] marcus-sa opened #584 "Encountered a declaration exception"
I'm trying to create a test of my TS class which is a provider for TMDb.
I have a private property called api which is an axios instance.
No matter how many methods I remove, or if I don't even use the instance inside the class, as long as the property has been declared it keeps throwing the error.
From what I've noticed it only happens when creating the axios instance.

https://gist.github.com/ma

[2018-06-19 09:50] mikeyakimenko opened #588 "Unexpected import inside nodejs module"
Have a typescript project with installed nodejs module.

MyModule:
[code]

imports in test file:
[code]

message from console:
[code]

Details of error:
[code]

i've tried specify ignorance like this in package.json "jest" section :
[code]

but I always have this error. One thing, when I've specify transform for JS throw `"^.+\\.js?$": "<rootDir>/node_modules/babel-jest",` import works, but have a

[2018-06-19 11:56] mikeyakimenko commented on #588
Solve it:

Just added .babelrc

[code]

[2018-06-19 11:59] mikeyakimenko commented on #588
Problem still exist, but little bit different, if just import module, it's ok, if use module, error again.

[2018-06-20 00:12] trivikr opened #589 "Things to do for version 23 release?"
- Issue
Jest v23 was released on 2018-05-29 ([blog post](https://facebook.github.io/jest/blog/2018/05/29/jest-23-blazing-fast-delightful-testing.html))
There's no equivalent v23 for ts-jest ([releases](https://github.com/kulshekhar/ts-jest/releases)) as of 2018-06-19

- Expected behavior
There should be v23 of ts-jest corresponding to v23 of jest as per [versioning in README.md](https://github.com

[2018-06-20 06:19] mikeyakimenko commented on #588
Finally I solve issue. First of all, it can be used without .babelrc, but for some reason if I want include some library in test file, without .babelrc doesn't work. But for avoid error in module which used npm package works another things:

config.json where node-module is some abastract module (just for an examlpe):
[code]

tsconfig.test.json:
[code]

[2018-06-20 06:19] #588 closed

[2018-06-20 07:05] kulshekhar commented on #589
@trivikr sorry about this. I'm completely swamped with work right now.

If the latest master can be tested against Jest 23 and a PR sent for that, I'll be more than happy to merge it in and publish a new release

[2018-06-20 07:10] trivikr commented on #589
Thanks @kulshekhar for the response.
What's the procedure to test latest master against Jest 23?

[2018-06-20 07:13] kulshekhar commented on #589
- clone ts-jest
- create a branch for the upgrade
- upgrade the jest related dependencies in package.json
- install the dependencies
- run `yarn test` to check whether the upgrade breaks anything
- In a project using ts-jest, change package.json to use this cloned/upgraded version of ts-jest.
- run the project's tests to check whether the upgrade breaks anything

[2018-06-20 08:50] GeeWee commented on #223
I'm going to be a bit out of the loop for the next few weeks. Just had to put my dog down - so if anyone sees anything that's waiting on me that they want to jump on - go ahead.

[2018-06-20 14:01] ksmithbaylor commented on #480
I ran into this exact issue (needing to feed TS -> Babel -> Jest because of emotion), and figured out a workaround. ts-jest will modify the "module" option of your tsconfig, but only if `allowSyntheticDefaultImports` is not set. So, I added `"allowSyntheticDefaultImports": true` to my `tsconfig.json`, and all was well. Make sure to enable the `useBabelrc` option for ts-jest as well.

[2018-06-20 21:16] christophercurrie commented on #258
In case this helps anyone in the future, I got this working by configuring `.babelrc` to add dynamic import support as indicated in [the Jest docs](https://facebook.github.io/jest/docs/en/webpack.html#using-with-webpack-2):

[code]
Note you may need to run `jest --clearCache` to clear your Jest cache to get this to work.

If you don't use babel for your project normally, you will still need to add

[2018-06-21 06:00] ahnpnl commented on #577
Have you already raised this question to the Jest repo ?

[2018-06-21 07:23] gregaubert opened #591 "Incompatible with Node.js v10"
- Issue

It seems that ts-jest is currently incompatible with Node.js v10, the following error is thrown when trying to install the module with the following error:

[code]

This happen because ts-jest rely on cpx@^1.5.0 which himself rely on an old version of chokidar and upath. Since then chokidar and upath have been updated and are compatible with Node.js v10: https://github.com/anodynos/upath/

[2018-06-22 07:00] GeeWee commented on #577
That's really rude. Please be respectful when submitting issues.

[2018-06-22 07:00] #577 closed

[2018-06-22 10:36] syabro commented on #577
@GeeWee tell other "go check other place first" without a reason is a rude behavior.

[2018-06-23 16:54] Swatinem opened #593 "`emitDeclarationOnly` compilerOption leads to error"
When I have `"emitDeclarationOnly": true` set in my `tsconfig.json`, `jest` errors out with the following:

[code]

When I remove or set that option to `false`, tests work fine.

[2018-06-25 20:54] denver-HJS commented on #209
FWIW my solution was found in this thread: https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000705364-Debugging-typescript-node-project-doesn-t-reach-set-breakpoints

It wasn't obvious to me that code coverage reporting needs to be turned off in order to get proper source mappping (although it makes sense when you stop and think about it).

[2018-06-27 04:56] nolazybits commented on #535
Have a look here.
I have posted my working solution there
https://github.com/facebook/jest/issues/3112

[2018-06-27 05:35] nolazybits commented on #484
@YagoLopez did you find a workaround?
I have exactly this problem :(
![screen shot 2018-06-27 at 4 58 28 pm](https://user-images.githubusercontent.com/214998/41954629-6fd97782-7a30-11e8-986e-6342d34facdd.png)

Thanks

[2018-06-27 10:58] YagoLopez commented on #484
Sorry but not. Are you in the latest versions of IntelliJ with all dependencies up to date (jest, ts-jest, etc)? May be that could help but I cannot confirm it.

[2018-06-27 20:32] ahnpnl commented on #584
Hi @marcus-sa,

I tried to run your codes but I don't see any issues. I need to adjust a bit your codes because I don't have the file `tmdb.config.json` so I replace base.api with `www.example.com` and take out `params` property when using `axios.create`. For me the test just passes.

[2018-06-28 21:49] nolazybits commented on #484
[code]

[code]

Yeah yarn outdated spits nothing so I should be up to date.

Thanks for answering.

[2018-06-28 23:06] YagoLopez commented on #484
Take a look at this:
https://github.com/kulshekhar/ts-jest/issues/150#issuecomment-291209244

And a little of more info here:
http://jestjs.io/docs/en/troubleshooting.html

If you have luck, please report it here.

[2018-06-29 21:54] lyy011lyy commented on #376
Hi: I also meet this issue today and finally find that set "allowSyntheticDefaultImports": false, solved it for me.

[2018-06-30 03:40] josduj commented on #376
@lyy011lyy Works for me too.

I also had to set [`moduleDirectories`](https://jestjs.io/docs/en/configuration.html#moduledirectories-array-string) in my jest config to something like this:
[code]

[2018-06-30 08:46] kulshekhar commented on #591
Can you please create a minimal repo that reproduces this issue?

[2018-06-30 08:46] kulshekhar commented on #593
Can you please create a minimal repo that reproduces this issue?

[2018-06-30 08:46] kulshekhar commented on #584
Can you please create a minimal repo that reproduces this issue?

[2018-06-30 08:48] #546 closed

[2018-06-30 08:48] #543 closed

[2018-06-30 08:49] #530 closed

[2018-06-30 09:18] GeeWee commented on #589
I'm reopening this - we need to write a changelog with the breaking changes.

[2018-06-30 09:30] kulshekhar commented on #589
given that 23 has been released, can this be in a different issue?

[2018-06-30 10:08] #589 closed

[2018-06-30 14:35] GeeWee opened #601 "Need to update breaking changes for 23 release"
There's been a few breaking changes, off the top of my head:

- different sourcmeapsupport
- removal of the experimental language server
- removal of the diagnostics?

We need to compile a migration guide or at least some thigns to be aware of

[2018-06-30 14:35] GeeWee commented on #589
I've opened #601

[2018-06-30 15:41] danilobuerger commented on #489
@Slessi @kulshekhar The solution is rather simple. All you need is an additional jest transformer that takes the gql or graphql file and passes it through `graphql-tag`:
[code]
then in your package.json:
[code]
Done.

Also pinging @detrohutt : This might be interesting to you to maybe include in your repo.

[2018-06-30 20:39] Swatinem commented on #593
Here you go: https://github.com/Swatinem/ts-jest-593

[2018-07-02 21:45] jadbox opened #603 "v23: require(...).install is not a function"
ts-jest  v23.0.0

If I revert back to the latest v22.4.6 and my tests work without issue.

[code]

[2018-07-03 03:01] maoueh commented on #334
@jamietre Did you try the CLI flag `--mapCoverage` or the config option? I did both test and strangely, only the command line flag `--mapCoverage` works. Using `mapCoverage: true` is not working.

That's really strange :(

[2018-07-03 05:34] ahnpnl commented on #603
Hi,

Can you provide a minimum repo to reproduce your problem ? That would help a lot for us to debug :)

[2018-07-03 05:40] ahnpnl commented on #571
Hi,

I used to debug a bit with ts-jest and I found out Jest cached all the executed codes after the first run. Therefore the breakpoint won't hit anymore after the first run.

Nevertheless, have you tried to put console log or breakpoint at transpiler.ts ? There is a method transpileTypeScript in it which always triggers (ofc if you don't use Babel). I haven't tried to debug your codes yet but I

[2018-07-03 07:34] akx commented on #603
I'm seeing the same sort of thing too, though curiously enough not locally, but only our CI environment.

[code]

Unfortunately I'm unable to provide a minimum repo.

[2018-07-03 08:19] kulshekhar commented on #603
can you try `require(...)` instead of `require(...).install()`?

[2018-07-03 08:21] nicolashemonic opened #604 "React Native - SyntaxError: Unexpected token import"
## Issue

SyntaxError: Unexpected token import

Jest throw an error when he try to parse React Navigation package who has ES2015 imports.

## Expected behavior

Following dedicated React Native [documentation](https://github.com/kulshekhar/ts-jest#react-native) and ES2015 [documentation](https://github.com/kulshekhar/ts-jest#using-es2015-features-in-javascript-files)  I expect that `.js` files und

[2018-07-03 08:37] huafu commented on #603
I do have the same issue. While I can't create a minimal repo just now, I did a debug session and narrowed to this: `import xyz from './relative/path/to/file'`, which used to resolve to `./relative/path/to/file.ts` before (just updated `ts-jest` version), is now failing.

FYI the `import` statement is within a `__mock__/some-node-module.ts`.

The issue seems to be that the resolver is not appendin

[2018-07-03 08:38] kulshekhar commented on #603
If there's a minimal repo, I can look at this and try to fix it after work today

[2018-07-03 08:46] huafu commented on #603
...at the end I decided to do one right now, will post t here when done

[2018-07-03 09:54] huafu commented on #603
Hardly tried to create a bare repo, added all files one by one from my own repo, same config (`package.json`, `jest.config.js`, `tsconfig.json`), same deps, ... still unable to reproduce! I even removed my `node_modules` directory and re-launched `yarn` without success :-/

The error I reported above (in my own project) is happening when trying to import a relative TS file from the first line of a

[2018-07-03 10:41] GeeWee commented on #603
Does this issue still appear if you run with --no-cache?

[2018-07-03 10:42] GeeWee commented on #593
What would you expect to happen when you try to pile typescript through the compiler and tell it not to actually emit any javascript output?

[2018-07-03 10:45] huafu commented on #603
yup, also tried that :-/

[2018-07-03 10:58] huafu commented on #603
btw, this might be a `jest` issue, since keeping `ts-jest@23.0.0` does work when going back to `jest@<23` (I've tried any version of `jest` between `23.0.0` and the latest `23.2.0` without success)

[2018-07-03 11:02] GeeWee commented on #603
That's really strange. I assume `require(...).install is not a function` is from the source-map-support library that uses an install hook to make sure the sourcemaps are gone.

However, we removed that in 23 and we're using jests built-in source map support, so we've deleted the dependency entirely. It errors on line 1 because we're prepending the install hook to the file - but it obviously can't

[2018-07-03 11:09] Swatinem commented on #593
I would expect `ts-jest` to override this options, because the *output related* options should not matter for a jest transform.
I mean running my tests should neither create `.d.ts` declaration files not `.js` transpiled files nor any other side effects.

[2018-07-03 11:19] huafu commented on #603
@GeeWee you're right, thanks a lot!

TLDR: `rm -rf` on the jest cache directory fixed the issue for me!

Tho it's weird. I did all the runs with `--no-cache` and I was still getting the same issue. Now I've just `yarn add --dev jest` to go back to latest `jest` and a `rm -rf` on the directory that I got in the output of `./node_modules/.bin/jest --showConfig | grep cacheDirectory`, then I got all

[2018-07-03 11:32] ahnpnl commented on #603
@huafu I want to share a tip about the caching issue that if you see your tests constantly repeats the same error via several runs, it's better to run `yarn jest --clearCache` or `npm run jest --clearCache`. That will at least make sure that `jest` doesn't cache the old codes and run with your correct code :)

[2018-07-03 11:50] huafu commented on #603
@ahnpnl thanks for the tip, tho I use to do what I thought being the same with `yarn jest --no-cache`
So my question, why would `yarn jest --no-cache` would act differently from `yarn jest --clearCache && yarn jest`? Ok it's not the same, but I expect it to behave more or less the same, since `no-cache` for me means that it will NOT use the cache.

[2018-07-03 11:53] ahnpnl commented on #603
honestly I don't know either why there is such a difference between those 2 ways. Perhaps you can raise this issue in `jest` repo and the community there can give you better support 👍

[2018-07-03 12:00] birtles commented on #603
I was getting this importing the deep-equal package in particular. Downgrading ts-jest fixes that issue but not others. Running with `--no-cache` works but using `--clearCache` breaks things (can't find `node_modules/jsdom/lib/jsdom/living/nodes/HTMLCollection-impl.js` apparently).

[2018-07-03 13:34] icfantv commented on #571
Apologies for not following up on this.  The issue was with the way lodash-decorators was operating on class constructors.  It was doing it in a way that the compiler could. It handle.  I’d filed an issue with the LD dev and he has fixed.  I would recommend against using core decorators because of the way it implements the `bind` operation in that the author chose to do this via a getter meaning t

[2018-07-03 13:34] #571 closed

[2018-07-03 19:56] jadbox commented on #603
I've ran both --no-cache and --clearCache but my problem still persists. Although the error seems to be a little different now.

[code]

[2018-07-03 21:12] fbartho commented on #334
@maoueh ! -- that's a big catch. I was only using the config option. I haven't tested the CLI flag. I don't know when I'll get to experiment with implementing that in our repo, but that's really key.

[2018-07-03 21:15] fbartho commented on #603
I'm exhibiting this issue as well, I haven't yet been able to experiment with the clear cache params described above.

[2018-07-03 21:36] rosskevin commented on #424
Thanks @acaua! This seems to be suddenly afflicting my `yarn workspaces` based monorepo as well.

I explicitly added this to a package.json:
[code]
(which I expect is the default behavior) and it fails.  Change that to:

[code]
and all is well.  I'm not sure how this corner case appears but I wouldn't expect this workaround to be needed.

[2018-07-04 08:35] GeeWee commented on #593
I think that makes sense. Would love to accept a PR with this change.

[2018-07-04 11:06] duncanhall commented on #603
I'm experiencing the same `require(...).install is not a function` issue since upgrading to ts-jest 23.0.0. Downgrading to the previous version fixes the issue.

I have made a minimum repo to reproduce the issue at https://github.com/duncanhall/ts-jest-issue-603

You can simply `yarn install && yarn test` to reproduce it. You can also then downgrade ts-jest to 22.4.0 and the issue goes away. More

[2018-07-04 15:38] blacroix opened #605 "Cannot find module 'ts-jest' if deps is outside project and used with decorator"
Originally posted in `Jest` repository: https://github.com/facebook/jest/issues/6606

## 🐛 Bug Report

On Angular 6, importing file from outside project and using `interface` to define type of `@Input()` parameter cause `Cannot find module 'ts-jest' from '<file.ts>'` when running `jest`.

## To Reproduce

- Create a new angular project with CLI
- Add `jest`
- Import file from outside project:

`im

[2018-07-04 16:38] ahnpnl commented on #605
Hi,

Officially jest-preset-angular v5.2.3 hasn't supported jest v23 yet. Because jest-preset-angular uses ts-jest therefore I think this will have to wait until the next version of jest-preset-angular to check again.

[2018-07-04 21:07] huafu commented on #603
@duncanhall you are using `[react-script-ts](https://github.com/wmonk/create-react-app-typescript/tree/master/packages/react-scripts) which has in its dependencies jest 22 and ts-jest 22. I might be wrong, but maybe it's not compatible with jest and ts-jest version 23, which might be why your test fails when you switch to version 23 of ts-jest.

[2018-07-04 22:41] jadbox commented on #603
@huafu at least for me, I am not using react-script-ts in my project.

[2018-07-05 06:20] huafu commented on #603
@jadbox, your issue now is that your file `/home/jdunlap/plus/github/finality/layer2storage/__tests__/base.gun.spec.ts` is not handled as a typescript file. Can you provide your jest config?

[2018-07-05 07:29] huafu commented on #484
Having same issue here, I thought it was related to multiline `import` statement and/or multiline `function (...)` header that is why my minimal repo has such weird code, but after putting everything in one line I have still the same issue. @YagoLopez I've also tried setting inlineSourceMap without success (thought it should be the default now - as I am using latest `jest` and `ts-jest`).
Notice t